Repository RT-Thread/rt-thread, changes with the labels that .github/labeler.yml gives for each.
All labels: BSP, BSP: STM32, BSP: NXP, BSP: GD32, BSP: AT32, BSP: Infineon, BSP: Renesas, BSP: Phytium, BSP: Cvitek, BSP: WCH, testcase, tools, Kernel, action, Component, RT-Smart, component: lwp, component: dfsv1, component: dfsv2, component: net, component: net/at, component: net/lwip, component: net/netdev, component: net/sal, component: drivers, component: drivers/audio, component: drivers/can, component: drivers/clk, component: drivers/core, component: drivers/cputime, component: drivers/graphic, component: drivers/hwcrypto, component: drivers/hwtimer, component: drivers/i2c, component: drivers/ipc, component: drivers/ktime, component: drivers/misc, component: drivers/mtd, component: drivers/ofw, component: drivers/pci, component: drivers/phy, component: drivers/pic, component: drivers/pinctrl, component: drivers/pm, component: drivers/rtc, component: drivers/sdio, component: drivers/sensor_v1, component: drivers/sensor_v2, component: drivers/serial, component: drivers/spi, component: drivers/touch, component: drivers/usb, component: drivers/virtio, component: drivers/watchdog, component: drivers/wlan, component: finsh, libcpu, Arch: ARM/AArch64, Arch: RISC-V, Doc

[bsp][w60x][rsoc] Fix compilation issues with bsp of w60x
  .github/workflows/bsp_buildings.yml
Labels: action

[bsp][mm32l07x][rsoc] Fix compilation issues with bsp of mm32l07x
  .github/workflows/bsp_buildings.yml
  bsp/mm32l07x/Libraries/MM32L0xx/HAL_lib/src/HAL_i2c.c
Labels: BSP, action

make rtc alarm internal thread's attributes configurable
  components/drivers/rtc/Kconfig
  components/drivers/rtc/dev_alarm.c
Labels: Component, component: drivers, component: drivers/rtc

[bsp][mm32l07x][rsoc] Fix compilation issues with bsp of mm32l07x
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/mm32l07x/Libraries/MM32L0xx/HAL_lib/src/HAL_i2c.c
  bsp/mm32l07x/Libraries/MM32L0xx/Source/GCC_StartAsm/startup_MM32L0xx.s
Labels: BSP, action

[bsp/at32] update pwm driver
  bsp/at32/libraries/rt_drivers/drv_pwm.c
Labels: BSP, BSP: AT32

Update components/drivers/rtc/Kconfig
  components/drivers/rtc/Kconfig
Labels: Component, component: drivers, component: drivers/rtc

Update components/drivers/rtc/Kconfig
  components/drivers/rtc/Kconfig
Labels: Component, component: drivers, component: drivers/rtc

Update components/drivers/rtc/Kconfig
  components/drivers/rtc/Kconfig
Labels: Component, component: drivers, component: drivers/rtc

[dev] make RTC alarm internal thread's attributes configurable
  components/drivers/rtc/Kconfig
  components/drivers/rtc/dev_alarm.c
Labels: Component, component: drivers, component: drivers/rtc

[bsp][essemi][rsoc] Fix compilation issues with bsp of essemi series
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/essemi/es32f0654/board/linker_scripts/link.icf
  bsp/essemi/es32f0654/board/linker_scripts/link.lds
  bsp/essemi/es32f0654/board/linker_scripts/link.sct
  bsp/essemi/es32f0654/rtconfig.py
  bsp/essemi/es32f365x/board/linker_scripts/link.icf
  bsp/essemi/es32f365x/board/linker_scripts/link.lds
  bsp/essemi/es32f365x/board/linker_scripts/link.sct
  bsp/essemi/es32f365x/rtconfig.py
Labels: BSP, action

fix rtc alarm thread parameters issue
  components/drivers/rtc/Kconfig
  components/drivers/rtc/dev_alarm.c
Labels: Component, component: drivers, component: drivers/rtc

[bsp][nxp][rsoc] Fix compilation issues with bsp of nxp/lxp series
  .github/workflows/bsp_buildings.yml
  bsp/nxp/lpc/lpc5410x/Libraries/Device/startup/gcc_startup_lpc5410x.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/hw_i2cmond.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/hw_uart.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/pll_5410x.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/power_lib/keil/lib_power.lib
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/power_lib/lpcxpresso/libpower.a
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/romapi_5410x.h
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_common/iap.h
  bsp/nxp/lpc/lpc5410x/applications/board.h
  bsp/nxp/lpc/lpc5410x/drivers/drv_uart.c
  bsp/nxp/lpc/lpc54114-lite/Libraries/devices/LPC54114/arm/keil_lib_power.lib
  bsp/nxp/lpc/lpc54114-lite/Libraries/devices/LPC54114/gcc/libpower_cm4_hardabi.a
  bsp/nxp/lpc/lpc54114-lite/Libraries/devices/LPC54114/iar/iar_lib_power.a
  bsp/nxp/lpc/lpc54114-lite/drivers/drv_spi.c
  components/drivers/include/drivers/adc.h
  components/drivers/include/drivers/dac.h
Labels: BSP, BSP: NXP, action, Component, component: drivers

fix rtc alarm thread parameters issue
  components/drivers/rtc/Kconfig
  components/drivers/rtc/dev_alarm.c
Labels: Component, component: drivers, component: drivers/rtc

[bsp][essemi][rsoc] Fix compilation issues with bsp of essemi series
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/essemi/es32f0654/board/linker_scripts/link.icf
  bsp/essemi/es32f0654/board/linker_scripts/link.lds
  bsp/essemi/es32f0654/board/linker_scripts/link.sct
  bsp/essemi/es32f0654/rtconfig.py
  bsp/essemi/es32f365x/board/linker_scripts/link.icf
  bsp/essemi/es32f365x/board/linker_scripts/link.lds
  bsp/essemi/es32f365x/board/linker_scripts/link.sct
  bsp/essemi/es32f365x/rtconfig.py
Labels: BSP, action

.github/labeler.yml:

#
# Copyright (c) 2006-2024, RT-Thread Development Team
#
# SPDX-License-Identifier: Apache-2.0
#
# Change Logs:
# Date           Author       Notes
# 2024-08-26     supperthomas the first version
#

# glob 代表文件夹
# ref https://github.com/actions/labeler

BSP:
- changed-files:
  - any-glob-to-any-file: bsp/**

'BSP: STM32':
- changed-files:
  - any-glob-to-any-file: bsp/stm32/**

'BSP: NXP':
- changed-files:
  - any-glob-to-any-file: bsp/nxp/**

'BSP: GD32':
- changed-files:
  - any-glob-to-any-file: bsp/gd32/**

'BSP: AT32':
- changed-files:
  - any-glob-to-any-file: bsp/at32/**

'BSP: Infineon':
- changed-files:
  - any-glob-to-any-file: bsp/Infineon/**

'BSP: Renesas':
- changed-files:
  - any-glob-to-any-file: bsp/renesas/**

'BSP: Phytium':
- changed-files:
  - any-glob-to-any-file: bsp/phytium/**

'BSP: Cvitek':
- changed-files:
  - any-glob-to-any-file: bsp/cvitek/**

'BSP: WCH':
- changed-files:
  - any-glob-to-any-file: bsp/wch/**

testcase:
- changed-files:
  - any-glob-to-any-file: examples/**

tools:
- changed-files:
  - any-glob-to-any-file: tools/**

Kernel:
- changed-files:
  - any-glob-to-any-file: src/**

action:
- changed-files:
  - any-glob-to-any-file: .github/**
  - any-glob-to-any-file: tools/ci/**

Component:
- changed-files:
  - any-glob-to-any-file: components/**

RT-Smart:
- changed-files:
  - any-glob-to-any-file: components/lwp/**

'component: lwp':
- changed-files:
  - any-glob-to-any-file: components/lwp/**

'component: dfsv1':
- changed-files:
  - any-glob-to-any-file: components/dfs_v1/**

'component: dfsv2':
- changed-files:
  - any-glob-to-any-file: components/dfs_v2/**

'component: net':
- changed-files:
  - any-glob-to-any-file: components/net/**

'component: net/at':
- changed-files:
  - any-glob-to-any-file: components/net/at/**

'component: net/lwip':
- changed-files:
  - any-glob-to-any-file: components/net/lwip/**

'component: net/netdev':
- changed-files:
  - any-glob-to-any-file: components/net/netdev/**

'component: net/sal':
- changed-files:
  - any-glob-to-any-file: components/net/sal/**

'component: drivers':
- changed-files:
  - any-glob-to-any-file: components/drivers/**

'component: drivers/audio':
- changed-files:
  - any-glob-to-any-file: components/drivers/audio/**

'component: drivers/can':
- changed-files:
  - any-glob-to-any-file: components/drivers/can/**

'component: drivers/clk':
- changed-files:
  - any-glob-to-any-file: components/drivers/clk/**

'component: drivers/core':
- changed-files:
  - any-glob-to-any-file: components/drivers/core/**

'component: drivers/cputime':
- changed-files:
  - any-glob-to-any-file: components/drivers/cputime/**

'component: drivers/graphic':
- changed-files:
  - any-glob-to-any-file: components/drivers/graphic/**

'component: drivers/hwcrypto':
- changed-files:
  - any-glob-to-any-file: components/drivers/hwcrypto/**

'component: drivers/hwtimer':
- changed-files:
  - any-glob-to-any-file: components/drivers/hwtimer/**

'component: drivers/i2c':
- changed-files:
  - any-glob-to-any-file: components/drivers/i2c/**

'component: drivers/ipc':
- changed-files:
  - any-glob-to-any-file: components/drivers/ipc/**

'component: drivers/ktime':
- changed-files:
  - any-glob-to-any-file: components/drivers/ktime/**

'component: drivers/misc':
- changed-files:
  - any-glob-to-any-file: components/drivers/misc/**

'component: drivers/mtd':
- changed-files:
  - any-glob-to-any-file: components/drivers/mtd/**

'component: drivers/ofw':
- changed-files:
  - any-glob-to-any-file: components/drivers/ofw/**

'component: drivers/pci':
- changed-files:
  - any-glob-to-any-file: components/drivers/pci/**

'component: drivers/phy':
- changed-files:
  - any-glob-to-any-file: components/drivers/phy/**

'component: drivers/pic':
- changed-files:
  - any-glob-to-any-file: components/drivers/pic/**

'component: drivers/pinctrl':
- changed-files:
  - any-glob-to-any-file: components/drivers/pinctrl/**

'component: drivers/pm':
- changed-files:
  - any-glob-to-any-file: components/drivers/pm/**

'component: drivers/rtc':
- changed-files:
  - any-glob-to-any-file: components/drivers/rtc/**

'component: drivers/sdio':
- changed-files:
  - any-glob-to-any-file: components/drivers/sdio/**

'component: drivers/sensor_v1':
- changed-files:
  - any-glob-to-any-file: components/drivers/sensor/v1/**

'component: drivers/sensor_v2':
- changed-files:
  - any-glob-to-any-file: components/drivers/sensor/v2/**

'component: drivers/serial':
- changed-files:
  - any-glob-to-any-file: components/drivers/serial/**

'component: drivers/spi':
- changed-files:
  - any-glob-to-any-file: components/drivers/spi/**

'component: drivers/touch':
- changed-files:
  - any-glob-to-any-file: components/drivers/touch/**

'component: drivers/usb':
- changed-files:
  - any-glob-to-any-file: components/drivers/usb/**

'component: drivers/virtio':
- changed-files:
  - any-glob-to-any-file: components/drivers/virtio/**

'component: drivers/watchdog':
- changed-files:
  - any-glob-to-any-file: components/drivers/watchdog/**

'component: drivers/wlan':
- changed-files:
  - any-glob-to-any-file: components/drivers/wlan/**

'component: finsh':
- changed-files:
  - any-glob-to-any-file: components/finsh/**

libcpu:
- changed-files:
  - any-glob-to-any-file: libcpu/**

'Arch: ARM/AArch64':
- changed-files:
  - any-glob-to-any-file: libcpu/aarch64/**

'Arch: RISC-V':
- changed-files:
  - any-glob-to-any-file: libcpu/risc-v/**
  - any-glob-to-any-file: BSP/wch/**
  - any-glob-to-any-file: BSP/k210/**
  - any-glob-to-any-file: BSP/cvitek/**
  - any-glob-to-any-file: BSP/hpmicro/**
  - any-glob-to-any-file: BSP/ESP32_C3/**
  - any-glob-to-any-file: BSP/core-v-mcu/**
  - any-glob-to-any-file: BSP/gd32/risc-v/**
  - any-glob-to-any-file: BSP/allwinner/d1/**
  - any-glob-to-any-file: BSP/allwinner/d1s/**
  - any-glob-to-any-file: BSP/qemu-virt64-riscv/**

Doc:
- changed-files:
  - any-glob-to-any-file: documentation/**
