Repository RT-Thread/rt-thread, changes with the labels that .github/labeler.yml gives for each.
All labels: BSP, BSP: STM32, BSP: NXP, BSP: GD32, BSP: AT32, BSP: Infineon, BSP: Renesas, BSP: Phytium, BSP: Cvitek, BSP: WCH, testcase, tools, Kernel, action, Component, component: lwp, component: dfsv1, component: dfsv2, libcpu, Arch: ARM/AArch64, Arch: RISC-V, Doc

.github/labeler.yml:

#
# Copyright (c) 2006-2024, RT-Thread Development Team
#
# SPDX-License-Identifier: Apache-2.0
#
# Change Logs:
# Date           Author       Notes
# 2024-08-26     supperthomas the first version
#

# glob 代表文件夹
# ref https://github.com/actions/labeler

BSP:
- changed-files:
  - any-glob-to-any-file: bsp/**

'BSP: STM32':
- changed-files:
  - any-glob-to-any-file: bsp/stm32/**

'BSP: NXP':
- changed-files:
  - any-glob-to-any-file: bsp/nxp/**

'BSP: GD32':
- changed-files:
  - any-glob-to-any-file: bsp/gd32/**

'BSP: AT32':
- changed-files:
  - any-glob-to-any-file: bsp/at32/**

'BSP: Infineon':
- changed-files:
  - any-glob-to-any-file: bsp/Infineon/**

'BSP: Renesas':
- changed-files:
  - any-glob-to-any-file: bsp/renesas/**

'BSP: Phytium':
- changed-files:
  - any-glob-to-any-file: bsp/phytium/**

'BSP: Cvitek':
- changed-files:
  - any-glob-to-any-file: bsp/cvitek/**

'BSP: WCH':
- changed-files:
  - any-glob-to-any-file: bsp/wch/**

testcase:
- changed-files:
  - any-glob-to-any-file: examples/**

tools:
- changed-files:
  - any-glob-to-any-file: tools/**

Kernel:
- changed-files:
  - any-glob-to-any-file: src/**

action:
- changed-files:
  - any-glob-to-any-file: .github/**
  - any-glob-to-any-file: tools/ci/**

Component:
- changed-files:
  - any-glob-to-any-file: components/**

'component: lwp':
- changed-files:
  - any-glob-to-any-file: components/lwp**

'component: dfsv1':
- changed-files:
  - any-glob-to-any-file: components/dfs_v1**

'component: dfsv2':
- changed-files:
  - any-glob-to-any-file: components/dfs_v2**

libcpu:
- changed-files:
  - any-glob-to-any-file: libcpu/**

'Arch: ARM/AArch64':
- changed-files:
  - any-glob-to-any-file: libcpu/aarch64/**

'Arch: RISC-V':
- changed-files:
  - any-glob-to-any-file: libcpu/risc-v/**
  - any-glob-to-any-file: BSP/wch/**
  - any-glob-to-any-file: BSP/k210/**
  - any-glob-to-any-file: BSP/cvitek/**
  - any-glob-to-any-file: BSP/hpmicro/**
  - any-glob-to-any-file: BSP/ESP32_C3/**
  - any-glob-to-any-file: BSP/core-v-mcu/**
  - any-glob-to-any-file: BSP/gd32/risc-v/**
  - any-glob-to-any-file: BSP/allwinner/d1/**
  - any-glob-to-any-file: BSP/allwinner/d1s/**
  - any-glob-to-any-file: BSP/qemu-virt64-riscv/**

Doc:
- changed-files:
  - any-glob-to-any-file: documentation/**

[bsp][nxp][mcxa153] add spi1 driver entry
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_spi.c
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/Kconfig
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/MCUX_Config/board/pin_mux.c
Labels: BSP, BSP: NXP

[tools] fix the SDK path issue in env script.
  tools/env_utility.py
Labels: tools

bsp: cvitek: Add support for duos_sd
  bsp/cvitek/README.md
  bsp/cvitek/board_env.sh
  bsp/cvitek/c906_little/Kconfig
  bsp/cvitek/c906_little/SConstruct
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/cv18xx_risc-v/applications/main.c
  bsp/cvitek/cv18xx_risc-v/dtb/milkv-duos-sd/cv1813h_milkv_duos_sd.dtb
  bsp/cvitek/cv18xx_risc-v/dtb/milkv-duos-sd/multi.its
  bsp/cvitek/drivers/SConscript
  bsp/cvitek/drivers/drv_pinmux.c
  bsp/cvitek/drivers/drv_uart.c
Labels: BSP, BSP: Cvitek

[script] add install.sh for rt-thread (#9355)
  tools/ci/install.sh
Labels: tools, action

[bsp][ht32] 修复编译问题
  .github/workflows/bsp_buildings.yml
  bsp/ht32/ht32f12366/rtconfig.py
  bsp/ht32/ht32f52352/rtconfig.py
  bsp/ht32/libraries/HT32_STD_1xxxx_FWLib/SConscript
  bsp/ht32/libraries/HT32_STD_5xxxx_FWLib/SConscript
  bsp/ht32/tools/sdk_dist.py
Labels: BSP, action

[bsp/cvitek]修正sdhci发送命令超时后触发两次信号量的问题
  bsp/cvitek/drivers/drv_sdhci.c
Labels: BSP, BSP: Cvitek

feat: bsp: qemu-riscv64: remove useless configs
  bsp/qemu-virt64-riscv/Kconfig
Labels: BSP

feat: bsp: qemu-riscv64: updates of building & docs
  bsp/qemu-virt64-riscv/.config
  bsp/qemu-virt64-riscv/README_ZH.md
  bsp/qemu-virt64-riscv/qemu-rv64ilp32-nographic.sh
  bsp/qemu-virt64-riscv/rtconfig.h
Labels: BSP

fixup: ptyfs: CI reported snprintf type issues
  components/dfs/dfs_v2/filesystems/ptyfs/ptyfs.c
  components/lwp/syscall_generic.h
Labels: Component

feat: bsp: qemu-riscv64: using klibc API for printf
  bsp/qemu-virt64-riscv/applications/main.c
Labels: BSP

add readme files
  libcpu/arm/cortex-m4/README.md
Labels: libcpu

update(cherryusb): add config for mcxn947 usbdev and usbhost
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/Kconfig
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/SConscript
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/cherryusb_port.c
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/linker_scripts/MCXN947_cm33_core0_flash.ld
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb.h
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb_config.h
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb_phy.c
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb_phy.h
Labels: BSP, BSP: NXP

feat: kernel/libcpu: fit into ilp32d
  include/rthw.h
  include/rttypes.h
  libcpu/risc-v/virt64/backtrace.c
  libcpu/risc-v/virt64/context_gcc.S
  libcpu/risc-v/virt64/cpuport.c
  libcpu/risc-v/virt64/ext_context.h
  libcpu/risc-v/virt64/interrupt.h
  libcpu/risc-v/virt64/mmu.c
  libcpu/risc-v/virt64/mmu.h
  libcpu/risc-v/virt64/plic.c
  libcpu/risc-v/virt64/regtypes.h
  libcpu/risc-v/virt64/riscv.h
  libcpu/risc-v/virt64/riscv_mmu.h
  libcpu/risc-v/virt64/syscall_c.c
  libcpu/risc-v/virt64/trap.c
  src/ipc.c
  src/kservice.c
  src/mem.c
  src/memheap.c
  src/scheduler_comm.c
  src/scheduler_up.c
  src/signal.c
  src/slab.c
Labels: Kernel, libcpu, Arch: RISC-V

update(cherryusb): fix dfs mem leak, add check for lwip stack size, select elmfat when use msc
  components/drivers/usb/cherryusb/Kconfig
  components/drivers/usb/cherryusb/Kconfig.cherryusb
  components/drivers/usb/cherryusb/osal/usb_osal_rtthread.c
  components/drivers/usb/cherryusb/platform/rtthread/usb_check.c
  components/drivers/usb/cherryusb/platform/rtthread/usbh_dfs.c
  components/drivers/usb/cherryusb/platform/rtthread/usbh_lwip.c
Labels: Component

update(cherryusb): add config for hpm6750 usbdev and usbhost
  bsp/hpmicro/hpm6750evk2/.config
  bsp/hpmicro/hpm6750evk2/board/Kconfig
  bsp/hpmicro/hpm6750evk2/board/SConscript
  bsp/hpmicro/hpm6750evk2/board/cherryusb_port.c
  bsp/hpmicro/hpm6750evk2/board/rtt_board.c
  bsp/hpmicro/hpm6750evk2/board/usb_config.h
  bsp/hpmicro/hpm6750evk2/rtconfig.h
  bsp/hpmicro/hpm6750evkmini/board/rtt_board.c
Labels: BSP

[libcpu][arm][cortex-m4] allows rewrite to interrupt enable/disable api to support independent interrupts management
  libcpu/arm/cortex-m4/context_gcc.S
  libcpu/arm/cortex-m4/context_iar.S
  libcpu/arm/cortex-m4/context_rvds.S
Labels: libcpu

[add] 修改线程栈大小为UTEST_THR_STACK_SIZE
  examples/utest/testcases/kernel/smp/smp_affinity_pri1_tc.c
  examples/utest/testcases/kernel/smp/smp_affinity_pri2_tc.c
  examples/utest/testcases/kernel/smp/smp_assigned_idle_cores_tc.c
  examples/utest/testcases/kernel/smp/smp_bind_affinity_tc.c
  examples/utest/testcases/kernel/smp/smp_spinlock_tc.c
  examples/utest/testcases/kernel/smp/smp_thread_preemption_tc.c
Labels: testcase

[bsp][mcxc] add rtc/wdog/uart driver
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_rtc.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_rtc.h
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_uart.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_wdt.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_wdt.h
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/Kconfig
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/MCUX_Config/board/pin_mux.c
Labels: BSP, BSP: NXP

bsp: nxp/mcx/mcxc: FRDM-MCXC444: Fix GCC build suport.
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/linker_scripts/MCXC444_flash.ld
  bsp/nxp/mcx/mcxc/frdm-mcxc444/rtconfig.py
Labels: BSP, BSP: NXP

[utest] add smp testcases
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/smp/Kconfig
  examples/utest/testcases/kernel/smp/SConscript
  examples/utest/testcases/kernel/smp/smp_affinity_pri1_tc.c
  examples/utest/testcases/kernel/smp/smp_affinity_pri2_tc.c
  examples/utest/testcases/kernel/smp/smp_assigned_idle_cores_tc.c
  examples/utest/testcases/kernel/smp/smp_bind_affinity_tc.c
  examples/utest/testcases/kernel/smp/smp_interrupt_pri_tc.c
  examples/utest/testcases/kernel/smp/smp_spinlock_tc.c
  examples/utest/testcases/kernel/smp/smp_thread_preemption_tc.c
Labels: testcase

fix(cherryusb): fix build error
  components/drivers/usb/cherryusb/SConscript
  components/drivers/usb/cherryusb/class/msc/usbd_msc.c
  components/drivers/usb/cherryusb/port/ehci/usb_glue_ma35d0.c
Labels: Component

[bsp/cvitek] eth driver support phy link detect
  bsp/cvitek/drivers/drv_eth.c
  bsp/cvitek/drivers/libraries/eth/cvi_eth_phy.c
  bsp/cvitek/drivers/libraries/eth/cvi_eth_phy.h
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.c
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.h
  bsp/cvitek/drivers/libraries/eth/eth_phy_cvitek.c
Labels: BSP, BSP: Cvitek

[bsp/at32] ethernet support phy lan8720 and yt8512
  bsp/at32/at32f407-start/board/Kconfig
  bsp/at32/at32f437-start/board/Kconfig
  bsp/at32/libraries/rt_drivers/drv_emac.c
  bsp/at32/libraries/rt_drivers/drv_emac.h
Labels: BSP, BSP: AT32

[libcpu/aarch64]修改atomic实现
  libcpu/aarch64/common/atomic_aarch64.c
Labels: libcpu, Arch: ARM/AArch64

[libc] 修复 ctime()死机问题
  components/libc/compilers/common/ctime.c
Labels: Component

update(cherryusb): add config for bl616 usbdev and usbhost
  bsp/bouffalo_lab/bl61x/.config
  bsp/bouffalo_lab/bl61x/applications/main.c
  bsp/bouffalo_lab/bl61x/board/Kconfig
  bsp/bouffalo_lab/bl61x/board/cherryusb_port.c
  bsp/bouffalo_lab/bl61x/board/usb_config.h
  bsp/bouffalo_lab/bl61x/rtconfig.h
Labels: BSP

bsp: cvitek: fix cvitek uart driver can not repeat configure
  bsp/cvitek/drivers/drv_uart.c
Labels: BSP, BSP: Cvitek

fix the cfg path
  .github/workflows/static_code_analysis.yml
Labels: action

[fix][device] 修正使用rt_device_create创建设备，使用rt_device_destroy删除失败的问题
  components/drivers/core/device.c
  src/object.c
Labels: Kernel, Component

bsp: nxp/mcx/mcxc: FRDM-MCXC444: Kconfig: Add I2C support.
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/Kconfig
Labels: BSP, BSP: NXP

[action] update cppcheck version
  .github/workflows/static_code_analysis.yml
Labels: action

Fixup platform not free device in OFW
  components/drivers/core/platform_ofw.c
Labels: Component

fixup: ipc: protect taken_list on shared lock
  src/ipc.c
Labels: Kernel

Fixup bus remove device option
  components/drivers/core/bus.c
Labels: Component

[bsp][mcxc444] update README and keil project
  bsp/nxp/mcx/mcxc/frdm-mcxc444/README_EN.md
  bsp/nxp/mcx/mcxc/frdm-mcxc444/applications/main.c
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/MCUX_Config/board/pin_mux.c
  bsp/nxp/mcx/mcxc/frdm-mcxc444/figures/board.png
  bsp/nxp/mcx/mcxc/frdm-mcxc444/figures/board_block_diagram.png
  bsp/nxp/mcx/mcxc/frdm-mcxc444/figures/dir.png
  bsp/nxp/mcx/mcxc/frdm-mcxc444/figures/project.png
  bsp/nxp/mcx/mcxc/frdm-mcxc444/figures/run.gif
  bsp/nxp/mcx/mcxc/frdm-mcxc444/figures/usb_pc.png
  bsp/nxp/mcx/mcxc/frdm-mcxc444/project.uvoptx
  bsp/nxp/mcx/mcxc/frdm-mcxc444/project.uvprojx
Labels: BSP, BSP: NXP

fix README typo
  bsp/nxp/mcx/mcxc/frdm-mcxc444/README_EN.md
Labels: BSP, BSP: NXP

bsp: nxp/mcx/mcxc: Add I2C driver support.
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_i2c.c
Labels: BSP, BSP: NXP

[utest]add mutex_pi_tc
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/mutex_pi_tc.c
  src/ipc.c
Labels: testcase, Kernel

[DM] Extended drivers MISC interface
  components/drivers/include/drivers/misc.h
  include/rtthread.h
  libcpu/aarch64/common/cpuport.c
Labels: Component, libcpu, Arch: ARM/AArch64

[DM/Feature] Basic PCI/PCIe (Peripheral Component Interconnect Express) bus
  components/drivers/Kconfig
  components/drivers/include/drivers/pci.h
  components/drivers/include/drivers/pci_endpoint.h
  components/drivers/include/drivers/pci_msi.h
  components/drivers/pci/Kconfig
  components/drivers/pci/SConscript
  components/drivers/pci/access.c
  components/drivers/pci/ecam.c
  components/drivers/pci/ecam.h
  components/drivers/pci/endpoint/SConscript
  components/drivers/pci/endpoint/endpoint.c
  components/drivers/pci/host-bridge.c
  components/drivers/pci/host/Kconfig
  components/drivers/pci/host/SConscript
  components/drivers/pci/host/pci-host-common.c
  components/drivers/pci/host/pci-host-generic.c
  components/drivers/pci/irq.c
  components/drivers/pci/msi/SConscript
  components/drivers/pci/msi/device.c
  components/drivers/pci/msi/irq.c
  components/drivers/pci/msi/msi.c
  components/drivers/pci/ofw.c
  components/drivers/pci/pci.c
  components/drivers/pci/pci_ids.h
  components/drivers/pci/pci_regs.h
  components/drivers/pci/pme.c
  components/drivers/pci/probe.c
Labels: Component
