Repository RT-Thread/rt-thread, changes with the labels that .github/labeler.yml gives for each.
All labels: BSP, BSP: STM32, BSP: NXP, BSP: GD32, BSP: AT32, BSP: Infineon, BSP: Renesas, BSP: Phytium, BSP: Cvitek, BSP: WCH, testcase, tools, Kernel, action, Component, component: lwp, component: dfsv1, component: dfsv2, libcpu, Arch: ARM/AArch64, Arch: RISC-V, Doc

.github/labeler.yml:

#
# Copyright (c) 2006-2024, RT-Thread Development Team
#
# SPDX-License-Identifier: Apache-2.0
#
# Change Logs:
# Date           Author       Notes
# 2024-08-26     supperthomas the first version
#

# glob 代表文件夹
# ref https://github.com/actions/labeler

BSP:
- changed-files:
  - any-glob-to-any-file: bsp/**

'BSP: STM32':
- changed-files:
  - any-glob-to-any-file: bsp/stm32/**

'BSP: NXP':
- changed-files:
  - any-glob-to-any-file: bsp/nxp/**

'BSP: GD32':
- changed-files:
  - any-glob-to-any-file: bsp/gd32/**

'BSP: AT32':
- changed-files:
  - any-glob-to-any-file: bsp/at32/**

'BSP: Infineon':
- changed-files:
  - any-glob-to-any-file: bsp/Infineon/**

'BSP: Renesas':
- changed-files:
  - any-glob-to-any-file: bsp/renesas/**

'BSP: Phytium':
- changed-files:
  - any-glob-to-any-file: bsp/phytium/**

'BSP: Cvitek':
- changed-files:
  - any-glob-to-any-file: bsp/cvitek/**

'BSP: WCH':
- changed-files:
  - any-glob-to-any-file: bsp/wch/**

testcase:
- changed-files:
  - any-glob-to-any-file: examples/**

tools:
- changed-files:
  - any-glob-to-any-file: tools/**

Kernel:
- changed-files:
  - any-glob-to-any-file: src/**

action:
- changed-files:
  - any-glob-to-any-file: .github/**
  - any-glob-to-any-file: tools/ci/**

Component:
- changed-files:
  - any-glob-to-any-file: components/**

'component: lwp':
- changed-files:
  - any-glob-to-any-file: components/lwp**

'component: dfsv1':
- changed-files:
  - any-glob-to-any-file: components/dfs_v1**

'component: dfsv2':
- changed-files:
  - any-glob-to-any-file: components/dfs_v2**

libcpu:
- changed-files:
  - any-glob-to-any-file: libcpu/**

'Arch: ARM/AArch64':
- changed-files:
  - any-glob-to-any-file: libcpu/aarch64/**

'Arch: RISC-V':
- changed-files:
  - any-glob-to-any-file: libcpu/risc-v/**
  - any-glob-to-any-file: BSP/wch/**
  - any-glob-to-any-file: BSP/k210/**
  - any-glob-to-any-file: BSP/cvitek/**
  - any-glob-to-any-file: BSP/hpmicro/**
  - any-glob-to-any-file: BSP/ESP32_C3/**
  - any-glob-to-any-file: BSP/core-v-mcu/**
  - any-glob-to-any-file: BSP/gd32/risc-v/**
  - any-glob-to-any-file: BSP/allwinner/d1/**
  - any-glob-to-any-file: BSP/allwinner/d1s/**
  - any-glob-to-any-file: BSP/qemu-virt64-riscv/**

Doc:
- changed-files:
  - any-glob-to-any-file: documentation/**

[components][sal][at] netdb添加at_gethostbyname_r
  components/net/sal/impl/af_inet_at.c
Labels: Component

[bsp/phytium]默认配置修改
  bsp/phytium/aarch32/.config
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch32/rtconfig.h
  bsp/phytium/aarch64/.config
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch64/configs/phytium_pi_rtthread
  bsp/phytium/aarch64/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch64/rtconfig.h
Labels: BSP, BSP: Phytium

[components][at_socket] 添加errno设置
  components/net/at/at_socket/at_socket.c
Labels: Component

[action] add cppcheck project and action debug
  .github/workflows/manual_dist.yml
Labels: action

修复audio_pipe中函数在开启POSIX IPC时与 POSIX PIPE冲突问题
  components/drivers/audio/dev_audio_pipe.c
Labels: Component

[action] fix cppcheck build dir (#9406)
  .github/workflows/static_code_analysis.yml
Labels: action

[component][at_socket] udp一个socket跟多个地址通讯bug修复、DNS加锁防止多线程错乱、实现at_gethostbyname_r、稳定性优化
  components/net/at/at_socket/at_socket.c
  components/net/at/at_socket/at_socket.h
Labels: Component

bsp: cvitek: clean up useless variable assignments in SConstruct
  bsp/cvitek/cv18xx_risc-v/SConstruct
Labels: BSP, BSP: Cvitek

[kernel][mutex] fix bug of thread exit without releasing mutex & add error check log
  bsp/apm32/apm32f030r8-miniboard/rtconfig.py
  bsp/apm32/apm32f051r8-evalboard/rtconfig.py
  src/ipc.c
  src/thread.c
Labels: BSP, Kernel

feat: libcpu/risc-v: unify context on c906, virt64
  bsp/qemu-virt64-riscv/Kconfig
  libcpu/Kconfig
  libcpu/risc-v/t-head/c906/backtrace.c
  libcpu/risc-v/t-head/c906/context_gcc.S
  libcpu/risc-v/t-head/c906/cpuport.c
  libcpu/risc-v/t-head/c906/cpuport.h
  libcpu/risc-v/t-head/c906/cpuport_gcc.S
  libcpu/risc-v/t-head/c906/encoding.h
  libcpu/risc-v/t-head/c906/ext_context.h
  libcpu/risc-v/t-head/c906/interrupt_gcc.S
  libcpu/risc-v/t-head/c906/stack.h
  libcpu/risc-v/t-head/c906/stackframe.h
  libcpu/risc-v/virt64/backtrace.c
  libcpu/risc-v/virt64/context_gcc.S
  libcpu/risc-v/virt64/cpuport.c
  libcpu/risc-v/virt64/cpuport.h
  libcpu/risc-v/virt64/encoding.h
  libcpu/risc-v/virt64/interrupt_gcc.S
  libcpu/risc-v/virt64/rvv_context.h
  libcpu/risc-v/virt64/stack.h
  libcpu/risc-v/virt64/stackframe.h
  libcpu/risc-v/virt64/vector_encoding.h
  libcpu/risc-v/virt64/vector_gcc.S
Labels: BSP, libcpu, Arch: RISC-V

[utest]fix race in mutex tc & add recurse lock tc
  examples/utest/testcases/kernel/mutex_tc.c
Labels: testcase

feat: bsp: qemu risc-v64: fit into common64
  bsp/qemu-virt64-riscv/Kconfig
Labels: BSP

[components][sal][at] _gethostbyname_by_device 添加注释
  components/net/at/at_socket/at_socket.c
Labels: Component

[components][lwp]remove extra check in sys_bind
  components/lwp/lwp_syscall.c
Labels: Component

feat: libcpu/risc-v: unify mmu related works
  libcpu/risc-v/t-head/c906/asid.c
  libcpu/risc-v/t-head/c906/mmu.c
  libcpu/risc-v/t-head/c906/mmu.h
  libcpu/risc-v/t-head/c906/riscv_mmu.c
  libcpu/risc-v/t-head/c906/riscv_mmu.h
  libcpu/risc-v/t-head/c906/tlb.h
  libcpu/risc-v/virt64/asid.c
  libcpu/risc-v/virt64/mmu.c
  libcpu/risc-v/virt64/riscv_mmu.c
  libcpu/risc-v/virt64/riscv_mmu.h
Labels: libcpu, Arch: RISC-V

[bsp][hpmicro]添加utest相关段信息，修复scons编译问题
  bsp/hpmicro/hpm5300evk/SConstruct
  bsp/hpmicro/hpm5300evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm5301evklite/SConstruct
  bsp/hpmicro/hpm5301evklite/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6200evk/SConstruct
  bsp/hpmicro/hpm6200evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6300evk/SConstruct
  bsp/hpmicro/hpm6300evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6750evk/SConstruct
  bsp/hpmicro/hpm6750evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6750evk2/SConstruct
  bsp/hpmicro/hpm6750evk2/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6750evkmini/SConstruct
  bsp/hpmicro/hpm6750evkmini/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6800evk/SConstruct
  bsp/hpmicro/hpm6800evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6e00evk/SConstruct
  bsp/hpmicro/hpm6e00evk/board/linker_scripts/flash_rtt.ld
Labels: BSP

[DM/MISC] Add error no for ptr
  components/drivers/include/drivers/misc.h
Labels: Component

[bsp/n32] 修复每次上电都初始化RTC导致上电时间被重置的问题
  bsp/n32/libraries/n32_drivers/drv_rtc.c
Labels: BSP

[components][sensor]增加电源检测类型
  components/drivers/include/drivers/sensor.h
  components/drivers/sensor/v1/sensor.c
  components/drivers/sensor/v1/sensor_cmd.c
Labels: Component

[action][ci] add cppcheck new feature
  tools/ci/cpp_check.py
Labels: tools, action

[bsp][gd32]Fix the problem that uartv2 does not enable dma compilation error.
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart_v2.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart_v2.h
Labels: BSP, BSP: GD32

[FIXUP/OFW] rt_ofw_foreach_node_by_compatible args
  components/drivers/include/drivers/ofw.h
Labels: Component

[FIXUP/OFW] Increase append child node's ref_count
  components/drivers/ofw/base.c
Labels: Component

[lwp] 取消脚本中限制rv的具体cpu类别
  components/lwp/SConscript
Labels: Component

[component][net]add more socket flag
  components/lwp/lwp_sys_socket.h
  components/lwp/lwp_syscall.c
Labels: Component

[components][lwip]fix lwip poll macro conflict
  components/net/lwip/lwip-2.1.2/src/include/lwip/sockets.h
  components/net/sal/impl/af_inet_lwip.c
Labels: Component

[components][sal]replace netdev's spin_lock_irqsave to spin_lock
  components/net/netdev/src/netdev.c
Labels: Component

feat: libcpu/risc-v: unify interrupt & IO on rv64
  libcpu/risc-v/t-head/c906/interrupt.c
  libcpu/risc-v/t-head/c906/interrupt.h
  libcpu/risc-v/t-head/c906/plic.c
  libcpu/risc-v/t-head/c906/plic.h
  libcpu/risc-v/t-head/c906/riscv.h
  libcpu/risc-v/t-head/c906/riscv_io.h
  libcpu/risc-v/t-head/c906/trap.c
  libcpu/risc-v/virt64/io.h
  libcpu/risc-v/virt64/opcode.h
  libcpu/risc-v/virt64/plic.c
  libcpu/risc-v/virt64/plic.h
  libcpu/risc-v/virt64/riscv_io.h
  libcpu/risc-v/virt64/trap.c
Labels: libcpu, Arch: RISC-V

bsp: nxp/mcx/mcxc/mcxc444: Add SPI driver support.
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_spi.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_spi.h
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/Kconfig
Labels: BSP, BSP: NXP

[action][cppcheck] add summary (#9426)
  .github/workflows/static_code_analysis.yml
  tools/ci/cpp_check.py
Labels: tools, action

feat: libcpu/risc-v: unify low-level bringups
  libcpu/risc-v/t-head/c906/SConscript
  libcpu/risc-v/t-head/c906/sbi.c
  libcpu/risc-v/t-head/c906/sbi.h
  libcpu/risc-v/t-head/c906/startup_gcc.S
  libcpu/risc-v/t-head/c906/syscall_c.c
  libcpu/risc-v/virt64/SConscript
  libcpu/risc-v/virt64/sbi.h
  libcpu/risc-v/virt64/startup_gcc.S
Labels: libcpu, Arch: RISC-V
