Repository RT-Thread/rt-thread, pull requests merged in 2019-04, with the labels that each got.

#2532 [bsp/es32f0334] add rtc driver
  bsp/es32f0334/.config
  bsp/es32f0334/README.md
  bsp/es32f0334/drivers/Kconfig
  bsp/es32f0334/drivers/SConscript
  bsp/es32f0334/drivers/drv_rtc.c
  bsp/es32f0334/drivers/drv_rtc.h
  bsp/es32f0334/libraries/SConscript
  bsp/es32f0334/rtconfig.h
  bsp/es32f0334/rtconfig.py
Labels: reviewed

#2511 [WIP][Kernel] Add object re-initialization check.
  src/object.c
Labels: in progress

#2531 [bsp/es32f0654] add rtc driver
  bsp/es32f0654/.config
  bsp/es32f0654/README.md
  bsp/es32f0654/drivers/Kconfig
  bsp/es32f0654/drivers/SConscript
  bsp/es32f0654/drivers/drv_pm.c
  bsp/es32f0654/drivers/drv_pm.h
  bsp/es32f0654/drivers/drv_rtc.c
  bsp/es32f0654/drivers/drv_rtc.h
  bsp/es32f0654/libraries/SConscript
  bsp/es32f0654/rtconfig.h
  bsp/es32f0654/rtconfig.py
Labels: reviewed

#2551 ibox bsp add spi1 and fal support
  bsp/stm32/stm32f103-hw100k-ibox/README.md
  bsp/stm32/stm32f103-hw100k-ibox/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f103-hw100k-ibox/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f103-hw100k-ibox/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-hw100k-ibox/board/Kconfig
  bsp/stm32/stm32f103-hw100k-ibox/board/SConscript
  bsp/stm32/stm32f103-hw100k-ibox/board/ports/fal_cfg.h
  bsp/stm32/stm32f103-hw100k-ibox/board/ports/on_chip_flash_init.c
Labels: reviewed

#2554 添加 stm32l4r9-eval bsp
  bsp/stm32/stm32l4r9-st-eval/.config
  bsp/stm32/stm32l4r9-st-eval/.gitignore
  bsp/stm32/stm32l4r9-st-eval/Kconfig
  bsp/stm32/stm32l4r9-st-eval/README.md
  bsp/stm32/stm32l4r9-st-eval/SConscript
  bsp/stm32/stm32l4r9-st-eval/SConstruct
  bsp/stm32/stm32l4r9-st-eval/applications/SConscript
  bsp/stm32/stm32l4r9-st-eval/applications/main.c
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/Src/stm32l4xx_it.c
  bsp/stm32/stm32l4r9-st-eval/board/CubeMX_Config/Src/system_stm32l4xx.c
  bsp/stm32/stm32l4r9-st-eval/board/Kconfig
  bsp/stm32/stm32l4r9-st-eval/board/SConscript
  bsp/stm32/stm32l4r9-st-eval/board/board.c
  bsp/stm32/stm32l4r9-st-eval/board/board.h
  bsp/stm32/stm32l4r9-st-eval/board/linker_scripts/link.icf
  bsp/stm32/stm32l4r9-st-eval/board/linker_scripts/link.lds
  bsp/stm32/stm32l4r9-st-eval/board/linker_scripts/link.sct
  bsp/stm32/stm32l4r9-st-eval/figures/board.png
  bsp/stm32/stm32l4r9-st-eval/project.ewd
  bsp/stm32/stm32l4r9-st-eval/project.ewp
  bsp/stm32/stm32l4r9-st-eval/project.eww
  bsp/stm32/stm32l4r9-st-eval/project.uvoptx
  bsp/stm32/stm32l4r9-st-eval/project.uvprojx
  bsp/stm32/stm32l4r9-st-eval/rtconfig.h
  bsp/stm32/stm32l4r9-st-eval/rtconfig.py
  bsp/stm32/stm32l4r9-st-eval/template.ewd
  bsp/stm32/stm32l4r9-st-eval/template.ewp
  bsp/stm32/stm32l4r9-st-eval/template.eww
  bsp/stm32/stm32l4r9-st-eval/template.uvoptx
  bsp/stm32/stm32l4r9-st-eval/template.uvprojx
Labels: in progress

#2563 [BSP][STM32] 对F4系列增加USB驱动支持和QSPI驱动支持
  bsp/stm32/libraries/HAL_Drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/config/f4/qspi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f4/usbd_fs_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_usbd_fs.c
Labels: enhancement

#2559 【增加】stm32f469-st-disco开发板的BSP
  bsp/stm32/stm32f469-st-disco/.config
  bsp/stm32/stm32f469-st-disco/.gitignore
  bsp/stm32/stm32f469-st-disco/Kconfig
  bsp/stm32/stm32f469-st-disco/README.md
  bsp/stm32/stm32f469-st-disco/SConscript
  bsp/stm32/stm32f469-st-disco/SConstruct
  bsp/stm32/stm32f469-st-disco/applications/SConscript
  bsp/stm32/stm32f469-st-disco/applications/main.c
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Src/system_stm32f4xx.c
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32f469-st-disco/board/SConscript
  bsp/stm32/stm32f469-st-disco/board/board.c
  bsp/stm32/stm32f469-st-disco/board/board.h
  bsp/stm32/stm32f469-st-disco/board/linker_scripts/link.icf
  bsp/stm32/stm32f469-st-disco/board/linker_scripts/link.lds
  bsp/stm32/stm32f469-st-disco/board/linker_scripts/link.sct
  bsp/stm32/stm32f469-st-disco/figures/board.png
  bsp/stm32/stm32f469-st-disco/project.ewd
  bsp/stm32/stm32f469-st-disco/project.ewp
  bsp/stm32/stm32f469-st-disco/project.eww
  bsp/stm32/stm32f469-st-disco/project.uvopt
  bsp/stm32/stm32f469-st-disco/project.uvoptx
  bsp/stm32/stm32f469-st-disco/project.uvproj
  bsp/stm32/stm32f469-st-disco/project.uvprojx
  bsp/stm32/stm32f469-st-disco/rtconfig.h
  bsp/stm32/stm32f469-st-disco/rtconfig.py
  bsp/stm32/stm32f469-st-disco/template.ewp
  bsp/stm32/stm32f469-st-disco/template.eww
  bsp/stm32/stm32f469-st-disco/template.uvopt
  bsp/stm32/stm32f469-st-disco/template.uvoptx
  bsp/stm32/stm32f469-st-disco/template.uvproj
  bsp/stm32/stm32f469-st-disco/template.uvprojx
Labels: reviewed

#2558 【增加】stm32f103-dofly-M3S开发板的BSP
  bsp/stm32/stm32f103-dofly-M3S/.config
  bsp/stm32/stm32f103-dofly-M3S/.gitignore
  bsp/stm32/stm32f103-dofly-M3S/Kconfig
  bsp/stm32/stm32f103-dofly-M3S/README.md
  bsp/stm32/stm32f103-dofly-M3S/SConscript
  bsp/stm32/stm32f103-dofly-M3S/SConstruct
  bsp/stm32/stm32f103-dofly-M3S/applications/SConscript
  bsp/stm32/stm32f103-dofly-M3S/applications/main.c
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Inc/stm32f1xx_hal_conf.h
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Inc/stm32f1xx_it.h
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Src/stm32f1xx_it.c
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Src/system_stm32f1xx.c
  bsp/stm32/stm32f103-dofly-M3S/board/Kconfig
  bsp/stm32/stm32f103-dofly-M3S/board/SConscript
  bsp/stm32/stm32f103-dofly-M3S/board/board.c
  bsp/stm32/stm32f103-dofly-M3S/board/board.h
  bsp/stm32/stm32f103-dofly-M3S/board/linker_scripts/link.icf
  bsp/stm32/stm32f103-dofly-M3S/board/linker_scripts/link.lds
  bsp/stm32/stm32f103-dofly-M3S/board/linker_scripts/link.sct
  bsp/stm32/stm32f103-dofly-M3S/figures/board.png
  bsp/stm32/stm32f103-dofly-M3S/project.ewd
  bsp/stm32/stm32f103-dofly-M3S/project.ewp
  bsp/stm32/stm32f103-dofly-M3S/project.eww
  bsp/stm32/stm32f103-dofly-M3S/project.uvopt
  bsp/stm32/stm32f103-dofly-M3S/project.uvoptx
  bsp/stm32/stm32f103-dofly-M3S/project.uvproj
  bsp/stm32/stm32f103-dofly-M3S/project.uvprojx
  bsp/stm32/stm32f103-dofly-M3S/rtconfig.h
  bsp/stm32/stm32f103-dofly-M3S/rtconfig.py
  bsp/stm32/stm32f103-dofly-M3S/template.ewp
  bsp/stm32/stm32f103-dofly-M3S/template.eww
  bsp/stm32/stm32f103-dofly-M3S/template.uvopt
  bsp/stm32/stm32f103-dofly-M3S/template.uvoptx
  bsp/stm32/stm32f103-dofly-M3S/template.uvproj
  bsp/stm32/stm32f103-dofly-M3S/template.uvprojx
Labels: reviewed

#2576 [bsp][stm32][stm32h743-atk-apollo]add lcd and sdram drive
  bsp/stm32/libraries/Kconfig
  bsp/stm32/libraries/STM32H7xx_HAL/SConscript
  bsp/stm32/stm32h743-atk-apollo/.config
  bsp/stm32/stm32h743-atk-apollo/README.md
  bsp/stm32/stm32h743-atk-apollo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32h743-atk-apollo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32h743-atk-apollo/board/CubeMX_Config/Inc/stm32h7xx_hal_conf.h
  bsp/stm32/stm32h743-atk-apollo/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32h743-atk-apollo/board/CubeMX_Config/Src/stm32h7xx_hal_msp.c
  bsp/stm32/stm32h743-atk-apollo/board/Kconfig
  bsp/stm32/stm32h743-atk-apollo/board/SConscript
  bsp/stm32/stm32h743-atk-apollo/board/board.c
  bsp/stm32/stm32h743-atk-apollo/board/drv_mpu.c
  bsp/stm32/stm32h743-atk-apollo/board/ports/lcd_port.h
  bsp/stm32/stm32h743-atk-apollo/board/ports/sdram_port.h
  bsp/stm32/stm32h743-atk-apollo/rtconfig.h
Labels: in progress

#2581 [bsp/es32f0334] add pm/adc driver
  bsp/es32f0334/.config
  bsp/es32f0334/README.md
  bsp/es32f0334/drivers/Kconfig
  bsp/es32f0334/drivers/SConscript
  bsp/es32f0334/drivers/drv_adc.c
  bsp/es32f0334/drivers/drv_adc.h
  bsp/es32f0334/drivers/drv_pm.c
  bsp/es32f0334/drivers/drv_pm.h
  bsp/es32f0334/rtconfig.h
Labels: reviewed

#2591 [bsp][lpc54114-lite] bug fix: can not compile when using gcc under Linux
  bsp/lpc54114-lite/Libraries/devices/LPC54114/gcc/SConscript
  bsp/lpc54114-lite/rtconfig.py
Labels: reviewed

#2348 fix drv_timer.c stm32f7 TIM14 Interrupt
  bsp/stm32/libraries/HAL_Drivers/drv_hwtimer.c
Labels: reviewed

#2636 [bsp[stm32][f103-dofly-m3s]Add On-Chip Flash, I2C, SPI, SPI FLASH, EEPRAM drivers
  bsp/stm32/stm32f103-dofly-M3S/.config
  bsp/stm32/stm32f103-dofly-M3S/README.md
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Inc/stm32f1xx_hal_conf.h
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f103-dofly-M3S/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-dofly-M3S/board/Kconfig
  bsp/stm32/stm32f103-dofly-M3S/board/SConscript
  bsp/stm32/stm32f103-dofly-M3S/board/ports/fal_cfg.h
  bsp/stm32/stm32f103-dofly-M3S/board/ports/spi_flash_init.c
  bsp/stm32/stm32f103-dofly-M3S/project.uvoptx
  bsp/stm32/stm32f103-dofly-M3S/project.uvprojx
  bsp/stm32/stm32f103-dofly-M3S/rtconfig.h
Labels: reviewed
