Repository RT-Thread/rt-thread, pull requests merged in 2020-11, with the labels that each got.

#4009 [English readme][bsp][stm32] add nucleo-144 doc
  bsp/stm32/docs/STM32_Nucleo-144_BSP_Introduction.md
  bsp/stm32/docs/figures/nucleo144_layout.jpg
  bsp/stm32/docs/figures/stm32-nucleo-144.png
Labels: +1, +2

#4004 [English readme][bsp][stm32][f410 nucleo] add English readme
  bsp/stm32/docs/STM32_Nucleo-64_BSP_Introduction.md
  bsp/stm32/docs/figures/nucleo64_layout.jpg
  bsp/stm32/stm32f410-st-nucleo/README.md
  bsp/stm32/stm32f410-st-nucleo/README_zh.md
Labels: +1, +2

#4007 【English readme】[bsp][stm32][bluepill] update readme
  bsp/stm32/stm32f103-blue-pill/README.md
  bsp/stm32/stm32f103-blue-pill/README.pdf
Labels: +1, +2

#4010 【English readme】[bsp][stm32][f072-nucleo] add English version readme
  bsp/stm32/stm32f072-st-nucleo/README.md
  bsp/stm32/stm32f072-st-nucleo/README_zh.md
Labels: +1

#4011 【English readme】[bsp][stm32][f091] update readme
  bsp/stm32/stm32f091-st-nucleo/README.md
Labels: +1

#4020 【English readme】[bsp][stm32][f411] add English version readme
  bsp/stm32/stm32f411-st-nucleo/README.md
  bsp/stm32/stm32f411-st-nucleo/README_zh.md
Labels: +1

#4003 [bsp][stm32][bluepill] add USART2
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-blue-pill/board/Kconfig
Labels: +1

#4081 [kernel] rt_object_delete函数优化重置object->type
  src/object.c
Labels: +1

#4064 【English readme】[stm32f767 nucleo] add English version readme
  bsp/stm32/stm32f767-st-nucleo/README.md
  bsp/stm32/stm32f767-st-nucleo/README_zh.md
Labels: +1

#4059 【English Readme】stm32f412 nucleo add English version readme
  bsp/stm32/stm32f412-st-nucleo/README.md
  bsp/stm32/stm32f412-st-nucleo/README_zh.md
Labels: +1

#4056 【English readme】 [stm32f401-nucleo] fixed some unreasonable sentences.
  bsp/stm32/stm32f401-st-nucleo/README.md
Labels: +1

#4063 【English Readme】[stm32f446 nucleo] add English version readme
  bsp/stm32/stm32f446-st-nucleo/README.md
  bsp/stm32/stm32f446-st-nucleo/README_zh.md
Labels: +1

#4060 【English Readme】[stm32f413 nucleo] add English version readme
  bsp/stm32/stm32f413-st-nucleo/README.md
  bsp/stm32/stm32f413-st-nucleo/README_zh.md
  bsp/stm32/stm32f413-st-nucleo/project.uvgui.19827
Labels: +1

#4078 [components][PM][Update]优化PM电源模式选择问题
  components/drivers/pm/pm.c
Labels: +1

#4015 [fix] fix sdio non-aligned access problem
  bsp/stm32/libraries/HAL_Drivers/drv_sdio.c
Labels: +2

#4069 updata nordic adc drv
  bsp/nrf5x/libraries/drivers/drv_adc.c
  bsp/nrf5x/nrf52840/.config
  bsp/nrf5x/nrf52840/rtconfig.h
Labels: +1

#4080 [bsp/nrf5x]support for i2c
  bsp/nrf5x/libraries/drivers/SConscript
  bsp/nrf5x/libraries/drivers/drv_i2c.c
  bsp/nrf5x/libraries/drivers/drv_i2c.h
  bsp/nrf5x/nrf52832/board/Kconfig
  bsp/nrf5x/nrf52832/board/sdk_config.h
  bsp/nrf5x/nrf52840/board/Kconfig
  bsp/nrf5x/nrf52840/board/sdk_config.h
Labels: +1

#4044 [rtc.alarm][fix]fix alarm when update datetime
  components/drivers/rtc/alarm.c
Labels: +1

#4049 Update exception_gcc.S
  libcpu/avr32/uc3/exception_gcc.S
Labels: +1

#4061 [src][SConscript] Provide user heap options
  src/Kconfig
  src/SConscript
Labels: +1

#4050 [bsp/drivers]Update vbus_hw.h
  bsp/qemu-vexpress-gemini/drivers/vbus_hw.h
Labels: +1

#4074 [bsp/driver]Update drv_can.h
  bsp/imxrt/libraries/drivers/drv_can.h
Labels: +1

#4090 change `rt_sem_delete` to `rt_sem_detach`
  bsp/stm32/libraries/HAL_Drivers/drv_lcd.c
Labels: +1

#4073 [bsp/thead-smart] select ARCH_RISCV32 and ARCH_RISCV_FPU_S
  bsp/thead-smart/.config
  bsp/thead-smart/Kconfig
  bsp/thead-smart/rtconfig.h
Labels: +1

#4017 [bsp][allwinner_tina]fixed spi driver bug
  bsp/allwinner_tina/drivers/spi/drv_spi.c
Labels: +1
