Repository RT-Thread/rt-thread, pull requests merged in 2020-12, with the labels that each got.

#4088 add 'rt_ringbuffer_peak' API
  components/drivers/include/ipc/ringbuffer.h
  components/drivers/src/ringbuffer.c
Labels: +1

#4104 [bsp][allwinner_tina]fixed uart1 gpio rx/tx pin;
  bsp/allwinner_tina/drivers/drv_uart.c
Labels: +1

#4037 add dac driver for stm32l4
  bsp/stm32/libraries/HAL_Drivers/config/l4/dac_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_dac.c
  bsp/stm32/libraries/STM32L4xx_HAL/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/STM32L475VE.ioc
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Src/stm32l4xx_it.c
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1

#4034 [add] complicated dirvers for STM32MP157A-DK1 board
  bsp/stm32/libraries/HAL_Drivers/Kconfig
  bsp/stm32/libraries/HAL_Drivers/config/mp1/dma_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_crypto.c
  bsp/stm32/libraries/STM32MPxx_HAL/SConscript
  bsp/stm32/libraries/STM32MPxx_HAL/STM32MP1xx_HAL_Driver/Src/stm32mp1xx_hal_sd.c
  bsp/stm32/stm32mp157a-st-discovery/.config
  bsp/stm32/stm32mp157a-st-discovery/board/CubeMX_Config/CM4/Inc/stm32mp1xx_hal_conf.h
  bsp/stm32/stm32mp157a-st-discovery/board/CubeMX_Config/CM4/Src/stm32mp1xx_hal_msp.c
  bsp/stm32/stm32mp157a-st-discovery/board/Kconfig
  bsp/stm32/stm32mp157a-st-discovery/board/SConscript
  bsp/stm32/stm32mp157a-st-discovery/board/board.h
  bsp/stm32/stm32mp157a-st-discovery/board/linker_scripts/link.icf
  bsp/stm32/stm32mp157a-st-discovery/board/ports/audio/audio_play.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/audio/drv_cs42l51.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/audio/drv_cs42l51.h
  bsp/stm32/stm32mp157a-st-discovery/board/ports/audio/drv_mic.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/audio/drv_sound.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/crypto/crypto_sample.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_eth.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_eth.h
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_pmic.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_sdio.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_sdio.h
Labels: +1

#4098 [bsp][stm32][libraries] Remove #include <rtthread.h>
  bsp/stm32/libraries/STM32F0xx_HAL/STM32F0xx_HAL_Driver/Inc/stm32f0xx_hal.h
  bsp/stm32/libraries/STM32F1xx_HAL/STM32F1xx_HAL_Driver/Inc/stm32f1xx_hal.h
  bsp/stm32/libraries/STM32F2xx_HAL/STM32F2xx_HAL_Driver/Inc/stm32f2xx_hal.h
  bsp/stm32/libraries/STM32F4xx_HAL/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal.h
  bsp/stm32/libraries/STM32F7xx_HAL/STM32F7xx_HAL_Driver/Inc/stm32f7xx_hal.h
  bsp/stm32/libraries/STM32G0xx_HAL/STM32G0xx_HAL_Driver/Inc/stm32g0xx_hal.h
  bsp/stm32/libraries/STM32G4xx_HAL/STM32G4xx_HAL_Driver/Inc/stm32g4xx_hal.h
  bsp/stm32/libraries/STM32H7xx_HAL/STM32H7xx_HAL_Driver/Inc/stm32h7xx_hal.h
  bsp/stm32/libraries/STM32L0xx_HAL/STM32L0xx_HAL_Driver/Inc/stm32l0xx_hal.h
  bsp/stm32/libraries/STM32L4xx_HAL/STM32L4xx_HAL_Driver/Inc/stm32l4xx_hal.h
Labels: +1

#4053 [src][scheduler] remove RT_USING_FINSH in kernel, remove list_thread()
  src/scheduler.c
Labels: +1

#3929 [dirver/i2c] i2c driver support bus lock, STOP control
  components/drivers/Kconfig
  components/drivers/i2c/i2c-bit-ops.c
  components/drivers/include/drivers/i2c.h
Labels: +1

#4148 [FIX] fix build problem in drv_crypto.c
  bsp/stm32/libraries/HAL_Drivers/drv_crypto.c
Labels: +2

#4195 [gitee] fix some English grammar errors
  .gitee/PULL_REQUEST_TEMPLATE.en.md
Labels: +1

#4062 [update] 获取timer count时，防止因中断到来导致overflow更新
  components/drivers/hwtimer/hwtimer.c
Labels: +1

#4135 [BSP][STM32] update void HAL_Delay(__IO uint32_t Delay)
  bsp/stm32/libraries/HAL_Drivers/drv_common.c
  src/scheduler.c
Labels: +1

#4111 [bsp][gd32450z-eval]fixed spi driver bug
  bsp/gd32450z-eval/drivers/drv_spi.c
Labels: +1

#3681 [components] dfs: update elmfat to R0.14 patch 1
  components/dfs/Kconfig
  components/dfs/filesystems/elmfat/00history.txt
  components/dfs/filesystems/elmfat/00readme.txt
  components/dfs/filesystems/elmfat/SConscript
  components/dfs/filesystems/elmfat/dfs_elm.c
  components/dfs/filesystems/elmfat/diskio.h
  components/dfs/filesystems/elmfat/ff.c
  components/dfs/filesystems/elmfat/ff.h
  components/dfs/filesystems/elmfat/ffconf.h
  components/dfs/filesystems/elmfat/ffunicode.c
  components/dfs/filesystems/elmfat/integer.h
  components/dfs/filesystems/elmfat/option/cc932.c
  components/dfs/filesystems/elmfat/option/cc936.c
  components/dfs/filesystems/elmfat/option/cc949.c
  components/dfs/filesystems/elmfat/option/cc950.c
  components/dfs/filesystems/elmfat/option/ccfile.c
  components/dfs/filesystems/elmfat/option/ccsbcs.c
  components/dfs/filesystems/elmfat/option/syscall.c
  components/dfs/filesystems/elmfat/option/unicode.c
Labels: +1, enhancement
