Repository RT-Thread/rt-thread, pull requests merged in 2021-04, with the labels that each got.

#4396 [kernel] add RT_KSERVICE_USING_STDLIB
  include/rtthread.h
  src/Kconfig
  src/kservice.c
Labels: +1

#4562 [ringblk_buf.c] NULL -> RT_NULL
  components/drivers/src/ringblk_buf.c
Labels: +1

#4560 [add] .c/.h file format check and license check.
  .github/workflows/file_check.yml
  tools/file_check.py
Labels: +1

#4508 add error checks of rt_mutex_create()
  bsp/simulator/drivers/sd_sim.c
  bsp/simulator/drivers/sdl_fb.c
  bsp/stm32f20x/Drivers/i2c.c
Labels: +1

#4550 [ab32] rt_rtc_control->ab32_rtc_control
  bsp/bluetrum/libraries/hal_drivers/drv_rtc.c
Labels: +1

#4425 [pr][template] 增加符合RTThread代码规范条款描述
  .gitee/PULL_REQUEST_TEMPLATE.en.md
  .gitee/PULL_REQUEST_TEMPLATE.zh-CN.md
  .gitee/PULL_REQUEST_TEMPLATE.zh-TW.md
  .github/PULL_REQUEST_TEMPLATE.md
  documentation/coding_style_cn.md
Labels: +1

#4582 [update] stm32mp1 wifi sdio.
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_sdio.c
Labels: BSP: STM32

#4570 [update] format ci, add ignore config file.
  .github/workflows/file_check.yml
  .ignore_format.yml
  tools/file_check.py
Labels: +1

#4578 [fix] fix measurement unit of "percentage" to "permillage" for accuracy.
  components/drivers/include/drivers/sensor.h
Labels: +1, reviewed

#4587 [update] file_check.py, Improve compatibility.
  tools/file_check.py
Labels: +1, +2

#4561 [bsp/nrf51822] fix the nrf51822 with microbit board
  bsp/nrf51822/Libraries/nrf51822/Include/compiler_abstraction.h
  bsp/nrf51822/Libraries/nrf51822/Include/nrf.h
  bsp/nrf51822/Libraries/nrf51822/Include/nrf51_deprecated.h
  bsp/nrf51822/Libraries/nrf51822/Include/system_nrf51.h
  bsp/nrf51822/Libraries/nrf51822/Source/templates/arm/arm_startup_nrf51.s
  bsp/nrf51822/Libraries/nrf51822/Source/templates/system_nrf51.c
  bsp/nrf51822/drivers/SConscript
  bsp/nrf51822/drivers/board.c
  bsp/nrf51822/drivers/uart.c
  bsp/nrf51822/drivers/uart.h
  bsp/nrf51822/project.uvoptx
  bsp/nrf51822/project.uvprojx
  bsp/nrf51822/rtconfig.h
  bsp/nrf51822/rtconfig.py
  bsp/nrf51822/template.uvoptx
  bsp/nrf51822/template.uvprojx
Labels: +1, reviewed

#4567 [tools] Python 3 compatibility support
  tools/auto-ci.py
  tools/buildbot.py
  tools/building.py
  tools/clang-analyze.py
  tools/eclipse.py
  tools/keil.py
  tools/mkromfs.py
  tools/ses.py
  tools/ua.py
  tools/vs.py
  tools/vs2012.py
  tools/win32spawn.py
Labels: +1

#4297 [bsp/stm32][libraries/HAL_Drivers][Fix bug] drv_can.c filter config
  bsp/stm32/libraries/HAL_Drivers/drv_can.c
Labels: +1, BSP: STM32, discussion

#4580 [BSP][STM32]fixed project.uvprojx in stm32l476-st-nucleo
  bsp/stm32/stm32l476-st-nucleo/project.uvprojx
Labels: +1

#4573 [lts-3.1.x][components]update GPL license to Apache-2.0
  components/net/lwip-2.0.2/src/apps/tftp/tftp_port.c
  components/net/lwip-2.1.2/src/apps/tftp/tftp_port.c
Labels: +1

#4479 [tools] 增加cmake生成工具
  .gitignore
  tools/building.py
  tools/cmake.py
Labels: +1, +2

#4596 [time][bug] LOG_W will cause a recursive printing if ulog timestamp function is turned on
  components/libc/compilers/common/time.c
Labels: +1

#4598 [update] ignore dir path check.
  tools/file_check.py
Labels: +1

#4599 [ab32vg1] optimize main function
  bsp/bluetrum/ab32vg1-ab-prougen/applications/main.c
Labels: +1

#4604 [add] bsp-stm32-stm32f207zg
  .github/workflows/action.yml
  bsp/stm32/README.md
  bsp/stm32/stm32f207-st-nucleo/.config
  bsp/stm32/stm32f207-st-nucleo/.cproject
  bsp/stm32/stm32f207-st-nucleo/.gitignore
  bsp/stm32/stm32f207-st-nucleo/.project
  bsp/stm32/stm32f207-st-nucleo/.settings/org.eclipse.core.runtime.prefs
  bsp/stm32/stm32f207-st-nucleo/.settings/projcfg.ini
  bsp/stm32/stm32f207-st-nucleo/Kconfig
  bsp/stm32/stm32f207-st-nucleo/README.md
  bsp/stm32/stm32f207-st-nucleo/SConscript
  bsp/stm32/stm32f207-st-nucleo/SConstruct
  bsp/stm32/stm32f207-st-nucleo/applications/SConscript
  bsp/stm32/stm32f207-st-nucleo/applications/main.c
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/Core/Inc/main.h
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/Core/Inc/stm32f2xx_hal_conf.h
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/Core/Inc/stm32f2xx_it.h
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/Core/Src/main.c
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/Core/Src/stm32f2xx_hal_msp.c
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/Core/Src/stm32f2xx_it.c
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/Core/Src/system_stm32f2xx.c
  bsp/stm32/stm32f207-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f207-st-nucleo/board/Kconfig
  bsp/stm32/stm32f207-st-nucleo/board/SConscript
  bsp/stm32/stm32f207-st-nucleo/board/board.c
  bsp/stm32/stm32f207-st-nucleo/board/board.h
  bsp/stm32/stm32f207-st-nucleo/board/linker_scripts/link.icf
  bsp/stm32/stm32f207-st-nucleo/board/linker_scripts/link.lds
  bsp/stm32/stm32f207-st-nucleo/board/linker_scripts/link.sct
  bsp/stm32/stm32f207-st-nucleo/figures/board.jpg
  bsp/stm32/stm32f207-st-nucleo/makefile.targets
  bsp/stm32/stm32f207-st-nucleo/project.ewd
  bsp/stm32/stm32f207-st-nucleo/project.ewp
  bsp/stm32/stm32f207-st-nucleo/project.eww
  bsp/stm32/stm32f207-st-nucleo/project.uvopt
  bsp/stm32/stm32f207-st-nucleo/project.uvoptx
  bsp/stm32/stm32f207-st-nucleo/project.uvproj
  bsp/stm32/stm32f207-st-nucleo/project.uvprojx
  bsp/stm32/stm32f207-st-nucleo/rtconfig.h
  bsp/stm32/stm32f207-st-nucleo/rtconfig.py
  bsp/stm32/stm32f207-st-nucleo/template.ewp
  bsp/stm32/stm32f207-st-nucleo/template.eww
  bsp/stm32/stm32f207-st-nucleo/template.uvopt
  bsp/stm32/stm32f207-st-nucleo/template.uvoptx
  bsp/stm32/stm32f207-st-nucleo/template.uvproj
  bsp/stm32/stm32f207-st-nucleo/template.uvprojx
Labels: +1

#4616 [libc][time] implement set_timeval
  components/libc/compilers/common/sys/time.h
  components/libc/compilers/common/time.c
  include/rtdef.h
Labels: +1

#4602 [kernel][irq] 优化DEBUG打印输出位置，防止造成歧义
  src/irq.c
Labels: +1

#4485 [bug][stm32][wdg] 修复没有考虑到L0芯片的问题
  bsp/stm32/libraries/HAL_Drivers/drv_wdt.c
Labels: BSP: STM32

#4618 [stm32 pandora] implement drv_key and modify drv_sdcard
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/ports/drv_key.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/drv_sdcard.c
  components/drivers/misc/pin.c
Labels: +1, BSP: STM32

#4638 [bsp][sam7x]remove the gpl file(mii.h)
  bsp/sam7x/drivers/mii.h
Labels: +1

#4626 重新整理common文件夹
  components/dfs/include/dfs_fs.h
  components/libc/compilers/armlibc/dirent.h
  components/libc/compilers/armlibc/sys/README.md
  components/libc/compilers/armlibc/sys/errno.h
  components/libc/compilers/armlibc/sys/types.h
  components/libc/compilers/common/SConscript
  components/libc/compilers/common/dirent.h
  components/libc/compilers/common/none-gcc/SConscript
  components/libc/compilers/common/none-gcc/fcntl.h
  components/libc/compilers/common/none-gcc/readme.md
  components/libc/compilers/common/none-gcc/sys/stat.h
  components/libc/compilers/common/none-gcc/sys/types.h
  components/libc/compilers/common/none-gcc/sys/unistd.h
  components/libc/compilers/common/none-gcc/unistd.h
  components/libc/compilers/common/readme.md
  components/libc/compilers/common/sys/ioctl.h
  components/libc/compilers/common/sys/mman.h
  components/libc/compilers/common/sys/statfs.h
  components/libc/compilers/common/sys/termios.h
  components/libc/compilers/dlib/dirent.h
  components/libc/compilers/dlib/sys/README.md
  components/libc/compilers/dlib/sys/errno.h
  components/libc/compilers/dlib/sys/mman.h
  components/libc/compilers/dlib/sys/signal.h
  components/libc/compilers/dlib/sys/stat.h
  components/libc/compilers/dlib/sys/unistd.h
  components/libc/compilers/dlib/unistd.h
  components/libc/compilers/newlib/sys/mman.h
  components/libc/compilers/newlib/sys/termios.h
  include/rtlibc.h
Labels: +1

#4246 [fix] miss arguments when invoke dist_handle
  tools/mkdist.py
Labels: +1

#4633 [add] spi config increases irq_type
  bsp/stm32/libraries/HAL_Drivers/config/f0/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f1/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f2/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f4/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f7/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/g0/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/g4/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/h7/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l1/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l4/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/mp1/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/wb/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/config/wl/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.h
  bsp/stm32/stm32f072-st-nucleo/board/Kconfig
Labels: +1

#4650 [rename] stm32f767-fire-challenger-v1
  .github/workflows/action.yml
  bsp/stm32/README.md
  bsp/stm32/stm32f767-atk-apollo/README.md
  bsp/stm32/stm32f767-atk-apollo/board/Kconfig
  bsp/stm32/stm32f767-fire-challenger-v1/.config
  bsp/stm32/stm32f767-fire-challenger-v1/.gitignore
  bsp/stm32/stm32f767-fire-challenger-v1/Kconfig
  bsp/stm32/stm32f767-fire-challenger-v1/README.md
  bsp/stm32/stm32f767-fire-challenger-v1/SConscript
  bsp/stm32/stm32f767-fire-challenger-v1/SConstruct
  bsp/stm32/stm32f767-fire-challenger-v1/applications/SConscript
  bsp/stm32/stm32f767-fire-challenger-v1/applications/main.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/Inc/stm32f7xx_hal_conf.h
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/Inc/stm32f7xx_it.h
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/MDK-ARM/CubeMX_Config.uvoptx
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/MDK-ARM/CubeMX_Config.uvprojx
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/MDK-ARM/startup_stm32f767xx.s
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/Src/stm32f7xx_hal_msp.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/Src/stm32f7xx_it.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/CubeMX_Config/Src/system_stm32f7xx.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/Kconfig
  bsp/stm32/stm32f767-fire-challenger-v1/board/SConscript
  bsp/stm32/stm32f767-fire-challenger-v1/board/board.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/board.h
  bsp/stm32/stm32f767-fire-challenger-v1/board/linker_scripts/link.icf
  bsp/stm32/stm32f767-fire-challenger-v1/board/linker_scripts/link.lds
  bsp/stm32/stm32f767-fire-challenger-v1/board/linker_scripts/link.sct
  bsp/stm32/stm32f767-fire-challenger-v1/board/ports/drv_qspi_flash.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/ports/fal_cfg.h
  bsp/stm32/stm32f767-fire-challenger-v1/board/ports/lcd_port.h
  bsp/stm32/stm32f767-fire-challenger-v1/board/ports/phy_reset.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/ports/sdcard_port.c
  bsp/stm32/stm32f767-fire-challenger-v1/board/ports/sdram_port.h
  bsp/stm32/stm32f767-fire-challenger-v1/figures/board.jpg
  bsp/stm32/stm32f767-fire-challenger-v1/project.ewd
  bsp/stm32/stm32f767-fire-challenger-v1/project.ewp
  bsp/stm32/stm32f767-fire-challenger-v1/project.eww
  bsp/stm32/stm32f767-fire-challenger-v1/project.uvopt
  bsp/stm32/stm32f767-fire-challenger-v1/project.uvoptx
  bsp/stm32/stm32f767-fire-challenger-v1/project.uvprojx
  bsp/stm32/stm32f767-fire-challenger-v1/rtconfig.h
  bsp/stm32/stm32f767-fire-challenger-v1/rtconfig.py
  bsp/stm32/stm32f767-fire-challenger-v1/template.ewp
  bsp/stm32/stm32f767-fire-challenger-v1/template.eww
  bsp/stm32/stm32f767-fire-challenger-v1/template.uvoptx
  bsp/stm32/stm32f767-fire-challenger-v1/template.uvprojx
Labels: +1
