Repository RT-Thread/rt-thread, pull requests merged in 2021-12, with the labels that each got.

#5316 [tools][building.py] 修复加入空列表和空字符串的问题
  tools/building.py
Labels: reviewed, +1

#5315 [bsp/bluetrum] add flash support
  bsp/bluetrum/ab32vg1-ab-prougen/.config
  bsp/bluetrum/ab32vg1-ab-prougen/.settings/.rtmenus
  bsp/bluetrum/ab32vg1-ab-prougen/.settings/language.settings.xml
  bsp/bluetrum/ab32vg1-ab-prougen/.settings/projcfg.ini
  bsp/bluetrum/ab32vg1-ab-prougen/README.md
  bsp/bluetrum/ab32vg1-ab-prougen/applications/blehr_app.c
  bsp/bluetrum/ab32vg1-ab-prougen/applications/mnt.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/Kconfig
  bsp/bluetrum/ab32vg1-ab-prougen/board/SConscript
  bsp/bluetrum/ab32vg1-ab-prougen/board/board.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/ports/fal_cfg.h
  bsp/bluetrum/ab32vg1-ab-prougen/board/ports/on_chip_flash_init.c
  bsp/bluetrum/ab32vg1-ab-prougen/rtconfig.h
  bsp/bluetrum/ab32vg1-ab-prougen/rtconfig.py
  bsp/bluetrum/libraries/hal_drivers/SConscript
  bsp/bluetrum/libraries/hal_drivers/drv_flash.c
  bsp/bluetrum/libraries/hal_drivers/drv_flash.h
  bsp/bluetrum/libraries/hal_drivers/drv_gpio.c
  bsp/bluetrum/libraries/hal_drivers/drv_soft_i2c.c
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/include/ab32vg1_hal.h
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/libhal.a
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/source/ab32vg1_hal.c
  bsp/bluetrum/libraries/hal_libraries/bmsis/source/startup.S
Labels: reviewed, +1, BSP: Bluetrum, urgent

#5295 Add dataqueue.c function annotation
  components/drivers/src/dataqueue.c
Labels: +1, +2

#5317 [PSE分支] 替换宏定义 将posix单独划分为一个Kconfig目录
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  components/cplusplus/Kconfig
  components/drivers/src/pipe.c
  components/libc/Kconfig
  components/libc/compilers/armlibc/syscalls.c
  components/libc/posix/Kconfig
  components/utilities/ymodem/ry_sy.c
Labels: +1, important

#5321 update readme
  README.md
  README_zh.md
  documentation/figures/logo.png
  documentation/figures/qrcode.jpg
  documentation/figures/qrcode.png
Labels: +1

#5325 [ulog] Add ulog backend filter.
  components/utilities/ulog/backend/console_be.c
  components/utilities/ulog/ulog.c
  components/utilities/ulog/ulog.h
  components/utilities/ulog/ulog_def.h
Labels: +1

#5313 cputime数据类型修改为64位
  components/drivers/cputime/cputime.c
  components/drivers/cputime/cputime_cortexm.c
  components/drivers/include/drivers/cputime.h
Labels: +1, +2

#5322 [tools] add function to auto-update rtconfig.h
  tools/buildbot.py
Labels: +1

#5331 【PR】修改bsp/qemu-vexpress-a9的若干问题
  bsp/qemu-vexpress-a9/README.md
  bsp/qemu-vexpress-a9/drivers/drv_smc911x.c
  components/drivers/mtd/mtd_nand.c
  components/lwp/lwp_syscall.h
Labels: +1, +2

#5335 [fix] the problem of implicit declaration for "lwip_ip4_route_src".
  components/net/lwip-2.1.2/src/arch/sys_arch.c
  components/net/lwip-2.1.2/src/lwipopts.h
Labels: +1

#5339 [stm32][f469]update lvgl demo
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/lv_demo.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/lv_port_disp.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/lv_port_indev.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/lvgl/lv_demo.c
Labels: BSP: STM32

#5334 [posix] 按照高级unix环境编程整理IO类别
  bsp/raspberry-pi/raspi4-32/.config
  bsp/raspberry-pi/raspi4-32/rtconfig.h
  components/drivers/serial/serial.c
  components/libc/compilers/common/sys/termios.h
  components/libc/compilers/common/termios.h
  components/libc/posix/Kconfig
  components/libc/posix/io/SConscript
  components/libc/posix/io/aio/SConscript
  components/libc/posix/io/aio/aio.c
  components/libc/posix/io/aio/aio.h
  components/libc/posix/io/libc.c
  components/libc/posix/io/libc.h
  components/libc/posix/io/mmap.c
  components/libc/posix/io/poll/SConscript
  components/libc/posix/io/poll/poll.c
  components/libc/posix/io/poll/poll.h
  components/libc/posix/io/select.c
  components/libc/posix/io/termios/SConscript
  components/libc/posix/io/termios/termios.c
  components/libc/posix/io/termios/termios.h
  components/libc/posix/src/SConscript
  components/libc/posix/termios/SConscript
Labels: +2, urgent, important

#5344 [bsp][qemu-vexpress-gemini] fix build error.
  bsp/qemu-vexpress-gemini/.config
  bsp/qemu-vexpress-gemini/Kconfig
  bsp/qemu-vexpress-gemini/cpu/cpu.c
  bsp/qemu-vexpress-gemini/rtconfig.h
Labels: +1

#5350 [qemu-a9] add lvgl support.
  bsp/qemu-vexpress-a9/drivers/Kconfig
  bsp/qemu-vexpress-a9/drivers/drv_mouse.c
  bsp/qemu-vexpress-a9/drivers/lvgl/.ignore_format.yml
  bsp/qemu-vexpress-a9/drivers/lvgl/SConscript
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/SConscript
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/lv_demo.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/README.md
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_list_pause.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_list_play.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_loop.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_next.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_pause.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_play.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_prev.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_rnd.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_corner_left.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_corner_right.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_cover_1.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_cover_2.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_cover_3.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_1.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_2.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_3.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_4.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_list_border.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_logo.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_slider_knob.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_wave_bottom.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_wave_top.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/spectrum_1.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/spectrum_2.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/assets/spectrum_3.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/lv_demo_music.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/lv_demo_music.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/lv_demo_music_list.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/lv_demo_music_list.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/lv_demo_music_main.c
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/lv_demo_music_main.h
  bsp/qemu-vexpress-a9/drivers/lvgl/demo/src/lv_demo_music/screenshot1.gif
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_conf.h
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_demo.c
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_port_disp.c
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_port_disp.h
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_port_indev.c
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_port_indev.h
  bsp/qemu-vexpress-a9/qemu.bat
Labels: +1

#5351 [update] README.md add cortex-m33
  README.md
  README_zh.md
Labels: +1

#5349 [stm32][l475] 增加ESP8266快速构建选项，串口驱动由v2调整为V1
  bsp/stm32/stm32l475-atk-pandora/.config
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/rtconfig.h
Labels: +1

#5348 BugFix: Raspi3 GPIO driver write bug
  bsp/raspberry-pi/raspi3-32/driver/drv_gpio.c
  bsp/raspberry-pi/raspi3-32/driver/raspi.h
  bsp/raspberry-pi/raspi3-64/driver/drv_gpio.c
  bsp/raspberry-pi/raspi3-64/driver/raspi.h
Labels: bug, +1

#5278 remove duplicate work between idle and thread_exit
  src/idle.c
  src/thread.c
Labels: +1

#5354 完善代码，解决部分BUG
  bsp/n32g452xx/Libraries/rt_drivers/SConscript
  bsp/n32g452xx/Libraries/rt_drivers/drv_clk.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_clk.h
  bsp/n32g452xx/Libraries/rt_drivers/drv_gpio.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_gpio.h
  bsp/n32g452xx/Libraries/rt_drivers/drv_hwtimer.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_hwtimer.h
  bsp/n32g452xx/Libraries/rt_drivers/drv_soft_i2c.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_usart.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_usart.h
  bsp/n32g452xx/n32g452xx-mini-system/.config
  bsp/n32g452xx/n32g452xx-mini-system/board/Kconfig
  bsp/n32g452xx/n32g452xx-mini-system/board/board.c
  bsp/n32g452xx/n32g452xx-mini-system/board/msp/n32_msp.c
  bsp/n32g452xx/n32g452xx-mini-system/rtconfig.h
  bsp/n32g452xx/n32g452xx-mini-system/rtconfig.py
Labels: +1

#5353 [fix]修复AT组件在CLI模式下，指令输入过长导致数组越界的问题
  components/net/at/src/at_cli.c
Labels: +1

#5367 [stm32l475][arduino] 初步实现Arduino生态兼容
  bsp/stm32/stm32l475-atk-pandora/applications/SConscript
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_main.cpp
  bsp/stm32/stm32l475-atk-pandora/applications/nrf24l01_init.c
  bsp/stm32/stm32l475-atk-pandora/board/.ignore_format.yml
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/STM32L475VE.ioc
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/arduino_layout.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/arduino_layout.h
Labels: +1

#5371 [stm32][drv_common] add LOG_E for Error_Handler
  bsp/stm32/libraries/HAL_Drivers/drv_common.c
Labels: +1

#5368 add stack size to avoid stack overflow when boot
  bsp/ls1cdev/.config
  bsp/ls1cdev/rtconfig.h
Labels: bug, +1, +2, v4.1.0

#5359 完善了STM32H7系列SPI使用DMA的驱动
  bsp/stm32/libraries/HAL_Drivers/config/h7/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1

#5332 [components] PM框架更新
  bsp/stm32/stm32l475-atk-pandora/board/pm_cfg.h
  components/drivers/Kconfig
  components/drivers/include/drivers/lptimer.h
  components/drivers/include/drivers/pm.h
  components/drivers/pm/SConscript
  components/drivers/pm/lptimer.c
  components/drivers/pm/pm.c
Labels: +1, +2, v4.1.0

#5374 [bsp][stm32f411][docs]fix doc error
  bsp/stm32/stm32f411-st-nucleo/README_zh.md
Labels: +1

#5373 Add BSP-ART-PI download algorithm
  bsp/stm32/stm32h750-artpi-h750/project.uvoptx
  bsp/stm32/stm32h750-artpi-h750/project.uvprojx
  bsp/stm32/stm32h750-artpi-h750/template.uvoptx
Labels: +1

#5358 Add waitqueue.c function annotation
  components/drivers/src/waitqueue.c
Labels: +1

#5343 Add pipe.c function annotation
  components/drivers/src/pipe.c
Labels: +1, +2

#5388 [qemu][lvgl] update player demo configuration
  bsp/qemu-vexpress-a9/drivers/Kconfig
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_conf.h
Labels: +1

#5389 [qemu][lvgl] 优化lvgl显示驱动
  bsp/qemu-vexpress-a9/drivers/Kconfig
  bsp/qemu-vexpress-a9/drivers/audio/drv_ac97.c
  bsp/qemu-vexpress-a9/drivers/audio/drv_ac97.h
  bsp/qemu-vexpress-a9/drivers/audio/drv_pl041.c
  bsp/qemu-vexpress-a9/drivers/audio/drv_pl041.h
  bsp/qemu-vexpress-a9/drivers/audio/drv_sound.c
  bsp/qemu-vexpress-a9/drivers/audio/drv_sound.h
  bsp/qemu-vexpress-a9/drivers/board.c
  bsp/qemu-vexpress-a9/drivers/board.h
  bsp/qemu-vexpress-a9/drivers/drv_clcd.c
  bsp/qemu-vexpress-a9/drivers/drv_clcd.h
  bsp/qemu-vexpress-a9/drivers/drv_keyboard.c
  bsp/qemu-vexpress-a9/drivers/drv_keyboard.h
  bsp/qemu-vexpress-a9/drivers/drv_mouse.c
  bsp/qemu-vexpress-a9/drivers/drv_mouse.h
  bsp/qemu-vexpress-a9/drivers/drv_sdio.c
  bsp/qemu-vexpress-a9/drivers/drv_sdio.h
  bsp/qemu-vexpress-a9/drivers/drv_timer.c
  bsp/qemu-vexpress-a9/drivers/drv_timer.h
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_conf.h
  bsp/qemu-vexpress-a9/drivers/lvgl/lv_port_disp.c
  bsp/qemu-vexpress-a9/drivers/realview.h
  bsp/qemu-vexpress-a9/drivers/secondary_cpu.c
  bsp/qemu-vexpress-a9/drivers/serial.c
  bsp/qemu-vexpress-a9/drivers/serial.h
  bsp/qemu-vexpress-a9/drivers/vexpress_a9.h
Labels: +1

#5390 [update] stm32f469 lvgl demo
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/lv_port_disp.c
Labels: +1

#5395 [update] Correct some code comments
  src/ipc.c
Labels: +1

#5387 [update] remove RT_USING_TC
  bsp/microblaze/rtconfig.h
  examples/kernel/SConscript
  examples/kernel/cpuusage.c
  examples/kernel/event_simple.c
  examples/kernel/heap_malloc.c
  examples/kernel/heap_realloc.c
  examples/kernel/mbox_send_wait.c
  examples/kernel/mbox_simple.c
  examples/kernel/memp_simple.c
  examples/kernel/messageq_simple.c
  examples/kernel/mutex_priority.c
  examples/kernel/mutex_simple.c
  examples/kernel/semaphore_buffer_worker.c
  examples/kernel/semaphore_dynamic.c
  examples/kernel/semaphore_priority.c
  examples/kernel/semaphore_producer_consumer.c
  examples/kernel/semaphore_static.c
  examples/kernel/tc_comm.c
  examples/kernel/tc_comm.h
  examples/kernel/tc_sample.c
  examples/kernel/thread_delay.c
  examples/kernel/thread_delete.c
  examples/kernel/thread_detach.c
  examples/kernel/thread_dynamic.c
  examples/kernel/thread_dynamic_simple.c
  examples/kernel/thread_priority.c
  examples/kernel/thread_resume.c
  examples/kernel/thread_same_priority.c
  examples/kernel/thread_static.c
  examples/kernel/thread_static_simple.c
  examples/kernel/thread_suspend.c
  examples/kernel/thread_yield.c
  examples/kernel/timer_control.c
  examples/kernel/timer_dynamic.c
  examples/kernel/timer_static.c
  examples/kernel/timer_stop_self.c
  examples/kernel/timer_timeout.c
Labels: +1, +2, v4.1.0

#5336 [drivers/i2c] optimize i2c driver framework
  components/drivers/i2c/i2c_dev.c
  components/drivers/include/drivers/i2c.h
  components/drivers/include/drivers/i2c_dev.h
Labels: +1

#5391 [bsp/stm32/stm32l496-ali-developert] add pm supported
  bsp/stm32/stm32l496-ali-developer/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l496-ali-developer/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l496-ali-developer/board/CubeMX_Config/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l496-ali-developer/board/CubeMX_Config/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l496-ali-developer/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32l496-ali-developer/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l496-ali-developer/board/CubeMX_Config/Src/stm32l4xx_it.c
  bsp/stm32/stm32l496-ali-developer/board/board.c
  bsp/stm32/stm32l496-ali-developer/board/board.h
Labels: +1

#5401 [kservice] remove RT_USING_ASM_MEMCPY RT_USING_ASM_MEMSET
  components/net/lwip-1.4.1/src/lwipopts.h
  components/net/lwip-2.0.2/src/lwipopts.h
  components/net/lwip-2.0.3/src/lwipopts.h
  components/net/lwip-2.1.2/src/lwipopts.h
  src/Kconfig
  src/kservice.c
Labels: +1, v4.1.0

#5412 add clang-arm support.
  bsp/stm32/stm32l496-ali-developer/board/SConscript
  bsp/stm32/stm32l496-ali-developer/rtconfig.py
  components/drivers/spi/SConscript
  components/libc/compilers/common/nogcc/SConscript
  components/libc/compilers/gcc/newlib/SConscript
  libcpu/arm/cortex-m4/SConscript
  tools/building.py
Labels: +1

#5409 Improve armclang support.|完善 armclang 支持
  bsp/acm32f4xx-nucleo/rtconfig.py
  bsp/gd32e230k-start/rtconfig.py
  bsp/stm32/stm32l552-st-nucleo/rtconfig.py
  bsp/stm32/stm32u575-st-nucleo/rtconfig.py
Labels: +1

#5407 [Fix] armclang cpp11 memory leak and compilation warning
  components/cplusplus/cpp11/armclang/thread.cpp
  components/libc/compilers/common/nogcc/sys/errno.h
Labels: +1

#5404 [kservice] implement rt_strcpy()
  include/rtthread.h
  src/kservice.c
Labels: +1

#5413 按照 v4.0.5 计划同步内容
  bsp/gd32450z-eval/Libraries/CMSIS/GD/GD32F4xx/Source/ARM/startup_gd32f4xx.s
  bsp/gd32450z-eval/Libraries/CMSIS/GD/GD32F4xx/Source/GCC/startup_gd32f4xx.S
  bsp/gd32450z-eval/Libraries/CMSIS/GD/GD32F4xx/Source/IAR/startup_gd32f4xx.s
  bsp/stm32/libraries/HAL_Drivers/drv_flash/drv_flash_l4.c
  bsp/stm32/libraries/HAL_Drivers/drv_wdt.c
  components/net/at/src/at_cli.c
  components/net/lwip-1.4.1/src/arch/include/arch/cc.h
  components/net/lwip-1.4.1/src/arch/include/arch/sys_arch.h
  components/net/lwip-1.4.1/src/lwipopts.h
  components/net/lwip-2.0.2/src/arch/include/arch/cc.h
  components/net/lwip-2.0.2/src/arch/include/arch/sys_arch.h
  components/net/lwip-2.0.2/src/lwipopts.h
  components/net/lwip-2.0.3/src/arch/include/arch/cc.h
  components/net/lwip-2.0.3/src/arch/include/arch/sys_arch.h
  components/net/lwip-2.0.3/src/lwipopts.h
  components/net/lwip-2.1.2/src/arch/include/arch/cc.h
  components/net/lwip-2.1.2/src/arch/include/arch/sys_arch.h
  components/net/lwip-2.1.2/src/arch/sys_arch.c
  components/net/lwip-2.1.2/src/lwipopts.h
Labels: +1

#5422 [update] windows tools
  tools/buildbot.py
Labels: +1

#5427 [bsp][stm32l475] move arduino to application
  bsp/stm32/stm32l475-atk-pandora/applications/SConscript
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/SConscript
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/arduino_main.cpp
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/arduino_pinout.c
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/arduino_pinout.h
Labels: +1

#5421 [simulator] 支持utf-8格式
  bsp/simulator/template_vs2012.vcxproj
Labels: +1

#5440 [lvgl][simulator]&[l475][arduino] 细节修改
  bsp/simulator/applications/lvgl/lv_conf.h
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/SConscript
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/arduino_pinout.h
Labels: +1

#5439 [bsp][essemi]update es32f365x information.
  bsp/essemi/es32f365x/drivers/ES/es_conf_info_map.h
Labels: +1

#5435 Fix the problem of stm32f746-st-nucleo that env cannot be configured with menuconfig
  bsp/stm32/stm32f746-st-nucleo/board/Kconfig
Labels: +1, +2

#5419 [newlib] 处理newlib版本不一致导致的问题
  components/libc/compilers/common/nogcc/sys/select.h
  components/libc/compilers/gcc/newlib/SConscript
  components/libc/compilers/gcc/newlib/legacy/SConscript
  components/libc/compilers/gcc/newlib/legacy/_select/SConscript
  components/libc/compilers/gcc/newlib/legacy/_select/readme.md
  components/libc/compilers/gcc/newlib/legacy/_select/sys/select.h
  components/libc/compilers/gcc/partial/mips/SConscript
  components/libc/compilers/gcc/partial/mips/readme.md
  components/libc/compilers/gcc/partial/readme.md
Labels: +1, +2, v4.1.0, important

#5438 [bsp/stm32] stm32l433 starterkit first version
  .github/workflows/action.yml
  bsp/stm32/README.md
  bsp/stm32/stm32l433-ali-startkit/.config
  bsp/stm32/stm32l433-ali-startkit/.gitignore
  bsp/stm32/stm32l433-ali-startkit/Kconfig
  bsp/stm32/stm32l433-ali-startkit/README.md
  bsp/stm32/stm32l433-ali-startkit/SConscript
  bsp/stm32/stm32l433-ali-startkit/SConstruct
  bsp/stm32/stm32l433-ali-startkit/applications/SConscript
  bsp/stm32/stm32l433-ali-startkit/applications/main.c
  bsp/stm32/stm32l433-ali-startkit/board/.ignore_format.yml
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/Core/Inc/main.h
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/Core/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/Core/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/Core/Src/main.c
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/Core/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/Core/Src/stm32l4xx_it.c
  bsp/stm32/stm32l433-ali-startkit/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l433-ali-startkit/board/Kconfig
  bsp/stm32/stm32l433-ali-startkit/board/SConscript
  bsp/stm32/stm32l433-ali-startkit/board/board.c
  bsp/stm32/stm32l433-ali-startkit/board/board.h
  bsp/stm32/stm32l433-ali-startkit/board/linker_scripts/link.icf
  bsp/stm32/stm32l433-ali-startkit/board/linker_scripts/link.lds
  bsp/stm32/stm32l433-ali-startkit/board/linker_scripts/link.sct
  bsp/stm32/stm32l433-ali-startkit/figures/board.png
  bsp/stm32/stm32l433-ali-startkit/project.ewd
  bsp/stm32/stm32l433-ali-startkit/project.ewp
  bsp/stm32/stm32l433-ali-startkit/project.eww
  bsp/stm32/stm32l433-ali-startkit/project.uvoptx
  bsp/stm32/stm32l433-ali-startkit/project.uvprojx
  bsp/stm32/stm32l433-ali-startkit/rtconfig.h
  bsp/stm32/stm32l433-ali-startkit/rtconfig.py
  bsp/stm32/stm32l433-ali-startkit/template.ewp
  bsp/stm32/stm32l433-ali-startkit/template.eww
  bsp/stm32/stm32l433-ali-startkit/template.uvoptx
  bsp/stm32/stm32l433-ali-startkit/template.uvprojx
Labels: +1, +2, BSP: STM32

#5441 add change log for 4.0.5
  ChangeLog.md
Labels: +1, +2

#5429 [kernel] rt_thread_suspend增加断言
  src/thread.c
Labels: +1, +2

#5444 [CI]fix the install error of env tools
  .github/workflows/action.yml
Labels: +1

#5430 [kernel] 将rt_thread_timeout设置为私有函数
  include/rtthread.h
  src/thread.c
Labels: +1

#5446 [components][usb] fix compile warning in cdc_vcom.c
  components/drivers/usb/usbdevice/class/cdc_vcom.c
Labels: +1

#5432 [kernel] Add __attribute__(...) for rt_kprintf() to let the compiler check the format string parameters
  include/rtthread.h
Labels: +1

#5453 Revert "[kernel] Add __attribute__(...) for rt_kprintf() to let the compiler check the format string parameters"
  include/rtthread.h
Labels: +1, +2

#5458 [components][sdio] fix compile warning and optimized code.
  components/drivers/sdio/mmc.c
Labels: +1, +2

#5456 [posix] remove getline
  components/libc/posix/Kconfig
  components/libc/posix/getline/README.md
  components/libc/posix/getline/SConscript
  components/libc/posix/getline/UNLICENSE
  components/libc/posix/getline/posix_getline.c
  components/libc/posix/getline/posix_getline.h
Labels: +1, +2
