Repository RT-Thread/rt-thread, pull requests merged in 2021-11, with the labels that each got.

#5254 [bsp][stm32][bluepill] update readme
  bsp/stm32/stm32f103-blue-pill/README.md
Labels: BSP: STM32

#5251 [bsp/stm32/libraries/HAL_Drivers/drv_wdt.c]: add SOC_SERIES_STM32G0 to fix wdt always reset.
  bsp/stm32/libraries/HAL_Drivers/drv_wdt.c
Labels: +1, BSP: STM32

#5247 [bsp][simulator] update project
  bsp/simulator/.config
  bsp/simulator/applications/platform.c
  bsp/simulator/drivers/board.c
  bsp/simulator/rtconfig.h
  bsp/simulator/rtconfig.py
  components/libc/compilers/common/SConscript
  components/libc/posix/src/SConscript
  components/libc/posix/src/libc.c
Labels: +1, BSP

#5246 [update][bsp][at32][driver]Optimized the pin-index algorithm
  bsp/at32/Libraries/rt_drivers/drv_gpio.c
Labels: +1, BSP

#5253 update readme | 重新整理首页readme英文版本，为增加葡萄牙语翻译做准备
  README.md
  README.zh-CN.md
  documentation/figures/env.png
Labels: +1, important

#5256 [fix][libcpu][riscv][t-head] fix rt_hw_interrupt_disable/rt_hw_interupt_enable bug
  libcpu/risc-v/t-head/e9xx/context_gcc.S
  libcpu/risc-v/t-head/e9xx/cpuport.c
Labels: +1

#5260 [README update] 对README文档进行板卡引脚说明补充与依赖文件的精简
  bsp/maxim/MAX32660_EVSYS/README.md
  bsp/maxim/MAX32660_EVSYS/doc/images/pins.JPG
  bsp/maxim/libraries/HAL_Drivers/SConscript
Labels: +1, +2

#5264 fix sensor_cmd.c build error.
  components/drivers/sensors/sensor_cmd.c
Labels: +1

#5258 [bsp/bluetrum] add ble support
  bsp/bluetrum/ab32vg1-ab-prougen/applications/blehr_app.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/Kconfig
  bsp/bluetrum/ab32vg1-ab-prougen/board/board.c
  bsp/bluetrum/ab32vg1-ab-prougen/link.lds
  bsp/bluetrum/libraries/hal_drivers/drv_gpio.c
  bsp/bluetrum/libraries/hal_drivers/drv_rtc.c
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/SConscript
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/source/ab32vg1_hal_gpio.c
  bsp/bluetrum/libraries/hal_libraries/bmsis/source/startup.S
Labels: +1, BSP: Bluetrum

#5259 [posix] 优化posix若干
  bsp/qemu-vexpress-a9/.config
  bsp/qemu-vexpress-a9/rtconfig.h
  components/dfs/Kconfig
  components/dfs/include/dfs_fs.h
  components/dfs/src/dfs.c
  components/finsh/shell.c
  components/finsh/shell.h
  components/libc/Kconfig
  components/libc/compilers/armlibc/syscalls.c
  components/libc/compilers/dlib/syscall_read.c
  components/libc/compilers/dlib/syscall_write.c
  components/libc/compilers/gcc/newlib/syscalls.c
  components/libc/compilers/readme.md
  components/libc/posix/mmap/SConscript
  components/libc/posix/readme.md
  components/libc/posix/src/SConscript
  components/libc/posix/src/delay.c
  components/libc/posix/src/mmap.c
  components/libc/posix/src/poll.c
  components/libc/posix/src/select.c
  components/libc/posix/src/unistd.c
  components/lwp/Kconfig
  components/lwp/lwp_syscall.c
  components/net/Kconfig
  include/rtdebug.h
Labels: +1

#5063 [kernel]增加一种新的查找字节最低非0位的算法
  src/Kconfig
  src/kservice.c
Labels: +1, v4.0.5

#5266 [posix] implement delay functions as RT_USING_POSIX_DELAY
  bsp/k210/.config
  bsp/k210/rtconfig.h
  components/libc/Kconfig
  components/libc/posix/src/SConscript
Labels: +1, important

#5270 [update] add dma for lvgl.
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/.ignore_format.yml
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/SConscript
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/SConscript
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/lv_demo.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/README.md
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_list_pause.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_list_play.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_loop.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_next.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_pause.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_play.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_prev.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_btn_rnd.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_corner_left.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_corner_right.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_cover_1.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_cover_2.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_cover_3.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_1.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_2.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_3.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_icon_4.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_list_border.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_logo.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_slider_knob.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_wave_bottom.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/img_lv_demo_music_wave_top.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/spectrum_1.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/spectrum_2.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/assets/spectrum_3.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/lv_demo_music.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/lv_demo_music.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/lv_demo_music_list.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/lv_demo_music_list.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/lv_demo_music_main.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/lv_demo_music_main.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/demo/src/lv_demo_music/screenshot1.gif
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/lv_conf.h
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/lv_demo.c
  bsp/stm32/stm32f469-st-disco/board/ports/lvgl/lv_port_disp.c
Labels: +1

#5263 [fix][bsp/thead-smart/gcc_csky.ld]
  bsp/thead-smart/gcc_csky.ld
Labels: +1

#5271 完善驱动
  bsp/n32g452xx/Libraries/rt_drivers/drv_flash.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_pwm.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_pwm.h
  bsp/n32g452xx/Libraries/rt_drivers/drv_wdt.c
  bsp/n32g452xx/n32g452xx-mini-system/.config
  bsp/n32g452xx/n32g452xx-mini-system/board/Kconfig
  bsp/n32g452xx/n32g452xx-mini-system/board/msp/n32_msp.c
  bsp/n32g452xx/n32g452xx-mini-system/rtconfig.h
Labels: +1

#5276 [update] ci toolchain download using github link.
  .github/workflows/action.yml
  .github/workflows/action_utest.yml
Labels: +1

#5267 [libc] 修复在fcntl.h中两种不同的宏编码方式导致的bug
  components/libc/compilers/common/nogcc/fcntl.h
  components/libc/compilers/common/nogcc/unistd.h
  components/libc/compilers/gcc/newlib/fcntl.h
Labels: reviewed, +1, urgent, important

#5275 [bsp][stm32l475] update lvgl driver
  bsp/stm32/stm32l475-atk-pandora/board/ports/lvgl/lv_port_disp.c
Labels: +1

#5268 [libc]重新梳理read write桩函数实现
  components/libc/Kconfig
  components/libc/compilers/armlibc/mem_std.c
  components/libc/compilers/armlibc/syscalls.c
  components/libc/compilers/dlib/syscall_close.c
  components/libc/compilers/dlib/syscall_lseek.c
  components/libc/compilers/dlib/syscall_mem.c
  components/libc/compilers/dlib/syscall_open.c
  components/libc/compilers/dlib/syscall_read.c
  components/libc/compilers/dlib/syscall_remove.c
  components/libc/compilers/dlib/syscall_write.c
  components/libc/compilers/gcc/newlib/syscalls.c
Labels: reviewed, +1, urgent, important

#5281 [bsp][stm32] move drv_tinyusb.c to tfx2001/tinyusb
  bsp/stm32/libraries/HAL_Drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drv_tinyusb.c
Labels: +1, +2

#5282 ping cmd with specified netif in lwip-2.1.2
  components/net/lwip-2.1.2/src/arch/sys_arch.c
  components/net/lwip-2.1.2/src/lwipopts.h
  components/net/lwip-2.1.2/src/netif/ethernetif.c
  components/net/netdev/src/netdev.c
Labels: +1

#5272 STM32H7系列无需DMA_CHANNEL_X
  bsp/stm32/libraries/HAL_Drivers/config/h7/dma_config.h
  bsp/stm32/libraries/HAL_Drivers/config/h7/spi_config.h
Labels: +1

#5284 [mutex] use RT_IPC_FLAG_PRIO to replace RT_IPC_FLAG_FIFO
  bsp/at32/Libraries/rt_drivers/drv_sdio.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/board.c
  bsp/bluetrum/libraries/hal_drivers/drv_sdio.c
  bsp/ft2004/drivers/drv_sdctrl.c
  bsp/k210/driver/dmalock.c
  bsp/lpc54608-LPCXpresso/drivers/drv_sd.c
  bsp/lpc55sxx/Libraries/drivers/drv_sd.c
  bsp/simulator/drivers/sd_sim.c
  bsp/simulator/drivers/sdl_fb.c
  bsp/simulator/drivers/sst25vfxx_mtd_sim.c
  bsp/stm32/libraries/HAL_Drivers/drv_crypto.c
  bsp/stm32/libraries/HAL_Drivers/drv_sdio.c
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_sdio.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_sdio.c
  bsp/stm32/stm32mp157a-st-ev1/board/ports/drv_emmc.c
  bsp/stm32/stm32mp157a-st-ev1/board/ports/drv_nand.c
  bsp/swm320-lq100/drivers/drv_crypto.c
  bsp/swm320-lq100/drivers/drv_nor_flash.c
  bsp/swm320-lq100/drivers/drv_sdio.c
  bsp/swm320/drivers/drv_crypto.c
  bsp/swm320/drivers/drv_nor_flash.c
  bsp/swm320/drivers/drv_sdio.c
  bsp/w60x/drivers/drv_crypto.c
  bsp/x86/drivers/floppy.c
  bsp/zynqmp-r5-axu4ev/drivers/drv_sdcard.c
  components/cplusplus/cxx_Mutex.cpp
  components/dfs/filesystems/elmfat/dfs_elm.c
  components/dfs/src/dfs.c
  components/drivers/i2c/i2c_core.c
  components/drivers/rtc/alarm.c
  components/drivers/sdio/mmcsd_core.c
  components/drivers/sensors/sensor.c
  components/drivers/spi/enc28j60.c
  components/drivers/spi/spi_core.c
  components/drivers/spi/spi_flash_sfud.c
  components/drivers/src/pipe.c
  components/drivers/wlan/wlan_cfg.c
  components/drivers/wlan/wlan_dev.c
  components/drivers/wlan/wlan_mgnt.c
  components/libc/posix/pthreads/pthread_mutex.c
  components/net/at/at_socket/at_socket.c
  components/net/at/src/at_client.c
  components/net/lwip-1.4.1/src/arch/sys_arch.c
  components/net/lwip-2.0.2/src/arch/sys_arch.c
  components/net/lwip-2.0.3/src/arch/sys_arch.c
  components/net/lwip-2.1.2/src/arch/sys_arch.c
  components/net/sal_socket/src/sal_socket.c
  examples/utest/testcases/kernel/mutex_tc.c
Labels: +1

#5291 update readme
  README.md
  README_zh.md
Labels: +1

#5292 [master] modify version to v4.1.0
  include/rtdef.h
  src/Kconfig
Labels: +1

#5289 [stm32l475] update lvgl driver
  bsp/stm32/stm32f469-st-disco/.config
  bsp/stm32/stm32f469-st-disco/project.ewp
  bsp/stm32/stm32f469-st-disco/project.uvprojx
  bsp/stm32/stm32f469-st-disco/rtconfig.h
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/drv_lcd.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/drv_lcd.h
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/lcd_qrcode.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/lcd_qrcode.h
Labels: +1

#5293 [fix] fix bugs about startup_gd32f4xx
  bsp/gd32450z-eval/Libraries/CMSIS/GD/GD32F4xx/Source/ARM/startup_gd32f4xx.s
  bsp/gd32450z-eval/Libraries/CMSIS/GD/GD32F4xx/Source/GCC/startup_gd32f4xx.S
  bsp/gd32450z-eval/Libraries/CMSIS/GD/GD32F4xx/Source/IAR/startup_gd32f4xx.s
Labels: +2

#5296 [drv_flash_l4.c]修复stm32l4系列flash在下载完程序后首次擦除会失败的问题
  bsp/stm32/libraries/HAL_Drivers/drv_flash/drv_flash_l4.c
Labels: +1

#5277 implement legacy support
  components/Kconfig
  components/dfs/SConscript
  components/legacy/README.md
  components/legacy/SConscript
  components/legacy/dfs/dfs_poll.h
  components/legacy/dfs/dfs_select.h
  components/legacy/ipc/workqueue_legacy.c
  components/legacy/ipc/workqueue_legacy.h
  components/legacy/rtlegacy.h
  include/rtthread.h
Labels: +1, important

#5261 [kernel] prepare to support full functional sprintf-family functions
  components/drivers/spi/sfud/inc/sfud_cfg.h
  include/rtdef.h
  include/rtthread.h
  src/Kconfig
  src/kservice.c
Labels: +1, important

#5297 [bsp/nrf5x] add hwtimer driver
  bsp/nrf5x/docs/images/nrf52832.png
  bsp/nrf5x/libraries/drivers/SConscript
  bsp/nrf5x/libraries/drivers/drv_hwtimer.c
  bsp/nrf5x/nrf52832/README.md
  bsp/nrf5x/nrf52832/board/Kconfig
Labels: +1

#5279 [Nuvoton] Update drivers.
  bsp/nuvoton/libraries/m031/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/m2354/USBHostLib/src/ohci.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/m480/USBHostLib/src/ehci.c
  bsp/nuvoton/libraries/m480/USBHostLib/src/ohci.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/n9h30/Driver/Include/nu_sdh.h
  bsp/nuvoton/libraries/n9h30/Driver/Source/nu_sdh.c
  bsp/nuvoton/libraries/n9h30/UsbHostLib/src/ehci.c
  bsp/nuvoton/libraries/n9h30/UsbHostLib/src/support.c
  bsp/nuvoton/libraries/n9h30/UsbHostLib/src/usb_core.c
  bsp/nuvoton/libraries/n9h30/rtt_port/Kconfig
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_ge2d.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_i2s.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_sdh.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_sys.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/nu_packages/AudioCodec/acodec_nau8822.c
  bsp/nuvoton/libraries/nu_packages/BMX055/sensor_bmx055.c
  bsp/nuvoton/libraries/nu_packages/Kconfig
  bsp/nuvoton/libraries/nu_packages/MAX31875/sensor_max31875.c
  bsp/nuvoton/libraries/nu_packages/SPINAND/drv_spinand.c
  bsp/nuvoton/libraries/nu_packages/SPINAND/spinand.c
  bsp/nuvoton/libraries/nu_packages/SPINAND/spinand.h
  bsp/nuvoton/libraries/nuc980/Driver/Include/nu_emac.h
  bsp/nuvoton/libraries/nuc980/Driver/Source/nu_emac.c
  bsp/nuvoton/libraries/nuc980/Driver/Source/nu_pdma.c
  bsp/nuvoton/libraries/nuc980/UsbHostLib/inc/config.h
  bsp/nuvoton/libraries/nuc980/UsbHostLib/src/ehci.c
  bsp/nuvoton/libraries/nuc980/UsbHostLib/src/support.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_emac.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_i2s.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_sys.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_usbhost.c
  bsp/nuvoton/nk-980iot/.config
  bsp/nuvoton/nk-980iot/board/nu_pin_init.c
  bsp/nuvoton/nk-n9h30/.config
  bsp/nuvoton/nk-n9h30/board/Kconfig
  bsp/nuvoton/nk-rtu980/.config
  components/net/at/at_socket/at_socket.c
Labels: +1

#5303 Update Timer cmd
  components/finsh/cmd.c
  src/timer.c
Labels: +2

#5306 [bsp/nrf5x] add hwtimer config & tinyusb config
  bsp/nrf5x/nrf52840/board/Kconfig
Labels: +1

#5299 modify time.h to sys/time.h
  bsp/bluetrum/libraries/hal_drivers/drv_rtc.c
  bsp/ck802/libraries/include/drv_rtc.h
  bsp/ft2004/libraries/bsp/ft_i2c/ft_i2c_selftest.c
  bsp/imxrt/libraries/drivers/drv_rtc.c
  bsp/lpc5410x/Libraries/lpc_chip/chip_common/rtc_ut.h
  bsp/raspberry-pi/raspi3-64/driver/drv_rtc.h
  bsp/swm320-lq100/applications/main.c
  bsp/swm320/applications/main.c
  components/drivers/include/drivers/alarm.h
  components/drivers/rtc/rtc.c
  examples/kernel/event_simple.c
Labels: +1

#5308 [bsp/stm32/stm32l496] add I2C config
  bsp/stm32/stm32l496-st-nucleo/board/Kconfig
Labels: +1

#5302 [PSE分支] 新增 RT_USING_POSIX_DEVIO
  bsp/avr32uc3b0/startup.c
  bsp/bf533/startup.c
  bsp/efm32/startup.c
  bsp/frdm-k64f/applications/startup.c
  bsp/juicevm/rtconfig.h
  bsp/lm3s8962/applications/startup.c
  bsp/lm3s9b9x/applications/startup.c
  bsp/lm4f232/applications/startup.c
  bsp/lpc43xx/M0/applications/application.c
  bsp/lpc43xx/M4/applications/application.c
  bsp/m16c62p/applications/startup.c
  bsp/mb9bf568r/applications/application.c
  bsp/mb9bf618s/applications/application.c
  bsp/microblaze/startup.c
  bsp/mini4020/applications/startup.c
  bsp/nios_ii/startup.c
  bsp/nv32f100x/app/src/main.c
  bsp/pic32ethernet/startup.c
  bsp/rm48x50/application/startup.c
  bsp/rx/applications/application.c
  bsp/sam7x/applications/startup.c
  bsp/samd21/applications/application.c
  bsp/sep6200/application/startup.c
  bsp/taihu/applications/startup.c
  bsp/upd70f3454/applications/startup.c
  bsp/xplorer4330/applications/application.c
  components/dfs/filesystems/devfs/devfs.c
  components/dfs/src/dfs.c
  components/drivers/serial/serial.c
  components/drivers/serial/serial_v2.c
  components/drivers/src/pipe.c
  components/finsh/finsh.h
  components/finsh/shell.c
  components/finsh/shell.h
  components/legacy/dfs/dfs_select.h
  components/libc/Kconfig
  components/libc/compilers/armlibc/syscalls.c
  components/libc/compilers/common/sys/ioctl.h
  components/libc/compilers/dlib/syscall_read.c
  components/libc/compilers/dlib/syscall_write.c
  components/libc/compilers/gcc/newlib/syscalls.c
  components/libc/posix/aio/SConscript
  components/libc/posix/src/SConscript
  components/libc/posix/src/libc.c
  components/libc/posix/src/libc.h
  components/libc/posix/termios/SConscript
  components/utilities/rt-link/src/rtlink_dev.c
  examples/libc/termios_test.c
  examples/rt-link/rtlink_dev_example.c
  include/rtdef.h
  src/device.c
Labels: +1, important

#5309 [bsp/nrf5x] fix i2c driver bug
  bsp/nrf5x/libraries/drivers/drv_i2c.c
Labels: +1

#5311 [PSE分支] 增加RT_USING_POSIX_FS
  components/drivers/serial/serial.c
  components/libc/Kconfig
  components/libc/compilers/common/sys/time.h
  components/libc/compilers/common/time.c
  components/libc/posix/getline/SConscript
  components/libc/posix/getline/posix_getline.c
  components/libc/posix/src/SConscript
  components/lwp/Kconfig
  components/net/Kconfig
Labels: +1, important
