Repository RT-Thread/rt-thread, pull requests merged in 2021-08, with the labels that each got.

#4909 [stm32-stm32f407-atk-explorer] 优化文件系统选项Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
Labels: BSP: STM32

#4915 修复raspi网络驱动
  .github/workflows/action.yml
  bsp/raspberry-pi/raspi4-32/.config
  bsp/raspberry-pi/raspi4-32/Kconfig
  bsp/raspberry-pi/raspi4-32/driver/drv_eth.c
  bsp/raspberry-pi/raspi4-32/link.lds
  bsp/raspberry-pi/raspi4-32/rtconfig.h
  bsp/raspberry-pi/raspi4-32/rtconfig.py
Labels: +1

#4901 [stm32][eth] beautify codes
  bsp/stm32/libraries/HAL_Drivers/drv_eth.c
  bsp/stm32/libraries/HAL_Drivers/drv_eth.h
  components/net/lwip-1.4.1/src/lwipopts.h
  components/net/lwip-1.4.1/src/netif/ethernetif.c
  components/net/lwip-2.0.2/src/lwipopts.h
  components/net/lwip-2.0.2/src/netif/ethernetif.c
  components/net/lwip-2.0.3/src/lwipopts.h
  components/net/lwip-2.0.3/src/netif/ethernetif.c
  components/net/lwip-2.1.2/src/lwipopts.h
  components/net/lwip-2.1.2/src/netif/ethernetif.c
  src/Kconfig
  src/kservice.c
Labels: +1, BSP: STM32

#4760 [kernel] 规范内核内部函数命名
  src/idle.c
  src/ipc.c
  src/scheduler.c
Labels: +1

#4919 【修改】STM32F4探索者，移植 littlefs 文件系统
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_filesystem.c
  bsp/stm32/stm32f407-atk-explorer/board/ports/fal_cfg.h
  bsp/stm32/stm32f407-atk-explorer/board/ports/spi_flash_init.c
Labels: +1, BSP: STM32

#4920 [stm32][stm32f407-explorer][Kconfig] implement ESP8266 configuration in extended module driver menu
  bsp/stm32/stm32f407-atk-explorer/README.md
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
Labels: BSP: STM32

#4911 [workqueue] remove rt_delayed_work_init()
  components/drivers/include/ipc/workqueue.h
  components/drivers/src/workqueue.c
  components/net/sal_socket/src/sal_socket.c
Labels: +1

#4934 [bsp/stm32] add the bsp of sensor_tile_box
  .github/workflows/action.yml
  bsp/stm32/libraries/STM32L4xx_HAL/CMSIS/Device/ST/STM32L4xx/Source/Templates/arm/startup_stm32l4r9xx.s
  bsp/stm32/stm32l4r9-st-sensortile-box/.config
  bsp/stm32/stm32l4r9-st-sensortile-box/.gitignore
  bsp/stm32/stm32l4r9-st-sensortile-box/Kconfig
  bsp/stm32/stm32l4r9-st-sensortile-box/README.md
  bsp/stm32/stm32l4r9-st-sensortile-box/SConscript
  bsp/stm32/stm32l4r9-st-sensortile-box/SConstruct
  bsp/stm32/stm32l4r9-st-sensortile-box/applications/SConscript
  bsp/stm32/stm32l4r9-st-sensortile-box/applications/main.c
  bsp/stm32/stm32l4r9-st-sensortile-box/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l4r9-st-sensortile-box/board/CubeMX_Config/Core/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l4r9-st-sensortile-box/board/CubeMX_Config/Core/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l4r9-st-sensortile-box/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l4r9-st-sensortile-box/board/Kconfig
  bsp/stm32/stm32l4r9-st-sensortile-box/board/SConscript
  bsp/stm32/stm32l4r9-st-sensortile-box/board/board.c
  bsp/stm32/stm32l4r9-st-sensortile-box/board/board.h
  bsp/stm32/stm32l4r9-st-sensortile-box/board/linker_scripts/link.icf
  bsp/stm32/stm32l4r9-st-sensortile-box/board/linker_scripts/link.lds
  bsp/stm32/stm32l4r9-st-sensortile-box/board/linker_scripts/link.sct
  bsp/stm32/stm32l4r9-st-sensortile-box/figures/board.png
  bsp/stm32/stm32l4r9-st-sensortile-box/project.ewd
  bsp/stm32/stm32l4r9-st-sensortile-box/project.ewp
  bsp/stm32/stm32l4r9-st-sensortile-box/project.eww
  bsp/stm32/stm32l4r9-st-sensortile-box/project.uvoptx
  bsp/stm32/stm32l4r9-st-sensortile-box/project.uvprojx
  bsp/stm32/stm32l4r9-st-sensortile-box/rtconfig.h
  bsp/stm32/stm32l4r9-st-sensortile-box/rtconfig.py
  bsp/stm32/stm32l4r9-st-sensortile-box/template.ewd
  bsp/stm32/stm32l4r9-st-sensortile-box/template.ewp
  bsp/stm32/stm32l4r9-st-sensortile-box/template.eww
  bsp/stm32/stm32l4r9-st-sensortile-box/template.uvoptx
  bsp/stm32/stm32l4r9-st-sensortile-box/template.uvprojx
Labels: +1, BSP: STM32

#4936 [newlib] fix compile error when closing RT_USING_CONSOLE
  components/libc/compilers/newlib/syscalls.c
Labels: +1

#4939 [add] add semaphore testcase src code and Kconfig
  .github/workflows/action_utest.yml
  examples/utest/configs/kernel/ipc.conf
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/semaphore_tc.c
Labels: +1

#4910 add stm32f746-st-nucleo
  bsp/stm32/libraries/HAL_Drivers/drv_eth.h
  bsp/stm32/stm32f746-st-nucleo/.config
  bsp/stm32/stm32f746-st-nucleo/Kconfig
  bsp/stm32/stm32f746-st-nucleo/README.md
  bsp/stm32/stm32f746-st-nucleo/README_zh.md
  bsp/stm32/stm32f746-st-nucleo/SConscript
  bsp/stm32/stm32f746-st-nucleo/SConstruct
  bsp/stm32/stm32f746-st-nucleo/applications/SConscript
  bsp/stm32/stm32f746-st-nucleo/applications/main.c
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/Inc/stm32f7xx_hal_conf.h
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/Inc/stm32f7xx_it.h
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/Src/stm32f7xx_hal_msp.c
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/Src/stm32f7xx_it.c
  bsp/stm32/stm32f746-st-nucleo/board/CubeMX_Config/Src/system_stm32f7xx.c
  bsp/stm32/stm32f746-st-nucleo/board/Kconfig
  bsp/stm32/stm32f746-st-nucleo/board/SConscript
  bsp/stm32/stm32f746-st-nucleo/board/board.c
  bsp/stm32/stm32f746-st-nucleo/board/board.h
  bsp/stm32/stm32f746-st-nucleo/board/linker_scripts/link.icf
  bsp/stm32/stm32f746-st-nucleo/board/linker_scripts/link.lds
  bsp/stm32/stm32f746-st-nucleo/board/linker_scripts/link.sct
  bsp/stm32/stm32f746-st-nucleo/board/ports/phy_reset.c
  bsp/stm32/stm32f746-st-nucleo/figures/en.high-perf_nucleo-144_mbed.jpg
  bsp/stm32/stm32f746-st-nucleo/project.ewd
  bsp/stm32/stm32f746-st-nucleo/project.ewp
  bsp/stm32/stm32f746-st-nucleo/project.eww
  bsp/stm32/stm32f746-st-nucleo/project.uvoptx
  bsp/stm32/stm32f746-st-nucleo/project.uvprojx
  bsp/stm32/stm32f746-st-nucleo/rtconfig.h
  bsp/stm32/stm32f746-st-nucleo/rtconfig.py
  bsp/stm32/stm32f746-st-nucleo/rtconfig_preinc.h
  bsp/stm32/stm32f746-st-nucleo/template.ewp
  bsp/stm32/stm32f746-st-nucleo/template.eww
  bsp/stm32/stm32f746-st-nucleo/template.uvoptx
  bsp/stm32/stm32f746-st-nucleo/template.uvprojx
Labels: +1, BSP: STM32

#4949 [kernel][device] fix the compiled warning of PR #4941
  components/finsh/cmd.c
Labels: +1

#4950 [stm32f407-explorer] remove FAL_USING_AUTO_INIT
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_filesystem.c
Labels: +1

#4905 [ringbuffer] rt_ringbuffer_data_len采用局部变量承接，防止出现资源竞争
  components/drivers/src/ringbuffer.c
Labels: +1, +2

#4942 [add] add commets for ringbuffer and workqueue.
  components/drivers/include/ipc/ringbuffer.h
  components/drivers/include/ipc/workqueue.h
  components/drivers/src/ringbuffer.c
  components/drivers/src/workqueue.c
Labels: in progress

#4944 【add】event testcase
  examples/utest/configs/kernel/ipc.conf
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/event_tc.c
Labels: +1

#4952 [add] utest add fail_list 用于收集错误
  components/utilities/utest/utest.c
Labels: +1

#4951 [utest][kernel_irq] add the utest of irq
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/irq_tc.c
Labels: +1

#4954 修改nrf5x的README.md
  bsp/nrf5x/README.md
  bsp/nrf5x/docs/images/screen2021-08-19_100407.jpg
Labels: +1

#4943 【doc】add the comments of device-ipc completion
  components/drivers/src/completion.c
Labels: reviewed, +1

#4967 [add] [testcase] add timer testcase src code and Kconfig
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/timer_tc.c
Labels: +1

#4974 添加更多的测试用例到 Autotest CI
  .github/workflows/action_utest.yml
  components/utilities/utest/utest.c
  examples/utest/configs/kernel/irq.conf
  examples/utest/configs/kernel/timer.conf
  examples/utest/testcases/kernel/timer_tc.c
Labels: +1

#4968 update bsp k210
  bsp/k210/README.md
  bsp/k210/link.lds
  bsp/k210/rtconfig.py
Labels: +1

#4937 修改扇区计算错误的bug
  bsp/stm32/libraries/HAL_Drivers/drv_flash/drv_flash_f7.c
Labels: +1

#4970 Remove C Style Command Shell
  bsp/lm3s8962/applications/startup.c
  bsp/lm3s9b9x/applications/startup.c
  bsp/lm4f232/applications/startup.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_common.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_common.c
  bsp/stm32/libraries/HAL_Drivers/drv_common.c
  bsp/w60x/drivers/board.c
  components/drivers/misc/adc.c
  components/drivers/misc/dac.c
  components/drivers/misc/rt_drv_pwm.c
  components/drivers/mtd/mtd_nand.c
  components/drivers/rtc/rtc.c
  components/drivers/sensors/sensor_cmd.c
  components/drivers/spi/spi_flash_sfud.c
  components/drivers/wlan/wlan_cmd.c
  components/finsh/Kconfig
  components/finsh/SConscript
  components/finsh/cmd.c
  components/finsh/finsh.h
  components/finsh/finsh_api.h
  components/finsh/finsh_compiler.c
  components/finsh/finsh_error.c
  components/finsh/finsh_error.h
  components/finsh/finsh_heap.c
  components/finsh/finsh_heap.h
  components/finsh/finsh_init.c
  components/finsh/finsh_node.c
  components/finsh/finsh_node.h
  components/finsh/finsh_ops.c
  components/finsh/finsh_ops.h
  components/finsh/finsh_parser.c
  components/finsh/finsh_parser.h
  components/finsh/finsh_token.c
  components/finsh/finsh_token.h
  components/finsh/finsh_var.c
  components/finsh/finsh_var.h
  components/finsh/finsh_vm.c
  components/finsh/finsh_vm.h
  components/finsh/msh.c
  components/finsh/msh.h
  components/finsh/msh_file.c
  components/finsh/shell.c
  components/finsh/shell.h
  components/finsh/symbol.c
  components/libc/compilers/armlibc/syscalls.c
  components/net/at/Kconfig
  components/net/lwip-2.0.2/src/apps/tftp/tftp_port.c
  components/net/lwip-2.0.3/src/apps/tftp/tftp_port.c
  components/net/lwip-2.1.2/src/apps/tftp/tftp_port.c
  components/utilities/ulog/ulog.c
  examples/file/listdir.c
  examples/file/readspeed.c
  examples/file/readwrite.c
  examples/file/writespeed.c
  examples/kernel/tc_comm.c
  examples/libc/termios_test.c
  examples/test/hwtimer_test.c
  include/rtdef.h
  include/rtthread.h
Labels: reviewed, +1, +2

#4977 fix:Support for GCC compile startup
  bsp/stm32/libraries/STM32WBxx_HAL/CMSIS/Device/ST/STM32WBxx/Source/Templates/gcc/startup_stm32wb30xx_cm4.s
  bsp/stm32/libraries/STM32WBxx_HAL/CMSIS/Device/ST/STM32WBxx/Source/Templates/gcc/startup_stm32wb35xx_cm4.s
  bsp/stm32/libraries/STM32WBxx_HAL/CMSIS/Device/ST/STM32WBxx/Source/Templates/gcc/startup_stm32wb50xx_cm4.s
  bsp/stm32/libraries/STM32WBxx_HAL/CMSIS/Device/ST/STM32WBxx/Source/Templates/gcc/startup_stm32wb55xx_cm4.s
  bsp/stm32/libraries/STM32WBxx_HAL/CMSIS/Device/ST/STM32WBxx/Source/Templates/gcc/startup_stm32wb5mxx_cm4.s
Labels: +1, +2, BSP: STM32

#4918 add bsp/stm32/stm32h743-armfly-V7
  bsp/stm32/stm32h743-armfly-V7/.config
  bsp/stm32/stm32h743-armfly-V7/.gitignore
  bsp/stm32/stm32h743-armfly-V7/EventRecorderStub.scvd
  bsp/stm32/stm32h743-armfly-V7/Kconfig
  bsp/stm32/stm32h743-armfly-V7/README.md
  bsp/stm32/stm32h743-armfly-V7/SConscript
  bsp/stm32/stm32h743-armfly-V7/SConstruct
  bsp/stm32/stm32h743-armfly-V7/applications/SConscript
  bsp/stm32/stm32h743-armfly-V7/applications/main.c
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/Inc/stm32h7xx_hal_conf.h
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/Inc/stm32h7xx_it.h
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/Src/stm32h7xx_hal_msp.c
  bsp/stm32/stm32h743-armfly-V7/board/CubeMX_Config/Src/stm32h7xx_it.c
  bsp/stm32/stm32h743-armfly-V7/board/Kconfig
  bsp/stm32/stm32h743-armfly-V7/board/SConscript
  bsp/stm32/stm32h743-armfly-V7/board/board.c
  bsp/stm32/stm32h743-armfly-V7/board/board.h
  bsp/stm32/stm32h743-armfly-V7/board/linker_scripts/link.icf
  bsp/stm32/stm32h743-armfly-V7/board/linker_scripts/link.lds
  bsp/stm32/stm32h743-armfly-V7/board/linker_scripts/link.sct
  bsp/stm32/stm32h743-armfly-V7/figures/board.jpg
  bsp/stm32/stm32h743-armfly-V7/project.ewp
  bsp/stm32/stm32h743-armfly-V7/project.eww
  bsp/stm32/stm32h743-armfly-V7/project.uvoptx
  bsp/stm32/stm32h743-armfly-V7/project.uvprojx
  bsp/stm32/stm32h743-armfly-V7/rtconfig.h
  bsp/stm32/stm32h743-armfly-V7/rtconfig.py
  bsp/stm32/stm32h743-armfly-V7/template.ewp
  bsp/stm32/stm32h743-armfly-V7/template.eww
  bsp/stm32/stm32h743-armfly-V7/template.uvoptx
  bsp/stm32/stm32h743-armfly-V7/template.uvprojx
Labels: +1, BSP: STM32

#4978 【增加】cubemx 生成代码时的注意事项
  bsp/stm32/docs/STM32系列BSP制作教程.md
  bsp/stm32/docs/STM32系列外设驱动添加指南.md
  bsp/stm32/docs/figures/generate-code.png
Labels: +1, +2, BSP: STM32

#4983 [src/timer_irq] add the fixed comment
  src/irq.c
  src/timer.c
Labels: +1

#4897 Update sockets.c
  components/net/lwip-2.1.2/src/api/sockets.c
Labels: +1, +2, v4.0.4
