Repository RT-Thread/rt-thread, pull requests merged in 2021-09, with the labels that each got.

#4980 [bsp][stm32][f407-explorer] 优化board kconfig配置
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
Labels: +1, BSP: STM32, v4.0.4

#4991 [rtlibc] remove libc_dirent.h
  components/dfs/include/dfs.h
  components/dfs/include/dfs_posix.h
  components/libc/compilers/common/dirent.h
  include/libc/libc_dirent.h
  include/rtlibc.h
Labels: +1, v4.0.4

#4976 [finsh] finsh组件可以选择是否包含内置命令
  bsp/allwinner_tina/libcpu/trap.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/board.c
  bsp/dm365/platform/trap.c
  bsp/imx6sx/cortex-a9/cpu/trap.c
  bsp/qemu-vexpress-gemini/cpu/trap.c
  bsp/raspberry-pi/raspi2/cpu/trap.c
  bsp/raspberry-pi/raspi3-32/cpu/trap.c
  components/finsh/Kconfig
  components/finsh/SConscript
  components/finsh/msh.c
  libcpu/aarch64/cortex-a53/trap.c
  libcpu/aarch64/cortex-a72/trap.c
  libcpu/arm/am335x/trap.c
  libcpu/arm/arm926/trap.c
  libcpu/arm/cortex-a/trap.c
  libcpu/arm/cortex-m0/cpuport.c
  libcpu/arm/cortex-m23/cpuport.c
  libcpu/arm/cortex-m3/cpuport.c
  libcpu/arm/cortex-m33/cpuport.c
  libcpu/arm/cortex-m4/cpuport.c
  libcpu/arm/cortex-m7/cpuport.c
  libcpu/arm/cortex-r4/trap.c
  libcpu/arm/realview-a8-vmm/trap.c
  libcpu/arm/s3c24x0/trap.c
  libcpu/arm/zynqmp-r5/trap.c
  libcpu/risc-v/k210/interrupt.c
  libcpu/risc-v/virt64/interrupt.c
  libcpu/rx/cpuport.c
  src/memheap.c
Labels: v4.0.4

#4984 PR template 增加格式化代码工具使用提示
  .github/PULL_REQUEST_TEMPLATE.md
Labels: +1

#5005 [bsp/nrf52840]fix the board uart config
  bsp/nrf5x/nrf52840/board/Kconfig
Labels: +1

#4994 [add] 添加 message queue 测试用例
  examples/utest/configs/kernel/ipc.conf
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/messagequeue_tc.c
Labels: reviewed, +1

#4998 修复 ringblk_buf 在不使用动态内存时报错的问题以及 AT 组件优化
  components/drivers/include/ipc/ringblk_buf.h
  components/drivers/src/ringblk_buf.c
  components/net/at/src/at_client.c
Labels: +1

#4999 [utestcase] add signal testcases.
  examples/utest/configs/kernel/ipc.conf
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/signal_tc.c
Labels: +1

#5011 [stm32][doc] 将英文文档的图片移入figure_en文件夹
  bsp/stm32/docs/STM32_Nucleo-144_BSP_Introduction.md
  bsp/stm32/docs/STM32_Nucleo-64_BSP_Introduction.md
  bsp/stm32/docs/figures_en/nucleo144_layout.jpg
  bsp/stm32/docs/figures_en/nucleo64_layout.jpg
  bsp/stm32/docs/figures_en/stm32-nucleo-144.png
  bsp/stm32/docs/figures_en/stm32-nucleo-64.jpg
Labels: +2

#4990 【更新】编码规范
  documentation/coding_style_cn.md
Labels: +1, v4.0.4

#5012 [add] a comment for the signal
  src/signal.c
Labels: +1

#5014 [finsh] 修复由于移除finsh导致__cmd_xxx命令无法使用的问题
  bsp/at91sam9260/platform/interrupt.c
  bsp/at91sam9260/platform/reset.c
  bsp/at91sam9g45/platform/interrupt.c
  bsp/at91sam9g45/platform/reset.c
  bsp/beaglebone/applications/board.c
  bsp/dm365/drivers/davinci_emac.c
  bsp/dm365/platform/interrupt.c
  bsp/dm365/platform/reset.c
  bsp/fm33lc026/libraries/HAL_Drivers/drv_common.c
  bsp/hk32/hk32f030c8-mini/board/board.c
  bsp/mb9bf506r/drivers/nand.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_sys.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_sys.c
  bsp/nv32f100x/board/src/board.c
  bsp/qemu-vexpress-a9/drivers/audio/drv_ac97.c
  bsp/qemu-vexpress-a9/drivers/audio/drv_pl041.c
  bsp/simulator/drivers/board.c
  bsp/w60x/drivers/drv_standby.c
  components/drivers/can/can.c
  components/drivers/rtc/alarm.c
  components/drivers/wlan/wlan_cmd.c
  components/net/lwip-1.4.1/src/apps/ping/ping.c
  components/net/lwip-2.0.2/src/apps/ping/ping.c
  components/net/lwip-2.0.3/src/apps/ping/ping.c
  components/net/lwip-2.1.2/src/apps/ping/ping.c
  components/net/netdev/src/netdev.c
  components/vbus/vbus.c
  examples/file/readspeed.c
  examples/file/readwrite.c
  examples/file/writespeed.c
Labels: +1

#5010 [bsp/nrf5x] add the bsp of nrf52833
  bsp/nrf5x/docs/images/nrf52833.jpg
  bsp/nrf5x/nrf52833/.config
  bsp/nrf5x/nrf52833/Kconfig
  bsp/nrf5x/nrf52833/README.md
  bsp/nrf5x/nrf52833/SConscript
  bsp/nrf5x/nrf52833/SConstruct
  bsp/nrf5x/nrf52833/applications/SConscript
  bsp/nrf5x/nrf52833/applications/application.c
  bsp/nrf5x/nrf52833/board/Kconfig
  bsp/nrf5x/nrf52833/board/SConscript
  bsp/nrf5x/nrf52833/board/board.c
  bsp/nrf5x/nrf52833/board/board.h
  bsp/nrf5x/nrf52833/board/linker_scripts/link.lds
  bsp/nrf5x/nrf52833/board/linker_scripts/link.sct
  bsp/nrf5x/nrf52833/board/nrfx_config.h
  bsp/nrf5x/nrf52833/board/nrfx_glue.h
  bsp/nrf5x/nrf52833/board/nrfx_log.h
  bsp/nrf5x/nrf52833/board/sdk_config.h
  bsp/nrf5x/nrf52833/project.uvoptx
  bsp/nrf5x/nrf52833/project.uvprojx
  bsp/nrf5x/nrf52833/rtconfig.h
  bsp/nrf5x/nrf52833/rtconfig.py
  bsp/nrf5x/nrf52833/template.uvoptx
  bsp/nrf5x/nrf52833/template.uvprojx
Labels: +1, +2

#5017 [finsh] 恢复FINSH_USING_MSH定义以保持兼容性
  components/finsh/Kconfig
Labels: +1

#5018 [.gitignore] 增加dist_ide_project目录（studio dist出来的独立工程目录）
  .gitignore
Labels: +1

#5016 [msh] add comments
  components/finsh/finsh.h
Labels: +1

#5020 [add] utest kernel mutex_tc.c file
  examples/utest/configs/kernel/ipc.conf
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/mutex_tc.c
Labels: +1

#5032 [UPDATE] mailbox testcase.
  examples/utest/configs/kernel/ipc.conf
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/mailbox_tc.c
Labels: +1

#5034 fix Macro definition syntax error in ulog.c
  components/utilities/ulog/ulog.c
Labels: +1

#5019 serial: add CTS/RTS flowcontrol.
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
  components/drivers/include/drivers/serial.h
Labels: +1

#5036 [serial] 优化RT_USING_POSIX_TERMIOS预编译
  components/drivers/serial/serial.c
Labels: +1

#5038 [update] src/thread.c function description.
  src/thread.c
Labels: +1

#5057 [libc] fix the conflict warning of read and write functions
  bsp/x86/drivers/floppy.c
  components/dfs/src/dfs_posix.c
Labels: +1

#5040 [kernel]Normalized kernel API annotation
  src/device.c
  src/idle.c
  src/mem.c
  src/memheap.c
  src/mempool.c
  src/object.c
  src/scheduler.c
  src/slab.c
Labels: +1, +2

#5047 [kservice] 完善 API 注释
  src/kservice.c
Labels: +1

#5054 修复RTC问题，增加GCC工具链
  bsp/swm320/.config
  bsp/swm320/README.md
  bsp/swm320/applications/main.c
  bsp/swm320/drivers/Kconfig
  bsp/swm320/drivers/board.c
  bsp/swm320/drivers/drv_crypto.c
  bsp/swm320/drivers/drv_gpio.c
  bsp/swm320/drivers/drv_log.h
  bsp/swm320/drivers/drv_rtc.c
  bsp/swm320/drivers/drv_sdio.c
  bsp/swm320/drivers/drv_spi.c
  bsp/swm320/drivers/linker_scripts/link.lds
  bsp/swm320/libraries/CMSIS/CoreSupport/arm_common_tables.h
  bsp/swm320/libraries/CMSIS/CoreSupport/arm_const_structs.h
  bsp/swm320/libraries/CMSIS/CoreSupport/arm_math.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cm0.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cm0plus.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cm3.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cm4.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cm7.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cmFunc.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cmInstr.h
  bsp/swm320/libraries/CMSIS/CoreSupport/core_cmSimd.h
  bsp/swm320/libraries/CMSIS/DeviceSupport/SWM320.h
  bsp/swm320/libraries/CMSIS/DeviceSupport/startup/arm/startup_SWM320.s
  bsp/swm320/libraries/CMSIS/DeviceSupport/startup/gcc/startup_SWM320.s
  bsp/swm320/libraries/CMSIS/DeviceSupport/system_SWM320.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_adc.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_can.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_crc.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_crc.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_dma.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_exti.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_flash.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_gpio.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_i2c.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_lcd.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_norflash.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_norflash.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_port.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_pwm.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_rtc.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sdio.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sdram.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_spi.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sram.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_timr.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_uart.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_wdt.c
  bsp/swm320/project.uvoptx
  bsp/swm320/project.uvprojx
  bsp/swm320/rtconfig.h
Labels: +1

#5071 [update] support armclang and c++11.
  components/cplusplus/Kconfig
  components/cplusplus/SConscript
  components/cplusplus/cpp11/README.md
  components/cplusplus/cpp11/README_ZH.md
  components/cplusplus/cpp11/armclang/clock.cpp
  components/cplusplus/cpp11/armclang/condvar.cpp
  components/cplusplus/cpp11/armclang/miscellaneous.cpp
  components/cplusplus/cpp11/armclang/mutex.cpp
  components/cplusplus/cpp11/armclang/thread.cpp
  components/cplusplus/cpp11/armclang/tpl.h
  components/cplusplus/cpp11/atomic_8.c
  components/cplusplus/cpp11/emutls.c
  components/cplusplus/cpp11/figures/Snipaste_2021-09-02_16-00-09.png
  components/cplusplus/cpp11/gcc/__utils.h
  components/cplusplus/cpp11/gcc/condition_variable
  components/cplusplus/cpp11/gcc/condition_variable.cpp
  components/cplusplus/cpp11/gcc/future
  components/cplusplus/cpp11/gcc/mutex
  components/cplusplus/cpp11/gcc/mutex.cpp
  components/cplusplus/cpp11/gcc/thread
  components/cplusplus/cpp11/gcc/thread.cpp
  components/cplusplus/cpp11/gcc/utils.cpp
  components/cplusplus/cpp11/thread_local_impl.cpp
  components/libc/compilers/common/nogcc/sys/types.h
  components/libc/compilers/common/sys/time.h
  components/libc/pthreads/pthread.c
  components/libc/pthreads/pthread.h
Labels: +1, +2, v4.0.4

#5079 【bsp/nrf5x】优化驱动代码，消除warning & 默认关闭libc功能 ，默认仅开启GPIO&UART驱动
  bsp/nrf5x/libraries/drivers/drv_flash.c
  bsp/nrf5x/libraries/drivers/drv_gpio.c
  bsp/nrf5x/libraries/drivers/drv_uart.c
  bsp/nrf5x/nrf52832/.config
  bsp/nrf5x/nrf52832/rtconfig.h
Labels: +2

#5100 [libc][newlib] 优化syscall 重构_libc_init_array 防止gcc下芯片无法启动
  components/libc/compilers/newlib/SConscript
  components/libc/compilers/newlib/minilib.c
  components/libc/compilers/newlib/syscalls.c
Labels: v4.0.4

#5099 [fatfs] 修改互斥保护超时时间, 并将超时时间改为Kconfig可配置
  components/dfs/Kconfig
  components/dfs/filesystems/.ignore_format.yml
  components/dfs/filesystems/elmfat/dfs_elm.c
  components/dfs/filesystems/elmfat/ffconf.h
Labels: v4.0.4

#5084 修正了bsp/hc32f4a0的scons构建脚本里的语法错误
  bsp/hc32f4a0/SConstruct
  bsp/hc32f4a0/rtconfig.py
Labels: +1, v4.0.4

#5097 [bsp][mm32f327]修复.ignore_format路径错误
  bsp/mm32f327x/.ignore_format.yml
Labels: v4.0.4

#5098 [bsp][simulator] 消除大部分编译错误
  bsp/simulator/.config
  bsp/simulator/drivers/SConscript
  bsp/simulator/drivers/dfs_win32.c
  bsp/simulator/rtconfig.h
  components/libc/compilers/common/fcntl.h
Labels: +1, v4.0.4

#5101 [libc]在开启libc后依然保持RT_LIBC_USING_TIME定义存在
  components/libc/Kconfig
Labels: +1, v4.0.4

#4872 优化memheap内存管理：1.自动多块粘合可配置；
  src/Kconfig
  src/memheap.c
Labels: +1

#5092 [libc标准化]脱敏dfs_select.h 由标准sys/select.h代替
  components/dfs/src/dfs_select.c
  components/lwp/lwp_syscall.c
  components/net/sal_socket/SConscript
  components/net/sal_socket/include/dfs_net/sys_select/sys/select.h
  examples/libc/termios_test.c
  examples/rt-link/rtlink_dev_example.c
Labels: +1, v4.0.4

#5087 [libc标准化][syscall]移除libc_stdio_read/write函数，优化syscall
  components/libc/compilers/armlibc/libc.h
  components/libc/compilers/armlibc/stdio.c
  components/libc/compilers/armlibc/syscalls.c
  components/libc/compilers/dlib/libc.h
  components/libc/compilers/dlib/stdio.c
  components/libc/compilers/dlib/syscall_read.c
  components/libc/compilers/dlib/syscall_write.c
  components/libc/compilers/newlib/libc.h
  components/libc/compilers/newlib/syscalls.c
Labels: +1, v4.0.4

#5068 [update] enable asctime_r function parameter legal.
  components/libc/compilers/common/time.c
Labels: bug, +1, v4.0.4

#5106 [libc][keil][iar] 支持system函数
  components/libc/compilers/common/stdlib.c
Labels: v4.0.4

#5030 [bsp] Fix missing header file applications in ls2k
  bsp/ls2kdev/drivers/drv_spi.c
Labels: +1, v4.0.4

#5105 [libc]新建gcc文件夹，将newlib和partical文件夹并入
  bsp/ls1bdev/Kconfig
  bsp/ls1cdev/Kconfig
  bsp/ls2kdev/Kconfig
  components/finsh/msh.c
  components/libc/compilers/armlibc/syscalls.c
  components/libc/compilers/common/partial/ls/SConscript
  components/libc/compilers/common/partial/ls/readme.md
  components/libc/compilers/common/stdlib.c
  components/libc/compilers/dlib/syscalls.c
  components/libc/compilers/gcc/SConscript
  components/libc/compilers/gcc/newlib/README.md
  components/libc/compilers/gcc/newlib/SConscript
  components/libc/compilers/gcc/newlib/libc.c
  components/libc/compilers/gcc/newlib/libc.h
  components/libc/compilers/gcc/newlib/libc_syms.c
  components/libc/compilers/gcc/newlib/machine/time.h
  components/libc/compilers/gcc/newlib/stdio.c
  components/libc/compilers/gcc/newlib/syscalls.c
  components/libc/compilers/gcc/partial/SConscript
  components/libc/compilers/gcc/partial/mips/SConscript
  components/libc/compilers/gcc/partial/mips/readme.md
  components/libc/compilers/gcc/partial/mips/sys/select.h
  components/libc/compilers/gcc/partial/readme.md
Labels: +1, v4.0.4

#4742 [kernel] rtthread.h 增加#ifdef RT_USING_HEAP 预编译
  include/rtthread.h
Labels: +1, v4.0.4

#5113 Fix rtc
  bsp/simulator/drivers/drv_rtc.c
  bsp/stm32/libraries/HAL_Drivers/drv_rtc.c
  components/drivers/include/drivers/rtc.h
  components/drivers/rtc/rtc.c
  components/libc/compilers/common/time.c
  include/rtdef.h
Labels: +1, +2, v4.0.4
