Repository RT-Thread/rt-thread, pull requests merged in 2021-05, with the labels that each got.

#4632 fix bluetrum uart1 and uart2 cannot recv data
  bsp/bluetrum/libraries/hal_drivers/drv_usart.c
Labels: +1, BSP: Bluetrum

#4654 [libc][time]优化gettimeofday/settimeofday; 规范set_timeval/get_timeval函数返回值
  components/libc/compilers/common/sys/mman.h
  components/libc/compilers/common/sys/time.h
  components/libc/compilers/common/time.c
Labels: +1

#4663 [update] file_check.py
  tools/file_check.py
Labels: +1, reviewed

#4660 update swm320 libraries
  bsp/swm320/libraries/CMSIS/DeviceSupport/SWM320.h
  bsp/swm320/libraries/CMSIS/DeviceSupport/startup/arm/startup_SWM320.s
  bsp/swm320/libraries/CMSIS/DeviceSupport/startup/gcc/startup_SWM320.s
  bsp/swm320/libraries/CMSIS/DeviceSupport/startup/iar/startup_SWM320.s
  bsp/swm320/libraries/CMSIS/DeviceSupport/system_SWM320.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_adc.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_adc.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_can.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_can.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_crc.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_crc.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_dma.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_dma.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_exti.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_exti.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_flash.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_flash.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_gpio.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_gpio.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_i2c.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_i2c.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_lcd.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_lcd.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_norflash.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_norflash.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_port.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_port.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_pwm.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_pwm.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_rtc.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_rtc.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sdio.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sdio.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sdram.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sdram.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_spi.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_spi.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sram.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_sram.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_timr.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_timr.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_uart.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_uart.h
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_wdt.c
  bsp/swm320/libraries/SWM320_StdPeriph_Driver/SWM320_wdt.h
Labels: +1

#4670 [network][lwip][kconfig] 默认LWIP协议栈版本由2.0.2转为2.1.2
  components/net/Kconfig
Labels: +1

#4673 Update the version number to 4.0.4
  include/rtdef.h
  src/Kconfig
Labels: +1

#4669 [rtc] 将RTC框架内的NTP部分移除
  components/drivers/Kconfig
  components/drivers/include/drivers/rtc.h
  components/drivers/rtc/README.md
  components/drivers/rtc/SConscript
  components/drivers/rtc/rtc.c
  components/drivers/rtc/soft_rtc.c
Labels: +1

#4678 [add] auto test ci.
  .github/workflows/action_utest.yml
  Kconfig
  examples/utest/README.md
  examples/utest/configs/utest_self/config.h
  examples/utest/testcases/Kconfig
  examples/utest/testcases/SConscript
  examples/utest/testcases/utest/Kconfig
  examples/utest/testcases/utest/SConscript
  examples/utest/testcases/utest/pass_tc.c
  tools/building.py
Labels: +1

#4677 [bsp][stm32f407-explorer] 避免COM2与以太网或PWM冲突,调整Kconfig文件
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_sram.c
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_sram.h
Labels: +1

#4671 [bsp-stm32f407-explorer] 完善F407探索者网络部分board配置
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
Labels: +1

#4675 [bsp][stm32f407-explorer] fix a bug that cannot use fatfs in the main thread at starting up
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_sdcard.c
Labels: +1

#4676 [libcpu][arm][cortex-m23]Correct rvds.S including for armclang platform.
  bsp/nuvoton/numaker-m2354/README.md
  bsp/nuvoton/numaker-m2354/rtconfig.py
  libcpu/arm/cortex-m23/SConscript
Labels: +1

#4687 [fix] Fix the problem of an error when opening menuconfig after the p…
  tools/mkdist.py
Labels: +1

#4690 [bsp][simulator]format codes to prevent being given a CI error
  bsp/simulator/drivers/sdl_fb.c
  bsp/simulator/drivers/sst25vfxx_mtd_sim.c
Labels: +1

#4689 [bug][bsp][simulator] 修复sd_sim.c编译报错的问题，使用rt_dgb代替老旧的debug输出方式
  bsp/simulator/drivers/sd_sim.c
Labels: +1

#4706 [ymodem] 修改YMODEM_USING_FILE_TRANSFER功能的开启条件
  components/utilities/Kconfig
  components/utilities/ymodem/SConscript
Labels: +1, +2

#4732 [lts-3.1.x][bsp] imx6ul bsp sync from master
  bsp/imx6ul/.config
  bsp/imx6ul/SConstruct
  bsp/imx6ul/drivers/Kconfig
  bsp/imx6ul/drivers/iomux/uart_iomux_config.c
  bsp/imx6ul/drivers/serial.c
  bsp/imx6ul/drivers/serial.h
  bsp/imx6ul/link.lds
  bsp/imx6ul/platform/include/mx6ul/imx6ul-pinfunc.h
  bsp/imx6ul/platform/include/mx6ul/iomux_register.h
  bsp/imx6ul/rtconfig.h
  bsp/imx6ul/rtconfig.py
Labels: +1

#4734 dev:[tools] add default project name and project path while --dist-ide
  tools/building.py
Labels: +1

#4726 在潘多拉开发板上添加 usb 扬声器、麦克风选项
  bsp/stm32/libraries/HAL_Drivers/drv_usbd.c
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1

#4733 [lts-3.1.x]update ChangeLog.md
  ChangeLog.md
Labels: +1
