Repository RT-Thread/rt-thread, pull requests merged in 2021-07, with the labels that each got.

#4835 add scons --target=cmake-armclang
  bsp/stm32/stm32f412-st-nucleo/rtconfig.py
  bsp/stm32/stm32h750-artpi-h750/rtconfig.py
  bsp/stm32/stm32l475-atk-pandora/rtconfig.py
  libcpu/arm/cortex-m7/SConscript
  tools/building.py
  tools/cmake.py
Labels: +1

#4324 [drivers]serial.c
  components/drivers/serial/serial.c
Labels: +1

#4836 [components][net][at] indent using 4 spaces
  components/net/at/include/at.h
Labels: +1

#4831 [bsp/nrf5x] fix gcc compile exception and add onchip filesystem
  bsp/nrf5x/libraries/drivers/drv_uart.c
  bsp/nrf5x/libraries/drivers/drv_uart.h
  bsp/nrf5x/nrf52832/.config
  bsp/nrf5x/nrf52832/.vscode/launch.json
  bsp/nrf5x/nrf52832/applications/SConscript
  bsp/nrf5x/nrf52832/applications/main.c
  bsp/nrf5x/nrf52832/applications/mnt.c
  bsp/nrf5x/nrf52832/board/Kconfig
  bsp/nrf5x/nrf52832/board/board.c
  bsp/nrf5x/nrf52832/board/fal_cfg.h
  bsp/nrf5x/nrf52832/board/linker_scripts/link.lds
  bsp/nrf5x/nrf52832/rtconfig.h
  bsp/nrf5x/nrf52832/rtconfig.py
  bsp/nrf5x/nrf52840/board/board.c
Labels: +1, +2

#4845 Fix a minor typo
  tools/building.py
Labels: +1

#4837 [bsp/stm32] add the bsp of robomaster dev board C
  .github/workflows/action.yml
  bsp/stm32/README.md
  bsp/stm32/stm32f407-robomaster-c/.config
  bsp/stm32/stm32f407-robomaster-c/.gitignore
  bsp/stm32/stm32f407-robomaster-c/Kconfig
  bsp/stm32/stm32f407-robomaster-c/README.md
  bsp/stm32/stm32f407-robomaster-c/SConscript
  bsp/stm32/stm32f407-robomaster-c/SConstruct
  bsp/stm32/stm32f407-robomaster-c/applications/SConscript
  bsp/stm32/stm32f407-robomaster-c/applications/main.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/system_stm32f4xx.c
  bsp/stm32/stm32f407-robomaster-c/board/Kconfig
  bsp/stm32/stm32f407-robomaster-c/board/SConscript
  bsp/stm32/stm32f407-robomaster-c/board/board.c
  bsp/stm32/stm32f407-robomaster-c/board/board.h
  bsp/stm32/stm32f407-robomaster-c/board/linker_scripts/link.icf
  bsp/stm32/stm32f407-robomaster-c/board/linker_scripts/link.lds
  bsp/stm32/stm32f407-robomaster-c/board/linker_scripts/link.sct
  bsp/stm32/stm32f407-robomaster-c/figures/board.png
  bsp/stm32/stm32f407-robomaster-c/project.ewd
  bsp/stm32/stm32f407-robomaster-c/project.ewp
  bsp/stm32/stm32f407-robomaster-c/project.eww
  bsp/stm32/stm32f407-robomaster-c/project.uvopt
  bsp/stm32/stm32f407-robomaster-c/project.uvoptx
  bsp/stm32/stm32f407-robomaster-c/project.uvproj
  bsp/stm32/stm32f407-robomaster-c/project.uvprojx
  bsp/stm32/stm32f407-robomaster-c/rtconfig.h
  bsp/stm32/stm32f407-robomaster-c/rtconfig.py
  bsp/stm32/stm32f407-robomaster-c/template.ewd
  bsp/stm32/stm32f407-robomaster-c/template.ewp
  bsp/stm32/stm32f407-robomaster-c/template.eww
  bsp/stm32/stm32f407-robomaster-c/template.uvopt
  bsp/stm32/stm32f407-robomaster-c/template.uvoptx
  bsp/stm32/stm32f407-robomaster-c/template.uvproj
  bsp/stm32/stm32f407-robomaster-c/template.uvprojx
Labels: +1

#4853 [examples/test]update rtc_test.c
  examples/test/rtc_test.c
Labels: +1, +2

#4852 [kernel][ipc] 移除mutex RT_IPC_FLAG_FIFO 功能
  src/ipc.c
Labels: +1

#4857 [utestcase] 完善测试用例集合的 README
  examples/utest/README.md
  examples/utest/configs/kernel/mem.conf
Labels: +1

#4855 fix at_vprintf and at_vprintfln and end_sign response
  components/net/at/src/at_client.c
  components/net/at/src/at_server.c
  components/net/at/src/at_utils.c
Labels: +1

#4859 [comment] Optimize the comment for ipc
  src/ipc.c
Labels: +1

#4860 [serial_v2] Serial_v2 support device ops feature
  components/drivers/serial/serial_v2.c
Labels: +1

#4866 [components][kernel] 解决多核下 finsh 不能响应串口输入问题
  src/kservice.c
Labels: +1

#4861 Fix the sem init check bug in pthread.
  components/libc/pthreads/semaphore.c
Labels: +1

#4868 解决at_socket内存泄漏问题
  components/net/at/at_socket/at_socket.c
Labels: +1

#4876 [libc][timezone] implement timezone APIs
  components/libc/Kconfig
  components/libc/compilers/common/sys/time.h
  components/libc/compilers/common/time.c
Labels: +1

#4893 [STM32][stm32f407-explorer] 增加ROMFS根文件系统
  bsp/stm32/stm32f407-atk-explorer/.config
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/SConscript
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_filesystem.c
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_sdcard.c
  bsp/stm32/stm32f407-atk-explorer/rtconfig.h
Labels: BSP: STM32

#4900 [rtc] 移除rtc_core.c/.h 将内容转移到rtc.c/.h
  bsp/efm32/drv_rtc.c
  bsp/stm32/libraries/HAL_Drivers/drv_rtc.c
  components/drivers/include/drivers/rtc.h
  components/drivers/include/drivers/rtc_core.h
  components/drivers/rtc/SConscript
  components/drivers/rtc/rtc.c
  components/drivers/rtc/rtc_core.c
Labels: +1

#4880 [libc][time] 修复若干问题
  components/libc/compilers/common/sys/time.h
  components/libc/compilers/common/time.c
  components/libc/pthreads/mqueue.c
  components/libc/pthreads/pthread_cond.c
  components/libc/pthreads/semaphore.c
  components/libc/signal/posix_signal.c
Labels: +1

#4878 [BSP][IMXRT]fixed lcd driver and scons script
  bsp/imxrt/imxrt1064-nxp-evk/.config
  bsp/imxrt/imxrt1064-nxp-evk/board/board.c
  bsp/imxrt/imxrt1064-nxp-evk/rtconfig.h
  bsp/imxrt/libraries/MIMXRT1064/SConscript
  bsp/imxrt/libraries/drivers/drv_lcd.c
Labels: BSP: NXP
