Repository RT-Thread/rt-thread, pull requests merged in 2021-01, with the labels that each got.

#3989 SAI模块-i.mxrt1050evk
  bsp/imxrt/imxrt1052-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1052-nxp-evk/board/board.c
  bsp/imxrt/libraries/MIMXRT1050/SConscript
  bsp/imxrt/libraries/drivers/SConscript
  bsp/imxrt/libraries/drivers/bsp_wm8960.c
  bsp/imxrt/libraries/drivers/bsp_wm8960.h
  bsp/imxrt/libraries/drivers/drv_sai.c
  bsp/imxrt/libraries/drivers/drv_sai.h
  bsp/imxrt/libraries/drivers/drv_sdio.c
Labels: BSP: NXP

#4235 [stm32][stm32f103-blue-pill] add USB device support.
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Inc/stm32f1xx_hal_conf.h
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Inc/stm32f1xx_it.h
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/stm32f1xx_it.c
  bsp/stm32/stm32f103-blue-pill/board/Kconfig
  bsp/stm32/stm32f103-blue-pill/board/board.c
  bsp/stm32/stm32f103-blue-pill/template.uvoptx
  bsp/stm32/stm32f103-blue-pill/template.uvprojx
Labels: +1, BSP: STM32

#4238 [stm32][bsp][bluepill] update readme and update cubemx project
  bsp/stm32/stm32f103-blue-pill/README.md
  bsp/stm32/stm32f103-blue-pill/README.pdf
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-blue-pill/figures/usb_code.png
  bsp/stm32/stm32f103-blue-pill/figures/usb_device1.png
  bsp/stm32/stm32f103-blue-pill/figures/usb_device2.png
  bsp/stm32/stm32f103-blue-pill/figures/vconsole.png
  bsp/stm32/stm32f103-blue-pill/template.uvoptx
  bsp/stm32/stm32f103-blue-pill/template.uvprojx
Labels: +1

#4249 [bsp][stm32] Add HAL_TIM_Base_Init
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1

#3647 fix priority inversion bug of mutex.
  examples/kernel/SConscript
  examples/kernel/mutex_priority.c
  src/ipc.c
Labels: +1

#4250 为stm32的PWM驱动添加对STM32H7的支持、添加互补PWM功能的支持，补全pwm_get命令等
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
  components/drivers/include/drivers/rt_drv_pwm.h
  components/drivers/misc/rt_drv_pwm.c
Labels: +2, BSP: STM32

#4253 [update] stm32mp1 uart dma sample.
  bsp/stm32/libraries/HAL_Drivers/config/mp1/dma_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
  bsp/stm32/stm32mp157a-st-ev1/board/Kconfig
  bsp/stm32/stm32mp157a-st-ev1/board/ports/dma_sample.c
Labels: +1, BSP: STM32

#4226 解决添加RT_USING_MTD_NOR编译报错的问题
  components/drivers/spi/spi_flash.h
Labels: +2

#3271 [drivers/sensor]disable irq only when the sensor and module sensors a…
  components/drivers/sensors/sensor.c
Labels: +1

#3950 [bsp] fix mm32 iar icf bugs
  bsp/mm32l07x/drivers/linker_scripts/link.icf
  bsp/mm32l3xx/drivers/linker_scripts/link.icf
Labels: +1

#4263 [PWM] Fix the pwm clock frequency doubling problem.
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, BSP: STM32

#4243 [fix] 修复使用lwip 2.1.2作为协议栈，并使能dhcp server选项时，编译报错问题。
  components/net/lwip_dhcpd/SConscript
  components/net/lwip_dhcpd/dhcp_server.c
Labels: +1

#4282 bsp:ls2k:make set console device more flexible
  bsp/ls2kdev/drivers/board.c
  bsp/ls2kdev/rtconfig.h
Labels: BSP: Loongson
