Repository RT-Thread/rt-thread, pull requests merged in 2021-06, with the labels that each got.

#4747 [kernel] 增加rt_mutex_trytake
  include/rtthread.h
  src/ipc.c
Labels: +1

#4751 [kernel]对rt_tick_increase临界区进行保护
  src/clock.c
Labels: +1

#4752 update Arm ToolChains to 10-2020-q4.
  .github/workflows/action.yml
  .github/workflows/action_utest.yml
  bsp/gd32303e-eval/cconfig.h
Labels: +1

#4769 [tools] remove formatting
  tools/formatting.py
Labels: +1

#4703 revert #3647
  src/ipc.c
Labels: +2, bug, discussion

#4770 [bug][kernel][heap] 将内存堆信号量保护机制由FIFO改为PRIO
  src/mem.c
  src/memheap.c
  src/slab.c
Labels: +1, +2

#4780 [kernel]补充endif后缀注释
  src/clock.c
  src/components.c
  src/cpu.c
  src/device.c
  src/idle.c
Labels: +1

#4778 [msh] implement tail command
  components/finsh/msh_file.c
Labels: +1

#4750 [tools] Optimization the EXTERN_LIB variable use
  tools/makefile.py
  tools/rtthread.mk
Labels: +1, +2

#4786 update board.c in k210 bsp
  bsp/k210/driver/board.c
Labels: +1

#4790 [master][rtlibc] remove libc_errno.h & libc_limits.h
  components/dfs/include/dfs_fs.h
  components/drivers/cputime/cputime.c
  components/drivers/src/pipe.c
  components/finsh/shell.c
  components/libc/compilers/common/SConscript
  components/libc/compilers/common/none-gcc/SConscript
  components/libc/compilers/common/none-gcc/sys/errno.h
  components/libc/compilers/common/time.c
  components/libc/compilers/newlib/minilib.c
  components/libc/getline/posix_getline.c
  components/libc/pthreads/posix_types.h
  components/libc/signal/posix_signal.c
  components/libc/termios/posix_termios.c
  components/net/lwip-1.4.1/src/arch/include/arch/cc.h
  components/net/lwip-1.4.1/src/lwipopts.h
  components/net/lwip-2.0.2/src/arch/include/arch/cc.h
  components/net/lwip-2.0.2/src/lwipopts.h
  components/net/lwip-2.1.2/src/arch/include/arch/cc.h
  components/net/lwip-2.1.2/src/include/lwip/errno.h
  components/net/lwip-2.1.2/src/lwipopts.h
  components/net/sal_socket/socket/net_sockets.c
  examples/libc/ex3.c
  examples/libc/ex6.c
  examples/libc/ex7.c
  examples/libc/file.c
  examples/libc/memory.c
  include/libc/libc_limits.h
  include/rtlibc.h
Labels: +1, +2

#4785 [kernel] 补充endif后缀注释
  src/ipc.c
  src/irq.c
  src/kservice.c
  src/mem.c
  src/memheap.c
  src/mempool.c
  src/object.c
  src/scheduler.c
  src/signal.c
  src/slab.c
  src/thread.c
  src/timer.c
Labels: +1

#4787 Update drv_rtc.c
  bsp/bluetrum/libraries/hal_drivers/drv_rtc.c
Labels: +1, +2

#4797 [update] usleep supports calling in interrupts.
  components/libc/compilers/common/unistd.c
Labels: +1

#4800 [sleep] 加入调度器尚未运行时的延时情况
  components/libc/compilers/common/unistd.c
Labels: +1

#4806 [update] support windows cmake tool.
  tools/cmake.py
Labels: +1

#4803 [bsp/nrf5x] modify nrf52832 default memory config
  bsp/nrf5x/nrf52832/board/Kconfig
Labels: +1, reviewed

#4811 [rtthread.h] 移除rt_sscanf声明
  include/rtthread.h
Labels: +1

#4457 [github] 增加issue template
  .github/ISSUE_TEMPLATE.md
Labels: +1

#4793 [bug][lwip] 修复lwip临界区保护的bug
  bsp/stm32/libraries/HAL_Drivers/drv_eth.c
  components/net/lwip-1.4.1/src/arch/include/arch/cc.h
  components/net/lwip-2.0.2/src/arch/include/arch/cc.h
  components/net/lwip-2.1.2/src/arch/include/arch/cc.h
Labels: +1

#4815 [libc][syscall]整理函数格式
  components/libc/compilers/newlib/syscalls.c
Labels: +1

#4821 [kernel] Fix comment error for rt_mutex_detach().
  src/ipc.c
Labels: +1

#4796 将defined(__CC_ARM) || defined(__CLANG_ARM) 改为 ifdef __ARMCC_VERSION
  components/finsh/shell.c
  include/libc/libc_signal.h
  include/rtlibc.h
  include/rtthread.h
  src/components.c
  src/kservice.c
Labels: +1

#4809 [testcase] 增加serial_v2的测试用例
  examples/utest/testcases/Kconfig
  examples/utest/testcases/drivers/SConscript
  examples/utest/testcases/drivers/serial_v2/Kconfig
  examples/utest/testcases/drivers/serial_v2/README.md
  examples/utest/testcases/drivers/serial_v2/SConscript
  examples/utest/testcases/drivers/serial_v2/uart_rxb_txb.c
  examples/utest/testcases/drivers/serial_v2/uart_rxb_txnb.c
  examples/utest/testcases/drivers/serial_v2/uart_rxnb_txb.c
  examples/utest/testcases/drivers/serial_v2/uart_rxnb_txnb.c
Labels: +1

#4827 [bsp/nrf52840] add the bsp support of ble nano 33
  bsp/nrf5x/libraries/drivers/drv_uart.c
  bsp/nrf5x/libraries/drivers/drv_uart.h
  bsp/nrf5x/nrf52840/.config
  bsp/nrf5x/nrf52840/.vscode/launch.json
  bsp/nrf5x/nrf52840/Kconfig
  bsp/nrf5x/nrf52840/README.md
  bsp/nrf5x/nrf52840/applications/application.c
  bsp/nrf5x/nrf52840/board/Kconfig
  bsp/nrf5x/nrf52840/board/SConscript
  bsp/nrf5x/nrf52840/board/app_config.h
  bsp/nrf5x/nrf52840/board/board.c
  bsp/nrf5x/nrf52840/board/board.h
  bsp/nrf5x/nrf52840/board/linker_scripts/link.lds
  bsp/nrf5x/nrf52840/board/sdk_config.h
  bsp/nrf5x/nrf52840/project.uvoptx
  bsp/nrf5x/nrf52840/project.uvprojx
  bsp/nrf5x/nrf52840/rtconfig.h
  bsp/nrf5x/nrf52840/rtconfig.py
  bsp/nrf5x/nrf52840/template.uvoptx
  bsp/nrf5x/nrf52840/template.uvprojx
Labels: +1
