Repository RT-Thread/rt-thread, pull requests merged in 2021-02, with the labels that each got.

#4242 [BSP][LS2K][Bug fix]修正龙芯2K平台下SPI分频系数调节不正确的错误
  bsp/ls2kdev/drivers/drv_spi.c
Labels: BSP: Loongson

#4265 修复在STM32的qspi驱动中，若定义BSP_QSPI_USING_SOFTCS开启软件cs引脚控制，则结构体成员pin大小写不一致的错误。
  bsp/stm32/libraries/HAL_Drivers/drv_qspi.c
Labels: +1, BSP: STM32

#4296 [add] raspberry-pico elf2uf2.exe
  bsp/raspberry-pico/README.md
  bsp/raspberry-pico/figures/elf2uf2.png
  bsp/raspberry-pico/libraries/generated/elf2uf2.exe
  bsp/raspberry-pico/rtconfig.py
Labels: +1

#4289 [stm32][bsp]更新BSP readme列表
  bsp/stm32/README.md
Labels: +1, BSP: STM32

#4304 [bsp][bluetrum] add adc and rtc support
  bsp/bluetrum/ab32vg1-ab-prougen/.config
  bsp/bluetrum/ab32vg1-ab-prougen/board/Kconfig
  bsp/bluetrum/ab32vg1-ab-prougen/link.lds
  bsp/bluetrum/libraries/hal_drivers/SConscript
  bsp/bluetrum/libraries/hal_drivers/config/adc_config.h
  bsp/bluetrum/libraries/hal_drivers/drv_adc.c
  bsp/bluetrum/libraries/hal_drivers/drv_rtc.c
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/SConscript
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/include/ab32vg1_hal_adc.h
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/include/ab32vg1_hal_conf.h
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/include/ab32vg1_hal_rtc.h
  bsp/bluetrum/libraries/hal_libraries/bmsis/include/ab32vg1.h
Labels: BSP: Bluetrum

#4301 [update] elf2uf2.exe
  bsp/raspberry-pico/libraries/generated/elf2uf2.exe
Labels: +1

#4272 [bsp][gd32103c-eval] Add hwtimer driver and modify adc driver with LOG_x function
  bsp/gd32103c-eval/Kconfig
  bsp/gd32103c-eval/Libraries/CMSIS/GD/GD32F1xx/Include/gd32f10x.h
  bsp/gd32103c-eval/Libraries/GD32F1xx_standard_peripheral/Include/gd32f10x_rcc.h
  bsp/gd32103c-eval/Libraries/GD32F1xx_standard_peripheral/Source/gd32f10x_timer.c
  bsp/gd32103c-eval/README.md
  bsp/gd32103c-eval/drivers/SConscript
  bsp/gd32103c-eval/drivers/drv_adc.c
  bsp/gd32103c-eval/drivers/drv_comm.h
  bsp/gd32103c-eval/drivers/drv_hwtimer.c
  bsp/gd32103c-eval/drivers/drv_hwtimer.h
  bsp/gd32103c-eval/rtconfig.h
  bsp/stm32/libraries/HAL_Drivers/drv_hwtimer.c
  components/drivers/include/drivers/hwtimer.h
Labels: +1

#4310 [bug][pin] 修复错误码没有为负的错误
  components/drivers/misc/pin.c
Labels: +1

#4270 [bsp][stm32] fix PWMN_CMD_DISABLE config
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, BSP: STM32

#4318 [bsp]Mini optimized the drv_sound.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/ports/audio/drv_sound.c
Labels: BSP: Bluetrum

#4343 [bsp/max32660] add the driver of spi and gpio
  bsp/maxim/MAX32660_EVSYS/.config
  bsp/maxim/MAX32660_EVSYS/README.md
  bsp/maxim/MAX32660_EVSYS/applications/application.c
  bsp/maxim/MAX32660_EVSYS/board/Kconfig
  bsp/maxim/MAX32660_EVSYS/board/board.h
  bsp/maxim/MAX32660_EVSYS/project.uvoptx
  bsp/maxim/MAX32660_EVSYS/project.uvprojx
  bsp/maxim/MAX32660_EVSYS/rtconfig.h
  bsp/maxim/libraries/HAL_Drivers/drv_gpio.c
  bsp/maxim/libraries/HAL_Drivers/drv_gpio.h
  bsp/maxim/libraries/HAL_Drivers/drv_spi.c
  bsp/maxim/libraries/HAL_Drivers/drv_spi.h
  bsp/maxim/libraries/MAX32660PeriphDriver/SConscript
Labels: +1

#4294 bsp:ls1b:rework uart driver and fix some bugs to make it work. tested on ls1b dev board
  bsp/ls1bdev/Kconfig
  bsp/ls1bdev/drivers/board.c
  bsp/ls1bdev/drivers/board.h
  bsp/ls1bdev/drivers/drv_uart.c
  bsp/ls1bdev/drivers/drv_uart.h
  bsp/ls1bdev/drivers/uart.c
  bsp/ls1bdev/drivers/uart.h
  bsp/ls1bdev/libraries/SConscript
  bsp/ls1bdev/libraries/ls1b_clock.c
  bsp/ls1bdev/libraries/ls1b_clock.h
  bsp/ls1bdev/libraries/ls1b_gpio.c
  bsp/ls1bdev/libraries/ls1b_gpio.h
  bsp/ls1bdev/libraries/ls1b_pin.c
  bsp/ls1bdev/libraries/ls1b_pin.h
  bsp/ls1bdev/libraries/ls1b_public.c
  bsp/ls1bdev/libraries/ls1b_public.h
  bsp/ls1bdev/libraries/ls1b_regs.h
  bsp/ls1bdev/libraries/ls1b_uart.c
  bsp/ls1bdev/libraries/ls1b_uart.h
  bsp/ls1bdev/rtconfig.h
  bsp/ls1bdev/rtconfig.py
Labels: BSP: Loongson

#4353 Fixed the return value bug in sdcard_port.c
  bsp/stm32/stm32f429-atk-apollo/board/ports/sdcard_port.c
Labels: +1, BSP: STM32

#4352 Mini optimized the spi_flash_init.c
  bsp/stm32/stm32f429-armfly-v6/board/ports/spi_flash_init.c
Labels: +1, BSP: STM32

#4336 對imxrt的SPI傳輸改用非阻塞API
  bsp/imxrt/libraries/drivers/drv_spi.c
Labels: BSP: NXP

#4335 爲RT1052移植QTMR的PWM
  bsp/imxrt/libraries/MIMXRT1050/SConscript
  bsp/imxrt/libraries/drivers/drv_pwm.c
Labels: BSP: NXP

#4295 添加imxrt的pulse encoder和usb host驅動
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction.h
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction_config.h
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction_rtthread.c
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction_rtthread.h
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/generic_list.c
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/generic_list.h
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/gcc/startup_MIMXRT1052.S
  bsp/imxrt/libraries/MIMXRT1050/SConscript
  bsp/imxrt/libraries/drivers/SConscript
  bsp/imxrt/libraries/drivers/drv_pulse_encoder.c
  bsp/imxrt/libraries/drivers/drv_usbh.c
  bsp/imxrt/libraries/drivers/drv_usbh.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_devices.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_devices.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_ehci.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_ehci.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_framework.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_framework.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_hci.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_hci.h
  bsp/imxrt/libraries/drivers/usb/include/usb.h
  bsp/imxrt/libraries/drivers/usb/include/usb_host_config.h
  bsp/imxrt/libraries/drivers/usb/include/usb_misc.h
  bsp/nuvoton/libraries/m480/rtt_port/drv_usbhost.c
  bsp/rx/applications/application.c
  bsp/stm32/libraries/HAL_Drivers/drv_usbh.c
  components/drivers/Kconfig
  components/drivers/include/drivers/usb_host.h
  components/drivers/pm/debug.log
  components/drivers/usb/usbhost/class/hid.c
  components/drivers/usb/usbhost/class/hid.h
  components/drivers/usb/usbhost/class/umouse.c
  components/drivers/usb/usbhost/core/driver.c
  components/drivers/usb/usbhost/core/hub.c
  components/drivers/usb/usbhost/core/usbhost.c
Labels: BSP: NXP

#4375 [bsp][stm32][qspi]修复拼写错误
  bsp/stm32/libraries/HAL_Drivers/drv_qspi.c
Labels: +1, BSP: STM32

#4380 [bsp][raspberry-pico] Fixed failure to start without connecting to UART
  bsp/raspberry-pico/drivers/drv_uart.c
Labels: +1, BSP: Raspberry-Pi

#4382 [drv_usart.c]修复stm32串口开启奇偶校验时字长设置错误
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
Labels: +1, BSP: STM32

#4386 [fix] the wrong 'ifconfig' information for multi-network interface
  components/net/netdev/src/netdev.c
Labels: +1, reviewed

#4360 fix stm32 drv_dac.c some bugs
  bsp/stm32/libraries/HAL_Drivers/drv_dac.c
Labels: +1

#4392 [bsp/max32660] add the driver of i2c
  bsp/maxim/MAX32660_EVSYS/.config
  bsp/maxim/MAX32660_EVSYS/README.md
  bsp/maxim/MAX32660_EVSYS/board/Kconfig
  bsp/maxim/MAX32660_EVSYS/rtconfig.h
  bsp/maxim/libraries/HAL_Drivers/SConscript
  bsp/maxim/libraries/HAL_Drivers/drv_i2c.c
  bsp/maxim/libraries/HAL_Drivers/drv_i2c.h
Labels: +1, reviewed

#4394 [bsp/max32660] 添加GCC编译环境和去掉Keil的microlib选项
  bsp/maxim/MAX32660_EVSYS/.vscode/.cortex-debug.peripherals.state.json
  bsp/maxim/MAX32660_EVSYS/.vscode/.cortex-debug.registers.state.json
  bsp/maxim/MAX32660_EVSYS/.vscode/launch.json
  bsp/maxim/MAX32660_EVSYS/.vscode/tasks.json
  bsp/maxim/MAX32660_EVSYS/README.md
  bsp/maxim/MAX32660_EVSYS/board/board.c
  bsp/maxim/MAX32660_EVSYS/board/linker_scripts/link.lds
  bsp/maxim/MAX32660_EVSYS/max32660.svd
  bsp/maxim/MAX32660_EVSYS/project.uvoptx
  bsp/maxim/MAX32660_EVSYS/project.uvprojx
  bsp/maxim/MAX32660_EVSYS/rtconfig.py
  bsp/maxim/MAX32660_EVSYS/template.uvprojx
  bsp/maxim/libraries/MAX32660PeriphDriver/CMSIS/Device/Maxim/MAX32660/Source/GCC/startup_max32660.S
  bsp/maxim/libraries/MAX32660PeriphDriver/CMSIS/Device/Maxim/MAX32660/Source/system_max32660.c
Labels: +1, reviewed

#4399 [update][kernel]规范rt_object_t强制转换的使用，消除上次提交的编译警告
  src/thread.c
  src/timer.c
Labels: +1

#4389 [bug][bsp][stm32][pandora] cannot use fatfs in the main thread at starting up
  bsp/stm32/stm32l475-atk-pandora/board/ports/sdcard_port.c
Labels: +1, BSP: STM32
