Repository RT-Thread/rt-thread, pull requests merged in 2022-02, with the labels that each got.

#5583 [bsp][artpi] porting LVGL to ART-Pi with Media-IO
  bsp/stm32/stm32h750-artpi-h750/.config
  bsp/stm32/stm32h750-artpi-h750/applications/SConscript
  bsp/stm32/stm32h750-artpi-h750/applications/lvgl/SConscript
  bsp/stm32/stm32h750-artpi-h750/applications/lvgl/lv_conf.h
  bsp/stm32/stm32h750-artpi-h750/applications/lvgl/lv_demo.c
  bsp/stm32/stm32h750-artpi-h750/applications/lvgl/lv_port_disp.c
  bsp/stm32/stm32h750-artpi-h750/applications/lvgl/lv_port_disp.h
  bsp/stm32/stm32h750-artpi-h750/applications/lvgl/lv_port_indev.c
  bsp/stm32/stm32h750-artpi-h750/applications/lvgl/lv_port_indev.h
  bsp/stm32/stm32h750-artpi-h750/applications/main.c
  bsp/stm32/stm32h750-artpi-h750/board/CubeMX_Config/Core/Inc/stm32h7xx_hal_conf.h
  bsp/stm32/stm32h750-artpi-h750/board/CubeMX_Config/Core/Src/stm32h7xx_hal_msp.c
  bsp/stm32/stm32h750-artpi-h750/board/Kconfig
  bsp/stm32/stm32h750-artpi-h750/board/SConscript
  bsp/stm32/stm32h750-artpi-h750/board/board.c
  bsp/stm32/stm32h750-artpi-h750/board/board.h
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_eth.c
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_eth.h
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_lcd_font.h
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_qspi_flash.c
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_sdio.c
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_sdio.h
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_spi_ili9488.c
  bsp/stm32/stm32h750-artpi-h750/board/port/drv_spi_ili9488.h
  bsp/stm32/stm32h750-artpi-h750/board/port/filesystem.c
  bsp/stm32/stm32h750-artpi-h750/board/port/lcd_port.h
  bsp/stm32/stm32h750-artpi-h750/board/port/lcd_spi_port.h
  bsp/stm32/stm32h750-artpi-h750/board/port/rttlogo.h
  bsp/stm32/stm32h750-artpi-h750/board/port/sdram_port.h
  bsp/stm32/stm32h750-artpi-h750/board/port/spi_flash_init.c
  bsp/stm32/stm32h750-artpi-h750/rtconfig.h
  bsp/stm32/stm32h750-artpi-h750/rtconfig.py
Labels: +1

#5591 修改dac.c函数名称错误
  components/drivers/misc/dac.c
Labels: +1, +2

#5590 [ulog]移除localtime_r多余的声明
  components/utilities/ulog/ulog.c
Labels: +1

#5595 [bsp][stm32][stm32f769-st-disco]fix wrong CPPDEFINES and close lwip
  bsp/stm32/stm32f769-st-disco/.config
  bsp/stm32/stm32f769-st-disco/board/SConscript
  bsp/stm32/stm32f769-st-disco/project.uvprojx
  bsp/stm32/stm32f769-st-disco/rtconfig.h
Labels: +1, +2

#5596 [bsp][stm32][stm32f769-st-disco]add stm32f7xx_hal_dsi.c when using LTDC/MIPI-DSI
  bsp/stm32/libraries/STM32F7xx_HAL/SConscript
Labels: +1

#5593 [fix][components][utilities]adjust the order of compiler macros
  components/utilities/var_export/var_export.c
  components/utilities/var_export/var_export.h
  components/utilities/var_export/var_export_cmd.c
Labels: +1, +2

#4891 [Fix bug] fix thread init bug
  src/thread.c
Labels: +1, +2, v4.1.0, important

#5599 [arduino][stm32l475] update application/arduino folder
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/SConscript
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/arduino_main.cpp
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/pins_arduino.c
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/pins_arduino.h
Labels: +1

#5600 add ch579m bsp
  bsp/wch/arm/ch579m/.config
  bsp/wch/arm/ch579m/Kconfig
  bsp/wch/arm/ch579m/SConscript
  bsp/wch/arm/ch579m/SConstruct
  bsp/wch/arm/ch579m/applications/SConscript
  bsp/wch/arm/ch579m/applications/main.c
  bsp/wch/arm/ch579m/board/Kconfig
  bsp/wch/arm/ch579m/board/SConscript
  bsp/wch/arm/ch579m/board/board.c
  bsp/wch/arm/ch579m/board/board.h
  bsp/wch/arm/ch579m/board/drv_eth.c
  bsp/wch/arm/ch579m/board/drv_eth.h
  bsp/wch/arm/ch579m/board/drv_uart.c
  bsp/wch/arm/ch579m/board/drv_uart.h
  bsp/wch/arm/ch579m/board/drv_usbh.c
  bsp/wch/arm/ch579m/board/drv_usbh.h
  bsp/wch/arm/ch579m/libraries/CMSIS/Include/core_cm0.h
  bsp/wch/arm/ch579m/libraries/CMSIS/Include/core_cmFunc.h
  bsp/wch/arm/ch579m/libraries/CMSIS/Include/core_cmInstr.h
  bsp/wch/arm/ch579m/libraries/SConscript
  bsp/wch/arm/ch579m/libraries/Startup/startup_ARMCM0.s
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_adc.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_clk.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_flash.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_gpio.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_int.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_lcd.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_pwm.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_pwr.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_spi0.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_spi1.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_sys.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_timer0.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_timer1.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_timer2.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_timer3.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_uart0.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_uart1.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_uart2.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/CH57x_uart3.c
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH579SFR.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_adc.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_clk.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_common.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_flash.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_gpio.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_lcd.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_pwm.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_pwr.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_spi.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_sys.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_timer.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_uart.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_usbdev.h
  bsp/wch/arm/ch579m/libraries/StdPeriphDriver/inc/CH57x_usbhost.h
  bsp/wch/arm/ch579m/libraries/sct/CH57x.sct
  bsp/wch/arm/ch579m/project.uvprojx
  bsp/wch/arm/ch579m/rtconfig.h
  bsp/wch/arm/ch579m/rtconfig.py
  bsp/wch/arm/ch579m/template.uvprojx
Labels: +1

#5612 [bsp] Fix a typo in qemu.sh
  bsp/qemu-vexpress-a9/qemu.sh
Labels: +1

#5613 [lwip] integrate and improve lwipopts.h
  components/net/lwip/Kconfig
  components/net/lwip/lwip-1.4.1/SConscript
  components/net/lwip/lwip-2.0.3/SConscript
  components/net/lwip/lwip-2.0.3/src/lwipopts.h
  components/net/lwip/lwip-2.1.2/SConscript
  components/net/lwip/lwip-2.1.2/src/lwipopts.h
  components/net/lwip/lwip-2.1.2/src/lwippools.h
  components/net/lwip/port/arch/cc.h
  components/net/lwip/port/lwipopts.h
  components/net/lwip/port/lwippools.h
  components/net/lwip/port/netif/ethernetif.h
  components/net/lwip/port/sys_arch.c
Labels: +1, v4.1.0, important
