Repository RT-Thread/rt-thread, pull requests merged in 2022-07, with the labels that each got.

#6113 [fix] use atomic operation to protect pthread conditional variable.
  components/libc/posix/pthreads/pthread_cond.c
Labels: +1, v4.1.1

#6125 [finsh]修复使用finsh_set_prompt重定向了msh提示符的名称后，路径功能没有的问题
  components/finsh/shell.c
Labels: +1, +2

#6133 Revert "解决将RT_NULL当做数字0使用的问题"
  components/finsh/msh_file.c
  components/libc/compilers/common/ctime.c
  components/libc/posix/pthreads/pthread.c
  include/rtdef.h
Labels: +1, urgent, v4.1.1

#6134 List command
  components/finsh/cmd.c
Labels: +1, +2, v4.1.1

#6066 [BSP][STM32] RTC Alarm驱动适配
  bsp/stm32/libraries/HAL_Drivers/drv_rtc.c
Labels: +1, +2, BSP: STM32, v4.1.1

#5850 [kernel]add a macro RT_VERSION_CHECK
  include/rtdef.h
Labels: +1, +2, important, v4.1.1

#6135 [bsp/esp32c3] add Kconfig
  bsp/ESP32_C3/.config
  bsp/ESP32_C3/Kconfig
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/board/Kconfig
  bsp/ESP32_C3/main/CMakeLists.txt
  bsp/ESP32_C3/main/main.c
  bsp/ESP32_C3/rtconfig.h
  bsp/ESP32_C3/sdkconfig
Labels: +1, +2

#6129 [bsp/stm32]优化功能(drv_pwm)：设置PWM频率和脉宽时不破坏上一个PWM周期
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, +2, BSP: STM32, v4.1.1

#6130 [rt_drv_pwm]增加API：增加单独设置PWM频率和脉宽的函数
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
  components/drivers/include/drivers/rt_drv_pwm.h
  components/drivers/misc/rt_drv_pwm.c
Labels: +1, +2, BSP: STM32, v4.1.1

#6024 [add] implement about "AT server".
  components/net/at/Kconfig
  components/net/at/at_socket/at_socket.c
  components/net/at/at_socket/at_socket.h
  components/net/sal/impl/af_inet_at.c
Labels: +1, +2, important, v4.1.1

#6136 [bsp][essemi]fix bug.
  bsp/essemi/es32f369x/drivers/ES/es_conf_info_map.h
  bsp/essemi/es32f369x/drivers/drv_pwm.c
Labels: +1, +2

#6137 [stm32] 合并获取定时器时钟频率公共部分
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, +2, BSP: STM32

#6139 Adapt RTduino package for stm32f469-st-disco BSP
  bsp/stm32/stm32f469-st-disco/applications/SConscript
  bsp/stm32/stm32f469-st-disco/applications/arduino_main.cpp
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/README.md
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/SConscript
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/disco-f469-pinout.png
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Inc/pdm2pcm.h
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f469-st-disco/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f469-st-disco/board/Kconfig
Labels: +1, +2, BSP: STM32

#6141 [fix] memory leak when the value of posix semaphore is zero.
  components/libc/posix/ipc/semaphore.c
Labels: +1, +2, v4.1.1

#6116 [compoenets][driver][usb] fix usbhost hid issues.
  components/drivers/usb/usbhost/class/hid.c
Labels: +1, v4.1.1

#6146 [simulator][lvgl]同步lvgl win32 driver
  bsp/simulator/applications/lvgl/win32drv.c
Labels: +1, v4.1.1

#6144 [bsp][essemi] Adapt es32f369x for RTduino
  bsp/essemi/es32f369x/applications/SConscript
  bsp/essemi/es32f369x/applications/arduino_main.cpp
  bsp/essemi/es32f369x/applications/arduino_pinout/README.md
  bsp/essemi/es32f369x/applications/arduino_pinout/SConscript
  bsp/essemi/es32f369x/applications/arduino_pinout/examples/arduino_examples.cpp
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220630160208893.png
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220630160329321.png
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220630160331334.png
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220701144515678.png
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220701145115443.png
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220701145153781.png
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220701145240404.png
  bsp/essemi/es32f369x/applications/arduino_pinout/picture/image-20220706134522478.png
  bsp/essemi/es32f369x/applications/arduino_pinout/pins_arduino.c
  bsp/essemi/es32f369x/applications/arduino_pinout/pins_arduino.h
  bsp/essemi/es32f369x/drivers/ES/es_conf_info_map.h
  bsp/essemi/es32f369x/drivers/Kconfig
  bsp/essemi/es32f369x/drivers/board.h
  bsp/essemi/es32f369x/drivers/drv_i2c.c
  bsp/essemi/es32f369x/drivers/linker_scripts/link.lds
Labels: +1, +2, v4.1.1

#6153 Adapt lvgl for using ft6206 model touch screen[stm32f469-st-disco]
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_indev.c
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32f469-st-disco/board/ports/touch/SConscript
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch.c
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch.h
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch_ft6206.c
Labels: +1, +2, v4.1.1

#6042 [libcpu/risc-v/virt64]: fix parameter for call handle_trap
  libcpu/risc-v/virt64/interrupt_gcc.S
Labels: +1, v4.1.1

#6155 Documentation grammar fixes and edits for clarity
  documentation/thread/thread.md
Labels: +1, v4.1.1

#6156 Further edits of documentation for clarity
  documentation/introduction/introduction.md
  documentation/quick-start/quick-start.md
  documentation/thread/thread.md
Labels: +1, +2, v4.1.1

#6157 optimize code to improve network throughput performance
  bsp/at32/libraries/rt_drivers/drv_emac.c
Labels: +1, +2, BSP

#6159 Bsp essemi
  bsp/essemi/es32f369x/applications/arduino_pinout/README.md
  bsp/essemi/es32f369x/applications/arduino_pinout/examples/arduino_examples.cpp
  bsp/essemi/es32f369x/drivers/drv_i2c.c
Labels: +1, +2, BSP, v4.1.1

#6162 删除BSP stm32f469-st-disco 中已经淘汰的GUIENGINE相关文件
  bsp/stm32/stm32f469-st-disco/applications/lcd_init.c
Labels: +1

#6166 修改i2c和rtc驱动
  bsp/n32/libraries/N32G45x_Firmware_Library/SConscript
  bsp/n32/libraries/n32_drivers/SConscript
  bsp/n32/libraries/n32_drivers/drv_i2c.c
  bsp/n32/libraries/n32_drivers/drv_i2c.h
  bsp/n32/libraries/n32_drivers/drv_rtc.c
  bsp/n32/n32g45xvl-stb/.config
  bsp/n32/n32g45xvl-stb/board/Kconfig
Labels: +1, change req

#6174 fix(bsp gd32f450 gcc):修复中断向量表缺失相关定义导致中断异常的问题
  bsp/gd32/arm/libraries/GD32F4xx_Firmware_Library/CMSIS/GD/GD32F4xx/Source/GCC/startup_gd32f4xx.s
Labels: +1, +2

#6171 [libc] 修复difftime函数在IAR下的编译错误
  components/libc/compilers/common/ctime.c
Labels: +1

#6179 Fix the configuration of stm32f401's PWM in CubeMX
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
Labels: +1, +2, BSP: STM32, v4.1.1

#6177 Solve the problem that LOG_W() may not be recognized when the INPUT C…
  components/drivers/misc/rt_inputcapture.c
Labels: +1, +2, BSP: STM32, v4.1.1

#6176 feat(bsp/gd32f1-f4/drv_sdio):增加gd32下sdio驱动
  bsp/gd32/arm/libraries/GD32F10x_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/GD32F20x_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/GD32F30x_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/GD32F4xx_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_log.h
  bsp/gd32/arm/libraries/gd32_drivers/drv_sdio.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_sdio.h
Labels: +1, +2, BSP

#6180 [touch] 调整触摸头文件至 rtdevice.h 中
  components/drivers/include/drivers/touch.h
  components/drivers/include/rtdevice.h
  components/drivers/touch/touch.h
Labels: +1

#6168 attach #6166
  bsp/at32/libraries/rt_drivers/drv_wdt.c
  bsp/n32/libraries/.ignore_format.yml
  bsp/n32/libraries/n32_drivers/SConscript
  bsp/n32/libraries/n32_drivers/drv_adc.c
  bsp/n32/libraries/n32_drivers/drv_can.c
  bsp/n32/libraries/n32_drivers/drv_can.h
  bsp/n32/libraries/n32_drivers/drv_dac.c
  bsp/n32/libraries/n32_drivers/drv_gpio.c
  bsp/n32/libraries/n32_drivers/drv_hwtimer.c
  bsp/n32/libraries/n32_drivers/drv_i2c.c
  bsp/n32/libraries/n32_drivers/drv_rtc.c
  bsp/n32/libraries/n32_drivers/drv_spi.c
  bsp/n32/libraries/n32_drivers/drv_usart.c
  bsp/n32/libraries/n32_drivers/drv_wdt.c
Labels: +1

#6184 [bsp/stm32]:修复阿波罗f429网口引脚错误
  bsp/stm32/stm32f429-atk-apollo/board/CubeMX_Config/STM32F429IG.ioc
  bsp/stm32/stm32f429-atk-apollo/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f429-atk-apollo/board/Kconfig
Labels: +1, BSP: STM32, v4.1.1

#6172 [gd32/arm/libraries]: correct pin number in drv_gpio.c; fix compile error if use rtc in gd32 f1~f4
  bsp/gd32/arm/libraries/GD32F20x_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/GD32F30x_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/GD32F4xx_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_gpio.c
Labels: +1, +2, v4.1.1

#6191 修复了pwm互补输出的一些bug，并在finsh中添加使用说明
  bsp/stm32/libraries/HAL_Drivers/config/f4/pwm_config.h
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f401-st-nucleo/board/Kconfig
  components/drivers/misc/rt_drv_pwm.c
Labels: +1, +2, BSP: STM32

#6192 Improve the connection of RTdunio PWM(stm32f401-st-nucleo)
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/pins_arduino.c
Labels: +1, +2, v4.1.1

#6193 [arduino][stm32f072] 修正f072反向PWM不输出的问题
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/pins_arduino.c
Labels: v4.1.1

#6196 [k210] 使用新版的SDK软件包
  bsp/k210/.config
  bsp/k210/Kconfig
  bsp/k210/driver/board.h
  bsp/k210/rtconfig.h
Labels: BSP

#6199 [k210] update readme
  bsp/k210/.config
  bsp/k210/README.md
Labels: +1

#6194 [bsp/qemu-virt64-aarch64] Update drivers' code
  bsp/qemu-virt64-aarch64/README.md
  bsp/qemu-virt64-aarch64/README_zh.md
  bsp/qemu-virt64-aarch64/applications/graphic.c
  bsp/qemu-virt64-aarch64/driver/drv_rtc.c
  bsp/qemu-virt64-aarch64/driver/virtio/virtio_gpu.c
  bsp/qemu-virt64-aarch64/driver/virtio/virtio_net.c
  bsp/qemu-virt64-aarch64/driver/virtio/virtio_net.h
Labels: +1, +2, BSP

#6195 Fix BSP/imxrt/imxrt1060-nxp-evk: Fixed Touch pannel issues
  bsp/imxrt/imxrt1060-nxp-evk/board/MCUX_Config/pin_mux.c
  bsp/imxrt/imxrt1060-nxp-evk/board/ports/touchpad.c
  bsp/imxrt/imxrt1060-nxp-evk/board/ports/touchpad.h
Labels: +1, +2, BSP

#6167 WCH CH569W-R0-1v0 evt board bsp port, first version
  bsp/wch/risc-v/Libraries/Kconfig
  bsp/wch/risc-v/Libraries/ch56x_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_gpio.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_gpio.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_pfic.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_pfic.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_sys.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_sys.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_timer.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_timer.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_uart.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_uart.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_wdt.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/isr_sp.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/soc.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/swi_gcc.S
  bsp/wch/risc-v/ch569w-evt/.config
  bsp/wch/risc-v/ch569w-evt/Kconfig
  bsp/wch/risc-v/ch569w-evt/SConscript
  bsp/wch/risc-v/ch569w-evt/SConstruct
  bsp/wch/risc-v/ch569w-evt/applications/SConscript
  bsp/wch/risc-v/ch569w-evt/applications/main.c
  bsp/wch/risc-v/ch569w-evt/board/Kconfig
  bsp/wch/risc-v/ch569w-evt/board/SConscript
  bsp/wch/risc-v/ch569w-evt/board/board.c
  bsp/wch/risc-v/ch569w-evt/board/board.h
  bsp/wch/risc-v/ch569w-evt/board/linker_scripts/link.lds
  bsp/wch/risc-v/ch569w-evt/board/startup_gcc.S
  bsp/wch/risc-v/ch569w-evt/figures/ch569w-evt.jpeg
  bsp/wch/risc-v/ch569w-evt/rtconfig.h
  bsp/wch/risc-v/ch569w-evt/rtconfig.py
  libcpu/risc-v/SConscript
  libcpu/risc-v/common/cpuport.c
Labels: +1, +2, BSP

#6161 [bsp][hc32]modify precompile waring for uart,spi driver.
  bsp/hc32/ev_hc32f460_lqfp100_v2/.config
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/Kconfig
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/drv_config.h
  bsp/hc32/ev_hc32f460_lqfp100_v2/project.ewp
  bsp/hc32/ev_hc32f460_lqfp100_v2/project.uvprojx
  bsp/hc32/ev_hc32f460_lqfp100_v2/rtconfig.h
  bsp/hc32/ev_hc32f4a0_lqfp176/.config
  bsp/hc32/ev_hc32f4a0_lqfp176/board/Kconfig
  bsp/hc32/ev_hc32f4a0_lqfp176/project.ewp
  bsp/hc32/ev_hc32f4a0_lqfp176/project.uvprojx
  bsp/hc32/ev_hc32f4a0_lqfp176/rtconfig.h
  bsp/hc32/libraries/hc32_drivers/drv_spi.c
  bsp/hc32/libraries/hc32_drivers/drv_usart.c
Labels: +1, wait_+2, BSP: HC32
