Repository RT-Thread/rt-thread, pull requests merged in 2022-12, with the labels that each got.

#6649 [tools] 支持通过--project-name=xxx设置生成的工程文件名称
  tools/building.py
  tools/options.py
Labels: +1

#6681 change name in drv_spi.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_spi.c
Labels: +1

#6688 [RTduino][STM32]为stm32l431-BearPi开发板对接RTduino软件包
  bsp/stm32/libraries/HAL_Drivers/config/l4/pwm_config.h
  bsp/stm32/stm32l431-BearPi/applications/SConscript
  bsp/stm32/stm32l431-BearPi/applications/arduino_main.cpp
  bsp/stm32/stm32l431-BearPi/applications/arduino_pinout/README.md
  bsp/stm32/stm32l431-BearPi/applications/arduino_pinout/SConscript
  bsp/stm32/stm32l431-BearPi/applications/arduino_pinout/bearpi-l431-pinout.png
  bsp/stm32/stm32l431-BearPi/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32l431-BearPi/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32l431-BearPi/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l431-BearPi/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l431-BearPi/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32l431-BearPi/board/CubeMX_Config/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l431-BearPi/board/CubeMX_Config/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l431-BearPi/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l431-BearPi/board/CubeMX_Config/Src/stm32l4xx_it.c
  bsp/stm32/stm32l431-BearPi/board/Kconfig
Labels: +1, BSP: STM32

#6690 [stm32l475-pandora] update readme
  bsp/stm32/stm32l475-atk-pandora/README.md
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/README.md
Labels: +1

#6677 [fix][stm32]修复输出高电平异常的问题
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, +2

#6684 [BSP][STM32]修改TIM驱动APBx外设时钟选择方案
  bsp/stm32/libraries/HAL_Drivers/drv_tim.c
Labels: +1, +2

#6682 [BSP][STM32]修改PWM驱动APBx外设时钟选择方案
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, +2

#6674 修改串口V2的putc顺序
  bsp/stm32/libraries/HAL_Drivers/drv_usart_v2.c
Labels: +1, +2, BSP: STM32

#6666 [ymodem]添加传输过程中的异常处理流程
  components/utilities/ymodem/ymodem.c
  components/utilities/ymodem/ymodem.h
Labels: +1, +2

#6655 [fix][stm32]添加判断当前使用定时器是否可配置为主从定时器模式
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, BSP: STM32

#6541 [shell]list_mutex show suspended Threads
  components/finsh/cmd.c
Labels: +1, +2

#6701 canfd帧结构加入 brs控制位
  components/drivers/include/drivers/can.h
Labels: +1

#6710 [rt-smart]同步 gitee nanosleep 修复
  bsp/qemu-vexpress-a9/drivers/drv_log.h
  components/libc/compilers/common/ctime.c
  components/lwp/lwp_syscall.c
Labels: +1

#6727 [sensor][cmd] add sensor_get_type/vender/unit_name functions
  components/drivers/include/drivers/sensor.h
  components/drivers/sensor/SConscript
  components/drivers/sensor/sensor.c
  components/drivers/sensor/sensor_cmd.c
Labels: +1

#6735 [sensor] 增加新传感器类型和单位
  components/drivers/include/drivers/sensor.h
  components/drivers/sensor/sensor_cmd.c
Labels: +1

#6731 ESP32_C3: Improve Readme, fix compile errors/warnings
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/README_ZH.md
  bsp/ESP32_C3/drivers/drv_gpio.c
  components/finsh/msh.c
Labels: +1, +2

#6739 [rt-smart][dfs] sync cromfs
  components/dfs/Kconfig
  components/dfs/filesystems/cromfs/SConscript
  components/dfs/filesystems/cromfs/dfs_cromfs.c
  components/dfs/filesystems/cromfs/dfs_cromfs.h
Labels: +1

#6741 [STM32][SPI]在H7芯片下修复时钟频率获取错误问题并添加DMA驱动
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1, BSP: STM32

#6747 [bsp][core-v-mcu]修改后兼容原有CLI,兼容原有FreeRTOS函数接口
  bsp/core-v-mcu/Libraries/core_v_drivers/include/drv_log.h
  bsp/core-v-mcu/Libraries/core_v_drivers/include/drv_usart.h
  bsp/core-v-mcu/Libraries/core_v_drivers/source/drv_usart.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/.ignore_format.yml
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/SConscript
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/bmsis/core-v-mcu/source/core-v-mcu.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_hal/include/hal_fc_event.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_hal/source/hal_fc_event.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_hal/source/hal_pinmux.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/include/camera.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/include/himax.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/include/udma_cam_driver.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/include/udma_i2cm_driver.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/include/udma_qspi_driver.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/include/udma_sdio_driver.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/include/udma_uart_driver.h
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_cam_driver.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_i2cm_driver.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_qspi_driver.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_sdio_driver.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_uart_driver.c
  bsp/core-v-mcu/core-v-cv32e40p/.config
  bsp/core-v-mcu/core-v-cv32e40p/applications/main.c
  bsp/core-v-mcu/core-v-cv32e40p/board/Kconfig
  bsp/core-v-mcu/core-v-cv32e40p/board/board.c
  bsp/core-v-mcu/core-v-cv32e40p/board/linker_scripts/core-v-mcu.ld
  bsp/core-v-mcu/core-v-cv32e40p/readme.md
  bsp/core-v-mcu/core-v-cv32e40p/readme_EN.md
  bsp/core-v-mcu/core-v-cv32e40p/rtconfig.h
Labels: +1

#6751 [components][libc] 在rv32下编译时cstring.c中的strtok_r函数与libc.a中的strtok_r重定义
  components/libc/compilers/common/cstring.c
Labels: +1

#6713 [tool] 增加scons --dist --project-path=xxxx命令
  tools/building.py
  tools/iar.py
  tools/keil.py
  tools/mkdist.py
  tools/options.py
  tools/vsc.py
Labels: +1

#6755 [bsp][core-v-mcu]在驱动中添加rtconfig.h，以兼容原工程基于FreeRTOS的驱动
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_hal/source/hal_pinmux.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_cam_driver.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_i2cm_driver.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_qspi_driver.c
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/core_v_udma_driver/source/udma_sdio_driver.c
Labels: in progress

#6756 [bsp] [stm32F401] Enable PA11 for TIM1_CH4
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f401-st-nucleo/board/Kconfig
Labels: in progress

#6749 [ch32]对接了rt_hw_context_switch_interrupt接口
  libcpu/risc-v/ch32v1/cpuport.c
Labels: +1, +2

#6746 [sensor] draft new sensor-hal framework
  bsp/stm32/stm32l475-atk-pandora/board/ports/sensor_port.c
  components/drivers/include/drivers/sensor.h
  components/drivers/sensor/sensor.c
  components/drivers/sensor/sensor_cmd.c
Labels: +1

#6770 [STM32][common]更新rt_hw_us_delay函数,以支持设置更高延时
  bsp/stm32/libraries/HAL_Drivers/drv_common.c
Labels: +1

#6766 修改printf格式“%-*.s”为“%-*.*s
  components/finsh/cmd.c
  components/utilities/ulog/ulog.c
Labels: +1

#6752 [stm32][spic]修改SPI TX DMA中断优先级
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1, BSP: STM32

#6774 [kernel] RT_NAME_MAX set the range from 1
  src/Kconfig
Labels: +1

#6669 [bsp][ch32v307]适配RT-duino框架
  bsp/wch/risc-v/ch32v307v-r1/applications/SConscript
  bsp/wch/risc-v/ch32v307v-r1/applications/arduino_main.cpp
  bsp/wch/risc-v/ch32v307v-r1/applications/arduino_pinout/Sconscript
  bsp/wch/risc-v/ch32v307v-r1/applications/arduino_pinout/pins_arduino.c
  bsp/wch/risc-v/ch32v307v-r1/applications/arduino_pinout/pins_arduino.h
  bsp/wch/risc-v/ch32v307v-r1/applications/main.c
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
  bsp/wch/risc-v/ch32v307v-r1/board/board.h
Labels: in progress

#6787 [tool] Add the codespace container of rt-thread
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: +1, +2

#6764 [BSP][smart] fix link script for smart in vexpress-a9
  bsp/qemu-vexpress-a9/SConstruct
  bsp/qemu-vexpress-a9/link_smart.lds
  bsp/qemu-vexpress-a9/rtconfig.py
  components/libc/compilers/common/include/sys/time.h
Labels: +1, v5.0.0

#6797 [bsp][nuvoton] modify RT_WEAK as rt_weak
  bsp/nuvoton/libraries/ma35/rtt_port/drv_disp.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_rtp.c
  bsp/nuvoton/numaker-hmi-ma35d1/applications/lvgl/lv_demo.c
Labels: +1

#6798 [libc][time] 修正POSIX 时间相关函数返回值错误
  components/libc/compilers/common/ctime.c
Labels: +1
