Repository RT-Thread/rt-thread, pull requests merged in 2022-06, with the labels that each got.

#6018 [bsp/qemu-vexpress-a9] add remount operation to avoid dfs_mout fail
  bsp/qemu-vexpress-a9/applications/mnt.c
Labels: +1

#6001 [fix] remove the executable permission of thread.c
  src/thread.c
Labels: +1

#6015 HC32 configuration file revise
  .github/workflows/action.yml
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/config/dma_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/uart_config.h
Labels: +2

#6013 [bsp][essemi] update es32f36xx libraries.
  bsp/essemi/es32f369x/libraries/CMSIS/Device/EastSoft/ES32F36xx/Startup/gcc/startup_es32f36xx.S
  bsp/essemi/es32f369x/libraries/CMSIS/Device/EastSoft/ES32F36xx/Startup/iar/startup_es32f36xx.s
  bsp/essemi/es32f369x/libraries/CMSIS/Device/EastSoft/ES32F36xx/Startup/keil/startup_es32f36xx.s
  bsp/essemi/es32f369x/libraries/ES32F36xx_ALD_StdPeriph_Driver/Source/ald_acmp.c
  bsp/essemi/es32f369x/libraries/ES32F36xx_ALD_StdPeriph_Driver/Source/ald_adc.c
Labels: +1, +2

#6023 Fix compiler warnings
  components/drivers/hwcrypto/hw_bignum.c
  components/libc/posix/io/poll/poll.c
  components/net/netdev/src/netdev.c
  components/net/sal/src/sal_socket.c
Labels: +1, +2

#6041 [bsp][stm32] 增加uart7和uart8的DMA配置
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
Labels: +1, +2

#6017 os tick can be calculated wrongly because the local variable was not initialized.
  components/libc/compilers/common/time.c
Labels: +1, +2, v4.1.1

#6028 attach: remove strnlen #6026
  include/rtthread.h
  src/kservice.c
Labels: +1

#6037 [bsp][stm32] fix stm32f767-st-nucleo console device name
  bsp/stm32/stm32f767-st-nucleo/.config
  bsp/stm32/stm32f767-st-nucleo/rtconfig.h
  bsp/stm32/stm32f767-st-nucleo/rtconfig.py
Labels: +1, +2

#6056 [bsp][stm32l496zg] add on-chip feature
  bsp/stm32/stm32l496-st-nucleo/applications/main.c
  bsp/stm32/stm32l496-st-nucleo/board/Kconfig
  bsp/stm32/stm32l496-st-nucleo/board/SConscript
  bsp/stm32/stm32l496-st-nucleo/board/fal_cfg.h
  bsp/stm32/stm32l496-st-nucleo/board/mnt_onchip.c
Labels: +1, +2

#6051 修复多串口的描述符被覆盖的问题
  bsp/hc32/libraries/hc32_drivers/drv_usart.c
  bsp/hc32/libraries/hc32_drivers/drv_usart.h
Labels: +2, BSP: HC32

#6059 [docs] add nrfx docs
  bsp/nrf5x/README.md
  bsp/nrf5x/docs/images/image-20220609112322574.png
  bsp/nrf5x/docs/images/image-20220609112426518.png
  bsp/nrf5x/docs/images/image-20220609112938212.png
  bsp/nrf5x/docs/images/image-20220609113142111.png
  bsp/nrf5x/docs/images/image-20220609113203519.png
  bsp/nrf5x/docs/images/image-20220609113439251.png
  bsp/nrf5x/docs/images/image-20220609113611068.png
  bsp/nrf5x/docs/images/image-20220609113726186.png
  bsp/nrf5x/docs/images/image-20220609114026961.png
  bsp/nrf5x/docs/images/image-20220609114121378.png
  bsp/nrf5x/docs/images/image-20220609114333827.png
  bsp/nrf5x/docs/images/image-20220609114533743.png
  bsp/nrf5x/docs/images/image-20220609114554402.png
Labels: +1, +2

#6060 [.gitignore] add source insight projects in .gitignore
  .gitignore
Labels: +1, +2

#6067 添加HC32F460系列ADC外设驱动支持
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/Kconfig
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/board_config.c
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/board_config.h
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/config/adc_config.h
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/drv_config.h
  bsp/hc32/libraries/hc32_drivers/SConscript
  bsp/hc32/libraries/hc32_drivers/drv_adc.c
Labels: +1, +2, BSP: HC32

#6063 [kservice] add NULL check for rt_free and rt_free_align.
  src/kservice.c
Labels: +1, +2

#6052 [bsp/nuvoton] Upload missing files.
  bsp/nuvoton/libraries/m2354/StdDriver/inc/nu_trng.h
  bsp/nuvoton/libraries/m2354/StdDriver/src/nu_trng.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_sdio.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_sdio.c
  bsp/nuvoton/libraries/nu_packages/FSA506/SConscript
  bsp/nuvoton/libraries/nu_packages/FSA506/fsa506_ebi.c
  bsp/nuvoton/libraries/nu_packages/FSA506/lcd_fsa506.c
  bsp/nuvoton/libraries/nu_packages/FSA506/lcd_fsa506.h
  bsp/nuvoton/libraries/nu_packages/TPC/ft5446.c
  bsp/nuvoton/libraries/nu_packages/TPC/ft5446.h
  bsp/nuvoton/libraries/nu_packages/TPC/st1663i.c
  bsp/nuvoton/libraries/nu_packages/TPC/st1663i.h
  bsp/nuvoton/nk-n9h30/applications/lvgl/lv_gpu_n9h30_ge2d.c
  bsp/nuvoton/nk-n9h30/applications/lvgl/lv_gpu_n9h30_ge2d.h
Labels: +1, +2, BSP: Nuvoton

#6054 [stm32][hwtimer] add H7 support
  bsp/stm32/libraries/HAL_Drivers/drv_hwtimer.c
Labels: +1, BSP: STM32

#6074 [bsp][stm32]：修复UART6 DMA分配有可能冲突的BUG
  bsp/stm32/libraries/HAL_Drivers/config/f4/dma_config.h
Labels: +1, +2

#6077 fix bugs of hc32 driver adc and can
  bsp/hc32/ev_hc32f4a0_lqfp176/board/Kconfig
  bsp/hc32/libraries/hc32_drivers/drv_adc.c
  bsp/hc32/libraries/hc32_drivers/drv_can.c
Labels: +1, +2, BSP: HC32

#6076 Fix rt_qspi_send symbol extension BUG
  components/drivers/spi/qspi_core.c
Labels: +1, +2, important

#6069 添加HC32F460系列RTC外设驱动
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/Kconfig
  bsp/hc32/libraries/hc32_drivers/SConscript
  bsp/hc32/libraries/hc32_drivers/drv_rtc.c
Labels: +1, +2, BSP: HC32

#6081 [fix][building.py]修复动态模块的option的bug
  tools/building.py
  tools/options.py
Labels: +1

#6019 [simulator] improve init process
  bsp/simulator/applications/mnt.c
Labels: +1, v4.1.1

#6078 [stm32][soft spi] implement soft spi
  bsp/stm32/libraries/HAL_Drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drv_soft_spi.c
  bsp/stm32/libraries/HAL_Drivers/drv_soft_spi.h
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/SConscript
  bsp/stm32/stm32f407-atk-explorer/board/ports/soft_spi_flash_init.c
  components/drivers/spi/spi-bit-ops.h
Labels: +1, +2, BSP: STM32

#6087 [bsp][hc32]support MDK AC6 compiler
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/board.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/board.h
Labels: +1, +2, BSP: HC32

#6084 [msh]Restore the free command.|还原 free命令。
  components/finsh/msh.c
Labels: +1, +2

#6082 修复sdio读写块的地址偏移问题
  bsp/swm320/drivers/drv_sdio.c
Labels: +1, +2, v4.1.1

#6089 [arduino] use perf_counter to instead of hwtimer
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_main.cpp
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f072-st-nucleo/board/Kconfig
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f401-st-nucleo/board/Kconfig
Labels: +1

#6075 [fingbuffer] fix a typo
  components/drivers/include/ipc/ringbuffer.h
  components/drivers/ipc/ringbuffer.c
Labels: +1, v4.1.1

#6044 [libc] implement extension standard C functions
  components/libc/compilers/common/SConscript
  components/libc/compilers/common/cctype.c
  components/libc/compilers/common/cstdio.c
  components/libc/compilers/common/cstdlib.c
  components/libc/compilers/common/cstring.c
  components/libc/compilers/common/ctime.c
  components/libc/compilers/common/cwchar.c
  components/libc/compilers/common/extension/fcntl/msvc/fcntl.h
  components/libc/compilers/common/extension/fcntl/octal/fcntl.h
  components/libc/compilers/common/extension/sys/errno.h
  components/libc/compilers/common/extension/sys/stat.h
  components/libc/compilers/common/extension/sys/types.h
  components/libc/compilers/common/include/compiler_private.h
  components/libc/compilers/common/include/dirent.h
  components/libc/compilers/common/include/posix/ctype.h
  components/libc/compilers/common/include/posix/stdio.h
  components/libc/compilers/common/include/posix/stdlib.h
  components/libc/compilers/common/include/posix/string.h
  components/libc/compilers/common/include/posix/wchar.h
  components/libc/compilers/common/include/sys/ioctl.h
  components/libc/compilers/common/include/sys/select.h
  components/libc/compilers/common/include/sys/signal.h
  components/libc/compilers/common/include/sys/statfs.h
  components/libc/compilers/common/include/sys/time.h
  components/libc/compilers/common/include/sys/unistd.h
  components/libc/compilers/common/include/sys/vfs.h
  components/libc/compilers/common/include/unistd.h
  components/libc/compilers/common/stdlib.c
Labels: +1, +2, v4.1.1

#6065 [tools][target][eclipse] Update the libs import for eclipse project.
  tools/eclipse.py
Labels: v4.1.1

#6086 接收错误中断未触发的问题
  bsp/hc32/libraries/hc32_drivers/drv_usart.c
Labels: +1, +2, BSP: HC32

#6085 update rt1170n menuconfig
  bsp/imxrt/imxrt1170-nxp-evk/.config
  bsp/imxrt/imxrt1170-nxp-evk/project.ewp
  bsp/imxrt/imxrt1170-nxp-evk/project.uvprojx
  bsp/imxrt/imxrt1170-nxp-evk/rtconfig.h
  bsp/imxrt/libraries/drivers/drv_gpio.c
Labels: +1, BSP: NXP, v4.1.1

#6097 fix the error return in armlibc
  components/libc/compilers/armlibc/syscalls.c
Labels: +1, v4.1.1

#6098 [spi] fix issue report #6008
  components/drivers/include/drivers/spi.h
  components/drivers/spi/device_driver_list.txt
  components/drivers/spi/spi_core.c
Labels: +1, v4.1.1

#6012 [rtc] use gmtime_r to replace gmtime
  bsp/acm32/acm32f0x0-nucleo/drivers/drv_rtc.c
  bsp/apollo2/board/rtc.c
  bsp/at32/libraries/rt_drivers/drv_rtc.c
  bsp/essemi/es32f0654/drivers/drv_rtc.c
  bsp/essemi/es32f369x/drivers/drv_rtc.c
  bsp/imxrt/libraries/drivers/drv_rtc.c
  bsp/loongson/ls1bdev/drivers/drv_uart.c
  bsp/loongson/ls1cdev/drivers/display_controller.c
  bsp/loongson/ls1cdev/drivers/display_controller.h
  bsp/loongson/ls1cdev/drivers/drv_can.c
  bsp/loongson/ls1cdev/drivers/drv_gpio.c
  bsp/loongson/ls1cdev/drivers/drv_pwm.c
  bsp/loongson/ls1cdev/drivers/drv_rtc.c
  bsp/loongson/ls1cdev/drivers/drv_rtc.h
  bsp/loongson/ls1cdev/drivers/drv_spi.h
  bsp/loongson/ls1cdev/drivers/drv_touch.c
  bsp/loongson/ls1cdev/drivers/drv_touch.h
  bsp/loongson/ls1cdev/drivers/drv_wdt.c
  bsp/loongson/ls1cdev/drivers/hw_i2c.c
  bsp/loongson/ls1cdev/drivers/hw_i2c.h
  bsp/loongson/ls1cdev/drivers/net/mii.c
  bsp/loongson/ls1cdev/drivers/net/mii.h
  bsp/loongson/ls1cdev/drivers/net/synopGMAC.c
  bsp/loongson/ls1cdev/drivers/net/synopGMAC.h
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_Dev.c
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_Dev.h
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_Host.h
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_debug.h
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_network_interface.h
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_plat.c
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_plat.h
  bsp/loongson/ls1cdev/drivers/net/synopGMAC_types.h
  bsp/loongson/ls1cdev/drivers/selfboot.h
  bsp/loongson/ls1cdev/drivers/touch.c
  bsp/loongson/ls1cdev/drivers/touch.h
  bsp/loongson/ls2kdev/drivers/drv_rtc.c
  bsp/loongson/ls2kdev/drivers/drv_uart.c
  bsp/loongson/ls2kdev/drivers/ls2k1000.h
  bsp/loongson/ls2kdev/drivers/net/mii.h
  bsp/loongson/ls2kdev/drivers/net/synopGMAC_Dev.h
  bsp/loongson/ls2kdev/drivers/net/synopGMAC_Host.h
  bsp/loongson/ls2kdev/drivers/net/synopGMAC_debug.h
  bsp/loongson/ls2kdev/drivers/net/synopGMAC_plat.h
  bsp/lpc55sxx/Libraries/drivers/drv_rtc.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_rtc.c
  bsp/raspberry-pi/raspi3-32/driver/drv_rtc.c
  bsp/raspberry-pi/raspi3-64/driver/drv_rtc.c
  bsp/renesas/libraries/HAL_Drivers/drv_rtc.c
  bsp/swm320/drivers/drv_rtc.c
  bsp/w60x/drivers/drv_rtc.c
  components/dfs/filesystems/elmfat/dfs_elm.c
  libcpu/arm/s3c24x0/rtc.c
Labels: +1, v4.1.1

#6043 [kernel][mem.c] tighten size before check with mem_size_aligned
  src/mem.c
Labels: +1, +2

#6104 [libc][newlib] format
  components/libc/compilers/newlib/syscalls.c
Labels: +1

#6102 Implement api docking of rt_pin_get.
  bsp/imxrt/libraries/drivers/drv_gpio.c
Labels: +1, +2, BSP: NXP

#6101 version numbers be friendly to macro expansion
  include/rtdef.h
Labels: +1, +2

#6109 [docs] bsp/qemu_vexpress_a9 update README.md
  bsp/qemu-vexpress-a9/README.md
  bsp/qemu-vexpress-a9/figures/image-20220626113747893.png
  bsp/qemu-vexpress-a9/figures/image-20220626114020634.png
  bsp/qemu-vexpress-a9/figures/image-20220626114422344.png
  bsp/qemu-vexpress-a9/figures/image-20220626114510055.png
  bsp/qemu-vexpress-a9/figures/image-20220626114611158.png
  bsp/qemu-vexpress-a9/figures/image-20220626115233881.png
  bsp/qemu-vexpress-a9/figures/image-20220626115504981.png
  bsp/qemu-vexpress-a9/figures/image-20220626115854706.png
  bsp/qemu-vexpress-a9/figures/image-20220626121008666.png
  bsp/qemu-vexpress-a9/figures/image-20220626125511399.png
  bsp/qemu-vexpress-a9/figures/image-20220626125644099.png
  bsp/qemu-vexpress-a9/figures/image-20220626125717698.png
  bsp/qemu-vexpress-a9/figures/image-20220626125837849.png
Labels: +1, +2

#3186 [enhancement] Add string information for error
  components/finsh/cmd.c
  include/rtthread.h
  src/kservice.c
Labels: +1, +2, v4.1.1

#6120 Update English coding style for more idiomatic use
  documentation/contribution_guide/coding_style_en.md
Labels: +1

#6121 Docking lvgl for stm32f469-st-disco bsp using ft6336 touch chip
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32f469-st-disco/board/ports/touch/SConscript
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch.c
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch.h
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch_ft6206.c
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch_ft6x36.c
Labels: +1, +2, BSP: STM32
