Repository RT-Thread/rt-thread, pull requests merged in 2022-09, with the labels that each got.

#6355 Support flexcan
  bsp/imxrt/imxrt1170-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1170-nxp-evk/board/board.c
  bsp/imxrt/libraries/MIMXRT1170/SConscript
  bsp/imxrt/libraries/drivers/drv_can.c
  bsp/imxrt/libraries/drivers/drv_gpio.c
Labels: +1

#6360 [spi]fix some bug for rt_spi_sendrecv16
  components/drivers/include/drivers/spi.h
  components/drivers/spi/spi_core.c
Labels: +1

#6338 [rt_drv_pwm]完善PWM框架互补输出部分代码
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
  components/drivers/include/drivers/rt_drv_pwm.h
  components/drivers/misc/rt_drv_pwm.c
Labels: +1, v5.0.0

#6359 完善CH32V307的串口BSP
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_usart.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_usart.h
Labels: +1, +2

#6361 [kservice] 增加printf格式2进制和8进制，RT_KPRINTF_USING_LONGLONG 和 RT_PRINTF_SPECIAL 做了相应处理
  src/kservice.c
Labels: +1, +2

#6366 fix: 修复arm926异常时打印栈名乱码
  libcpu/arm/arm926/trap.c
Labels: +1, +2

#6377 [bsp][APM32][APM32F407VGT6]
  bsp/apm32/apm32f407ig-minibroard/board/board.c
Labels: +1

#6367 fix: (nuv980)修复关闭串口时意外关闭其他设备正在使用的pdma
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_uart.c
Labels: +1, BSP: Nuvoton

#6378 [imxrt1170]Fix flexcan driver
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_flexcan.c
  bsp/imxrt/libraries/drivers/drv_can.c
Labels: +1

#6382 [stm32h750-artpi][Kconfig] add SPI3
  bsp/stm32/stm32h750-artpi/board/Kconfig
Labels: +1

#6389 [RTduino]Add SPI adaptation of stm32f103-blue-pill BSP
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/README.md
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f103-blue-pill/board/Kconfig
Labels: +1

#6340 [kernel][version] 采用新的版本宏定义
  bsp/nuvoton/libraries/nu_packages/Demo/slcd_show_tick.c
  bsp/simulator/drivers/SConscript
  components/legacy/rtlegacy.h
  components/net/sal/src/sal_socket.c
  include/rtdef.h
  src/kservice.c
  tools/building.py
Labels: +1, +2, v5.0.0

#6399 [rtduino] [stm32f072] update i2c device readme
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/pins_arduino.c
Labels: +1

#6385 add sdio support
  bsp/imxrt/imxrt1170-nxp-evk/applications/main.c
  bsp/imxrt/imxrt1170-nxp-evk/applications/mnt.c
  bsp/imxrt/imxrt1170-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1170-nxp-evk/board/board.c
  bsp/imxrt/libraries/drivers/drv_sdio.c
Labels: in progress, BSP: NXP

#6406 [tools/link-order]Sort objects so that compilation can be done in a fixed link order.
  tools/building.py
Labels: +1, +2

#6408 Revert "[tools/link-order]Sort objects so that compilation can be done in a fixed link order."
  tools/building.py
Labels: urgent

#6411 [tools/link-order] Sort objects so that compilation can be done in a fixed link order.
  tools/building.py
Labels: +1, +2

#6421 [修订]修改README文件中许可协议
  README.md
  README_zh.md
Labels: +1

#6427 ESP32_C3 migrate to ESP-IDF package
  bsp/ESP32_C3/.config
  bsp/ESP32_C3/CMakeLists.txt
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/README_ZH.md
  bsp/ESP32_C3/SConscript
  bsp/ESP32_C3/SConstruct
  bsp/ESP32_C3/drivers/SConscript
  bsp/ESP32_C3/drivers/board.c
  bsp/ESP32_C3/drivers/board.h
  bsp/ESP32_C3/drivers/drv_gpio.c
  bsp/ESP32_C3/drivers/drv_gpio.h
  bsp/ESP32_C3/drivers/drv_uart.c
  bsp/ESP32_C3/drivers/drv_uart.h
  bsp/ESP32_C3/main/CMakeLists.txt
  bsp/ESP32_C3/main/SConscript
  bsp/ESP32_C3/main/board.c
  bsp/ESP32_C3/main/main.c
  bsp/ESP32_C3/rtconfig.h
  bsp/ESP32_C3/rtconfig.py
  bsp/ESP32_C3/sdkconfig
  tools/building.py
  tools/esp_idf.py
Labels: +1

#6412 fix:The directory "sdkdir" is set incorrectly
  tools/xmake.lua
  tools/xmake.py
Labels: +1, +2

#6428 [iar] 修正IAR编译链名称
  tools/building.py
Labels: +1

#6434 完善bsp beaglebone的基本使用
  bsp/beaglebone/.config
  bsp/beaglebone/Kconfig
  bsp/beaglebone/applications/board.c
  bsp/beaglebone/drivers/gpio.c
  bsp/beaglebone/drivers/gpio.h
  bsp/beaglebone/drivers/uart.c
  bsp/beaglebone/rtconfig.h
  bsp/beaglebone/uboot_cmd.txt
  libcpu/arm/am335x/am33xx.h
  libcpu/arm/am335x/interrupt.c
  libcpu/arm/am335x/interrupt.h
Labels: +1, +2

#6423 [kernel] add rt_ssize_t data structure
  components/libc/compilers/common/extension/sys/types.h
  include/rtdef.h
Labels: +1, +2

#6437 Modified bsp/stm32/libraries/HAL_Drivers/drv_can.c
  bsp/stm32/libraries/HAL_Drivers/drv_can.c
Labels: +1, BSP: STM32

#6431 [BSP] CH32V307 add drv_adc
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_adc.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_adc.h
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: +1, +2

#6440 [ch32v307v-r1] 添加dac驱动
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_dac.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_dac.h
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: +1, +2

#6445 [rtduino]重新整理pinout
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/README.md
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/blue-pill-f103-pinout.jpg
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/README.md
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/pins_arduino.h
Labels: +1

#6450 [memheap] Fix the Oz optimization problem of AC6 compiler
  src/memheap.c
Labels: +1, +2

#6451 [RTduino]stm32f103-blue-pill更新对接文件
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/pins_arduino.h
Labels: +1

#6438 [fix] Fix simulator compilation warnings
  bsp/simulator/rtconfig_project.h
  components/dfs/filesystems/romfs/dfs_romfs.c
  components/drivers/hwtimer/hwtimer.c
  components/drivers/i2c/i2c-bit-ops.c
  components/drivers/include/ipc/ringbuffer.h
  components/drivers/ipc/pipe.c
  components/drivers/ipc/ringbuffer.c
  components/drivers/mtd/mtd_nand.c
  components/drivers/sdio/block_dev.c
  components/drivers/sdio/mmc.c
  components/drivers/sdio/sd.c
  components/drivers/serial/serial.c
  components/drivers/touch/touch.c
  components/libc/compilers/common/cstdlib.c
  components/libc/compilers/common/ctime.c
  components/libc/posix/io/poll/select.c
  components/net/lwip/port/ethernetif.c
  components/utilities/rt-link/inc/rtlink.h
  components/utilities/rt-link/src/rtlink.c
  components/utilities/rt-link/src/rtlink_hw.c
  components/utilities/ulog/ulog.c
  src/ipc.c
Labels: +1, +2

#6433 修改Ymodem组件中MSH的ry命令，已便于自定义保存路径
  components/utilities/ymodem/ry_sy.c
Labels: +1, +2

#6453 [RTduino]更新stm32f469的对接文件
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/pins_arduino.h
Labels: +1

#6443 bsp beaglebone: add IAR support
  bsp/beaglebone/.gitignore
  bsp/beaglebone/applications/board.h
  bsp/beaglebone/beaglebone_ram.icf
  bsp/beaglebone/rtconfig.py
  bsp/beaglebone/template.ewp
  bsp/beaglebone/template.eww
  libcpu/arm/am335x/context_iar.S
  libcpu/arm/am335x/cpu.c
  libcpu/arm/am335x/mmu.c
Labels: +1, +2

#6357 [bsp/stm32] 简化drv_usart中的DMA接收逻辑
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
  bsp/stm32/libraries/HAL_Drivers/drv_usart.h
Labels: in progress, +1, +2, BSP: STM32

#6442 [tools] 增加scons --exec-path=xxx命令 用于动态设置编译链路径
  tools/building.py
  tools/options.py
Labels: +1

#6456 [usbhost] List keyboard option.
  components/drivers/Kconfig
  components/drivers/usb/usbhost/class/ukbd.c
  components/drivers/usb/usbhost/class/umouse.c
  components/drivers/usb/usbhost/core/usbhost.c
Labels: +1, +2

#6460 [bsp][nrf52840]Add segger rtt function
  bsp/nrf5x/nrf52840/Kconfig
  bsp/nrf5x/nrf52840/README.md
  bsp/nrf5x/nrf52840/board/Kconfig
  bsp/nrf5x/nrf52840/board/board.c
  bsp/nrf5x/nrf52840/template.uvprojx
Labels: +1

#6435 RTC STM32F1 Enable PWR and BKP clocks in the same time
  bsp/stm32/libraries/HAL_Drivers/drv_rtc.c
Labels: +1, BSP: STM32

#6457 [TMS320F28379] implement PWM driver
  bsp/tms320f28379d/.cproject
  bsp/tms320f28379d/.project
  bsp/tms320f28379d/2837x_RAM_lnk_cpu1.cmd
  bsp/tms320f28379d/drivers/config/pwm_config.h
  bsp/tms320f28379d/drivers/drv_config.h
  bsp/tms320f28379d/drivers/drv_pwm.c
  bsp/tms320f28379d/drivers/drv_pwm.h
  bsp/tms320f28379d/rtconfig.h
  components/drivers/include/drivers/rt_drv_pwm.h
  components/drivers/misc/rt_drv_pwm.c
Labels: +1, +2

#6475 [rtduino][readme] change title
  bsp/essemi/es32f369x/applications/arduino_pinout/README.md
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/README.md
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f412-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/README.md
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/README.md
Labels: +1

#6465 [GD32][BSP]添加GD32303C-START开发板
  .github/workflows/action.yml
  bsp/gd32/arm/gd32303c-start/.config
  bsp/gd32/arm/gd32303c-start/Kconfig
  bsp/gd32/arm/gd32303c-start/README.md
  bsp/gd32/arm/gd32303c-start/SConscript
  bsp/gd32/arm/gd32303c-start/SConstruct
  bsp/gd32/arm/gd32303c-start/applications/SConscript
  bsp/gd32/arm/gd32303c-start/applications/main.c
  bsp/gd32/arm/gd32303c-start/board/Kconfig
  bsp/gd32/arm/gd32303c-start/board/SConscript
  bsp/gd32/arm/gd32303c-start/board/board.c
  bsp/gd32/arm/gd32303c-start/board/board.h
  bsp/gd32/arm/gd32303c-start/board/gd32f30x_libopt.h
  bsp/gd32/arm/gd32303c-start/board/linker_scripts/link.icf
  bsp/gd32/arm/gd32303c-start/board/linker_scripts/link.ld
  bsp/gd32/arm/gd32303c-start/board/linker_scripts/link.sct
  bsp/gd32/arm/gd32303c-start/figures/board.png
  bsp/gd32/arm/gd32303c-start/project.ewd
  bsp/gd32/arm/gd32303c-start/project.ewp
  bsp/gd32/arm/gd32303c-start/project.eww
  bsp/gd32/arm/gd32303c-start/project.uvoptx
  bsp/gd32/arm/gd32303c-start/project.uvproj
  bsp/gd32/arm/gd32303c-start/project.uvprojx
  bsp/gd32/arm/gd32303c-start/rtconfig.h
  bsp/gd32/arm/gd32303c-start/rtconfig.py
  bsp/gd32/arm/gd32303c-start/template.ewp
  bsp/gd32/arm/gd32303c-start/template.uvoptx
  bsp/gd32/arm/gd32303c-start/template.uvproj
  bsp/gd32/arm/gd32303c-start/template.uvprojx
Labels: +1, +2

#6473 [menuconfig] Fix pyconfig running errors
  tools/menuconfig.py
Labels: +1, +2

#6472 GitHub Workflows security hardening
  .github/workflows/action.yml
  .github/workflows/action_tools.yml
  .github/workflows/action_utest.yml
Labels: +1

#6478 [qemu-vexpress-a9] QEMU运行时显示qemu版本号
  bsp/qemu-vexpress-a9/qemu.bat
  bsp/qemu-vexpress-a9/qemu.sh
Labels: +1

#6480 [iar] PLATFOMR更正为'iccarm'
  bsp/gd32/arm/gd32103c-eval/rtconfig.py
  bsp/gd32/arm/gd32105c-eval/rtconfig.py
  bsp/gd32/arm/gd32105r-start/rtconfig.py
  bsp/gd32/arm/gd32107c-eval/rtconfig.py
  bsp/gd32/arm/gd32205r-start/rtconfig.py
  bsp/gd32/arm/gd32207i-eval/rtconfig.py
  bsp/gd32/arm/gd32303c-start/rtconfig.py
  bsp/gd32/arm/gd32303e-eval/rtconfig.py
  bsp/gd32/arm/gd32305r-start/rtconfig.py
  bsp/gd32/arm/gd32307e-start/rtconfig.py
  bsp/gd32/arm/gd32407v-start/rtconfig.py
  bsp/gd32/arm/gd32450z-eval/rtconfig.py
  bsp/hc32/ev_hc32f460_lqfp100_v2/rtconfig.py
  bsp/mm32/mm32f3270-100ask-pitaya/SConstruct
  bsp/mm32/mm32f3270-100ask-pitaya/rtconfig.py
  bsp/n32/n32g45xvl-stb/rtconfig.py
  bsp/stm32/stm32f103-100ask-mini/rtconfig.py
  bsp/stm32/stm32f103-100ask-pro/rtconfig.py
  bsp/synwit/swm341/rtconfig.py
Labels: +1

#6470 build: EndBuilding need_exit after GenTargetProject
  tools/building.py
Labels: +1, +2
