Repository RT-Thread/rt-thread, pull requests merged in 2022-08, with the labels that each got.

#6117 [bsp/hc32]添加timerA的pwm驱动
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/Kconfig
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/board_config.c
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/board_config.h
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/config/pwm_tmra_config.h
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/drv_config.h
  bsp/hc32/libraries/hc32_drivers/SConscript
  bsp/hc32/libraries/hc32_drivers/drv_pwm_tmra.c
  bsp/hc32/libraries/hc32f460_ddl/SConscript
Labels: +1, +2, change req, v4.1.1, wait_+2, BSP: HC32

#6202 增加 F4 GCC 启动文件，修改 F1/F4 配置文件uart改为uart1。
  bsp/apm32/apm32f103xe-minibroard/.config
  bsp/apm32/apm32f103xe-minibroard/applications/main.c
  bsp/apm32/apm32f103xe-minibroard/rtconfig.h
  bsp/apm32/apm32f407ig-minibroard/.config
  bsp/apm32/apm32f407ig-minibroard/applications/main.c
  bsp/apm32/apm32f407ig-minibroard/rtconfig.h
  bsp/apm32/libraries/APM32F4xx_Library/Device/Geehy/APM32F4xx/Source/gcc/startup_apm32f40x.s
  bsp/apm32/libraries/APM32F4xx_Library/Device/Geehy/APM32F4xx/Source/gcc/startup_apm32f41x.s
Labels: +1, +2, BSP

#6201 [bsp][stm32] 更新f407-robomaster-c板的bsp, 添加stm32定时器8 pwm默认配置
  bsp/stm32/libraries/HAL_Drivers/config/f4/pwm_config.h
  bsp/stm32/stm32f407-robomaster-c/.config
  bsp/stm32/stm32f407-robomaster-c/README.md
  bsp/stm32/stm32f407-robomaster-c/applications/main.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f407-robomaster-c/board/CubeMX_Config/Src/system_stm32f4xx.c
  bsp/stm32/stm32f407-robomaster-c/board/Kconfig
  bsp/stm32/stm32f407-robomaster-c/project.uvoptx
  bsp/stm32/stm32f407-robomaster-c/project.uvproj
  bsp/stm32/stm32f407-robomaster-c/project.uvprojx
  bsp/stm32/stm32f407-robomaster-c/rtconfig.h
Labels: +1, BSP: STM32

#6204 修复 工程include path 重排序问题 #6143 report
  tools/utils.py
Labels: +1, v4.1.1

#5839 allow setting optional url for packages via envvar.
  tools/menuconfig.py
Labels: +1, +2

#6205 ch569w-evt : add spi master driver, SPI0 tested
  bsp/wch/risc-v/Libraries/ch56x_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_spi.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_spi.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_sys.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_sys.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_timer.c
  bsp/wch/risc-v/ch569w-evt/.config
  bsp/wch/risc-v/ch569w-evt/applications/main.c
  bsp/wch/risc-v/ch569w-evt/board/Kconfig
  bsp/wch/risc-v/ch569w-evt/board/board.h
  bsp/wch/risc-v/ch569w-evt/rtconfig.h
Labels: +1, +2, BSP, v4.1.1

#6046 [components][var_export] 添加获取长度及二分查找功能
  components/utilities/var_export/var_export.c
  components/utilities/var_export/var_export.h
Labels: discussion, +1, +2, v4.1.1

#6207 完善stm32f103-blue-pill BSP的kconfig配置
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Inc/stm32f1xx_hal_conf.h
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Inc/stm32f1xx_it.h
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-blue-pill/board/CubeMX_Config/Src/stm32f1xx_it.c
  bsp/stm32/stm32f103-blue-pill/board/Kconfig
Labels: +1

#6187 [bsp/raspi3-32] fix some bug of funtion '__rt_ffs'
  bsp/raspberry-pi/raspi3-32/cpu/trap.c
Labels: BSP: Raspberry-Pi, v4.1.1

#5744 Fix some compilation warning
  bsp/stm32/libraries/HAL_Drivers/drv_flash/drv_flash_f4.c
  bsp/stm32/libraries/HAL_Drivers/drv_gpio.c
  bsp/stm32/libraries/HAL_Drivers/drv_soft_i2c.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
  components/dfs/filesystems/romfs/dfs_romfs.c
  components/dfs/filesystems/romfs/romfs.c
  components/dfs/src/dfs.c
  components/drivers/i2c/i2c-bit-ops.c
  components/drivers/i2c/i2c_core.c
  components/drivers/serial/serial.c
  components/fal/src/fal_rtt.c
  components/net/netdev/src/netdev.c
  components/net/sal/src/sal_socket.c
  libcpu/arm/common/showmem.c
  src/kservice.c
  src/mem.c
  src/timer.c
Labels: +1, +2, important, v4.1.1

#6158 [bsp][hc32]添加hc32f460系列WDT外设驱动
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/Kconfig
  bsp/hc32/libraries/hc32_drivers/SConscript
  bsp/hc32/libraries/hc32_drivers/drv_wdt.c
Labels: +1, v4.1.1, wait_+2, BSP: HC32

#6208 [tools] format python code
  tools/WCS.py
  tools/building.py
  tools/cdk.py
  tools/codeblocks.py
  tools/codelite.py
  tools/eclipse.py
  tools/file_check.py
  tools/keil.py
  tools/makefile.py
  tools/menuconfig.py
  tools/mkromfs.py
  tools/package.py
  tools/rt_studio.py
  tools/sconsui.py
  tools/ses.py
  tools/ua.py
  tools/utils.py
  tools/vs.py
  tools/vs2012.py
  tools/win32spawn.py
  tools/wizard.py
  tools/xmake.py
Labels: +1, v4.1.1

#6209 [simulator] fix some warnings
  bsp/simulator/.config
  bsp/simulator/drivers/board.c
  bsp/simulator/drivers/sdl_fb.c
  bsp/simulator/drivers/uart_console.c
  bsp/simulator/rtconfig.h
Labels: v4.1.1

#6212 [fix] pthread_mutex_destroy can't work.
  bsp/simulator/drivers/sdl_fb.c
Labels: +1, v4.1.1

#6213 [serial_v2] fixed bug
  components/drivers/serial/serial_v2.c
Labels: +1, v4.1.1

#6215 [fix]mimxrt1170 Qspi flash bootup problems
  bsp/imxrt/imxrt1170-nxp-evk/applications/main.c
  bsp/imxrt/imxrt1170-nxp-evk/board/MCUX_Config/pin_mux.c
  bsp/imxrt/imxrt1170-nxp-evk/project.uvprojx
  bsp/imxrt/imxrt1170-nxp-evk/xip/SConscript
Labels: +1, BSP: NXP, v4.1.1

#6217 [document] Fix the doxygen file
  documentation/doxygen/Doxyfile
  documentation/doxygen/readme.md
Labels: +1, v4.1.1

#6210 [phy] fix the PHY_FULL_DUPLEX conflicts
  bsp/stm32/libraries/HAL_Drivers/drv_eth.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_eth.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_eth.h
  bsp/stm32/stm32mp157a-st-ev1/board/ports/eth/drv_eth.c
  bsp/stm32/stm32mp157a-st-ev1/board/ports/eth/drv_eth.h
  components/drivers/include/drivers/phy.h
  components/drivers/phy/phy.c
Labels: +1, v4.1.1

#6219 [k210] 调整Kconfig结构
  bsp/k210/.config
  bsp/k210/Kconfig
  bsp/k210/drivers/Kconfig
  bsp/k210/drivers/SConscript
  bsp/k210/drivers/board.c
  bsp/k210/drivers/board.h
  bsp/k210/drivers/camera/SConscript
  bsp/k210/drivers/camera/drv_ov5640.c
  bsp/k210/drivers/camera/drv_ov5640.h
  bsp/k210/drivers/camera/ov5640af.h
  bsp/k210/drivers/camera/ov5640cfg.h
  bsp/k210/drivers/dmalock.c
  bsp/k210/drivers/dmalock.h
  bsp/k210/drivers/drv_gpio.c
  bsp/k210/drivers/drv_gpio.h
  bsp/k210/drivers/drv_interrupt.c
  bsp/k210/drivers/drv_io_config.c
  bsp/k210/drivers/drv_io_config.h
  bsp/k210/drivers/drv_lcd.c
  bsp/k210/drivers/drv_lcd.h
  bsp/k210/drivers/drv_mpylcd.c
  bsp/k210/drivers/drv_spi.c
  bsp/k210/drivers/drv_spi.h
  bsp/k210/drivers/drv_uart.c
  bsp/k210/drivers/drv_uart.h
  bsp/k210/drivers/heap.c
  bsp/k210/rtconfig.h
Labels: +1, BSP, v4.1.1

#6221 [ymodem] move error codes to rym_code to silence warnings
  components/utilities/ymodem/ymodem.h
Labels: +1, v4.1.1

#6226 [stm32][drv_serial] 修复recv_len意外为负（即很大正数）的问题
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
Labels: +1, BSP: STM32, v4.1.1

#6214 Esp32 C3 UART driver
  bsp/ESP32_C3/.config
  bsp/ESP32_C3/0001-add-the-config-of-RTTHREAD.patch
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/board/Kconfig
  bsp/ESP32_C3/main/CMakeLists.txt
  bsp/ESP32_C3/main/board.c
  bsp/ESP32_C3/main/drv_uart.c
  bsp/ESP32_C3/main/drv_uart.h
  bsp/ESP32_C3/main/main.c
  bsp/ESP32_C3/rtconfig.h
  bsp/ESP32_C3/rtt.patch
  bsp/ESP32_C3/sdkconfig
Labels: in progress, v4.1.1

#6236 [bsp][imxrt]优化imxrt的BSP下面的applications的Sconsript脚本
  bsp/imxrt/imxrt1021-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1052-atk-commander/applications/SConscript
  bsp/imxrt/imxrt1052-fire-pro/applications/SConscript
  bsp/imxrt/imxrt1052-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1052-seeed-ArchMix/applications/SConscript
  bsp/imxrt/imxrt1060-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1064-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1170-nxp-evk/applications/SConscript
Labels: +1, v4.1.1

#6229 [fix] the risk for function exit() when open pthread support.
  components/libc/compilers/common/cstdlib.c
  components/libc/posix/pthreads/pthread.c
  include/rtdef.h
  src/thread.c
Labels: +1, +2, important, v4.1.1

#6238 Added LCD Touch Int pin to ioconfig. During testing GT911 would not c…
  bsp/imxrt/imxrt1060-nxp-evk/board/board.c
Labels: +1, v4.1.1

#6239 [exit] 修复_exit函数条件分支未覆盖所有情况的问题
  components/libc/compilers/common/cstdlib.c
Labels: +1, +2, v4.1.1

#6228 [gd32] 修复串口引脚定义错误的问题
  bsp/gd32450z-eval/drivers/drv_usart.c
Labels: +1, v4.1.1

#6240 ch569w-evt : add pwm driver, and spi_xfer bug fix
  bsp/wch/risc-v/Libraries/ch56x_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_pwm.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_pwm.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_spi.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_spi.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_sys.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_uart.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_uart.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/soc.h
  bsp/wch/risc-v/ch569w-evt/.config
  bsp/wch/risc-v/ch569w-evt/applications/main.c
  bsp/wch/risc-v/ch569w-evt/applications/test.c
  bsp/wch/risc-v/ch569w-evt/board/Kconfig
  bsp/wch/risc-v/ch569w-evt/board/board.c
  bsp/wch/risc-v/ch569w-evt/board/board.h
  bsp/wch/risc-v/ch569w-evt/rtconfig.h
Labels: +1, +2, v4.1.1

#6230 add hwtimer device
  bsp/cypress/libraries/HAL_Drivers/SConscript
  bsp/cypress/libraries/HAL_Drivers/drv_hwtimer.c
  bsp/cypress/libraries/HAL_Drivers/drv_hwtimer.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/SConscript
  bsp/cypress/psoc6-cy8cproto-4343w/board/Kconfig
Labels: +1, +2, v4.1.1

#6237 【BSP】CY8CKIT-062S2-43012
  .github/workflows/action.yml
  bsp/cypress/libraries/HAL_Drivers/SConscript
  bsp/cypress/libraries/HAL_Drivers/drv_dac.c
  bsp/cypress/libraries/HAL_Drivers/drv_dac.h
  bsp/cypress/libraries/HAL_Drivers/drv_gpio.h
  bsp/cypress/libraries/HAL_Drivers/drv_uart.c
  bsp/cypress/libraries/HAL_Drivers/drv_uart.h
  bsp/cypress/libraries/HAL_Drivers/uart_config.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/SConscript
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb-hal-cat1/source/cyhal_scb_common.c
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/csdidac/LICENSE
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/csdidac/README.md
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/csdidac/RELEASE.md
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/csdidac/cy_csdidac.c
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/csdidac/cy_csdidac.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/csdidac/version.xml
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/.gitignore
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/.mbedignore
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/LICENSE.txt
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/README.md
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/RELEASE.md
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev.c
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_audio.c
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_audio.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_audio_descr.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_cdc.c
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_cdc.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_cdc_descr.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_descr.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_hid.c
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_hid.h
  bsp/cypress/libraries/IFX_PSOC6_HAL/mtb_shared/usbdev/cy_usb_dev_hid_descr.h
  bsp/cypress/psoc6-cy8cproto-4343w/.config
  bsp/cypress/psoc6-cy8cproto-4343w/.cproject
  bsp/cypress/psoc6-cy8cproto-4343w/.project
  bsp/cypress/psoc6-cy8cproto-4343w/.settings/dist_ide_project.DAPLink.Debug.rttlaunch
  bsp/cypress/psoc6-cy8cproto-4343w/.settings/dist_ide_project.OpenOCD.Debug.rttlaunch
  bsp/cypress/psoc6-cy8cproto-4343w/EventRecorderStub.scvd
  bsp/cypress/psoc6-cy8cproto-4343w/README.md
  bsp/cypress/psoc6-cy8cproto-4343w/board/Kconfig
  bsp/cypress/psoc6-cy8cproto-4343w/board/SConscript
  bsp/cypress/psoc6-cy8cproto-4343w/board/board.c
  bsp/cypress/psoc6-cy8cproto-4343w/board/board.h
  bsp/cypress/psoc6-cy8cproto-4343w/board/linker_scripts/link.ld
  bsp/cypress/psoc6-cy8cproto-4343w/figures/studio1.png
  bsp/cypress/psoc6-cy8cproto-4343w/figures/studio2.png
  bsp/cypress/psoc6-cy8cproto-4343w/figures/studio3-build.png
  bsp/cypress/psoc6-cy8cproto-4343w/figures/studio4-download.png
  bsp/cypress/psoc6-cy8cproto-4343w/makefile.targets
  bsp/cypress/psoc6-cy8cproto-4343w/project.uvoptx
  bsp/cypress/psoc6-cy8cproto-4343w/project.uvprojx
  bsp/cypress/psoc6-cy8cproto-4343w/rtconfig.h
  bsp/cypress/psoc6-cy8cproto-4343w/rtconfig.py
  bsp/cypress/tools/sdk_dist.py
  bsp/cypress/tools/upgrade.py
Labels: +1, +2, BSP, v4.1.1

#6245 [tools] remove .sconsign.dblite when scons clean.
  tools/building.py
Labels: +1

#6247 [docs] update env document
  documentation/env/env.md
  documentation/env/figures/menuconfig_s_auto_update.png
Labels: +1, v4.1.1

#6252 Fix armclang error when enable LTO
  libcpu/arm/cortex-m3/cpuport.c
  libcpu/arm/cortex-m4/cpuport.c
  libcpu/arm/cortex-m7/cpuport.c
Labels: +1, +2

#6263 add assert for serial v2
  components/drivers/serial/serial_v2.c
Labels: +1, v4.1.1

#6227 [renesas/ra2l1-cpk] add Captouch板载触摸按键配置说明.md
  bsp/renesas/ra2l1-cpk/QE-Touch/SConscript
  bsp/renesas/ra2l1-cpk/QE-Touch/qe_sample_rtthread.c
  bsp/renesas/ra2l1-cpk/docs/Captouch板载触摸按键配置说明.md
  bsp/renesas/ra2l1-cpk/docs/picture/captouch1.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch10.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch11.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch12.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch13.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch14.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch15.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch16.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch17.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch18.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch19.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch2.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch20.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch21.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch22.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch23.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch24.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch25.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch26.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch27.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch28.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch29.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch3.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch30.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch4.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch5.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch6.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch7.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch8.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch9.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_dbg.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_jlink.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_monitoring.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_msh.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_tuning.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_tuning0.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_tuning1.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_tuning2.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_tuning3.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_tuning4.png
  bsp/renesas/ra2l1-cpk/docs/picture/captouch_tuning5.png
  bsp/renesas/ra2l1-cpk/docs/picture/lpm_idle.png
Labels: +1, v4.1.1

#6270 [imxrt1060] fix tiny problems
  bsp/imxrt/imxrt1060-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1060-nxp-evk/board/linker_scripts/link.lds
Labels: +1, v4.1.1

#6261 [lvgl] remove suareline studio specific support for imxrt1060
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/squareline/README.md
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/squareline/SConscript
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/squareline/ui/lv_ui_entry.c
  bsp/imxrt/imxrt1060-nxp-evk/board/Kconfig
  bsp/qemu-vexpress-a9/drivers/Kconfig
  bsp/raspberry-pico/libraries/Kconfig
  bsp/simulator/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1, v4.1.1

#6246 [simulator][rtconfig.py] fix the problem of path cannot be find and c…
  bsp/simulator/rtconfig.py
Labels: +1, v4.1.1

#6269 [sfud] keep macros in order attach #6255
  components/drivers/spi/sfud/inc/sfud_flash_def.h
Labels: v4.1.1

#6244 [imxrt1170] update enet
  bsp/imxrt/imxrt1052-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1170-nxp-evk/board/Kconfig
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/MIMXRT1176_cm7_features.h
  bsp/imxrt/libraries/MIMXRT1170/SConscript
Labels: +1, v4.1.1

#6220 [imxrt] fix gpio interrupt bug in drv_gpio.c
  bsp/imxrt/libraries/drivers/drv_gpio.c
Labels: +1, BSP: NXP, v4.1.1

#6259 [libcpu][arm] fix rt_hw_cpu_dcache_ops clean invalid bug
  libcpu/arm/cortex-m7/cpu_cache.c
Labels: +1, +2, v4.1.1

#5912 [DeviceDriver] Add CANFD support and correct typos
  bsp/at32/libraries/rt_drivers/drv_can.c
  bsp/essemi/es32f0654/drivers/drv_can.c
  bsp/essemi/es32f369x/drivers/drv_can.c
  bsp/hc32/libraries/hc32_drivers/drv_can.c
  bsp/imxrt/libraries/drivers/drv_can.c
  bsp/loongson/ls1cdev/drivers/drv_can.c
  bsp/loongson/ls1cdev/libraries/ls1c_can.h
  bsp/n32g452xx/Libraries/rt_drivers/drv_can.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_can.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_can.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_can.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_can.c
  bsp/renesas/libraries/HAL_Drivers/drv_can.c
  bsp/stm32/libraries/HAL_Drivers/drv_can.c
  components/drivers/Kconfig
  components/drivers/can/can.c
  components/drivers/include/drivers/can.h
Labels: +1, important, v4.1.1

#5915 [DeviceDriver] Fix can infinite loop when can driver send error
  components/drivers/can/can.c
Labels: +1, +2, important, v4.1.1

#6272 ci: restrict rt-thread organization
  .github/workflows/action.yml
Labels: +1

#6274 [nxp][link script] format issue
  bsp/imxrt/imxrt1052-fire-pro/board/linker_scripts/link.lds
  bsp/imxrt/imxrt1064-nxp-evk/board/linker_scripts/link.lds
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/gcc/MIMXRT1052xxxxx_flexspi_nor.ld
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/gcc/MIMXRT1052xxxxx_flexspi_nor_sdram.ld
  bsp/imxrt/libraries/MIMXRT1064/MIMXRT1064/gcc/MIMXRT1064xxxxx_flexspi_nor.ld
  bsp/imxrt/libraries/MIMXRT1064/MIMXRT1064/gcc/MIMXRT1064xxxxx_flexspi_nor_sdram.ld
  bsp/imxrt/libraries/templates/imxrt1050xxx/board/linker_scripts/link.lds
  bsp/imxrt/libraries/templates/imxrt1064xxx/board/linker_scripts/link.lds
Labels: +1, v4.1.1

#6277 [nxp] move phy driver into drivers folder
  bsp/imxrt/libraries/drivers/SConscript
  bsp/imxrt/libraries/drivers/drv_ksz8081.c
  bsp/imxrt/libraries/peripherals/SConscript
Labels: +1, v4.1.1

#6278 增加双网口配置选项，增加phy8211F 驱动
  bsp/imxrt/imxrt1021-nxp-evk/SConstruct
  bsp/imxrt/imxrt1021-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1021-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1021-nxp-evk/board/SConscript
  bsp/imxrt/imxrt1021-nxp-evk/xip/SConscript
  bsp/imxrt/imxrt1052-atk-commander/applications/SConscript
  bsp/imxrt/imxrt1052-atk-commander/board/Kconfig
  bsp/imxrt/imxrt1052-fire-pro/applications/SConscript
  bsp/imxrt/imxrt1052-fire-pro/board/Kconfig
  bsp/imxrt/imxrt1052-nxp-evk/SConstruct
  bsp/imxrt/imxrt1052-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1052-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1052-nxp-evk/xip/SConscript
  bsp/imxrt/imxrt1052-seeed-ArchMix/applications/SConscript
  bsp/imxrt/imxrt1052-seeed-ArchMix/board/Kconfig
  bsp/imxrt/imxrt1060-nxp-evk/SConstruct
  bsp/imxrt/imxrt1060-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1060-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1060-nxp-evk/board/SConscript
  bsp/imxrt/imxrt1060-nxp-evk/xip/SConscript
  bsp/imxrt/imxrt1064-nxp-evk/SConstruct
  bsp/imxrt/imxrt1064-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1064-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1064-nxp-evk/board/SConscript
  bsp/imxrt/imxrt1064-nxp-evk/xip/SConscript
  bsp/imxrt/imxrt1170-nxp-evk/SConstruct
  bsp/imxrt/imxrt1170-nxp-evk/applications/SConscript
  bsp/imxrt/imxrt1170-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1170-nxp-evk/xip/SConscript
  bsp/imxrt/libraries/Kconfig
  bsp/imxrt/libraries/MIMXRT1050/SConscript
  bsp/imxrt/libraries/MIMXRT1060/SConscript
  bsp/imxrt/libraries/MIMXRT1064/SConscript
  bsp/imxrt/libraries/MIMXRT1170/SConscript
  bsp/imxrt/libraries/drivers/SConscript
  bsp/imxrt/libraries/drivers/drv_ksz8081.c
  bsp/imxrt/libraries/drivers/drv_rtl8211f.c
  bsp/imxrt/libraries/templates/imxrt1050xxx/applications/SConscript
  bsp/imxrt/libraries/templates/imxrt1050xxx/board/Kconfig
  bsp/imxrt/libraries/templates/imxrt1064xxx/applications/SConscript
  bsp/imxrt/libraries/templates/imxrt1064xxx/xip/SConscript
Labels: +1, v4.1.1

#6280 Update sdram
  bsp/imxrt/imxrt1170-nxp-evk/board/board.c
  bsp/imxrt/imxrt1170-nxp-evk/board/ports/sdram_port.h
  bsp/imxrt/libraries/MIMXRT1170/SConscript
  bsp/imxrt/libraries/drivers/drv_sdram.c
Labels: +1, v4.1.1

#6281 Update drv_sdram.h
  bsp/imxrt/libraries/drivers/drv_sdram.c
Labels: +1

#6279 [[renesas/drivers] Fix error code issues 6183.Add hardware i2c driver.
  bsp/renesas/libraries/HAL_Drivers/SConscript
  bsp/renesas/libraries/HAL_Drivers/drv_i2c.c
  bsp/renesas/libraries/HAL_Drivers/drv_wdt.c
  bsp/renesas/ra2l1-cpk/board/Kconfig
  bsp/renesas/ra6m4-cpk/board/Kconfig
  bsp/renesas/ra6m4-iot/board/Kconfig
Labels: in progress, +1, +2, v4.1.1

#6283 Fix BSP/imxrt/imxrt1060-nxp-evk: RTC Driver issue
  bsp/imxrt/libraries/drivers/drv_rtc.c
Labels: +1

#6286 [armlibc] 解决fflush失效的问题
  components/libc/compilers/armlibc/syscalls.c
Labels: +1, v4.1.1

#6285 [armclang] 使用__clang__代替__CLANG_ARM
  bsp/Vango/v85xxp/drivers/board.h
  bsp/imxrt/imxrt1021-nxp-evk/board/board.h
  bsp/microchip/samc21/board/board.c
  bsp/microchip/samc21/board/board.h
  bsp/microchip/same54/board/board.c
  bsp/microchip/same54/board/board.h
  bsp/microchip/same70/board/board.c
  bsp/microchip/same70/board/board.h
  bsp/microchip/saml10/board/board.c
  bsp/microchip/saml10/board/board.h
  bsp/wch/arm/ch579m/board/board.h
Labels: +1, v4.1.1

#6232 [kernel/schedule] fix the time slice issue
  src/scheduler.c
Labels: bug, +1, +2, important, v4.1.1

#6287 [utestcases] add timeslice_test
  examples/utest/testcases/kernel/thread_tc.c
Labels: +1

#6289 [ci] Test with time slice off by default
  examples/utest/testcases/kernel/thread_tc.c
Labels: +1

#6294 针对 TAMAGAWA 的 Smart-Abs 设备 TS5705N50添加 2.5M 波特率
  components/drivers/include/drivers/serial.h
  components/drivers/include/drivers/serial_v2.h
Labels: +1

#6304 More documentation edits and grammar fixes
  documentation/memory/memory.md
Labels: +1

#6311 Documentation edits and fixes for "devices"
  documentation/at/at.md
  documentation/device/adc/adc.md
  documentation/device/hwtimer/hwtimer.md
  documentation/device/i2c/i2c.md
  documentation/device/pin/pin.md
  documentation/device/pwm/pwm.md
  documentation/device/rtc/rtc.md
  documentation/device/sensor/sensor.md
Labels: +1

#6313 [n32g45x] bsp 完善can驱动中断处理
  bsp/n32g452xx/Libraries/rt_drivers/drv_can.c
Labels: +1

#6254 [bsp][tms320f28379d] Fix compile ti
  bsp/tms320f28379d/.config
  bsp/tms320f28379d/.cproject
  bsp/tms320f28379d/.gitignore
  bsp/tms320f28379d/.project
  bsp/tms320f28379d/.settings/org.eclipse.core.resources.prefs
  bsp/tms320f28379d/2837x_FLASH_lnk_cpu1.cmd
  bsp/tms320f28379d/README.md
  bsp/tms320f28379d/drivers/board.c
  bsp/tms320f28379d/drivers/drv_sci.c
  bsp/tms320f28379d/rtconfig.h
  bsp/tms320f28379d/rtconfig_project.h
  libcpu/ti-dsp/c28x/context.s
  src/irq.c
Labels: +1, v4.1.1

#6306 [fal] PKG_USING_FAL -> RT_USING_FAL
  bsp/at32/libraries/rt_drivers/drv_flash.c
Labels: +1, v4.1.1

#6303 解决控制台无法输入bug
  src/kservice.c
Labels: +1, +2, v4.1.1

#6307 [stm32f407-explorer][fs] 优化文件系统选项配置
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/SConscript
  bsp/stm32/stm32f407-atk-explorer/board/ports/drv_filesystem.c
  bsp/stm32/stm32f407-atk-explorer/board/ports/fal/fal_cfg.h
  bsp/stm32/stm32f407-atk-explorer/board/ports/fal/fal_spi_flash_sfud_port.c
Labels: +1, v5.0.0

#6319 [rtduino] remove libraries dependencies
  bsp/essemi/es32f369x/drivers/Kconfig
  bsp/stm32/stm32f072-st-nucleo/board/Kconfig
  bsp/stm32/stm32f103-blue-pill/board/Kconfig
  bsp/stm32/stm32f401-st-nucleo/board/Kconfig
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1, v4.1.1

#6321 [update] changelog for RT-Thread_v4.1.1
  ChangeLog.md
Labels: v4.1.1

#6317 [keil.py] 修复生成Keil4/5工程文件时，头文件路径重复添加到工程的问题
  tools/keil.py
Labels: +1, v5.0.0

#6218 [esp32] update Kconfig
  bsp/ESP32_C3/.config
  bsp/ESP32_C3/Kconfig
  bsp/ESP32_C3/drivers/Kconfig
  bsp/ESP32_C3/rtconfig.h
Labels: v5.0.0

#6326 [bsp][tms320f28379d] libc compatible
  bsp/tms320f28379d/.config
  bsp/tms320f28379d/.cproject
  bsp/tms320f28379d/rtconfig.h
  bsp/tms320f28379d/rtconfig_project.h
Labels: +1

#6330 ch569w-evt: add usbhs device mode driver
  bsp/wch/risc-v/Libraries/ch56x_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_uart.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_usbd.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_usbhs.h
  bsp/wch/risc-v/Libraries/ch56x_drivers/soc.h
  bsp/wch/risc-v/ch569w-evt/.config
  bsp/wch/risc-v/ch569w-evt/applications/SConscript
  bsp/wch/risc-v/ch569w-evt/applications/test.c
  bsp/wch/risc-v/ch569w-evt/board/linker_scripts/link.lds
  bsp/wch/risc-v/ch569w-evt/rtconfig.h
Labels: +1

#6305 Update kservice.c
  src/kservice.c
Labels: +1, +2

#6333 [kernel] 优化内置线程命名
  src/components.c
  src/idle.c
Labels: +1, v5.0.0

#6315 [scons] 使用target=mdk5 和 iar时，打印IDE版本号
  .github/workflows/action_tools.yml
  tools/building.py
  tools/iar.py
  tools/keil.py
Labels: +1, v5.0.0

#6308 [stm32l4-pandora] 整理文件系统
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/ports/drv_filesystem.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/drv_qspi_flash.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/drv_sdcard.c
Labels: +1, BSP: STM32, v5.0.0

#6309 bug：STM32 Poll 发送bug修复
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
Labels: +1, BSP: STM32, v5.0.0

#6336 [drv_usart]完善ch32的串口驱动。
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_usart.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_usart.h
Labels: +1

#6291 change version number to v5.0.0
  include/rtdef.h
  src/Kconfig
Labels: +1, v5.0.0

#6348 [kernel] 为rt_thread_sleep添加上下文检查
  src/thread.c
Labels: +1, +2, v5.0.0

#6347 当tick为0时rt_thread_sleep不应该挂起线程
  src/thread.c
Labels: +1, +2, v5.0.0

#6349 [kservice][ti c28x]rt_vsnprintf
  src/kservice.c
Labels: +1, +2
