Repository RT-Thread/rt-thread, pull requests merged in 2022-10, with the labels that each got.

#6484 [bsp][ch32v307] 添加can驱动
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_can.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_can.h
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: +1, +2

#6490 [components][utilities][ulog] Improve the HEX LOG by new formater.
  components/utilities/ulog/ulog.c
  components/utilities/ulog/ulog.h
Labels: +1, +2

#6479 [dist-ide] 优化导出RTThread Studio工程命令
  .gitignore
  tools/building.py
  tools/options.py
Labels: +1

#6469 remove unused code to improve speed
  src/object.c
Labels: +1, +2

#6404 [components] sdio driver
  components/drivers/sdio/mmcsd_core.c
Labels: +1

#6496 [rtduino][BSPs] translate readme to English
  bsp/essemi/es32f369x/applications/arduino_pinout/README.md
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/README.md
  bsp/stm32/stm32f103-blue-pill/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f412-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f412-st-nucleo/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/README.md
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/README.md
Labels: +1

#6499 修改英飞凌BSP名称
  .github/workflows/action.yml
  bsp/cypress/psoc6-cy8ckit-062S2-43012/.config
  bsp/cypress/psoc6-cy8ckit-062S2-43012/.cproject
  bsp/cypress/psoc6-cy8ckit-062S2-43012/.gitignore
  bsp/cypress/psoc6-cy8ckit-062S2-43012/.project
  bsp/cypress/psoc6-cy8ckit-062S2-43012/.settings/dist_ide_project.DAPLink.Debug.rttlaunch
  bsp/cypress/psoc6-cy8ckit-062S2-43012/.settings/dist_ide_project.OpenOCD.Debug.rttlaunch
  bsp/cypress/psoc6-cy8ckit-062S2-43012/Kconfig
  bsp/cypress/psoc6-cy8ckit-062S2-43012/LICENSE
  bsp/cypress/psoc6-cy8ckit-062S2-43012/README.md
  bsp/cypress/psoc6-cy8ckit-062S2-43012/SConscript
  bsp/cypress/psoc6-cy8ckit-062S2-43012/SConstruct
  bsp/cypress/psoc6-cy8ckit-062S2-43012/applications/SConscript
  bsp/cypress/psoc6-cy8ckit-062S2-43012/applications/main.c
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/Kconfig
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/SConscript
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/board.c
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/board.h
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/linker_scripts/link.icf
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/linker_scripts/link.ld
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/linker_scripts/link.sct
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/ports/drv_rw007.c
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/ports/fal_cfg.h
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/ports/slider_sample.c
  bsp/cypress/psoc6-cy8ckit-062S2-43012/board/ports/spi_sample.c
  bsp/cypress/psoc6-cy8ckit-062S2-43012/figures/board.png
  bsp/cypress/psoc6-cy8ckit-062S2-43012/figures/mdk_package.png
  bsp/cypress/psoc6-cy8ckit-062S2-43012/figures/studio1.png
  bsp/cypress/psoc6-cy8ckit-062S2-43012/figures/studio2.png
  bsp/cypress/psoc6-cy8ckit-062S2-43012/figures/studio3-build.png
  bsp/cypress/psoc6-cy8ckit-062S2-43012/figures/studio4-download.png
  bsp/cypress/psoc6-cy8ckit-062S2-43012/makefile.targets
  bsp/cypress/psoc6-cy8ckit-062S2-43012/project.uvoptx
  bsp/cypress/psoc6-cy8ckit-062S2-43012/project.uvproj
  bsp/cypress/psoc6-cy8ckit-062S2-43012/project.uvprojx
  bsp/cypress/psoc6-cy8ckit-062S2-43012/rtconfig.h
  bsp/cypress/psoc6-cy8ckit-062S2-43012/rtconfig.py
  bsp/cypress/psoc6-cy8ckit-062S2-43012/template.uvoptx
  bsp/cypress/psoc6-cy8ckit-062S2-43012/template.uvproj
  bsp/cypress/psoc6-cy8ckit-062S2-43012/template.uvprojx
  bsp/cypress/psoc6-cy8cproto-4343w/figures/studio2.png
Labels: +1, +2

#6498 lseek()函数中，当seek到文件的位置和当前位置相同时，不需要调用dfs_file_lseek()函数，直接返回当前位置即可。
  components/dfs/src/dfs_posix.c
Labels: +1, +2

#6501 [proposal] replace "tshell" with FINSH_THREAD_NAME in rt_serial_control
  components/drivers/serial/serial_v2.c
Labels: +1

#6508 [bsp][RA6M4]Add segger rtt function
  bsp/renesas/ra6m4-cpk/README.md
  bsp/renesas/ra6m4-cpk/board/Kconfig
Labels: +1, +2

#6502 [bsp][rtduino] update readme
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f412-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f412-st-nucleo/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/README.md
  bsp/stm32/stm32f469-st-disco/applications/arduino_pinout/README_zh.md
Labels: +1

#6515 [readme] add stars status
  README.md
  README_de.md
  README_es.md
  README_zh.md
Labels: +1

#6524 [RTduino]STM32F411对接RTduino软件包
  bsp/stm32/stm32f411-st-nucleo/applications/SConscript
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_main.cpp
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_pinout/Sconscript
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_pinout/nucleo-f411-pinout.png
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f411-st-nucleo/board/Kconfig
Labels: +1

#6516 [at32/bsp] optimize emac and usart driver code
  bsp/at32/libraries/rt_drivers/drv_emac.c
  bsp/at32/libraries/rt_drivers/drv_usart.c
Labels: +1, +2

#6519 [bsp][ch32v307]添加了pwm驱动
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_pwm.c
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: in progress

#6513 [bsp/stm32] 将spi DMA传输更改为阻塞线程方式
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.h
Labels: +1, BSP: STM32

#6532 [bsp][ch32v307]增加软件spi驱动
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_soft_spi.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_soft_spi.h
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: +1

#6544 [n32] add CI queue
  .github/workflows/action.yml
  bsp/n32/n32l436-evb/.config
  bsp/n32/n32l436-evb/Kconfig
  bsp/n32/n32l436-evb/README.md
  bsp/n32/n32l436-evb/SConscript
  bsp/n32/n32l436-evb/SConstruct
  bsp/n32/n32l436-evb/applications/SConscript
  bsp/n32/n32l436-evb/applications/main.c
  bsp/n32/n32l436-evb/board/Kconfig
  bsp/n32/n32l436-evb/board/SConscript
  bsp/n32/n32l436-evb/board/board.c
  bsp/n32/n32l436-evb/board/board.h
  bsp/n32/n32l436-evb/board/linker_scripts/link.icf
  bsp/n32/n32l436-evb/board/linker_scripts/link.lds
  bsp/n32/n32l436-evb/board/linker_scripts/link.sct
  bsp/n32/n32l436-evb/figures/board.jpg
  bsp/n32/n32l436-evb/project.ewd
  bsp/n32/n32l436-evb/project.ewp
  bsp/n32/n32l436-evb/project.eww
  bsp/n32/n32l436-evb/project.uvoptx
  bsp/n32/n32l436-evb/project.uvprojx
  bsp/n32/n32l436-evb/rtconfig.h
  bsp/n32/n32l436-evb/rtconfig.py
  bsp/n32/n32l436-evb/template.ewp
  bsp/n32/n32l436-evb/template.eww
  bsp/n32/n32l436-evb/template.uvoptx
  bsp/n32/n32l436-evb/template.uvprojx
Labels: +1

#6527 [pr-template] 修正PR模板的链接路径错误
  .gitee/PULL_REQUEST_TEMPLATE.en.md
  .gitee/PULL_REQUEST_TEMPLATE.zh-CN.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: +1

#6533 [bsp][c28x] zero latency interrupts
  bsp/ti/c28x/libraries/tms320f28379d/common/source/F2837xD_usDelay.asm
  bsp/ti/c28x/tms320f28379d/.config
  bsp/ti/c28x/tms320f28379d/.cproject
  bsp/ti/c28x/tms320f28379d/2837x_FLASH_lnk_cpu1.cmd
  bsp/ti/c28x/tms320f28379d/2837x_RAM_lnk_cpu1.cmd
  bsp/ti/c28x/tms320f28379d/board/board.c
  bsp/ti/c28x/tms320f28379d/rtconfig.h
  bsp/ti/c28x/tms320f28379d/rtconfig_project.h
  components/finsh/finsh.h
  include/rtdef.h
  libcpu/ti-dsp/c28x/context.s
  libcpu/ti-dsp/c28x/cpuport.c
  src/irq.c
Labels: +1, +2

#6476 stm32f103-fire-arbitrary support nandflash K9F1G08U0E && LPM init && …
  bsp/stm32/libraries/HAL_Drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drv_nand.c
  bsp/stm32/libraries/HAL_Drivers/drv_nand.h
  bsp/stm32/libraries/STM32F1xx_HAL/SConscript
  bsp/stm32/stm32f103-fire-arbitrary/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f103-fire-arbitrary/board/CubeMX_Config/Inc/stm32f1xx_hal_conf.h
  bsp/stm32/stm32f103-fire-arbitrary/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-fire-arbitrary/board/CubeMX_Config/Src/stm32f1xx_it.c
  bsp/stm32/stm32f103-fire-arbitrary/board/CubeMX_Config/stm32f103zet6.ioc
  bsp/stm32/stm32f103-fire-arbitrary/board/Kconfig
Labels: +1, BSP: STM32

#6522 去除冗余代码
  bsp/stm32/stm32h750-artpi/board/board.h
Labels: +1, BSP: STM32

#6545 新增CH32V307的硬件定时器功能
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_hwtimer.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_hwtimer.h
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: +1

#6547 修复 RTT 串口DMA接受 开头丢失一整包的问题
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
Labels: +1

#6551 [bug] 修复drv_usart_v2.c
  bsp/renesas/libraries/HAL_Drivers/drv_usart_v2.c
Labels: +1, +2

#6535 ymodem of send error
  components/utilities/ymodem/ry_sy.c
  components/utilities/ymodem/ymodem.c
Labels: +1, +2

#6511 FIX: [bsp][stm32]CAN从ACK错误恢复后发送异常
  bsp/stm32/libraries/HAL_Drivers/drv_can.c
Labels: +1, +2, BSP: STM32

#6534 [compiler] 增加SConscript依赖标志 AddDepend
  bsp/asm9260t/SConstruct
  bsp/at91/at91sam9260/SConstruct
  bsp/at91/at91sam9g45/SConstruct
  bsp/bf533/rtconfig.h
  bsp/cypress/libraries/HAL_Drivers/config/Pre_Include_Global.h
  bsp/cypress/psoc6-pioneerkit_modus/Makefile
  bsp/efm32/rtconfig.h
  bsp/fujitsu/mb9x/mb9bf506r/rtconfig.h
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/GD32VF103_standard_peripheral/Source/gd32vf103_eclic.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/GD32VF103_standard_peripheral/Source/gd32vf103_exti.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/GD32VF103_standard_peripheral/Source/gd32vf103_gpio.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/GD32VF103_standard_peripheral/Source/gd32vf103_rcu.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/GD32VF103_standard_peripheral/Source/gd32vf103_usart.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/GD32VF103_standard_peripheral/system_gd32vf103.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/RISCV/drivers/n200_func.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/RISCV/env_Eclipse/handlers.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/RISCV/env_Eclipse/init.s
  bsp/gd32/risc-v/libraries/GD32VF103_Firmware_Library/RISCV/env_Eclipse/your_printf.s
  bsp/hpmicro/hpm6750evk/rtconfig_preinc.h
  bsp/hpmicro/hpm6750evkmini/rtconfig_preinc.h
  bsp/loongson/ls1bdev/SConstruct
  bsp/loongson/ls1cdev/SConstruct
  bsp/lpc178x/rtconfig.h
  bsp/lpc43xx/M0/rtconfig.h
  bsp/lpc43xx/M4/rtconfig.h
  bsp/lpc5410x/rtconfig.h
  bsp/m16c62p/SConstruct
  bsp/m16c62p/rtconfig.h
  bsp/microblaze/rtconfig.h
  bsp/mini4020/rtconfig.h
  bsp/nios_ii/rtconfig.h
  bsp/pic32ethernet/rtconfig.h
  bsp/qemu-vexpress-a9/.cproject
  bsp/rm48x50/rtconfig.h
  bsp/sam7x/SConstruct
  bsp/sep6200/rtconfig.h
  bsp/stm32/stm32f746-st-nucleo/rtconfig_preinc.h
  bsp/xplorer4330/M0/rtconfig.h
  bsp/xplorer4330/M4/rtconfig.h
  components/libc/compilers/armlibc/SConscript
  components/libc/compilers/dlib/SConscript
  components/libc/compilers/newlib/SConscript
  components/libc/posix/io/stdio/libc.c
  examples/libc/SConscript
  include/rtthread.h
  tools/building.py
Labels: +1

#6562 [ch32v307] support c++
  bsp/wch/risc-v/ch32v307v-r1/SConstruct
  bsp/wch/risc-v/ch32v307v-r1/board/linker_scripts/link.lds
  bsp/wch/risc-v/ch32v307v-r1/rtconfig.py
Labels: +1, BSP

#6560 [net/lwip] Fix ppp retry assert error when tcp is connect.
  components/net/lwip/port/lwipopts.h
Labels: +1, +2

#6555 [bsp]将驱动文件中判断RT_USING_XXX改为BSP_USING_XXX,解决了部分框架层与驱动层的混用
  bsp/stm32/libraries/HAL_Drivers/drv_gpio.c
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1, BSP: STM32

#6564 fix test_thread_yield fail bug in multiple utest loop case.
  examples/utest/testcases/kernel/thread_tc.c
Labels: +1

#6553 [libc][time] 解决部分编译平台CLOCKS_PER_SEC无法被重新定义的问题
  components/libc/compilers/common/include/sys/time.h
Labels: +1

#6517 提交stm32 bsp drv_pwm.c里面的一个小建议
  bsp/stm32/libraries/HAL_Drivers/config/f0/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f1/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f2/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f3/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f4/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f7/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/g0/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/g4/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/h7/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l1/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l4/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l5/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/mp1/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/u5/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/wb/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, +2, BSP: STM32

#6573 [bsp] fix the return of the function(drv_pwm_control) in stm32 drv_pwm
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
Labels: +1, BSP: STM32

#6574 [bsp] 修改了stm32中pwm的部分选择编译选项，并使pwm channel初始化为RT_NULL
  bsp/stm32/libraries/HAL_Drivers/config/f0/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f1/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f2/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f3/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f4/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f7/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/g0/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/g4/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/h7/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l1/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l4/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/l5/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/mp1/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/u5/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/config/wb/pwm_config.h
Labels: +1

#6471 Modified bsp/stm32/libraries/HAL_Drivers/config/f4/dma_config.h
  bsp/stm32/libraries/HAL_Drivers/config/f4/dma_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_usart_v2.c
Labels: +1, BSP: STM32
