Repository RT-Thread/rt-thread, pull requests merged in 2022-01, with the labels that each got.

#5459 [lwip] 修复dhcpd没有包含2.0.3版本的问题
  components/net/lwip_dhcpd/SConscript
Labels: +1, +2

#5468 [include/rtthread.h] Add function declarations to avoid compilation warnings.
  include/rtthread.h
Labels: +1, +2

#5471 update readme
  README.md
Labels: +1, +2

#5469 [libc] 处理在win32平台下的编译问题
  components/libc/compilers/common/nogcc/sys/errno.h
  components/libc/compilers/common/sys/time.h
Labels: +1, +2

#5470 [bsp/stm32] add sdram for openmv
  bsp/stm32/stm32h743-openmv-h7plus/README.md
  bsp/stm32/stm32h743-openmv-h7plus/applications/main.c
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/Core/Inc/stm32h7xx_hal_conf.h
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/Core/Src/main.c
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/Core/Src/stm32h7xx_hal_msp.c
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32h743-openmv-h7plus/board/Kconfig
  bsp/stm32/stm32h743-openmv-h7plus/board/SConscript
  bsp/stm32/stm32h743-openmv-h7plus/board/board.c
  bsp/stm32/stm32h743-openmv-h7plus/board/ports/sdram_port.h
Labels: +1, +2

#5454 [libc]修理一些细节问题
  components/libc/compilers/armlibc/syscalls.c
  components/libc/compilers/common/compiler_private.h
  components/libc/compilers/common/time.c
Labels: +1, +2

#5473 [Nuvoton] Update driver and sync to new version.
  bsp/nuvoton/libraries/m2354/StdDriver/src/nu_crypto.c
  bsp/nuvoton/libraries/n9h30/Driver/Include/nu_spi.h
  bsp/nuvoton/libraries/n9h30/rtt_port/Kconfig
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_common.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_ge2d.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_vpost.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_emac.c
  bsp/nuvoton/nk-980iot/.config
  bsp/nuvoton/nk-980iot/board/Kconfig
  bsp/nuvoton/nk-980iot/rtconfig.py
  bsp/nuvoton/nk-n9h30/.config
  bsp/nuvoton/nk-n9h30/applications/lvgl/lv_conf.h
  bsp/nuvoton/nk-n9h30/applications/lvgl/lv_port_disp.c
  bsp/nuvoton/nk-n9h30/applications/mnt.c
  bsp/nuvoton/nk-n9h30/board/nu_pin_init.c
  bsp/nuvoton/nk-n9h30/rtconfig.py
  bsp/nuvoton/nk-rtu980/.config
  bsp/nuvoton/numaker-iot-m487/.config
  bsp/nuvoton/numaker-m2354/.config
  bsp/nuvoton/numaker-pfm-m487/.config
Labels: +1

#5479 [bsp/n32g452xx] Fix some error and inappropriate definition.
  bsp/n32g452xx/Libraries/rt_drivers/SConscript
  bsp/n32g452xx/Libraries/rt_drivers/drv_gpio.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_gpio.h
  bsp/n32g452xx/Libraries/rt_drivers/drv_pwm.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_usart.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_usart.h
  bsp/n32g452xx/n32g452xx-mini-system/board/Kconfig
Labels: +1

#5497 Remove the problematic rtconfig.h|移除有问题的 rtconfig.h
  bsp/gd32/libraries/HAL_Drivers/.config
  bsp/gd32/libraries/HAL_Drivers/rtconfig.h
  bsp/nuvoton/libraries/nu_packages/.config
  bsp/nuvoton/libraries/nu_packages/rtconfig.h
  bsp/stm32/libraries/HAL_Drivers/.config
  bsp/stm32/libraries/HAL_Drivers/rtconfig.h
Labels: +1

#5495 [simulator] 消除““Gm”选项已否决，并将在将来的版本中移除”的警告
  bsp/simulator/template_vs2012.vcxproj
Labels: +1

#5490 move some __on_rt_xxxxx_hook from rtdef.h to dedicated c soure files
  include/rtdef.h
  src/ipc.c
  src/irq.c
  src/kservice.c
  src/mempool.c
  src/object.c
  src/scheduler.c
  src/thread.c
  src/timer.c
Labels: +1

#5498 update buildbot.py
  tools/1.txt
  tools/buildbot.py
Labels: +1

#5510 [kernel]Delete an extra semicolon
  src/idle.c
Labels: +1, +2

#5513 Add lvgl_8.1.0 support for raspberry_pi pico
  bsp/raspberry-pico/Kconfig
  bsp/raspberry-pico/SConstruct
  bsp/raspberry-pico/applications/SConscript
  bsp/raspberry-pico/applications/lvgl/SConscript
  bsp/raspberry-pico/applications/lvgl/lv_conf.h
  bsp/raspberry-pico/applications/lvgl/lv_demo.c
  bsp/raspberry-pico/applications/lvgl/lv_port_disp.c
  bsp/raspberry-pico/applications/lvgl/lv_port_disp.h
  bsp/raspberry-pico/applications/lvgl/lv_port_indev.c
  bsp/raspberry-pico/applications/lvgl/lv_port_indev.h
  bsp/raspberry-pico/board/SConscript
  bsp/raspberry-pico/board/board.c
  bsp/raspberry-pico/board/board.h
  bsp/raspberry-pico/board/ports/SConscript
  bsp/raspberry-pico/board/ports/lcd/SConscript
  bsp/raspberry-pico/board/ports/lcd/drv_lcd.c
  bsp/raspberry-pico/board/ports/lcd/drv_lcd.h
  bsp/raspberry-pico/libraries/Kconfig
  bsp/raspberry-pico/libraries/SConscript
Labels: +1, +2

#5503 update notes
  include/rtdef.h
Labels: +1, +2, v4.1.0, urgent

#5509 tools: fix generate .project file error.
  tools/eclipse.py
Labels: +1, +2

#5519 [components][net][lwip]fixed the return value for sys_arch_mbox_tryfetch in lwip stack
  components/net/lwip-1.4.1/src/arch/sys_arch.c
  components/net/lwip-2.0.2/src/arch/sys_arch.c
  components/net/lwip-2.0.3/src/arch/sys_arch.c
  components/net/lwip-2.1.2/src/arch/sys_arch.c
Labels: +1

#5516 [bsp/n32g452xx] add can drivers
  bsp/n32g452xx/Libraries/rt_drivers/drv_can.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_can.h
Labels: reviewed, +1, BSP

#5345 [bugfix] libcpu/arm/cortex-m/context_gcc: 修复thumb指令集汇编语法错误
  libcpu/arm/cortex-m33/context_gcc.S
  libcpu/arm/cortex-m4/context_gcc.S
  libcpu/arm/cortex-m7/context_gcc.S
Labels: +1, v4.1.0

#5426 Refresh using dma2d,screen refresh average 25fps
  bsp/stm32/libraries/HAL_Drivers/drv_lcd_mipi.c
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_conf.h
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_demo.c
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_disp.c
Labels: +1, v4.1.0

#5443 [kernel] remove .init_priority
  include/rtdef.h
  src/thread.c
Labels: +1, v4.1.0, urgent

#5494 [kernel] rt_thread_suspend/resume增加注释
  src/thread.c
Labels: +1, v4.1.0, urgent

#5517 [kernel] remove RT_THREAD_BLOCK
  include/rtdef.h
Labels: +1, v4.1.0, urgent

#5530 [l475][audio] 消除编译错误
  bsp/stm32/stm32l475-atk-pandora/board/ports/audio/drv_es8388.c
Labels: +1

#5526 [libc] 调整文件结构
  components/libc/compilers/common/extension/SConscript
  components/libc/compilers/common/extension/fcntl.h
  components/libc/compilers/common/extension/readme.md
  components/libc/compilers/common/extension/sys/errno.h
  components/libc/compilers/common/extension/sys/select.h
  components/libc/compilers/common/extension/sys/stat.h
  components/libc/compilers/common/extension/sys/types.h
  components/libc/compilers/common/extension/sys/unistd.h
  components/libc/compilers/common/extension/unistd.h
  components/libc/compilers/common/nogcc/readme.md
  components/libc/compilers/gcc/newlib/legacy/SConscript
  components/libc/compilers/newlib/README.md
  components/libc/compilers/newlib/SConscript
  components/libc/compilers/newlib/fcntl.h
  components/libc/compilers/newlib/legacy/SConscript
  components/libc/compilers/newlib/legacy/_select/SConscript
  components/libc/compilers/newlib/legacy/_select/readme.md
  components/libc/compilers/newlib/legacy/_select/sys/select.h
  components/libc/compilers/newlib/libc_syms.c
  components/libc/compilers/newlib/machine/time.h
  components/libc/compilers/newlib/syscalls.c
Labels: +1

#5504 [libc][lwip] 修复ioctl与lwip socket定义冲突的问题
  components/libc/compilers/common/sys/ioctl.h
  components/net/lwip-1.4.1/src/lwipopts.h
  components/net/lwip-2.0.2/src/lwipopts.h
  components/net/lwip-2.0.3/src/lwipopts.h
  components/net/lwip-2.1.2/src/lwipopts.h
Labels: +1, +2

#5529 [ymodem] silent warnings
  components/utilities/ymodem/ry_sy.c
  components/utilities/ymodem/ymodem.h
Labels: +1

#5520 [bsp/n32g452xx] add rt_pin_get support
  bsp/n32g452xx/Libraries/rt_drivers/drv_gpio.c
  bsp/n32g452xx/n32g452xx-mini-system/applications/main.c
Labels: +1

#5535 [stm32][at esp8266][kconfig] 增加esp8266配置选项接管
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1

#5538 [bsp/n32g45x] Add UART support and menuconfig.
  bsp/n32g452xx/Libraries/rt_drivers/drv_adc.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_gpio.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_pwm.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_usart.c
  bsp/n32g452xx/n32g452xx-mini-system/.config
  bsp/n32g452xx/n32g452xx-mini-system/board/Kconfig
  bsp/n32g452xx/n32g452xx-mini-system/board/board.c
  bsp/n32g452xx/n32g452xx-mini-system/board/board.h
  bsp/n32g452xx/n32g452xx-mini-system/board/msp/n32_msp.c
  bsp/n32g452xx/n32g452xx-mini-system/board/msp/n32_msp.h
  bsp/n32g452xx/n32g452xx-mini-system/rtconfig.h
Labels: +1

#5411 [update] change ccflags to cflags
  bsp/bluetrum/libraries/hal_libraries/ab32vg1_hal/SConscript
  bsp/bluetrum/libraries/hal_libraries/bmsis/SConscript
  bsp/ck802/applications/SConscript
  bsp/gd32/docs/GD32系列BSP制作教程.md
  bsp/ra6m4-cpk/ports/fal/SConscript
  bsp/ra6m4-cpk/ports/rw007/SConscript
  bsp/stm32/stm32h743-openmv-h7plus/SConstruct
  bsp/stm32/stm32l475-atk-pandora/board/ports/fal/SConscript
  bsp/thead-smart/applications/SConscript
  bsp/tm4c129x/libraries/SConscript
  components/drivers/spi/SConscript
  tools/building.py
  tools/codelite.py
  tools/iar.py
  tools/keil.py
  tools/ses.py
Labels: +1, v4.1.0, important

#5536 [kernel][pm] beautify code
  src/idle.c
Labels: +1

#5541 [dfs][posix] add creat()
  components/dfs/src/dfs_posix.c
  components/libc/compilers/common/extension/fcntl.h
Labels: +1, +2

#5534 the support for PSE51
  components/libc/compilers/common/extension/sys/types.h
  components/libc/compilers/common/extension/sys/unistd.h
  components/libc/compilers/common/sys/signal.h
  components/libc/compilers/common/sys/time.h
  components/libc/compilers/common/time.c
  components/libc/posix-info.txt
  components/libc/posix/Kconfig
  components/libc/posix/delay/delay.h
  components/libc/posix/pthreads/pthread.h
  components/libc/posix/signal/posix_signal.c
  include/rtdef.h
  src/timer.c
Labels: +1, +2, v4.1.0, important

#5523 [posix][libdl] move libdl to posix folder
  components/libc/Kconfig
  components/libc/compilers/armlibc/libc_syms.c
  components/libc/compilers/gcc/newlib/dlsyms.c
  components/libc/posix/Kconfig
  components/libc/posix/libdl/SConscript
  components/libc/posix/libdl/arch/arm.c
  components/libc/posix/libdl/arch/riscv.c
  components/libc/posix/libdl/arch/x86.c
  components/libc/posix/libdl/dlclose.c
  components/libc/posix/libdl/dlelf.c
  components/libc/posix/libdl/dlelf.h
  components/libc/posix/libdl/dlerror.c
  components/libc/posix/libdl/dlfcn.h
  components/libc/posix/libdl/dlmodule.c
  components/libc/posix/libdl/dlmodule.h
  components/libc/posix/libdl/dlopen.c
  components/libc/posix/libdl/dlsym.c
Labels: +1

#5542 [sconscript.platform] 优化针对编译器判断
  bsp/stm32/stm32l475-atk-pandora/board/ports/fal/SConscript
  components/drivers/spi/SConscript
Labels: +1

#5544 避免警告，变量可能未初始化就使用
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
  bsp/stm32/libraries/HAL_Drivers/drv_usart_v2.c
Labels: +1, +2

#5546 [lwip]Improve lwip support for 64-bit architecture
  components/net/Kconfig
Labels: +1

#5552 欢欢喜喜过大年
  src/kservice.c
Labels: +1

#4372 爲imxrt系列添加pulse encoder驅動
  bsp/imxrt/libraries/MIMXRT1050/SConscript
  bsp/imxrt/libraries/drivers/SConscript
  bsp/imxrt/libraries/drivers/drv_pulse_encoder.c
Labels: BSP: NXP, v4.1.0

#5553 [remove] useless variable.
  components/libc/compilers/common/time.c
Labels: +1

#5557 return thread error when resumed by signal
  components/drivers/ipc/waitqueue.c
  src/ipc.c
  src/thread.c
Labels: +1, +2

#5556 improve and add comments
  examples/network/tcpclient.c
  examples/network/tcpserver.c
  examples/network/udpclient.c
  examples/network/udpserver.c
Labels: +1

#5547 [Kconfig][libcpu] 增加ARCH_CPU_BIG_ENDIAN
  components/net/lwip-1.4.1/src/arch/include/arch/cc.h
  components/net/lwip-2.0.3/src/arch/include/arch/cc.h
  components/net/lwip-2.1.2/src/arch/include/arch/cc.h
  libcpu/Kconfig
  src/Kconfig
Labels: +1

#4378 添加多過一個usb host的可能性
  components/drivers/include/drivers/usb_host.h
  components/drivers/usb/usbhost/core/driver.c
  components/drivers/usb/usbhost/core/hub.c
  components/drivers/usb/usbhost/core/usbhost.c
Labels: +1, +2, BSP: NXP, v4.1.0

#5563 [tools] Remove has_key methods to improve compatibility with Scons ve…
  tools/makefile.py
Labels: +1

#5566 fix usbhost issue by #4378
  bsp/nuvoton/libraries/m2354/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_usbhost.c
  components/drivers/usb/usbhost/core/driver.c
  components/drivers/usb/usbhost/core/hub.c
  components/drivers/usb/usbhost/core/usbhost.c
Labels: BSP: Nuvoton

#4377 爲imxrt系列添加usb host驅動
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction.h
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction_config.h
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction_rtthread.c
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction_rtthread.h
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/generic_list.c
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/generic_list.h
  bsp/imxrt/libraries/MIMXRT1050/SConscript
  bsp/imxrt/libraries/drivers/SConscript
  bsp/imxrt/libraries/drivers/drv_usbh.c
  bsp/imxrt/libraries/drivers/drv_usbh.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_devices.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_devices.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_ehci.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_ehci.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_framework.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_framework.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_hci.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_hci.h
  bsp/imxrt/libraries/drivers/usb/include/usb.h
  bsp/imxrt/libraries/drivers/usb/include/usb_host_config.h
  bsp/imxrt/libraries/drivers/usb/include/usb_misc.h
Labels: +1, BSP: NXP, v4.1.0

#5568 [UPDATE] v4.1.0 released log.
  ChangeLog.md
Labels: +1

#5572 support gcc and modify rtconfig only use uart1 in default.
  .github/workflows/action.yml
  bsp/wch/arm/Libraries/CH32F20x_StdPeriph_Driver/CMSIS/WCH/CH32F20x/Source/GCC/startup_ch32f20x.S
  bsp/wch/arm/ch32f103c8-core/.config
  bsp/wch/arm/ch32f103c8-core/board/board.c
  bsp/wch/arm/ch32f103c8-core/project.uvprojx
  bsp/wch/arm/ch32f103c8-core/rtconfig.h
Labels: +1

#5575 remove outdated comment
  include/rtdef.h
Labels: +1

#4740 add RT_DEBUG_SCHEDULER_AVAILABLE check.
  components/dfs/filesystems/devfs/devfs.c
  components/drivers/ipc/completion.c
  components/drivers/ipc/dataqueue.c
  components/drivers/ipc/waitqueue.c
  include/rtdebug.h
  src/ipc.c
Labels: +1, +2, important

#5577 [stm32]小ROMbsp 默认为-O2
  bsp/stm32/stm32f103-blue-pill/rtconfig.py
  bsp/stm32/stm32f302-st-nucleo/rtconfig.py
  bsp/stm32/stm32l010-st-nucleo/rtconfig.py
  bsp/stm32/stm32l053-st-nucleo/board/Kconfig
  bsp/stm32/stm32l053-st-nucleo/rtconfig.py
Labels: +1
