Repository RT-Thread/rt-thread, pull requests merged in 2022-03, with the labels that each got.

#5621 [pipe.h] 移除多余的头文件，防止形成头文件递归包含
  components/drivers/include/ipc/pipe.h
Labels: +1

#5603 [bsp/gd32]Optimize UART
  bsp/gd32/docs/GD32系列BSP制作教程.md
  bsp/gd32/gd32103c-eval/README.md
  bsp/gd32/gd32103c-eval/board/Kconfig
  bsp/gd32/gd32105c-eval/README.md
  bsp/gd32/gd32105c-eval/board/Kconfig
  bsp/gd32/gd32105r-start/README.md
  bsp/gd32/gd32105r-start/board/Kconfig
  bsp/gd32/gd32107c-eval/README.md
  bsp/gd32/gd32107c-eval/board/Kconfig
  bsp/gd32/gd32205r-start/README.md
  bsp/gd32/gd32205r-start/board/Kconfig
  bsp/gd32/gd32303e-eval/README.md
  bsp/gd32/gd32303e-eval/board/Kconfig
  bsp/gd32/gd32305r-start/README.md
  bsp/gd32/gd32305r-start/board/Kconfig
  bsp/gd32/gd32407v-start/README.md
  bsp/gd32/gd32407v-start/board/Kconfig
  bsp/gd32/gd32450z-eval/board/Kconfig
  bsp/gd32/libraries/gd32_drivers/drv_usart.c
Labels: +1, +2

#5632 improve ULOG_OUTPUT_FLOAT, which avoids using inherent vsnprintf
  components/utilities/Kconfig
  components/utilities/ulog/syslog/syslog.c
  components/utilities/ulog/ulog.c
Labels: +2

#5633 增加板卡标识
  bsp/stm32/stm32h750-artpi-h750/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1

#5620 [bsp][stm32] Add support with pwm6 to pwm13
  bsp/stm32/libraries/HAL_Drivers/config/f1/pwm_config.h
  bsp/stm32/libraries/STM32F1xx_HAL/STM32F1xx_HAL_Driver/Inc/stm32f1xx_hal_rcc_ex.h
Labels: +1

#5637 [kernel]Fixed issue that could all timers stop
  src/timer.c
Labels: +1

#5640 [bsp/n32g452xx] add drv_spi.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_spi.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_spi.h
Labels: +1

#5643 [fix] add the header file to avoid compiler error.
  components/drivers/ipc/pipe.c
  components/libc/posix/io/mman/mman.c
Labels: +1

#5634 优化bsp/simulator自动初始化
  include/rtdef.h
  libcpu/sim/win32/startup.c
Labels: +1, +2

#5659 [kernel][thread.c] remove duplicated clear to 0
  src/thread.c
Labels: +1, v4.1.0

#5629 [lwip] add lwip latest version
  components/net/lwip/Kconfig
Labels: discussion, +1

#5663 [update] remove extra code.
  components/finsh/cmd.c
Labels: +1, +2

#5673 add Raspberry-Pico-LVGL README
  bsp/raspberry-pico/applications/lvgl/README.md
  bsp/raspberry-pico/applications/lvgl/README_zh.md
  bsp/raspberry-pico/applications/lvgl/img/1.png
  bsp/raspberry-pico/applications/lvgl/img/2.png
  bsp/raspberry-pico/applications/lvgl/img/3.png
  bsp/raspberry-pico/applications/lvgl/img/4.png
  bsp/raspberry-pico/applications/lvgl/img/5.png
  bsp/raspberry-pico/applications/lvgl/img_en/1.png
  bsp/raspberry-pico/applications/lvgl/img_en/2.png
  bsp/raspberry-pico/applications/lvgl/img_en/3.png
  bsp/raspberry-pico/applications/lvgl/img_en/4.png
  bsp/raspberry-pico/applications/lvgl/img_en/5.png
Labels: +1

#5676 [update] fix finsh bug
  components/finsh/shell.c
Labels: +1, +2, v4.1.0

#5682 [kernel] Revert modifications to the semaphore
  src/ipc.c
  src/memheap.c
Labels: +1, v4.1.0, important

#5681 [documentation] Fixed Program Memory Distribution - Basic.md
  documentation/basic/basic.md
Labels: +1, +2

#5684 Open RT_USING_POSIX_STDIO caused serial_v2 to compile failed
  components/drivers/serial/serial_v2.c
Labels: +1

#5677 [update] 通过 SCons生成 CMakefile.txt 使用相对路径
  tools/cmake.py
  tools/vsc.py
Labels: +1

#5689 [libc] fix a typo
  components/libc/compilers/newlib/legacy/_select/SConscript
Labels: +1

#5692 [stm32 pandora] fix the bug when using LCD demo
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/pins_arduino.c
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/pins_arduino.h
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/pins_arduino.c
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/pins_arduino.h
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/STM32L475VE.ioc
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/demo/lcd_sample.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/drv_lcd.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/lcd_qrcode.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/lcd_qrcode.h
Labels: +1

#5687 [ulog][rtc][time][bug] solve the interference when enable the ulog timestamp
  bsp/stm32/libraries/HAL_Drivers/drv_rtc.c
  components/libc/compilers/common/time.c
  components/utilities/ulog/backend/console_be.c
  components/utilities/ulog/syslog/syslog.c
  components/utilities/ulog/ulog.c
  components/utilities/ulog/ulog.h
  components/utilities/ulog/ulog_def.h
Labels: +1

#5649 [kservice] Fix 64 bit compilation warning
  src/kservice.c
Labels: +1

#5693 [stm32f072 nucleo] support pwm for arduino
  bsp/apm32/apm32f103xe-minibroard/board/Kconfig
  bsp/hc32f4a0/board/Kconfig
  bsp/stm32/libraries/HAL_Drivers/config/f0/pwm_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
  bsp/stm32/libraries/templates/stm32l1xx/board/Kconfig
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/pins_arduino.c
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Inc/stm32f0xx_hal_conf.h
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Inc/stm32f0xx_it.h
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Src/stm32f0xx_hal_msp.c
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Src/stm32f0xx_it.c
  bsp/stm32/stm32f072-st-nucleo/board/Kconfig
  bsp/stm32/stm32f091-st-nucleo/board/Kconfig
  bsp/stm32/stm32f103-atk-nano/board/Kconfig
  bsp/stm32/stm32f103-atk-warshipv3/board/Kconfig
  bsp/stm32/stm32f103-fire-arbitrary/board/Kconfig
  bsp/stm32/stm32f103-yf-ufun/board/Kconfig
  bsp/stm32/stm32f407-armfly-v5/board/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f411-st-nucleo/board/Kconfig
  bsp/stm32/stm32f413-st-nucleo/board/Kconfig
  bsp/stm32/stm32f427-robomaster-a/board/Kconfig
  bsp/stm32/stm32f429-armfly-v6/board/Kconfig
  bsp/stm32/stm32f429-atk-apollo/board/Kconfig
  bsp/stm32/stm32f429-fire-challenger/board/Kconfig
  bsp/stm32/stm32f746-st-nucleo/board/Kconfig
  bsp/stm32/stm32f767-atk-apollo/board/Kconfig
  bsp/stm32/stm32g070-st-nucleo/board/Kconfig
  bsp/stm32/stm32g071-st-nucleo/board/Kconfig
  bsp/stm32/stm32h750-armfly-h7-tool/board/Kconfig
  bsp/stm32/stm32l433-ali-startkit/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32l496-ali-developer/board/Kconfig
  bsp/stm32/stm32mp157a-st-discovery/board/Kconfig
  bsp/stm32/stm32mp157a-st-ev1/board/Kconfig
  bsp/tae32f5300/drivers/Kconfig
  bsp/tm4c123bsp/board/Kconfig
  bsp/w60x/drivers/Kconfig
  bsp/wch/arm/ch32f103c8-core/board/Kconfig
  bsp/wch/arm/ch32f203r-evt/board/Kconfig
Labels: +1

#5694 [tools]keil.py Distinguish LOCAL_CFLAGS/LOCAL_CXXFLAGS, refine file c…
  tools/keil.py
Labels: +1, v4.1.0

#5656 [components][drivers][spi]: 基于SPI总线驱动框架添加模拟SPI总线扩展
  bsp/gd32303e-eval/Kconfig
  bsp/gd32303e-eval/drivers/SConscript
  bsp/gd32303e-eval/drivers/drv_soft_spi.c
  bsp/gd32303e-eval/drivers/drv_soft_spi.h
  components/drivers/Kconfig
  components/drivers/spi/SConscript
  components/drivers/spi/spi-bit-ops.c
  components/drivers/spi/spi-bit-ops.h
Labels: +1, +2

#5655 [stm32][driver_crypto]修复CRC自定义设置不生效的bug
  bsp/stm32/libraries/HAL_Drivers/drv_crypto.c
Labels: +1, +2

#5696 [ringbuffer] 消除c99
  components/drivers/ipc/ringbuffer.c
Labels: +1

#5703 modify system_ft32f0xx
  bsp/ft32/libraries/FT32F0xx/CMSIS/FT32F0xx/source/system_ft32f0xx.c
Labels: +1, emergency

#5699 format code
  bsp/at32/Libraries/rt_drivers/drv_soft_i2c.c
  bsp/at32/Libraries/rt_drivers/drv_usart.c
  bsp/bluetrum/libraries/hal_drivers/drv_soft_i2c.c
  bsp/gd32/libraries/gd32_drivers/drv_soft_i2c.c
  bsp/gd32vf103v-eval/drivers/drv_usart.c
  bsp/hk32/libraries/rt_drivers/drv_soft_i2c.c
  bsp/hk32/libraries/rt_drivers/drv_usart.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_soft_i2c.c
  bsp/renesas/libraries/HAL_Drivers/drv_soft_i2c.c
  bsp/stm32/libraries/HAL_Drivers/drv_pulse_encoder.c
  bsp/stm32/libraries/HAL_Drivers/drv_soft_i2c.c
  bsp/stm32/stm32l4r9-st-eval/board/ports/drv_touch_ft.c
  bsp/tm4c123bsp/libraries/Drivers/drv_spi.c
  components/drivers/spi/spi-bit-ops.h
Labels: +1

#5702 [bsp/stm32] add usbcdc for openmv
  bsp/stm32/stm32h743-openmv-h7plus/.config
  bsp/stm32/stm32h743-openmv-h7plus/README.md
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/Core/Inc/stm32h7xx_hal_conf.h
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/Core/Inc/stm32h7xx_it.h
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/Core/Src/main.c
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/Core/Src/stm32h7xx_hal_msp.c
  bsp/stm32/stm32h743-openmv-h7plus/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32h743-openmv-h7plus/board/Kconfig
  bsp/stm32/stm32h743-openmv-h7plus/board/board.c
  bsp/stm32/stm32h743-openmv-h7plus/rtconfig.h
Labels: +1, +2, BSP: STM32

#5712 Soft spi
  bsp/gd32303e-eval/drivers/drv_soft_spi.c
  bsp/gd32303e-eval/drivers/drv_soft_spi.h
  components/drivers/spi/spi-bit-ops.h
Labels: +1

#5698 [components][kconfig] 整理Kconfig名称和结构 | improve Kconfig
  components/Kconfig
  components/dfs/Kconfig
  components/fal/Kconfig
  components/finsh/Kconfig
  components/libc/Kconfig
  components/libc/cplusplus/Kconfig
  components/libc/cplusplus/README.md
  components/libc/cplusplus/SConscript
  components/libc/cplusplus/cpp11/README.md
  components/libc/cplusplus/cpp11/README_ZH.md
  components/libc/cplusplus/cpp11/armclang/clock.cpp
  components/libc/cplusplus/cpp11/armclang/condvar.cpp
  components/libc/cplusplus/cpp11/armclang/miscellaneous.cpp
  components/libc/cplusplus/cpp11/armclang/mutex.cpp
  components/libc/cplusplus/cpp11/armclang/thread.cpp
  components/libc/cplusplus/cpp11/armclang/tpl.h
  components/libc/cplusplus/cpp11/atomic_8.c
  components/libc/cplusplus/cpp11/emutls.c
  components/libc/cplusplus/cpp11/figures/Snipaste_2021-09-02_16-00-09.png
  components/libc/cplusplus/cpp11/gcc/__utils.h
  components/libc/cplusplus/cpp11/gcc/condition_variable
  components/libc/cplusplus/cpp11/gcc/condition_variable.cpp
  components/libc/cplusplus/cpp11/gcc/future
  components/libc/cplusplus/cpp11/gcc/mutex
  components/libc/cplusplus/cpp11/gcc/mutex.cpp
  components/libc/cplusplus/cpp11/gcc/thread
  components/libc/cplusplus/cpp11/gcc/thread.cpp
  components/libc/cplusplus/cpp11/gcc/utils.cpp
  components/libc/cplusplus/cpp11/thread_local_impl.cpp
  components/libc/cplusplus/cxx_Mutex.cpp
  components/libc/cplusplus/cxx_Semaphore.cpp
  components/libc/cplusplus/cxx_Thread.cpp
  components/libc/cplusplus/cxx_crt.cpp
  components/libc/cplusplus/cxx_crt.h
  components/libc/cplusplus/cxx_crt_init.c
  components/libc/cplusplus/cxx_lock.h
  components/libc/cplusplus/cxx_mail.h
  components/libc/cplusplus/cxx_mutex.h
  components/libc/cplusplus/cxx_queue.h
  components/libc/cplusplus/cxx_semaphore.h
  components/libc/cplusplus/cxx_thread.h
  components/libc/posix/Kconfig
  components/lwp/Kconfig
  components/net/lwip/Kconfig
  components/net/sal/Kconfig
  components/vbus/Kconfig
Labels: v4.1.0

#5208 Add some drivers
  bsp/acm32f0x0-nucleo/.config
  bsp/acm32f0x0-nucleo/Kconfig
  bsp/acm32f0x0-nucleo/applications/main.c
  bsp/acm32f0x0-nucleo/drivers/board.c
  bsp/acm32f0x0-nucleo/drivers/board.h
  bsp/acm32f0x0-nucleo/drivers/drv_adc.c
  bsp/acm32f0x0-nucleo/drivers/drv_gpio.c
  bsp/acm32f0x0-nucleo/drivers/drv_hwtimer.c
  bsp/acm32f0x0-nucleo/drivers/drv_i2c.c
  bsp/acm32f0x0-nucleo/drivers/drv_pm.c
  bsp/acm32f0x0-nucleo/drivers/drv_rtc.c
  bsp/acm32f0x0-nucleo/drivers/drv_soft_i2c.c
  bsp/acm32f0x0-nucleo/drivers/drv_spi.c
  bsp/acm32f0x0-nucleo/drivers/drv_uart.c
  bsp/acm32f0x0-nucleo/drivers/drv_wdt.c
  bsp/acm32f0x0-nucleo/drivers/i2c_config.h
  bsp/acm32f0x0-nucleo/drivers/spi_config.h
  bsp/acm32f0x0-nucleo/drivers/tim_config.h
  bsp/acm32f0x0-nucleo/drivers/uart_config.h
  bsp/acm32f0x0-nucleo/libraries/SConscript
  bsp/acm32f0x0-nucleo/project.ewp
  bsp/acm32f0x0-nucleo/project.uvoptx
  bsp/acm32f0x0-nucleo/project.uvprojx
  bsp/acm32f0x0-nucleo/rtconfig.h
  bsp/acm32f4xx-nucleo/README.md
  bsp/acm32f4xx-nucleo/project.uvoptx
  bsp/acm32f4xx-nucleo/project.uvprojx
Labels: +1, +2, v4.1.0, BSP

#5683 list_fd 显示完整路径
  components/dfs/src/dfs.c
Labels: +1, +2

#5721 Fixed the issue LOG_HEX no output at asyn mode.
  components/utilities/ulog/ulog.c
Labels: +1, v4.1.0

#5719 [libcpu/arm/cortex-m33]fix syscall_iar.S compiler error
  bsp/acm32f4xx-nucleo/project.ewp
  bsp/acm32f4xx-nucleo/project.eww
  bsp/acm32f4xx-nucleo/template.ewp
  bsp/acm32f4xx-nucleo/template.eww
  libcpu/arm/cortex-m33/syscall_iar.S
Labels: +1, +2, v4.1.0

#5718 [at] add ingore_format.yml
  bsp/at32/libraries/f403a_407/.ignore_format.yml
Labels: +1, v4.1.0

#5726 [nuvoton] Update drivers and project setting.
  bsp/nuvoton/libraries/m031/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/n9h30/Script/InitDDR2.ini
  bsp/nuvoton/libraries/n9h30/Script/N9H30.sct
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_rtc.c
  bsp/nuvoton/libraries/nu_packages/Kconfig
  bsp/nuvoton/libraries/nu_packages/SSD1963/lcd_ssd1963.c
  bsp/nuvoton/libraries/nu_packages/TPC/SConscript
  bsp/nuvoton/libraries/nu_packages/TPC/gt911.c
  bsp/nuvoton/libraries/nu_packages/TPC/gt911.h
  bsp/nuvoton/libraries/nu_packages/TPC/ili.c
  bsp/nuvoton/libraries/nu_packages/TPC/ili.h
  bsp/nuvoton/libraries/nu_packages/TPC/tpc_worker.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_rtc.c
  bsp/nuvoton/nk-980iot/.config
  bsp/nuvoton/nk-980iot/README.md
  bsp/nuvoton/nk-980iot/rtconfig.h
  bsp/nuvoton/nk-980iot/spinor.config
  bsp/nuvoton/nk-980iot/template.uvproj
  bsp/nuvoton/nk-980iot/template.uvprojx
  bsp/nuvoton/nk-n9h30/.config
  bsp/nuvoton/nk-n9h30/README.md
  bsp/nuvoton/nk-n9h30/applications/lvgl/lv_conf.h
  bsp/nuvoton/nk-n9h30/applications/lvgl/lv_port_disp.c
  bsp/nuvoton/nk-n9h30/rtconfig.h
  bsp/nuvoton/nk-n9h30/template.uvproj
  bsp/nuvoton/nk-n9h30/template.uvprojx
  bsp/nuvoton/nk-rtu980/.config
  bsp/nuvoton/nk-rtu980/README.md
  bsp/nuvoton/nk-rtu980/rtconfig.h
  bsp/nuvoton/nk-rtu980/template.uvproj
  bsp/nuvoton/nk-rtu980/template.uvprojx
  bsp/nuvoton/numaker-iot-m487/.config
  bsp/nuvoton/numaker-iot-m487/rtconfig.h
  bsp/nuvoton/numaker-m032ki/.config
  bsp/nuvoton/numaker-m032ki/rtconfig.h
  bsp/nuvoton/numaker-m2354/.config
  bsp/nuvoton/numaker-m2354/rtconfig.h
  bsp/nuvoton/numaker-pfm-m487/.config
  bsp/nuvoton/numaker-pfm-m487/rtconfig.h
Labels: +1, v4.1.0

#5731 [posix] add RT_USING_POSIX_SOCKET
  bsp/qemu-vexpress-a9/drivers/Kconfig
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  components/libc/posix/Kconfig
  components/net/sal/Kconfig
Labels: +1

#5738 [update] Fix some spelling mistakes.
  components/drivers/include/ipc/workqueue.h
  include/rtdef.h
  include/rthw.h
Labels: +1

#5736 [libcpu/risc-v] 修复risc-v scons编译中间文件不能输出到build/kernel/libcpu目录问题
  libcpu/risc-v/SConscript
Labels: bug, +1, v4.1.0

#5741 [sconscript] LOCAL_CCFLAGS -> LOCAL_CFLAGS
  bsp/renesas/libraries/bsp-template/board/ports/SConscript
  bsp/renesas/ra6m4-cpk/board/ports/SConscript
  bsp/renesas/ra6m4-iot/board/ports/SConscript
Labels: +1, +2, v4.1.0

#5740 [poll][select] 修复select死循环的问题
  components/libc/posix/io/poll/poll.c
Labels: +1, +2

#5743 [lwip] delete useless RTM export
  components/net/lwip/port/sys_arch.c
Labels: +1, v4.1.0

#5735 [update] ChangeLog for RT-Thread_v4.1.0
  ChangeLog.md
Labels: +1, +2, v4.1.0
