Repository RT-Thread/rt-thread, pull requests merged in 2022-05, with the labels that each got.

#5909 [fix] fix dlmodule compile 'SEEK_END' undeclared eror
  components/libc/posix/libdl/dlmodule.c
Labels: +1, +2, v4.1.1

#5904 [update] support command: scons --target=xmake
  tools/building.py
  tools/xmake.lua
  tools/xmake.py
Labels: +1, v4.1.1

#5897 [stm32][spi] remove hardware NSS
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1

#5911 [bsp][stm32][drv_crypto] Enable RNG Clock
  bsp/stm32/libraries/HAL_Drivers/drv_crypto.c
Labels: +1, +2

#5901 [stm32][l4] add tim7 support | 设备框架以及驱动错误码处理逻辑存在问题
  bsp/stm32/libraries/HAL_Drivers/config/l4/tim_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_hwtimer.c
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/STM32L475VE.ioc
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32l475-atk-pandora/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  components/drivers/hwtimer/README_CN.md
  components/drivers/hwtimer/hwtimer.c
  components/drivers/misc/dac.c
Labels: +1, v4.1.1

#5918 [lvgl] beautify code
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/lv_port_indev.c
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/lv_port_indev.h
  bsp/raspberry-pico/applications/lvgl/lv_port_indev.c
  bsp/raspberry-pico/applications/lvgl/lv_port_indev.h
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_indev.c
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_indev.h
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/lv_port_indev.c
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/lv_port_indev.h
Labels: +1, BSP

#5891 cmake默认开启生成编译数据库
  tools/cmake.py
Labels: +1, +2

#5914 添加RTC设备驱动
  bsp/hc32f460/Libraries/CMSIS/Device/HDSC/HC32F460/Include/ddl_config.h
  bsp/hc32f460/Libraries/SConscript
  bsp/hc32f460/board/Kconfig
  bsp/hc32f460/drivers/SConscript
  bsp/hc32f460/drivers/drv_rtc.c
Labels: +2

#5917 [stm32 nucleo][f072][f401] support TIM7/TIM11 hardware timer
  bsp/stm32/libraries/HAL_Drivers/config/f0/tim_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_hwtimer.c
  bsp/stm32/stm32f072-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f072-st-nucleo/board/CubeMX_Config/Src/stm32f0xx_hal_msp.c
  bsp/stm32/stm32f072-st-nucleo/board/Kconfig
  bsp/stm32/stm32f401-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f401-st-nucleo/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f401-st-nucleo/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1, +2

#5919 [stm32l475]优化LVGL初始化流程和结构
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/demo/SConscript
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/demo/lv_demo.c
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/demo/lv_demo_calendar.c
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/demo/lv_demo_calendar.h
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/lv_demo.c
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/lv_port_disp.h
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/lv_port_indev.c
  bsp/stm32/stm32l475-atk-pandora/applications/lvgl/lv_port_indev.h
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1

#5910 [hwtimer] add disable interrupt protection for hwtimer_isr function
  components/drivers/hwtimer/hwtimer.c
Labels: +1, +2

#5928 [stm32f469][lvgl] 优化LVGL文件结构
  bsp/stm32/stm32f469-st-disco/applications/lvgl/demo/SConscript
  bsp/stm32/stm32f469-st-disco/applications/lvgl/demo/lv_demo.c
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_demo.c
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_disp.c
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_disp.h
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_indev.c
  bsp/stm32/stm32f469-st-disco/applications/lvgl/lv_port_indev.h
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32f469-st-disco/board/ports/touch/drv_touch.c
Labels: +1

#5936 [nxp] add ci check
  .github/workflows/action.yml
Labels: +1

#5935 imxrt1060
  bsp/imxrt/imxrt1060-nxp-evk/rtconfig.py
Labels: +1, +2

#5934 Fix typo
  libcpu/arm/cortex-m0/context_gcc.S
  libcpu/arm/cortex-m23/context_gcc.S
  libcpu/arm/cortex-m3/context_gcc.S
Labels: +1, +2

#5925 Unified management interrupt vector table.
  bsp/hc32/ev_hc32f4a0_lqfp176/board/SConscript
  bsp/hc32/ev_hc32f4a0_lqfp176/board/board.c
  bsp/hc32/ev_hc32f4a0_lqfp176/board/board_config.c
  bsp/hc32/ev_hc32f4a0_lqfp176/board/board_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/adc_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/can_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/dma_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/eth_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/gpio_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/irq_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/spi_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/tim_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/config/uart_config.h
  bsp/hc32/ev_hc32f4a0_lqfp176/board/drv_config.h
  bsp/hc32/libraries/hc32_drivers/drv_adc.c
  bsp/hc32/libraries/hc32_drivers/drv_adc.h
  bsp/hc32/libraries/hc32_drivers/drv_can.c
  bsp/hc32/libraries/hc32_drivers/drv_can.h
Labels: +1

#5956 Add quick start guide for QEMU on macOS
  bsp/qemu-vexpress-a9/qemu.bat
  bsp/qemu-vexpress-a9/qemu.sh
  documentation/quick-start/quick_start_qemu/figures/gnu-arm.png
  documentation/quick-start/quick_start_qemu/figures/macos-env-menu.png
  documentation/quick-start/quick_start_qemu/figures/macos-filesys.png
  documentation/quick-start/quick_start_qemu/figures/macos-mkfs-sd0.png
  documentation/quick-start/quick_start_qemu/figures/macos-msh-help.png
  documentation/quick-start/quick_start_qemu/figures/macos-pkgs-add-to-menu.png
  documentation/quick-start/quick_start_qemu/figures/macos-qemu-bsp.png
  documentation/quick-start/quick_start_qemu/figures/macos-qemu-sh.png
  documentation/quick-start/quick_start_qemu/figures/macos-save.png
  documentation/quick-start/quick_start_qemu/figures/macos-select-pkg.png
  documentation/quick-start/quick_start_qemu/figures/macos-thread-timer.png
  documentation/quick-start/quick_start_qemu/figures/macos-update-pkg.png
  documentation/quick-start/quick_start_qemu/quick_start_qemu_macos.md
Labels: +1, +2

#5958 update readme
  README.md
Labels: +1

#5955 [bsp/qemu-riscv-virt64] chmod u+x shell script
  bsp/qemu-riscv-virt64/qemu-dbg.sh
  bsp/qemu-riscv-virt64/qemu-dumpdtb.sh
Labels: +1, +2

#5964 Translation/Deutsche
  README_de.md
Labels: +1, +2

#5963 Translation/Spanish
  README_es.md
Labels: +1, +2

#5962 Add RT_SENSOR_VENDOR_MELEXIS in sensor.h
  components/drivers/include/drivers/sensor.h
Labels: +1, +2

#5965 update readme for languages choices
  README.md
  README_de.md
  README_es.md
  README_zh.md
Labels: +1

#5966 Add RT_SENSOR_VENDOR_MELEXIS in sensor_cmd.c
  components/drivers/sensors/sensor_cmd.c
Labels: +1, +2

#5967 [imxrt1060] support touchpad
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/lv_port_indev.c
  bsp/imxrt/imxrt1060-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1060-nxp-evk/board/SConscript
  bsp/imxrt/imxrt1060-nxp-evk/board/ports/touchpad.c
  bsp/imxrt/imxrt1060-nxp-evk/board/ports/touchpad.h
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/drivers/fsl_ft5406_rt.c
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/drivers/fsl_ft5406_rt.h
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/drivers/fsl_gt911.c
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/drivers/fsl_gt911.h
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/drivers/fsl_video_common.c
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/drivers/fsl_video_common.h
  bsp/imxrt/libraries/MIMXRT1060/SConscript
Labels: +1, +2

#5976 [lvgl] remove LV_DISP_DEF_REFR_PERIOD which are defined manually
  bsp/nuvoton/nk-980iot/applications/lvgl/lv_conf.h
  bsp/nuvoton/nk-n9h30/applications/lvgl/lv_conf.h
  bsp/nuvoton/numaker-iot-m487/applications/lvgl/lv_conf.h
  bsp/nuvoton/numaker-m032ki/applications/lvgl/lv_conf.h
  bsp/nuvoton/numaker-m2354/applications/lvgl/lv_conf.h
  bsp/nuvoton/numaker-pfm-m487/applications/lvgl/lv_conf.h
  bsp/qemu-vexpress-a9/applications/lvgl/lv_conf.h
  bsp/simulator/applications/lvgl/lv_conf.h
Labels: +1

#5975 [文档] 修正贡献代码指南对于日志使用的描述
  documentation/contribution_guide/coding_style_cn.md
Labels: +1

#5972 [tools/kconfig-frontends] append path for scons env
  tools/kconfig-frontends/SConstruct
Labels: +1

#5971 [bug] use pointer that memory had freed.
  components/net/at/at_socket/at_socket.c
Labels: +1

#5986 [include] fix comment for rt_container_of
  include/rtservice.h
Labels: +1, +2

#5987 [bsp] rename qemu-riscv-virt64 to qemu-virt64-riscv
  .github/workflows/action_utest.yml
  bsp/qemu-virt64-riscv/.config
  bsp/qemu-virt64-riscv/Kconfig
  bsp/qemu-virt64-riscv/README.md
  bsp/qemu-virt64-riscv/README_ZH.md
  bsp/qemu-virt64-riscv/SConscript
  bsp/qemu-virt64-riscv/SConstruct
  bsp/qemu-virt64-riscv/applications/SConscript
  bsp/qemu-virt64-riscv/applications/main.c
  bsp/qemu-virt64-riscv/driver/Kconfig
  bsp/qemu-virt64-riscv/driver/SConscript
  bsp/qemu-virt64-riscv/driver/asm/sbiasm.h
  bsp/qemu-virt64-riscv/driver/asm/sbidef.h
  bsp/qemu-virt64-riscv/driver/board.c
  bsp/qemu-virt64-riscv/driver/board.h
  bsp/qemu-virt64-riscv/driver/drv_uart.c
  bsp/qemu-virt64-riscv/driver/drv_uart.h
  bsp/qemu-virt64-riscv/driver/encoding.h
  bsp/qemu-virt64-riscv/driver/io.h
  bsp/qemu-virt64-riscv/driver/plic.c
  bsp/qemu-virt64-riscv/driver/plic.h
  bsp/qemu-virt64-riscv/driver/sbi.c
  bsp/qemu-virt64-riscv/driver/sbi.h
  bsp/qemu-virt64-riscv/link.lds
  bsp/qemu-virt64-riscv/link_stacksize.lds
  bsp/qemu-virt64-riscv/qemu-dbg.sh
  bsp/qemu-virt64-riscv/qemu-dumpdtb.sh
  bsp/qemu-virt64-riscv/qemu-nographic-smode.sh
  bsp/qemu-virt64-riscv/qemu-nographic.sh
  bsp/qemu-virt64-riscv/rtconfig.h
  bsp/qemu-virt64-riscv/rtconfig.py
Labels: +1, +2

#5989 [ulog] Optimize unnecessary refresh
  components/utilities/ulog/backend/file_be.c
Labels: +1, +2

#5990 [libc] revert back difftime
  components/libc/compilers/common/time.c
Labels: +1, +2

#5076 Modify wlan framework
  components/drivers/wlan/wlan_cmd.c
  components/drivers/wlan/wlan_dev.c
  components/drivers/wlan/wlan_dev.h
  components/drivers/wlan/wlan_mgnt.c
  components/drivers/wlan/wlan_mgnt.h
Labels: +1, v4.1.1

#6004 [kernel][timer] fixed bug
  src/timer.c
Labels: +1

#5997 Fix bug when restarting and getting interrupts that are not processed.
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_sys.c
Labels: +1, BSP: Nuvoton

#5994 [STM32][RTC] add support for STM32L0 series.
  bsp/stm32/libraries/HAL_Drivers/drv_rtc.c
Labels: +1

#5984 [drivers][hwcrypto] Correct function return value definition
  components/drivers/hwcrypto/hw_bignum.c
  components/drivers/hwcrypto/hw_bignum.h
Labels: +1

#5988 [device][adc] implement adc_get_vref
  bsp/stm32/libraries/HAL_Drivers/drv_adc.c
  components/drivers/include/drivers/adc.h
  components/drivers/misc/adc.c
Labels: +1, +2

#5898 [spi device] remove _spi_bus_device_control
  components/drivers/spi/spi_dev.c
Labels: +1, v4.1.1

#6010 [add] winsock implement on windows simulator.
  bsp/simulator/Kconfig
  bsp/simulator/drivers/SConscript
  bsp/simulator/drivers/winsock/drv_win_eth.c
  bsp/simulator/drivers/winsock/rtt_winsock.h
  bsp/simulator/drivers/winsock/sal_winsock.c
  components/net/sal/Kconfig
  components/net/sal/SConscript
  components/net/sal/impl/af_inet_winsock.c
Labels: +1, +2, v4.1.1
