Repository RT-Thread/rt-thread, pull requests merged in 2022-04, with the labels that each got.

#5756 [ci] update action use python@v3
  .github/workflows/action.yml
  .github/workflows/action_tools.yml
  .github/workflows/action_utest.yml
  .github/workflows/file_check.yml
Labels: urgent

#5765 [rtdef] Add BGR888 pixel format
  include/rtdef.h
Labels: +1

#5770 完善 Serial V2 框架
  bsp/stm32/libraries/HAL_Drivers/drv_usart_v2.c
  components/drivers/include/drivers/serial_v2.h
  components/drivers/serial/serial_v2.c
Labels: +1, +2

#5755 解决bsp/rm48x50工程使用arm-gcc编译不通过，以及程序出现prefetch abort异常的问题。
  libcpu/arm/cortex-r4/cpu.c
  libcpu/arm/cortex-r4/start_gcc.S
Labels: +1, +2

#5766 [sensor]Add blood pressure sensor type
  components/drivers/include/drivers/sensor.h
  components/drivers/sensors/sensor.c
  components/drivers/sensors/sensor_cmd.c
Labels: +1

#5764 [compilers] Fix c/c++ compilation warnings and errors
  components/drivers/include/ipc/workqueue.h
  components/fal/src/fal_partition.c
  components/fal/src/fal_rtt.c
  components/libc/compilers/common/extension/fcntl.h
  components/libc/compilers/common/extension/sys/select.h
  components/libc/compilers/common/extension/sys/stat.h
  components/libc/compilers/common/extension/sys/types.h
  components/libc/compilers/common/extension/sys/unistd.h
  components/libc/compilers/common/sys/ioctl.h
  components/libc/compilers/common/sys/statfs.h
  components/utilities/var_export/var_export.c
Labels: +1, +2

#5763 [hwcrypto]Optimize memory usage
  components/drivers/hwcrypto/hw_symmetric.h
Labels: +1, +2

#5777 [components][ulog] Add file backend
  components/utilities/Kconfig
  components/utilities/ulog/SConscript
  components/utilities/ulog/backend/file_be.c
  components/utilities/ulog/backend/ulog_be.h
  components/utilities/ulog/syslog/syslog.c
  components/utilities/ulog/ulog.c
  components/utilities/ulog/ulog.h
Labels: +1, +2

#5769 [device]Detailed classification of devices types
  components/drivers/include/drivers/alarm.h
  components/drivers/include/drivers/dac.h
  components/drivers/include/drivers/hwtimer.h
  components/drivers/include/drivers/i2c_dev.h
  components/drivers/include/drivers/pm.h
  components/drivers/include/drivers/rt_drv_pwm.h
  components/drivers/include/drivers/rtc.h
  components/drivers/include/drivers/sensor.h
  components/drivers/include/drivers/watchdog.h
  components/drivers/misc/adc.c
  components/drivers/misc/dac.c
  components/drivers/misc/pin.c
  components/drivers/misc/rt_drv_pwm.c
  components/drivers/rtc/alarm.c
  components/drivers/touch/touch.h
  components/drivers/watchdog/watchdog.c
  include/rtdef.h
Labels: +1

#5768 [dfs][romfs]支持相对地址模式
  components/dfs/filesystems/romfs/dfs_romfs.c
  components/dfs/filesystems/romfs/dfs_romfs.h
  tools/mkromfs.py
Labels: +1

#5775 improve libc time and MSVC simulator
  bsp/simulator/drivers/SConscript
  bsp/simulator/rtconfig_project.h
  components/libc/compilers/common/extension/SConscript
  components/libc/compilers/common/extension/fcntl/README.md
  components/libc/compilers/common/extension/fcntl/SConscript
  components/libc/compilers/common/extension/fcntl/octal/SConscript
  components/libc/compilers/common/extension/fcntl/octal/fcntl.h
  components/libc/compilers/common/sys/time.h
Labels: +1, +2

#5780 [finsh]fix list_device crash.
  components/finsh/cmd.c
Labels: +2

#5748 [libcpu/arm]: add dsb and isb instructions in the end of rt_hw_con…
  libcpu/arm/cortex-m0/context_gcc.S
  libcpu/arm/cortex-m0/context_iar.S
  libcpu/arm/cortex-m0/context_rvds.S
  libcpu/arm/cortex-m23/context_gcc.S
  libcpu/arm/cortex-m23/context_iar.S
  libcpu/arm/cortex-m23/context_rvds.S
  libcpu/arm/cortex-m3/context_gcc.S
  libcpu/arm/cortex-m3/context_iar.S
  libcpu/arm/cortex-m3/context_rvds.S
  libcpu/arm/cortex-m33/context_gcc.S
  libcpu/arm/cortex-m33/context_iar.S
  libcpu/arm/cortex-m33/context_rvds.S
  libcpu/arm/cortex-m4/context_gcc.S
  libcpu/arm/cortex-m4/context_iar.S
  libcpu/arm/cortex-m4/context_rvds.S
  libcpu/arm/cortex-m7/context_gcc.S
  libcpu/arm/cortex-m7/context_iar.S
  libcpu/arm/cortex-m7/context_rvds.S
Labels: +1, +2

#5783 [update] Sort the source file path
  tools/building.py
Labels: +1

#5785 [bsp] Make all warnings into errors with qemu-vexpress-a9 qemu-virt64…
  bsp/qemu-vexpress-a9/rtconfig.py
  bsp/qemu-virt64-aarch64/rtconfig.py
  bsp/stm32/stm32f411-st-nucleo/rtconfig.py
  components/drivers/include/drivers/alarm.h
  components/drivers/include/drivers/rtc.h
  components/drivers/rtc/alarm.c
  examples/utest/testcases/kernel/mailbox_tc.c
  examples/utest/testcases/kernel/semaphore_tc.c
  examples/utest/testcases/kernel/signal_tc.c
Labels: +1

#5778 [kconfig] add 64bit default value for stack size. set tick HZ as 1000 by default
  components/Kconfig
  components/libc/compilers/common/stdlib.c
  include/rtthread.h
  src/Kconfig
  src/kservice.c
Labels: -1

#5795 correct the descriptions of functions
  src/ipc.c
Labels: +1

#5793 [simulator] 解决simulator模拟器不能挂在sd卡的问题，并更新文档
  bsp/simulator/.config
  bsp/simulator/applications/mnt.c
  bsp/simulator/drivers/sd_sim.c
  bsp/simulator/readme.md
  bsp/simulator/readme_en.md
  bsp/simulator/rtconfig.h
Labels: +1

#5707 [bsp/stm32] select the input clk of spi based on SPI instances
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1, v4.1.1

#5794 fix:修复i2c异常问题
  bsp/airm2m/air105/libraries/HAL_Driver/Src/core_i2c.c
  bsp/airm2m/air105/libraries/rt_drivers/drv_i2c.c
Labels: +1, +2

#5733 [Update] n32_msp.c add spi3
  bsp/n32g452xx/Libraries/rt_drivers/drv_spi.c
  bsp/n32g452xx/n32g452xx-mini-system/board/msp/n32_msp.c
Labels: +1, BSP, v4.1.1

#5803 fix comment
  components/drivers/hwcrypto/hw_crc.c
Labels: +1, +2

#5488 [bsp/stm32] fix the bug of can filter conflict
  bsp/stm32/libraries/HAL_Drivers/drv_can.c
Labels: +1, +2, BSP: STM32, v4.1.1

#5814 [Nuvoton] Update default configurations of M487 boards
  bsp/nuvoton/numaker-iot-m487/.config
  bsp/nuvoton/numaker-iot-m487/rtconfig.h
  bsp/nuvoton/numaker-pfm-m487/.config
  bsp/nuvoton/numaker-pfm-m487/rtconfig.h
Labels: +1, BSP: Nuvoton

#5815 Fix/parameter name
  src/ipc.c
Labels: +1, +2

#5801 [libc] fix that some function cannot be found in unistd.h
  components/libc/compilers/common/sys/unistd.h
  components/libc/compilers/common/unistd.h
Labels: +1, +2

#5818 attach #5815
  include/rtthread.h
Labels: +1

#5816 Fix return value of rt_dac_write function.
  components/drivers/include/drivers/dac.h
  components/drivers/misc/dac.c
Labels: +1, +2

#5809 update arduino related
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/pins_arduino.c
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/pins_arduino.h
  bsp/stm32/stm32f072-st-nucleo/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/README.md
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/pins_arduino.c
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/pins_arduino.h
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1

#5824 [stm32f072] support Arduino I2C and update readme
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/README.md
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/pins_arduino.c
  bsp/stm32/stm32f072-st-nucleo/applications/arduino/pins_arduino.h
  bsp/stm32/stm32f072-st-nucleo/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/applications/arduino/README.md
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
Labels: +1

#5835 [components][drivers] Update device type definition and command defin…
  components/drivers/hwcrypto/hwcrypto.c
  components/drivers/include/drivers/adc.h
  components/drivers/include/drivers/audio.h
Labels: +1, +2

#5838 rt1052 添加 RT-Thread Studio 工程
  bsp/imxrt/imxrt1052-fire-pro/.cproject
  bsp/imxrt/imxrt1052-fire-pro/.project
  bsp/imxrt/imxrt1052-fire-pro/.settings/.rtmenus
  bsp/imxrt/imxrt1052-fire-pro/.settings/ilg.gnumcueclipse.debug.gdbjtag.jlink.prefs
  bsp/imxrt/imxrt1052-fire-pro/.settings/imxrt1052-fire-pro.JLink.Debug.rttlaunch
  bsp/imxrt/imxrt1052-fire-pro/.settings/language.settings.xml
  bsp/imxrt/imxrt1052-fire-pro/.settings/org.eclipse.core.runtime.prefs
  bsp/imxrt/imxrt1052-fire-pro/.settings/projcfg.ini
  bsp/imxrt/imxrt1052-fire-pro/.settings/rt1052-fire.DAPLink.Debug.rttlaunch
  bsp/imxrt/imxrt1052-fire-pro/.settings/rt1052-fire.JLink.Debug.rttlaunch
  bsp/imxrt/imxrt1052-fire-pro/.settings/rt1052-yh.JLink.Debug.rttlaunch
  bsp/imxrt/imxrt1052-fire-pro/.settings/test-1052.JLink.Debug.rttlaunch
  bsp/imxrt/imxrt1052-fire-pro/EventRecorderStub.scvd
  bsp/imxrt/imxrt1052-fire-pro/JLinkSettings.ini
  bsp/imxrt/imxrt1052-fire-pro/README.md
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/Devices/NXP/iMXRT_UFL/MIMXRT_FLEXSPI_UFL_256B_4KB.FLM
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/Devices/NXP/iMXRT_UFL/MIMXRT_FLEXSPI_UFL_512B_4KB.FLM
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/Devices/NXP/iMXRT_UFL/MIMXRT_FLEXSPI_UFL_512B_64KB.FLM
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/Devices/NXP/iMXRT_UFL/iMXRT1011_CortexM7.JLinkScript
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/Devices/NXP/iMXRT_UFL/iMXRT117x_CortexM7.JLinkScript
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/Devices/NXP/iMXRT_UFL/iMXRT5xx_CortexM33.JLinkScript
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/Devices/NXP/iMXRT_UFL/iMXRT6xx_CortexM33.JLinkScript
  bsp/imxrt/imxrt1052-fire-pro/board/JLink_Vxxx/JLinkDevices.xml
  bsp/imxrt/imxrt1052-fire-pro/figures/1.png
  bsp/imxrt/imxrt1052-fire-pro/figures/2.png
  bsp/imxrt/imxrt1052-fire-pro/figures/3.png
  bsp/imxrt/imxrt1052-fire-pro/figures/4.png
  bsp/imxrt/imxrt1052-fire-pro/figures/5.png
  bsp/imxrt/imxrt1052-fire-pro/figures/6.png
  bsp/imxrt/imxrt1052-fire-pro/figures/7.png
  bsp/imxrt/imxrt1052-fire-pro/figures/8.png
  bsp/imxrt/imxrt1052-fire-pro/figures/9.png
  bsp/imxrt/imxrt1052-fire-pro/makefile.targets
  bsp/imxrt/imxrt1052-fire-pro/project.uvoptx
  bsp/imxrt/imxrt1052-fire-pro/project.uvprojx
Labels: +1

#5833 [components][fal] Compact code
  components/fal/src/fal_partition.c
Labels: +1, +2

#5834 [libc][io] Remove definitions that are not in use
  components/libc/posix/io/termios/termios.c
  components/libc/posix/io/termios/termios.h
Labels: +1, +2

#5826 [libcpu][arm] Fix compilation warning
  libcpu/arm/cortex-a/gic.c
  libcpu/arm/cortex-a/gic.h
Labels: +1, +2

#5813 [kernel] enable RT_DEBUG_DEVICE by default and move weak rt_hw_dealy_us in kservice.c
  components/libc/posix/delay/delay.c
  include/rtdebug.h
  src/kservice.c
Labels: +1

#5823 [bug] 修正rtc对时间参数范围的处理 | fix a bug of rtc
  bsp/stm32/libraries/HAL_Drivers/drv_rtc.c
  components/drivers/rtc/rtc.c
Labels: +1

#5832 [finsh][cmd] Enhance system robustness
  components/finsh/cmd.c
Labels: +1

#5831 [libc][time] Fix bug
  components/libc/compilers/common/time.c
Labels: +1

#5820 [bsp/n32g45x] drv_spi.c中添加超时检测避免卡死
  bsp/n32g452xx/Libraries/rt_drivers/drv_spi.c
Labels: +1, +2

#5828 [libcpu][arm] Fix compilation warning
  libcpu/arm/cortex-m33/trustzone.c
Labels: +1

#5836 [lwip] Fix compilation warning
  components/net/lwip/lwip-2.0.3/src/apps/ping/ping.c
Labels: +1, +2

#5800 uniform code writing-disable interrupt
  components/drivers/audio/audio_pipe.c
  components/drivers/ipc/dataqueue.c
  components/drivers/pm/pm.c
  components/drivers/spi/enc28j60.c
  components/drivers/usb/usbdevice/class/cdc_vcom.c
  components/finsh/cmd.c
  components/finsh/shell.c
  components/libc/compilers/common/time.c
  components/libc/cplusplus/cpp11/atomic_8.c
  components/libc/posix/io/aio/aio.c
  components/net/at/src/at_cli.c
  components/net/lwip/port/ethernetif.c
  components/utilities/ymodem/ymodem.c
  components/vbus/prio_queue.c
  components/vbus/vbus.c
  components/vbus/watermark_queue.h
  components/vmm/vmm.c
  libcpu/aarch64/common/cpu.c
  libcpu/aarch64/common/mmu.c
  libcpu/arm/am335x/cpu.c
  libcpu/arm/arm926/cpuport.c
  libcpu/arm/armv6/cpuport.c
  libcpu/arm/cortex-a/cpu.c
  libcpu/arm/dm36x/cpuport.c
  libcpu/arm/realview-a8-vmm/cpu.c
  libcpu/arm/s3c24x0/cpu.c
  libcpu/arm/sep4020/cpu.c
  libcpu/arm/zynqmp-r5/cpu.c
  libcpu/mips/common/exception.c
  libcpu/mips/gs264/mmu.c
  libcpu/ppc/ppc405/interrupt.c
  libcpu/risc-v/ch32v1/cpuport.c
  libcpu/risc-v/common/cpuport.c
  libcpu/risc-v/nuclei/cpuport.c
  libcpu/risc-v/t-head/e9xx/cpuport.c
  libcpu/risc-v/virt64/cpuport.c
  libcpu/unicore32/sep6200/cpu.c
  src/cpu.c
  src/idle.c
  src/ipc.c
  src/mem.c
  src/mempool.c
  src/object.c
  src/scheduler.c
  src/signal.c
  src/thread.c
  src/timer.c
Labels: +1, +2

#5840 [USB] fix stall bug on control transfers
  components/drivers/usb/usbdevice/core/usbdevice_core.c
Labels: +1

#5847 modify version to v4.1.1
  include/rtdef.h
  src/Kconfig
Labels: +1, v4.1.1

#5849 correct descriptions
  src/ipc.c
  src/timer.c
Labels: +1, +2

#5851 [bsp] add null CCFLAGS for Nuclei bsps
  bsp/nuclei/gd32vf103_rvstar/SConstruct
  bsp/nuclei/nuclei_fpga_eval/SConstruct
Labels: +1

#5848 Decouple the addition of command line arguments
  tools/building.py
  tools/options.py
Labels: +1, +2, v4.1.1

#5729 [bsp/gd32] bug fixed gpio_mode_set miss gd32_spi->mosi_pin,gd32_spi->sck_pin
  bsp/gd32/libraries/gd32_drivers/drv_spi.c
  bsp/gd32/libraries/gd32_drivers/drv_spi.h
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_spi.c
Labels: +1, +2

#5853 [adc] 支持adc框架获取BSP的ADC分辨率
  bsp/stm32/libraries/HAL_Drivers/drv_adc.c
  components/drivers/include/drivers/adc.h
  components/drivers/misc/adc.c
Labels: +1, +2

#5861 [gd32] format code attach #5729
  bsp/gd32/libraries/gd32_drivers/drv_spi.c
Labels: +1

#5864 [dac] add get resolution method
  bsp/stm32/libraries/HAL_Drivers/drv_dac.c
  components/drivers/include/drivers/dac.h
  components/drivers/misc/adc.c
  components/drivers/misc/dac.c
Labels: +1, +2

#5827 [libcpu][arm] Add exception install function
  libcpu/arm/cortex-a/trap.c
Labels: +1

#5859 [bsp/at32] update at32f435_437 adc driver
  bsp/at32/libraries/f435_437/rt_drivers/drv_adc.c
Labels: +1, +2

#5852 为n32g45x添加硬件CRC支持
  bsp/n32g452xx/Libraries/rt_drivers/SConscript
  bsp/n32g452xx/Libraries/rt_drivers/drv_crypto.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_crypto.h
Labels: +1, +2

#5862 [bsp/renesas] update docs/RA系列BSP制作教程.md
  bsp/renesas/docs/RA系列BSP制作教程.md
  bsp/renesas/docs/figures/Kconfig1.png
  bsp/renesas/docs/figures/drv_config.png
  bsp/renesas/docs/figures/drv_config_uart.png
  bsp/renesas/libraries/bsp-template/board/board.h
  bsp/renesas/libraries/bsp-template/rtconfig.h
  bsp/renesas/ra6m4-cpk/project.uvoptx
  bsp/renesas/ra6m4-iot/project.uvoptx
Labels: +1, +2

#5876 [drivers][serial] ioctl add F_SETFL cmd
  components/drivers/serial/serial.c
  components/drivers/serial/serial_v2.c
Labels: +1

#5874 [bsp/stm32] judge the SPI instances before operating
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1, +2

#5882 [nuvoton] Update nuc980iot configuration
  bsp/nuvoton/nk-980iot/.config
  bsp/nuvoton/nk-980iot/rtconfig.h
Labels: +1, +2

#5878 修复BUG：SDIO和UART6（TX）的DMA通道分配冲突
  bsp/stm32/libraries/HAL_Drivers/config/f4/dma_config.h
Labels: +1

#5877 修复BUG：串口启用DMA接收后，动态修改串口波特率扰乱接收检索
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
Labels: +1

#5881 硬件驱动（VCOM）：增加获取USB虚拟串口连接状态的接口
  components/drivers/include/drivers/usb_device.h
  components/drivers/usb/usbdevice/class/cdc_vcom.c
Labels: +1

#5888 [kernel] remove the register keyword
  components/drivers/ipc/waitqueue.c
  components/libc/compilers/common/time.c
  src/idle.c
  src/ipc.c
  src/kservice.c
  src/mempool.c
  src/scheduler.c
  src/thread.c
  src/timer.c
Labels: +1

#5890 [kernel]【示例】如何给RT-Thread提交PR | beautify code
  include/rtdef.h
  src/thread.c
  src/timer.c
Labels: +1, +2

#5869 [bsp][esp][esp32c3] add the bsp of esp32c3
  bsp/ESP32_C3/.vscode/launch.json
  bsp/ESP32_C3/.vscode/settings.json
  bsp/ESP32_C3/.vscode/tasks.json
  bsp/ESP32_C3/0001-add-fixed-of-rtthread.patch
  bsp/ESP32_C3/CMakeLists.txt
  bsp/ESP32_C3/Makefile
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/images/build.png
  bsp/ESP32_C3/images/burn.png
  bsp/ESP32_C3/images/hx_shang.png
  bsp/ESP32_C3/images/luatos_esp32c3.png
  bsp/ESP32_C3/main/CMakeLists.txt
  bsp/ESP32_C3/main/main.c
  bsp/ESP32_C3/rtconfig.h
  bsp/ESP32_C3/sdkconfig
Labels: +1, +2, BSP

#5887 [kernel] update comments for rt_thread_suspend
  src/thread.c
Labels: +1, +2
