Repository RT-Thread/rt-thread, pull requests merged in 2022-11, with the labels that each got.

#6583 [components/sdio] bugfix: remove sdcard block dev may cause a infinite loop.
  components/drivers/sdio/block_dev.c
Labels: +1

#6523 [Kernel] Add nested mutex feature
  components/finsh/cmd.c
  include/rtdef.h
  include/rtthread.h
  src/ipc.c
  src/thread.c
Labels: +1, important

#6575 [stm32][tim/pwm] 抽出公共代码，防止日后演进出现分歧
  bsp/stm32/libraries/HAL_Drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drv_pwm.c
  bsp/stm32/libraries/HAL_Drivers/drv_tim.c
  bsp/stm32/libraries/HAL_Drivers/drv_tim.h
  bsp/stm32/libraries/HAL_Drivers/drv_usart.h
Labels: +1, BSP: STM32

#6595 [Kconfig] remove PKG_USING_SENSORS_DRIVERS and PKG_USING_TOUCH_DRIVERS
  bsp/nuvoton/numaker-pfm-m487/board/Kconfig
  bsp/stm32/stm32f407-armfly-v5/board/Kconfig
  bsp/stm32/stm32f469-st-disco/board/Kconfig
  bsp/stm32/stm32h750-artpi/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/synwit/swm341/drivers/Kconfig
Labels: +1

#6597 [sensors] remvoe useless sensor.h
  components/drivers/sensors/sensor.c
  components/drivers/sensors/sensor.h
  components/drivers/sensors/sensor_cmd.c
Labels: +1

#6601 [components]修改SD和emmc延时实现
  components/drivers/include/drivers/mmcsd_host.h
  components/drivers/sdio/mmc.c
  components/drivers/sdio/mmcsd_core.c
  components/drivers/sdio/sd.c
  components/drivers/sdio/sdio.c
Labels: +1

#6598 [sensor] 统一数据结构名称和函数命名
  components/drivers/include/drivers/sensor.h
  components/drivers/sensors/SConscript
  components/drivers/sensors/sensor.c
Labels: +1

#6604 [sensor] use rt_ssize_t as the return value data type
  components/drivers/include/drivers/sensor.h
  components/drivers/sensors/sensor.c
Labels: +1

#6606 proposal: `replace `rt_enter_critical` with `dfs_lock` for list_fd
  components/dfs/src/dfs.c
Labels: +1, +2

#6607 [n32] 修改 bsp/n32/libraries/n32_drivers/drv_spi.c,修复SPI驱动不能使用RT_SPI_MODE_0与RT_SPI_MODE_2的错误。
  bsp/n32/libraries/n32_drivers/drv_spi.c
Labels: +1

#6615 [net] netdev.c ping指令 无参数错误返回信息 参数位置错了
  components/net/netdev/src/netdev.c
Labels: +1, +2

#6611 [sensor] use arg to replace user_data
  bsp/stm32/stm32l475-atk-pandora/board/ports/sensor_port.c
  components/drivers/include/drivers/sensor.h
Labels: +1

#6580 修复cdc在v1v2的serial框架下接收发送错误的问题.stm32下usbd添加更多的ep_id,以支持复合设备.
  bsp/stm32/libraries/HAL_Drivers/drv_usbd.c
  components/drivers/usb/usbdevice/class/cdc_vcom.c
Labels: +1

#6581 【修复】工作目录下，当某一目录下的源文件都不需要添加到工程时，此目录不会被屏蔽的问题。
  tools/eclipse.py
Labels: +1

#6589 [imxrt1176]Fix usb
  bsp/imxrt/imxrt1170-nxp-evk/m7/board/Kconfig
  bsp/imxrt/imxrt1170-nxp-evk/m7/board/board.c
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_os_abstraction.h
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_os_abstraction_config.h
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_os_abstraction_rtthread.c
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_os_abstraction_rtthread.h
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/generic_list.c
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/generic_list.h
  bsp/imxrt/libraries/MIMXRT1170/SConscript
  bsp/imxrt/libraries/drivers/drv_usbh.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_devices.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_ehci.c
  bsp/imxrt/libraries/drivers/usb/host/usb_host_ehci.h
  bsp/imxrt/libraries/drivers/usb/host/usb_host_hci.c
  bsp/imxrt/libraries/drivers/usb/include/usb.h
  bsp/imxrt/libraries/drivers/usb/include/usb_host_config.h
  bsp/imxrt/libraries/drivers/usb/phy/usb_phy.c
  bsp/imxrt/libraries/drivers/usb/phy/usb_phy.h
Labels: BSP: NXP

#6624 [msh] remove list_xxx commands, use 'list' to replace
  components/dfs/src/dfs.c
  components/finsh/cmd.c
Labels: +1

#6556 [CAN]update struct can_filter_item and rt_can_msg
  bsp/at32/libraries/rt_drivers/drv_can.c
  bsp/essemi/es32f0654/drivers/drv_can.c
  bsp/essemi/es32f369x/drivers/drv_can.c
  bsp/hc32/libraries/hc32_drivers/drv_can.c
  bsp/hpmicro/libraries/drivers/drv_can.c
  bsp/imxrt/libraries/drivers/drv_can.c
  bsp/loongson/ls1cdev/drivers/drv_can.c
  bsp/n32/libraries/n32_drivers/drv_can.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_can.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_can.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_can.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_canfd.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_can.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_can.c
  bsp/renesas/libraries/HAL_Drivers/drv_can.c
  bsp/stm32/libraries/HAL_Drivers/drv_can.c
  bsp/synwit/swm341/applications/main.c
  bsp/synwit/swm341/drivers/drv_can.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_can.c
  components/drivers/can/can.c
  components/drivers/include/drivers/can.h
Labels: +1, BSP: STM32

#6637 [libc][musl]解决signal.h报错的问题
  components/libc/compilers/common/include/sys/signal.h
Labels: +1

#6636 [GD32] fix bug on spi driver
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi.c
Labels: +1

#6652 [bsp/nrf5x] Fix the Kconfig of nrf52832
  bsp/nrf5x/nrf52832/board/Kconfig
Labels: +1, BSP

#6670 修复 riscv64 messagequeue_tc 报错
  examples/utest/testcases/kernel/messagequeue_tc.c
Labels: in progress, +1
