Repository RT-Thread/rt-thread, pull requests merged in 2023-07, with the labels that each got.

#7763 [ci] Add the exp_STM32 scons
  .github/workflows/action.yml
  .github/workflows/manual_dist.yml
  .github/workflows/manual_trigger_scons_STM32_all.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
Labels: +1

#7758 [STM32WL55]修复scons编译不通过，完善link文件，移除硬件浮点支持
  bsp/stm32/stm32wl55-st-nucleo/board/SConscript
  bsp/stm32/stm32wl55-st-nucleo/board/linker_scripts/link.icf
  bsp/stm32/stm32wl55-st-nucleo/board/linker_scripts/link.lds
  bsp/stm32/stm32wl55-st-nucleo/board/linker_scripts/link.sct
  bsp/stm32/stm32wl55-st-nucleo/rtconfig.py
  bsp/stm32/stm32wle5-yizhilian-lm401/board/SConscript
  bsp/stm32/stm32wle5-yizhilian-lm401/board/linker_scripts/link.icf
  bsp/stm32/stm32wle5-yizhilian-lm401/board/linker_scripts/link.lds
  bsp/stm32/stm32wle5-yizhilian-lm401/board/linker_scripts/link.sct
  bsp/stm32/stm32wle5-yizhilian-lm401/rtconfig.py
  bsp/stm32/stm32wle5-yizhilian-lm402/board/SConscript
  bsp/stm32/stm32wle5-yizhilian-lm402/board/linker_scripts/link.icf
  bsp/stm32/stm32wle5-yizhilian-lm402/board/linker_scripts/link.lds
  bsp/stm32/stm32wle5-yizhilian-lm402/board/linker_scripts/link.sct
  bsp/stm32/stm32wle5-yizhilian-lm402/rtconfig.py
Labels: +1, +2

#7770 [ci] Fix the flag of dist
  .github/workflows/manual_dist.yml
  .github/workflows/manual_trigger_scons_STM32_all.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
Labels: action

#7783 [bsp][acm32] 修复 acm32 并添加 ci
  .github/workflows/action.yml
  bsp/acm32/acm32f4xx-nucleo/libraries/Device/libSystem_Accelerate.a
  bsp/acm32/acm32f4xx-nucleo/libraries/HAL_Driver/Src/libHAL_EFlash_EX.a
  bsp/acm32/acm32f4xx-nucleo/libraries/SConscript
Labels: +1, +2

#7767 [components][drivers][serial] serial.c 修复串口有时重复发送 '\r' 的问题
  components/drivers/serial/serial.c
Labels: +1, +2

#7795 [bsp][stm32] remove the useless bsp
  .github/workflows/compile_bsp_with_drivers.yml
  bsp/stm32/stm32f407-spark/.config
  bsp/stm32/stm32f407-spark/.gitignore
  bsp/stm32/stm32f407-spark/Kconfig
  bsp/stm32/stm32f407-spark/README.md
  bsp/stm32/stm32f407-spark/SConscript
  bsp/stm32/stm32f407-spark/SConstruct
  bsp/stm32/stm32f407-spark/applications/SConscript
  bsp/stm32/stm32f407-spark/applications/main.c
  bsp/stm32/stm32f407-spark/board/.ignore_format.yml
  bsp/stm32/stm32f407-spark/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f407-spark/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f407-spark/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f407-spark/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f407-spark/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f407-spark/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f407-spark/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f407-spark/board/Kconfig
  bsp/stm32/stm32f407-spark/board/SConscript
  bsp/stm32/stm32f407-spark/board/board.c
  bsp/stm32/stm32f407-spark/board/board.h
  bsp/stm32/stm32f407-spark/board/linker_scripts/link.icf
  bsp/stm32/stm32f407-spark/board/linker_scripts/link.lds
  bsp/stm32/stm32f407-spark/board/linker_scripts/link.sct
  bsp/stm32/stm32f407-spark/figures/board.png
  bsp/stm32/stm32f407-spark/project.ewd
  bsp/stm32/stm32f407-spark/project.ewp
  bsp/stm32/stm32f407-spark/project.eww
  bsp/stm32/stm32f407-spark/project.uvoptx
  bsp/stm32/stm32f407-spark/project.uvprojx
  bsp/stm32/stm32f407-spark/rtconfig.h
  bsp/stm32/stm32f407-spark/rtconfig.py
  bsp/stm32/stm32f407-spark/template.ewp
  bsp/stm32/stm32f407-spark/template.eww
  bsp/stm32/stm32f407-spark/template.uvoptx
  bsp/stm32/stm32f407-spark/template.uvprojx
  bsp/stm32/stm32l496-st-nucleo/.config
  bsp/stm32/stm32l496-st-nucleo/rtconfig.py
Labels: +1

#7798 [RTduino][stm32] 支持对接引脚的功能切换
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f411-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f411-st-nucleo/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f411-st-nucleo/board/Kconfig
Labels: in progress, BSP: STM32

#7809 [ci][action] add the repo check for self-use
  .github/workflows/action_tools.yml
  .github/workflows/action_utest.yml
  .github/workflows/file_check.yml
  .github/workflows/static_code_analysis.yml
Labels: +1

#7778 [bsp][stm32] add B-U585I-IOT02A BSP
  .github/workflows/action.yml
  bsp/stm32/stm32u585-iot02a/.config
  bsp/stm32/stm32u585-iot02a/.gitignore
  bsp/stm32/stm32u585-iot02a/Kconfig
  bsp/stm32/stm32u585-iot02a/README.md
  bsp/stm32/stm32u585-iot02a/README_zh.md
  bsp/stm32/stm32u585-iot02a/SConscript
  bsp/stm32/stm32u585-iot02a/SConstruct
  bsp/stm32/stm32u585-iot02a/applications/SConscript
  bsp/stm32/stm32u585-iot02a/applications/main.c
  bsp/stm32/stm32u585-iot02a/board/.ignore_format.yml
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Inc/stm32_assert.h
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Inc/stm32u5xx_hal_conf.h
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Inc/stm32u5xx_it.h
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Src/stm32u5xx_hal_msp.c
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Src/stm32u5xx_it.c
  bsp/stm32/stm32u585-iot02a/board/CubeMX_Config/Src/system_stm32u5xx.c
  bsp/stm32/stm32u585-iot02a/board/Kconfig
  bsp/stm32/stm32u585-iot02a/board/SConscript
  bsp/stm32/stm32u585-iot02a/board/board.c
  bsp/stm32/stm32u585-iot02a/board/board.h
  bsp/stm32/stm32u585-iot02a/board/linker_scripts/link.icf
  bsp/stm32/stm32u585-iot02a/board/linker_scripts/link.lds
  bsp/stm32/stm32u585-iot02a/board/linker_scripts/link.sct
  bsp/stm32/stm32u585-iot02a/project.ewd
  bsp/stm32/stm32u585-iot02a/project.ewp
  bsp/stm32/stm32u585-iot02a/project.eww
  bsp/stm32/stm32u585-iot02a/project.uvoptx
  bsp/stm32/stm32u585-iot02a/project.uvprojx
  bsp/stm32/stm32u585-iot02a/rtconfig.h
  bsp/stm32/stm32u585-iot02a/rtconfig.py
  bsp/stm32/stm32u585-iot02a/template.ewp
  bsp/stm32/stm32u585-iot02a/template.eww
  bsp/stm32/stm32u585-iot02a/template.uvoptx
  bsp/stm32/stm32u585-iot02a/template.uvprojx
Labels: +1

#7796 [bsp][Infineon] Add I2C4 config for psoc6-evaluationkit
  bsp/Infineon/libraries/HAL_Drivers/SConscript
  bsp/Infineon/libraries/HAL_Drivers/drv_i2c.c
  bsp/Infineon/psoc6-evaluationkit-062S2/board/Kconfig
Labels: +1

#7793 [SAL/SOCKET]修复在 RT_DEBUG 开启后，调用 closesocket 接口触发断言的 BUG
  components/net/sal/socket/net_sockets.c
Labels: +1, +2

#7791 【dd2.0】Support the Core API for dd2.0
  components/drivers/core/SConscript
  components/drivers/core/bus.c
  components/drivers/core/device.c
  components/drivers/core/dm.c
  components/drivers/core/driver.c
  components/drivers/core/platform.c
  components/drivers/core/platform_ofw.c
  components/drivers/include/core/bus.h
  components/drivers/include/core/device.h
  components/drivers/include/core/dm.h
  components/drivers/include/core/driver.h
  components/drivers/include/drivers/pic.h
  components/drivers/include/rtdevice.h
  components/drivers/ofw/fdt.c
  components/drivers/pic/pic.c
  include/rtdef.h
  include/rtthread.h
Labels: +1

#7816 [libcpu]fix RT_ASSERT undefine
  .github/workflows/action.yml
  bsp/imxrt/imxrt1021-nxp-evk/board/linker_scripts/link.lds
  libcpu/arm/cortex-m7/cpu_cache.c
Labels: +1

#7806 [components][i2c] 优化 controt 接口格式，增加可用命令
  bsp/ESP32_C3/drivers/drv_hw_i2c.c
  bsp/airm2m/air105/libraries/rt_drivers/drv_i2c.c
  bsp/apollo2/board/i2c.c
  bsp/imxrt/libraries/drivers/drv_i2c.c
  bsp/loongson/ls1cdev/drivers/hw_i2c.c
  bsp/lpc54114-lite/drivers/drv_i2c.c
  bsp/microchip/common/board/sam_i2c.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_ui2c.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_i2c.c
  bsp/raspberry-pi/raspi3-32/driver/drv_i2c.c
  bsp/raspberry-pi/raspi3-64/driver/drv_i2c.c
  bsp/raspberry-pi/raspi4-32/driver/drv_i2c.c
  bsp/w60x/drivers/drv_i2c.c
  components/drivers/i2c/i2c_core.c
  components/drivers/i2c/i2c_dev.c
  components/drivers/include/drivers/i2c.h
  components/drivers/include/drivers/i2c_dev.h
Labels: +1, +2

#7810 [libcpu][cortex-a]modified start_gcc.S
  libcpu/arm/cortex-a/start_gcc.S
Labels: +1

#7829 [github] Add the code_owner review request
  .github/CODEOWNERS
Labels: action

#7390 [bsp][stm32][airm2m]<pin>更新pin num命令
  bsp/airm2m/air32f103/libraries/rt_drivers/drv_gpio.c
  bsp/stm32/libraries/HAL_Drivers/drv_gpio.c
  bsp/synwit/swm320/drivers/drv_gpio.c
  bsp/synwit/swm341/drivers/drv_gpio.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_gpio_ch32f10x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_gpio_ch32f20x.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_gpio.c
  components/drivers/misc/pin.c
Labels: +1, BSP

#7849 modify some function prototypes of the dfs_file_ops structure and the function declarations based on it
  components/dfs/dfs_v1/filesystems/devfs/devfs.c
  components/dfs/dfs_v1/filesystems/elmfat/dfs_elm.c
  components/dfs/dfs_v1/filesystems/romfs/dfs_romfs.c
  components/dfs/dfs_v1/filesystems/tmpfs/dfs_tmpfs.c
  components/dfs/dfs_v1/include/dfs_file.h
  components/dfs/dfs_v1/src/dfs_file.c
  components/dfs/dfs_v2/filesystems/devfs/devfs.c
  components/dfs/dfs_v2/filesystems/elmfat/dfs_elm.c
  components/dfs/dfs_v2/filesystems/romfs/dfs_romfs.c
  components/dfs/dfs_v2/filesystems/tmpfs/dfs_tmpfs.c
  components/dfs/dfs_v2/include/dfs_file.h
  components/dfs/dfs_v2/src/dfs_file.c
  components/drivers/ipc/pipe.c
  components/drivers/serial/serial.c
  components/drivers/tty/tty.c
  components/net/sal/dfs_net/dfs_net.c
Labels: +1

#7821 [bsp][esp32-c3] Realization of scons compilation of ESP32-C3 | 实现ESP32-C3的scons编译
  .github/workflows/action.yml
  bsp/ESP32_C3/.config
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/README_ZH.md
  bsp/ESP32_C3/SConstruct
  bsp/ESP32_C3/builtin_imgs/.gitignore
  bsp/ESP32_C3/builtin_imgs/bootloader.bin
  bsp/ESP32_C3/builtin_imgs/partition-table.bin
  bsp/ESP32_C3/drivers/Kconfig
  bsp/ESP32_C3/drivers/sdkconfig.h
  bsp/ESP32_C3/idf_port/SConscript
  bsp/ESP32_C3/idf_port/include/freertos/FreeRTOSConfig.h
  bsp/ESP32_C3/idf_port/include/freertos/FreeRTOSConfig_arch.h
  bsp/ESP32_C3/idf_port/include/freertos/freertos_tasks_c_additions.h
  bsp/ESP32_C3/idf_port/include/freertos/portmacro.h
  bsp/ESP32_C3/idf_port/include/freertos/task_snapshot.h
  bsp/ESP32_C3/idf_port/ld/memory.ld
  bsp/ESP32_C3/idf_port/ld/sections.ld
  bsp/ESP32_C3/idf_port/src/port.c
  bsp/ESP32_C3/idf_port/src/port_common.c
  bsp/ESP32_C3/idf_port/src/rt-thread_balance_stub.c
  bsp/ESP32_C3/idf_port/src/x509_crt_bundle.S
  bsp/ESP32_C3/images/flash_download_tools.png
  bsp/ESP32_C3/rtconfig.h
  bsp/ESP32_C3/rtconfig.py
Labels: BSP:ESP32

#7842 [libcpu/arm] fix race condition with ldrex,strex
  components/lwp/arch/arm/cortex-a/lwp_arch.c
  examples/utest/testcases/kernel/atomic_tc.c
  include/rtdef.h
  libcpu/aarch64/common/context_gcc.S
  libcpu/arm/cortex-a/context_gcc.S
  libcpu/arm/cortex-a/start_gcc.S
Labels: +1

#7861 AArch64: fixup HW atomic_t ops type from dword to qword
  libcpu/aarch64/common/atomic_aarch64.c
Labels: +1, +2

#7855 [smart] fix the setup of fake lwp in sys_execve
  components/lwp/lwp_syscall.c
Labels: +1, +2

#7868 [doc][qemu] update qemu for windows doc
  documentation/quick-start/quick_start_qemu/quick_start_qemu_windows.md
Labels: +1

#7890 [bsp][pico]add: drv_spi and drv_i2c
  bsp/raspberry-pico/drivers/SConscript
  bsp/raspberry-pico/drivers/drv_i2c.c
  bsp/raspberry-pico/drivers/drv_i2c.h
  bsp/raspberry-pico/drivers/drv_spi.c
  bsp/raspberry-pico/drivers/drv_spi.h
  bsp/raspberry-pico/libraries/Kconfig
Labels: +1
