Repository RT-Thread/rt-thread, pull requests merged in 2023-04, with the labels that each got.

#7147 change version number to v5.1.0
  include/rtdef.h
  src/Kconfig
Labels: +1

#7140 [action][github] Optimize the action time
  .github/workflows/action.yml
Labels: discussion, +1

#7164 revise the description of rt_thread_resume
  documentation/thread/thread.md
Labels: +1

#7167 [bsp][stm32] update the template.uvprojx for stm32f411-st-nucleo
  bsp/stm32/stm32f411-st-nucleo/template.uvoptx
  bsp/stm32/stm32f411-st-nucleo/template.uvprojx
Labels: +1

#7163 [HUST CSE IoTS&P Lab][fix] add `TIM1` and `TIM8`
  bsp/stm32/libraries/HAL_Drivers/drv_tim.c
Labels: +1, BSP: STM32

#7161 [HUST CSE][bsp] fix mismatched function types in rt_pin_ops
  bsp/at32/libraries/rt_drivers/drv_gpio.c
Labels: +1

#7154 [HUST CSE] [AT] Add null pointer check in at_client_get
  components/net/at/src/at_client.c
Labels: +1

#7153 [HUST CSE IoTS&P Lab][bsp] add missing UL suffix to BIT macro to prevent undefined behavior
  bsp/CME_M7/StdPeriph_Driver/inc/cmem7_usb.h
  bsp/allwinner/libraries/sunxi-hal/hal/source/ccmu/sunxi-ng/ccu.h
  bsp/allwinner/libraries/sunxi-hal/hal/source/regulator/type.h
  bsp/allwinner/libraries/sunxi-hal/hal/source/spinor/inter.h
  bsp/allwinner_tina/drivers/drv_sdio.h
  bsp/bluetrum/libraries/hal_libraries/bmsis/include/ab32vgx.h
  bsp/qemu-virt64-aarch64/drivers/drv_gpio.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/drv_pmic.h
  bsp/stm32/stm32mp157a-st-ev1/board/ports/drv_pmic.h
Labels: +1

#7166 [HUST CSE][components] Fix null pointer problems caused by the function rt_slist_entry()
  components/net/at/at_socket/at_socket.c
Labels: +1

#7168 [bsp/at32] remove #ifndef
  bsp/at32/libraries/rt_drivers/drv_qspi.c
  bsp/at32/libraries/rt_drivers/drv_qspi.h
Labels: +1

#7131 [kernel] 将rt_thread结构体改为显式继承rt_object
  bsp/allwinner_tina/libcpu/trap.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/board.c
  bsp/dm365/platform/trap.c
  bsp/raspberry-pico/libcpu/cpuport.c
  bsp/simulator/drivers/module_win32.c
  bsp/taihu/applications/application.c
  bsp/w60x/drivers/board.c
  components/finsh/cmd.c
  components/libc/compilers/common/cstdlib.c
  components/libc/posix/libdl/dlmodule.c
  components/lwp/arch/x86/i386/lwp_arch.c
  components/lwp/lwp.c
  components/lwp/lwp_pid.c
  components/lwp/lwp_syscall.c
  components/net/lwip/port/sys_arch.c
  components/utilities/ulog/syslog/syslog.c
  components/utilities/ulog/ulog.c
  components/vbus/watermark_queue.c
  include/rtdef.h
  libcpu/aarch64/common/trap.c
  libcpu/arm/AT91SAM7X/trap.c
  libcpu/arm/am335x/trap.c
  libcpu/arm/arm926/trap.c
  libcpu/arm/cortex-m0/cpuport.c
  libcpu/arm/cortex-m23/cpuport.c
  libcpu/arm/cortex-m3/cpuport.c
  libcpu/arm/cortex-m33/cpuport.c
  libcpu/arm/cortex-m4/cpuport.c
  libcpu/arm/cortex-m7/cpuport.c
  libcpu/arm/cortex-r4/trap.c
  libcpu/arm/lpc24xx/trap.c
  libcpu/arm/s3c24x0/trap.c
  libcpu/arm/sep4020/trap.c
  libcpu/risc-v/k210/interrupt.c
  libcpu/risc-v/t-head/c906/backtrace.c
  libcpu/risc-v/t-head/c906/trap.c
  libcpu/risc-v/virt64/backtrace.c
  libcpu/risc-v/virt64/trap.c
  libcpu/rx/cpuport.c
  libcpu/sim/posix/cpu_port.c
  libcpu/sim/win32/cpu_port.c
  libcpu/unicore32/sep6200/trap.c
  src/idle.c
  src/ipc.c
  src/mem.c
  src/memheap.c
  src/scheduler_mp.c
  src/scheduler_up.c
  src/thread.c
Labels: +1, important, v5.0-Beta

#7179 [tools] Add `--add-rtconfig` args for scons when you want to add macr…
  tools/building.py
  tools/options.py
Labels: +1

#7187 [action][github] Add the index and rebuild company list
  .github/workflows/action.yml
Labels: +1, wait_+2

#7186 [action][github] Add the cppcheck help check the PR warning
  .github/workflows/static_code_analysis.yml
Labels: action

#7185 [HUST CSE][bsp]fix mismatched function types in rt_pin_ops for all drv_gpio.c
  bsp/ESP32_C3/drivers/drv_gpio.c
  bsp/Vango/v85xx/drivers/drv_gpio.c
  bsp/Vango/v85xxp/drivers/drv_gpio.c
  bsp/acm32/acm32f0x0-nucleo/drivers/drv_gpio.c
  bsp/acm32/acm32f4xx-nucleo/drivers/drv_gpio.c
  bsp/airm2m/air105/libraries/rt_drivers/drv_gpio.c
  bsp/airm2m/air32f103/libraries/rt_drivers/drv_gpio.c
  bsp/allwinner_tina/drivers/drv_gpio.c
  bsp/bluetrum/libraries/hal_drivers/drv_gpio.c
Labels: good first issue

#7193 [RT1060][SPI]完善SPI支持，完善SPI对RW007的支持
  bsp/imxrt/imxrt1060-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1060-nxp-evk/board/board.c
  bsp/imxrt/libraries/drivers/drv_spi.c
Labels: +1

#7151 [bsp][rtduino] support for STM32G474 Nucleo in RTduino
  bsp/stm32/libraries/HAL_Drivers/config/g4/pwm_config.h
  bsp/stm32/stm32g474-st-nucleo/applications/SConscript
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_main.cpp
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/SConscript
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/stm32g474-nucleo-pinout.jpg
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/Inc/stm32g4xx_hal_conf.h
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/Inc/stm32g4xx_it.h
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/Src/stm32g4xx_hal_msp.c
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/Src/stm32g4xx_it.c
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/Src/system_stm32g4xx.c
  bsp/stm32/stm32g474-st-nucleo/board/Kconfig
Labels: in progress

#7101 [bsp][stm32]添加SDMMC驱动,以区分SDIO与SDMMC
  bsp/stm32/libraries/HAL_Drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drv_sdmmc.c
  bsp/stm32/libraries/HAL_Drivers/drv_sdmmc.h
Labels: in progress, +1, BSP: STM32

#7197 [bsp][stm32G474-Nucleo] Update RTduino README.md
  bsp/stm32/stm32g474-st-nucleo/README.md
  bsp/stm32/stm32g474-st-nucleo/README_zh.md
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/README_zh.md
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/nucleo_g474re_arduino_left.jpg
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/nucleo_g474re_arduino_right.jpg
  bsp/stm32/stm32g474-st-nucleo/rtconfig.h
Labels: +1, +2

#7202 [add][RT1060]添加RT1060-EVK BSP上手指南
  bsp/imxrt/imxrt1060-nxp-evk/MIMXRT1060-EVK上手指南.md
  bsp/imxrt/imxrt1060-nxp-evk/figures/1.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/10.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/11.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/12.jpg
  bsp/imxrt/imxrt1060-nxp-evk/figures/12.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/13.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/14.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/15.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/16.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/17.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/2.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/3.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/4.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/5.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/6.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/7.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/8.png
  bsp/imxrt/imxrt1060-nxp-evk/figures/9.png
Labels: +1

#7205 [HUST CES][finsh]更正注释
  components/finsh/msh_parse.c
Labels: +1

#7180 [bsp][lpc55sxx] update keil project files
  bsp/lpc55sxx/lpc55s69_nxp_evk/.config
  bsp/lpc55sxx/lpc55s69_nxp_evk/applications/main.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.uvoptx
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.uvprojx
  bsp/lpc55sxx/lpc55s69_nxp_evk/rtconfig.h
Labels: +1

#7216 fix tmpfs spinlock error.
  components/dfs/dfs_v1/filesystems/tmpfs/dfs_tmpfs.c
  components/dfs/dfs_v1/filesystems/tmpfs/dfs_tmpfs.h
  include/rthw.h
Labels: +1

#7234 [HUST CSE] 修复Infineon中片选有效位的不同情况
  bsp/Infineon/libraries/HAL_Drivers/drv_spi.c
Labels: +1

#7235 [HUST CSE][blob]Fix logical errors in if statements
  bsp/hpmicro/libraries/hpm_sdk/soc/HPM6360/hpm_clock_drv.c
Labels: +1

#7210 [bsp/at32] update for perfection of drv_usart_v2
  bsp/at32/at32f403a-start/board/Kconfig
  bsp/at32/at32f407-start/board/Kconfig
  bsp/at32/at32f413-start/board/Kconfig
  bsp/at32/at32f415-start/board/Kconfig
  bsp/at32/at32f421-start/board/Kconfig
  bsp/at32/at32f423-start/board/Kconfig
  bsp/at32/at32f425-start/board/Kconfig
  bsp/at32/at32f435-start/board/Kconfig
  bsp/at32/at32f437-start/board/Kconfig
  bsp/at32/libraries/rt_drivers/drv_usart.c
  bsp/at32/libraries/rt_drivers/drv_usart_v2.c
  bsp/at32/libraries/rt_drivers/drv_usart_v2.h
Labels: +1

#7224 [HUST CSE][src][timer.c]修复 iar 中的类型转换报错
  src/timer.c
Labels: +1

#7221 [bsp][lpc55s69]add softi2c
  bsp/lpc55sxx/Libraries/drivers/SConscript
  bsp/lpc55sxx/Libraries/drivers/drv_soft_i2c.c
  bsp/lpc55sxx/Libraries/drivers/drv_soft_i2c.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
  bsp/lpc55sxx/tools/sdk_dist.py
Labels: +1, +2

#7238 [HUST][CSE]mips/common/exception.c/rt_set_except_vector
  libcpu/mips/common/exception.c
Labels: +1, +2

#7237 [add]添加bsp/stm32/stm32u575-st-nucleo外设
  bsp/stm32/libraries/HAL_Drivers/config/u5/adc_config.h
  bsp/stm32/libraries/HAL_Drivers/drv_adc.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  bsp/stm32/libraries/STM32U5xx_HAL/SConscript
  bsp/stm32/stm32u575-st-nucleo/.config
  bsp/stm32/stm32u575-st-nucleo/applications/SConscript
  bsp/stm32/stm32u575-st-nucleo/applications/arduino_main.cpp
  bsp/stm32/stm32u575-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32u575-st-nucleo/applications/arduino_pinout/SConscript
  bsp/stm32/stm32u575-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32u575-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32u575-st-nucleo/applications/main.c
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/Inc/stm32u5xx_hal_conf.h
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/Inc/stm32u5xx_it.h
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/Src/stm32u5xx_hal_msp.c
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/Src/stm32u5xx_it.c
  bsp/stm32/stm32u575-st-nucleo/board/CubeMX_Config/Src/system_stm32u5xx.c
  bsp/stm32/stm32u575-st-nucleo/board/Kconfig
  bsp/stm32/stm32u575-st-nucleo/board/SConscript
  bsp/stm32/stm32u575-st-nucleo/board/board.c
  bsp/stm32/stm32u575-st-nucleo/board/board.h
  bsp/stm32/stm32u575-st-nucleo/board/ports/drv_key.c
  bsp/stm32/stm32u575-st-nucleo/board/ports/drv_spi_flash.c
  bsp/stm32/stm32u575-st-nucleo/project.uvoptx
  bsp/stm32/stm32u575-st-nucleo/project.uvprojx
  bsp/stm32/stm32u575-st-nucleo/rtconfig.h
Labels: +1

#7246 [add]添加stm32u575上手文档
  bsp/stm32/stm32u575-st-nucleo/figures/CubeMX.png
  bsp/stm32/stm32u575-st-nucleo/figures/Schematic_diagram.png
  bsp/stm32/stm32u575-st-nucleo/figures/board1.png
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig1.png
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig2.png
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig3.png
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig4.png
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig5.png
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig6.png
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig7.png
  bsp/stm32/stm32u575-st-nucleo/figures/result1.png
  bsp/stm32/stm32u575-st-nucleo/figures/result2.png
  bsp/stm32/stm32u575-st-nucleo/figures/result3.png
  bsp/stm32/stm32u575-st-nucleo/stm32u575-st-nucleo Getting Started Guide.md
  bsp/stm32/stm32u575-st-nucleo/stm32u575-st-nucleo 上手指南.md
Labels: +1

#7249 [HUST CSE] Fix: Wrong order of judgment
  components/drivers/serial/serial.c
  components/drivers/serial/serial_v2.c
Labels: +1, +2, 华中科技大学网络空间安全学院 IoTS&P

#7239 [HUST CSE]Fix error in bounds judgment(interrupt.c)
  bsp/allwinner_tina/libcpu/interrupt.c
Labels: +1, +2, 华中科技大学网络空间安全学院 IoTS&P

#7203 [bsp][bouffalo] add hwtimer & flash driver support
  bsp/bouffalo_lab/bl808/m0/applications/dfs_mnt_sample.c
  bsp/bouffalo_lab/bl808/m0/applications/hwtimer_sample.c
  bsp/bouffalo_lab/bl808/m0/board/fal_cfg.h
  bsp/bouffalo_lab/libraries/rt_drivers/Kconfig
  bsp/bouffalo_lab/libraries/rt_drivers/SConscript
  bsp/bouffalo_lab/libraries/rt_drivers/drv_flash.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_flash.h
  bsp/bouffalo_lab/libraries/rt_drivers/drv_hwtimer.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_hwtimer.h
Labels: +1, +2

#7219 [nxp][imxrt1060] add link script files
  bsp/imxrt/imxrt1021-nxp-evk/applications/main.c
  bsp/imxrt/imxrt1021-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1021-nxp-evk/board/board.c
  bsp/imxrt/imxrt1021-nxp-evk/board/board.h
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/demo/lv_demo.c
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/guiguider/legacy/lv_init_thread.c
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/guiguider/legacy/lv_port_disp.h
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/guiguider/legacy/lv_port_indev.h
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/guiguider/ui/lv_ui_entry.c
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/lv_conf.h
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/lv_port_disp.c
  bsp/imxrt/imxrt1060-nxp-evk/applications/lvgl/lv_port_indev.c
  bsp/imxrt/imxrt1060-nxp-evk/applications/main.c
  bsp/imxrt/imxrt1060-nxp-evk/board/MCUX_Config/dcd.c
  bsp/imxrt/imxrt1060-nxp-evk/board/MCUX_Config/pin_mux.c
  bsp/imxrt/imxrt1060-nxp-evk/board/board.c
  bsp/imxrt/imxrt1060-nxp-evk/board/board.h
  bsp/imxrt/imxrt1060-nxp-evk/board/linker_scripts/link_ram.sct
  bsp/imxrt/imxrt1060-nxp-evk/board/linker_scripts/link_sdram.icf
  bsp/imxrt/imxrt1060-nxp-evk/board/linker_scripts/link_sdram.sct
  bsp/imxrt/imxrt1060-nxp-evk/board/ports/sdram_port.h
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/arm/evkmimxrt1060_ram.ini
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/arm/evkmimxrt1060_sdram_init.ini
  bsp/imxrt/libraries/drivers/drv_eth.c
  bsp/imxrt/libraries/drivers/drv_gpio.c
Labels: +1, BSP: NXP

#7252 [HUST_CSE] fix: Remove extra brackets
  bsp/Infineon/libraries/IFX_PSOC6_HAL/mtb-hal-cat1/source/cyhal_pdmpcm.c
  bsp/essemi/es32f0654/drivers/drv_spi.c
Labels: 华中科技大学网络空间安全学院 IoTS&P

#7265 [HUST CSE]Missing right parenthesis
  bsp/imxrt/libraries/templates/imxrt1050xxx/rtconfig.py
Labels: University: HUST IoTS&P Lab

#7262 [HUST-CSE]fix:Invalid document link about env
  bsp/gd32/arm/docs/GD32_ARM系列BSP外设驱动使用教程.md
  bsp/gd32/risc-v/docs/GD32_RISC-V系列BSP外设驱动使用教程.md
  bsp/imxrt/docs/IMXRT系列BSP外设驱动使用教程.md
  bsp/imxrt/docs/IMXRT系列外设驱动添加指南.md
  bsp/renesas/docs/BSP_Peripheral_Driver_Tutorial_of_RA_Series.md
  bsp/renesas/docs/RA系列BSP外设驱动使用教程.md
  bsp/stm32/docs/STM32系列BSP外设驱动使用教程.md
  bsp/stm32/stm32u575-st-nucleo/stm32u575-st-nucleo Getting Started Guide.md
  bsp/stm32/stm32u575-st-nucleo/stm32u575-st-nucleo 上手指南.md
Labels: University: HUST IoTS&P Lab

#7220 [HUST CSE]NULL POINTER
  bsp/Infineon/libraries/IFX_PSOC6_HAL/mtb-hal-cat1/source/cyhal_crc.c
  components/drivers/fdt/src/dtb_get.c
Labels: +1, change req, University: HUST IoTS&P Lab

#7283 [HUST CSE]Modified some invalid links in README documents
  README_zh.md
  bsp/amebaz/README.md
  bsp/bluetrum/ab32vg1-ab-prougen/README.md
Labels: +1, +2, University: HUST IoTS&P Lab

#7290 [HUST CSE] Fix: if语句的判断条件存在变量名错误
  bsp/at32/libraries/rt_drivers/drv_qspi.c
Labels: +1, +2, University: HUST IoTS&P Lab

#7261 [HUST-CSE] fix:fixed variable misuse
  libcpu/mips/gs232/cache.c
Labels: +1, +2, University: HUST IoTS&P Lab

#7300 [bsp/at32] add support dac driver
  bsp/at32/at32f403a-start/README.md
  bsp/at32/at32f403a-start/board/Kconfig
  bsp/at32/at32f403a-start/board/inc/at32_msp.h
  bsp/at32/at32f403a-start/board/src/at32_msp.c
  bsp/at32/at32f407-start/README.md
  bsp/at32/at32f407-start/board/Kconfig
  bsp/at32/at32f407-start/board/inc/at32_msp.h
  bsp/at32/at32f407-start/board/src/at32_msp.c
  bsp/at32/at32f423-start/README.md
  bsp/at32/at32f423-start/board/Kconfig
  bsp/at32/at32f423-start/board/inc/at32_msp.h
  bsp/at32/at32f423-start/board/src/at32_msp.c
  bsp/at32/at32f435-start/README.md
  bsp/at32/at32f435-start/board/Kconfig
  bsp/at32/at32f435-start/board/inc/at32_msp.h
  bsp/at32/at32f435-start/board/src/at32_msp.c
  bsp/at32/at32f437-start/README.md
  bsp/at32/at32f437-start/board/Kconfig
  bsp/at32/at32f437-start/board/inc/at32_msp.h
  bsp/at32/at32f437-start/board/src/at32_msp.c
  bsp/at32/libraries/rt_drivers/SConscript
  bsp/at32/libraries/rt_drivers/config/f403a_407/dac_config.h
  bsp/at32/libraries/rt_drivers/config/f423/dac_config.h
  bsp/at32/libraries/rt_drivers/config/f435_437/dac_config.h
  bsp/at32/libraries/rt_drivers/drv_config.h
  bsp/at32/libraries/rt_drivers/drv_dac.c
Labels: +1

#7279 [HUST CSE]Modify invalid links
  bsp/gd32/arm/docs/GD32_ARM系列驱动介绍.md
  bsp/gd32/risc-v/docs/GD32_RISC-V系列驱动介绍.md
  bsp/imxrt/docs/IMXRT系列驱动介绍.md
  bsp/lpc55sxx/docs/LPC55Sxx系列驱动介绍.md
  bsp/renesas/docs/Introduction_to_RA_Series_Drives.md
  bsp/renesas/docs/RA系列驱动介绍.md
  bsp/stm32/docs/STM32系列驱动介绍.md
Labels: +1, +2, University: HUST IoTS&P Lab

#7295 Fix stm32u5 readme
  bsp/stm32/stm32u575-st-nucleo/README.md
  bsp/stm32/stm32u575-st-nucleo/README_zh.md
  bsp/stm32/stm32u575-st-nucleo/stm32u575-st-nucleo Getting Started Guide.md
  bsp/stm32/stm32u575-st-nucleo/stm32u575-st-nucleo 上手指南.md
Labels: +1

#7296 [HUST CSE] fix: Fixed wrong download link of env in 20+ files, and so…
  README_zh.md
  bsp/acm32/acm32f0x0-nucleo/README.md
  bsp/acm32/acm32f4xx-nucleo/README.md
  bsp/allwinner_tina/README.md
  bsp/amebaz/README.md
  bsp/bouffalo_lab/README.md
  bsp/ck802/README.md
  bsp/k210/README.md
  bsp/loongson/ls1cdev/README.md
  bsp/lpc55sxx/Libraries/template/lpc55s6xxxx/README.md
  bsp/microchip/README.md
  bsp/mm32f103x/README.md
  bsp/mm32f327x/README.md
  bsp/mm32l07x/README.md
  bsp/mm32l3xx/README.md
  bsp/qemu-vexpress-a9/README.md
  bsp/raspberry-pi/raspi2/README.md
  bsp/raspberry-pi/raspi3-32/README_zh.md
  bsp/raspberry-pi/raspi3-64/README_zh.md
  bsp/raspberry-pi/raspi4-32/README.md
  bsp/raspberry-pi/raspi4-64/README.md
  bsp/rv32m1_vega/README_zh.md
  bsp/synwit/swm320/README.md
  bsp/synwit/swm341/README.md
Labels: University: HUST IoTS&P Lab

#7244 [change][stm32f401-st-nucleo]迁移上手文档，补充文档
  bsp/stm32/docs/How to create a RT-Studio project.md
  bsp/stm32/docs/figures_en/BuildSetting.png
  bsp/stm32/docs/figures_en/Folder.png
  bsp/stm32/docs/figures_en/GUN_Tools.png
  bsp/stm32/docs/figures_en/Import.png
  bsp/stm32/docs/figures_en/Import_bsp.png
  bsp/stm32/docs/figures_en/Import_prj.png
  bsp/stm32/docs/figures_en/Info.png
  bsp/stm32/docs/figures_en/Project.png
  bsp/stm32/docs/figures_en/SDK.png
  bsp/stm32/docs/figures_en/SDK_ver.png
  bsp/stm32/docs/figures_en/Workspace.png
  bsp/stm32/docs/figures_en/build.png
  bsp/stm32/docs/figures_en/build_finish.png
  bsp/stm32/docs/figures_en/rst.png
  bsp/stm32/docs/figures_en/rt-studio-settings.png
  bsp/stm32/docs/figures_en/save_select.png
  bsp/stm32/docs/figures_en/saveing.png
  bsp/stm32/docs/figures_en/select.png
  bsp/stm32/docs/figures_en/select_prj.png
  bsp/stm32/docs/figures_en/setting.png
  bsp/stm32/docs/figures_en/softpkgs.png
  bsp/stm32/docs/figures_en/terminal.png
Labels: +1

#7303 [HUST CSE]fix invalid document link about env tools user manual
  bsp/lpc55sxx/docs/LPC55Sxx系列BSP外设驱动使用教程.md
  bsp/lpc55sxx/docs/LPC55Sxx系列外设驱动添加指南.md
  bsp/renesas/docs/Peripheral_Driver_Addition_Guide_of_RA_Series.md
  bsp/renesas/docs/RA系列外设驱动添加指南.md
  bsp/stm32/docs/STM32系列外设驱动添加指南.md
Labels: University: HUST IoTS&P Lab

#7312 [HUST CSE] fix: Fixed the third-level heading, cell alignment and ord…
  bsp/allwinner_tina/README.md
Labels: +1, University: HUST IoTS&P Lab

#7272 [HUST CSE]fix logical error in judgment statement
  bsp/imxrt/libraries/MIMXRT1020/MIMXRT1021/utilities/debug_console_lite/fsl_debug_console.c
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/utilities/debug_console_lite/fsl_debug_console.c
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/utilities/debug_console_lite/fsl_debug_console.c
Labels: BSP: NXP, University: HUST IoTS&P Lab

#7321 [HUST CSE][bsp] fix printf parameter in loongson
  bsp/loongson/ls1cdev/libraries/ls1c_spi.c
Labels: University: HUST IoTS&P Lab

#7329 “使用网络检测才依赖workqueue”
  components/net/sal/Kconfig
  components/net/sal/src/sal_socket.c
Labels: +1, +2

#7280 [Doxygen][components][net]Fix some comments
  components/net/lwip-dhcpd/dhcp_server_raw.c
  components/net/lwip-nat/ipv4_nat.c
  components/net/netdev/src/netdev.c
Labels: University: HUST IoTS&P Lab

#7318 [smart][lwp_ipc] support file descriptor transmit
  components/lwp/lwp_ipc.c
  components/lwp/lwp_ipc.h
Labels: +1, +2

#7338 [HUST CSE]fix closing the same file twice
  examples/utest/testcases/posix/stdio_h/functions/fclose_tc.c
Labels: +1, University: HUST IoTS&P Lab

#7335 [HUST CSE][bsp] fix some documents link error
  bsp/allwinner_tina/README.md
  bsp/nuclei/gd32vf103_rvstar/README.md
  bsp/nuclei/nuclei_fpga_eval/README.md
Labels: University: HUST IoTS&P Lab

#7353 [HUST CSE]Fix if condition statement not closed
  examples/test/net_test.c
Labels: University: HUST IoTS&P Lab

#7251 [bsp][lpc55sxx] Added drv_soft_spi functionality and fixed drv_soft_i2c pin errors
  bsp/lpc55sxx/Libraries/drivers/SConscript
  bsp/lpc55sxx/Libraries/drivers/drv_soft_i2c.h
  bsp/lpc55sxx/Libraries/drivers/drv_soft_spi.c
  bsp/lpc55sxx/Libraries/drivers/drv_soft_spi.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/MCUX_Config/board/pin_mux.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/MCUX_Config/board/pin_mux.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/ports/easyflash/ef_fal_port.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/ports/fal/fal_cfg.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/ports/fal/fal_sample.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/ports/soft_spi_flash_init.c
Labels: in progress, Status: waiting for test

#6572 调整默认网络设备设置方式
  components/net/netdev/include/netdev.h
  components/net/netdev/src/netdev.c
Labels: +1, +2

#7320 [github][action] check the dist project for ci
  .github/workflows/action_tools.yml
Labels: +1, +2, action

#7355 [HUST CSE] fix: invalid link https://github.com/TanekLiang
  bsp/ck802/README.md
  bsp/gd32450z-eval/README.md
  bsp/hifive1/README.md
  bsp/imxrt/imxrt1064-nxp-evk/README.md
  bsp/lpc408x/README.md
  bsp/lpc54608-LPCXpresso/README.md
  components/drivers/spi/sfud/README.md
Labels: University: HUST IoTS&P Lab

#7240 [HUST CSE]fix error in Bubble Sort
  bsp/wch/arm/Libraries/CH32F20x_StdPeriph_Driver/StdPeriph_Driver/src/ch32f20x_adc.c
  bsp/wch/risc-v/Libraries/CH32V10x_StdPeriph_Driver/StdPeriph_Driver/src/ch32v10x_adc.c
Labels: University: HUST IoTS&P Lab

#7364 [HUST CSE]fix:uninitialized *p
  components/utilities/zmodem/zcore.c
Labels: University: HUST IoTS&P Lab

#7369 add rt-smart mode Kconcfig select
  src/Kconfig
Labels: +1

#7378 [dfs]释放fd_slot之前将子节点释放避免内存泄漏
  components/dfs/dfs_v1/src/dfs.c
  components/dfs/dfs_v2/src/dfs.c
Labels: +1, +2

#7352 [HUST CSE] for循环判断条件出错字符串读取越界
  components/net/at/src/at_server.c
Labels: +1, +2, University: HUST IoTS&P Lab

#7339 fix ipv6 compatibility issues
  components/net/lwip/lwip-2.0.3/src/include/lwip/ip_addr.h
  components/net/lwip/lwip-2.1.2/src/include/lwip/ip_addr.h
  components/net/lwip/lwip-2.1.2/src/include/lwip/prot/ip6.h
  components/net/lwip/port/ethernetif.c
  components/net/lwip/port/lwipopts.h
Labels: +1

#7374 [syscall] lwp_syscall 中 rt_err_t 改为 sysret_t
  components/lwp/lwp_syscall.c
Labels: +1

#7389 [HUST CSE]Assign Null to fdt after free to avoid dangling pointer
  components/drivers/fdt/src/dtb_load.c
Labels: University: HUST IoTS&P Lab

#7325 [HUST CSE] memset函数使用错误
  bsp/imx6sx/iMX6_Platform_SDK/sdk/common/usb_stack/Device/source/driver/mx6x/usb_dci_imx6.c
Labels: BSP: NXP, University: HUST IoTS&P Lab

#7403 [HUST CSE]drv_spi.c miss a "{" on line 83
  bsp/nrf5x/libraries/drivers/drv_spi.c
Labels: University: HUST IoTS&P Lab

#7405 fix lwp _load_script.
  components/lwp/lwp_syscall.c
Labels: +1

#7385 [bsp][lpc55s69]update:drv_hwtimer
  bsp/lpc55sxx/Libraries/drivers/drv_hwtimer.c
  bsp/lpc55sxx/Libraries/drivers/drv_hwtimer.h
  bsp/lpc55sxx/Libraries/drivers/drv_i2s.h
  bsp/lpc55sxx/Libraries/drivers/drv_soft_spi.h
  bsp/lpc55sxx/Libraries/drivers/drv_sound_wm8904.h
  bsp/lpc55sxx/Libraries/drivers/drv_wdt.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/README.md
  bsp/lpc55sxx/lpc55s69_nxp_evk/README_zh.md
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
Labels: +1, BSP: NXP

#7397 [bsp][lpc55sxx]update:update drv_wdt
  bsp/lpc55sxx/Libraries/drivers/drv_wdt.c
Labels: +1

#7372 [winusb.c] add a checkout procedure after allocating memory for variable winusb_device to make sure allocating successfully
  components/drivers/usb/usbdevice/class/winusb.c
Labels: +1

#7400 [HUST CSE]Update the use of 'realloc','malloc','calloc'
  bsp/loongson/ls2kdev/drivers/ata/dwc_ahsata.c
  bsp/simulator/drivers/board.c
  bsp/simulator/drivers/dfs_win32.c
  components/drivers/fdt/src/dtb_base.c
  components/drivers/fdt/src/dtb_get.c
  components/drivers/fdt/src/dtb_load.c
  components/libc/cplusplus/cpp11/emutls.c
  examples/libc/ex4.c
Labels: +1, University: HUST IoTS&P Lab

#7361 [HUST CSE]Same expression on both sides of “|”
  libcpu/arm/s3c44b0/serial.c
Labels: +1, University: HUST IoTS&P Lab

#7401 [HUST CSE][src] 变量 rt_err 没有初始化
  src/thread.c
Labels: in progress, University: HUST IoTS&P Lab

#7406 [bsp][bl] add drv_soft_i2c
  bsp/bouffalo_lab/libraries/rt_drivers/Kconfig
  bsp/bouffalo_lab/libraries/rt_drivers/SConscript
  bsp/bouffalo_lab/libraries/rt_drivers/drv_soft_i2c.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_soft_i2c.h
Labels: +1

#7410 [HUST CSE][examples]Fixed an issue where fclose was not used after using fopen
  examples/utest/testcases/posix/stdio_h/functions/perror_tc.c
Labels: +1, University: HUST IoTS&P Lab

#7420 [HUST CSE]fix:修复了cpu_port.c中RT_ASSERT逻辑错误
  libcpu/sim/posix/cpu_port.c
Labels: University: HUST IoTS&P Lab

#7419 [HUST CSE]fix:修改drv_spi.c空指针问题
  bsp/at32/libraries/rt_drivers/drv_spi.c
  bsp/hc32/libraries/hc32_drivers/drv_spi.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_spi.c
Labels: +1, +2, University: HUST IoTS&P Lab

#7427 Security Vulnerability Reporting Suggestion Template
  .github/SECURITY.md
Labels: University: HUST IoTS&P Lab

#7432 [Better style] Unify the function declaration and definition paramete…
  include/rtthread.h
  src/kservice.c
Labels: +1

#7430 [HUST CSE] 判断条件冗余
  examples/utest/testcases/kernel/memheap_tc.c
Labels: +1, University: HUST IoTS&P Lab
