Repository RT-Thread/rt-thread, pull requests merged in 2023-10, with the labels that each got.

#8099 [bsp][pico] Improve UART driver
  bsp/raspberry-pico/drivers/drv_uart.c
  bsp/raspberry-pico/drivers/drv_uart.h
Labels: +1

#8114 [log] rt-thread主线v5.0.2日志发布
  ChangeLog.md
Labels: +1

#8112 [building] Fix the deque issue for Env['CPPDEFINES']
  tools/building.py
Labels: +1

#8111 [action] add .config and kconfig
  .github/workflows/action.yml
  bsp/rm48x50/.config
  bsp/rm48x50/Kconfig
  bsp/rm48x50/rtconfig.h
Labels: +1

#8105 [bsp/renesas]add drv_sci.
  bsp/renesas/libraries/HAL_Drivers/SConscript
  bsp/renesas/libraries/HAL_Drivers/drv_sci.c
  bsp/renesas/libraries/HAL_Drivers/drv_sci.h
  bsp/renesas/ra6m3-hmi-board/board/Kconfig
Labels: +1, v5.1.0

#8084 [smart] replace lwp_new() with lwp_create()
  components/lwp/lwp.c
  components/lwp/lwp.h
  components/lwp/lwp_pid.c
  components/lwp/lwp_pid.h
  components/lwp/lwp_syscall.c
  examples/utest/testcases/mm/mm_lwp_tc.c
  examples/utest/testcases/mm/test_bst_adpt.h
Labels: v5.1.0

#8120 change version number to v5.1.0
  include/rtdef.h
  src/Kconfig
Labels: +1

#8121 [bsp][pico] Remove cmake dependency
  bsp/raspberry-pico/README.md
  bsp/raspberry-pico/SConstruct
  bsp/raspberry-pico/tools/SConscript
  bsp/raspberry-pico/tools/generate_files.py
Labels: +1, +2

#8077 [bsp][stm32] stm32l431-BearPi 添加mqtt连接华为云综合用例
  bsp/stm32/stm32l431-BearPi/board/Kconfig
  bsp/stm32/stm32l431-BearPi/board/ports/mpu6050_meas.c
Labels: v5.1.0

#8089 Fix the problem that when dfs_v2 transmits fd, dentry or vnode does not exist
  components/lwp/lwp_ipc.c
Labels: +1

#8128 [bsp] fix smp with smart of vexpress-a9
  bsp/qemu-vexpress-a9/drivers/secondary_cpu.c
Labels: +1

#8126 [smart] fixup: lwp_free()
  components/lwp/lwp_pid.c
Labels: +1

#8102 Fixed issues with timerfd
  components/libc/posix/io/timerfd/timerfd.c
Labels: +1, +2

#8124 add sys_utimensat
  components/dfs/dfs_v2/include/dfs.h
  components/dfs/dfs_v2/include/dfs_fs.h
  components/dfs/dfs_v2/src/dfs_posix.c
  components/lwp/lwp_syscall.c
Labels: +1

#7941 [smart] Replace irq disable/enable codes in futex
  components/lwp/Kconfig
  components/lwp/lwp.c
  components/lwp/lwp.h
  components/lwp/lwp_futex.c
  components/lwp/lwp_internal.c
  components/lwp/lwp_internal.h
  components/lwp/lwp_pid.c
  components/lwp/lwp_pmutex.c
  components/lwp/lwp_signal.c
  components/lwp/lwp_syscall.c
  include/rtthread.h
Labels: +1, v5.1.0

#8025 [components][mm]添加预留内存支持
  components/Kconfig
  components/mm/Kconfig
  components/mm/SConscript
  components/mm/mm_memblock.c
  components/mm/mm_memblock.h
  examples/utest/testcases/mm/SConscript
  examples/utest/testcases/mm/mm_memblock_tc.c
Labels: +1, v5.1.0

#8075 [kernel][dm]适配新的设备驱动模型
  bsp/fujitsu/mb9x/mb9bf500r/lcd.c
  bsp/fujitsu/mb9x/mb9bf506r/drivers/nand.c
  bsp/lpc178x/drivers/lpc17xx_lcd.c
  bsp/qemu-virt64-aarch64/applications/graphic.c
  bsp/raspberry-pi/raspi3-32/driver/drv_fb.c
  bsp/raspberry-pi/raspi3-64/driver/drv_fb.c
  components/drivers/Kconfig
  components/drivers/core/dm.c
  components/drivers/core/platform.c
  components/drivers/include/drivers/classes/block.h
  components/drivers/include/drivers/classes/char.h
  components/drivers/include/drivers/classes/graphic.h
  components/drivers/include/drivers/classes/mtd.h
  components/drivers/include/drivers/classes/net.h
  components/drivers/include/drivers/core/bus.h
  components/drivers/include/drivers/core/device.h
  components/drivers/include/drivers/core/driver.h
  components/drivers/include/drivers/platform.h
  components/drivers/include/rtdevice.h
  components/drivers/ofw/base.c
  components/drivers/ofw/fdt.c
  components/drivers/ofw/irq.c
  components/drivers/ofw/ofw.c
  components/drivers/spi/spi_msd.h
  components/drivers/usb/usbdevice/class/mstorage.c
  components/drivers/virtio/virtio_blk.c
  components/drivers/virtio/virtio_gpu.c
  include/rtdef.h
  src/Kconfig
  src/SConscript
Labels: v5.1.0, 🎯 Focus

#8161 [bsp][pico] add flash driver
  bsp/raspberry-pico/Kconfig
  bsp/raspberry-pico/drivers/SConscript
  bsp/raspberry-pico/drivers/drv_flash.c
  bsp/raspberry-pico/drivers/drv_flash.h
Labels: +1

#8155 [dfs v2] support O_DIRECT and O_SYNC flags
  components/dfs/dfs_v2/src/dfs_file.c
  components/dfs/dfs_v2/src/dfs_pcache.c
Labels: +1

#8159 [libcpu] fix symbol of kernel entry point
  bsp/qemu-virt64-aarch64/rtconfig.py
  libcpu/aarch64/SConscript
  libcpu/aarch64/common/mmu.c
  libcpu/aarch64/cortex-a/entry_point.S
Labels: +1

#8154 [smart] fixup: mmap support
  libcpu/aarch64/common/mmu.h
  libcpu/arm/cortex-a/mmu.h
  libcpu/risc-v/t-head/c906/riscv_mmu.h
  libcpu/risc-v/t-head/c906/trap.c
  libcpu/risc-v/virt64/riscv_mmu.h
  libcpu/risc-v/virt64/trap.c
Labels: +1

#8144 [kservice] improve backtrace service in kernel
  bsp/imx/imx6ull-smart/drivers/board.c
  bsp/qemu-vexpress-a9/.config
  bsp/qemu-vexpress-a9/rtconfig.h
  bsp/qemu-virt64-aarch64/.config
  bsp/qemu-virt64-aarch64/rtconfig.h
  bsp/qemu-virt64-riscv/.config
  bsp/qemu-virt64-riscv/rtconfig.h
  components/lwp/arch/aarch64/cortex-a/lwp_arch.c
  components/lwp/arch/risc-v/rv64/lwp_arch.c
  components/lwp/arch/risc-v/rv64/lwp_arch.h
  components/lwp/lwp.c
  components/lwp/lwp.h
  components/lwp/lwp_arch_comm.h
  components/lwp/lwp_internal.c
  components/lwp/lwp_internal.h
  include/rtdef.h
  include/rthw.h
  include/rtthread.h
  libcpu/aarch64/common/backtrace.c
  libcpu/aarch64/common/backtrace.h
  libcpu/aarch64/common/trap.c
  libcpu/arm/cortex-a/backtrace.c
  libcpu/arm/cortex-a/backtrace.h
  libcpu/risc-v/virt64/backtrace.c
  libcpu/risc-v/virt64/cpuport.h
  libcpu/risc-v/virt64/trap.c
  src/Kconfig
  src/kservice.c
Labels: +1

#8036 [tools] 增加vscode pyocd下载命令 scons --target=vsc --pack=xxx
  tools/building.py
  tools/options.py
  tools/vscpyocd.py
Labels: in progress, proposal

#8140 fix: only the main core detection rt_timer_check(), in SMP mode
  src/clock.c
Labels: +1

#8133 [tools] Enable prebuilding action
  tools/building.py
Labels: +1

#8165 fix ash ifconfig updown
  components/net/sal/src/sal_socket.c
Labels: +1, +2, urgent 🏃

#8169 [dfs] fixups: page cache
  components/dfs/dfs_v2/src/dfs_file_mmap.c
  components/dfs/dfs_v2/src/dfs_pcache.c
Labels: +1, +2, urgent 🏃

#8175 [bsp/air32]:增加iar_8_40环境支持
  bsp/airm2m/air32f103/.config
  bsp/airm2m/air32f103/libraries/Startup/iar/linker/link.icf
  bsp/airm2m/air32f103/libraries/Startup/iar/startup_air32f10x.s
  bsp/airm2m/air32f103/project.ewp
  bsp/airm2m/air32f103/project.eww
  bsp/airm2m/air32f103/rtconfig.h
  bsp/airm2m/air32f103/template.ewp
  bsp/airm2m/air32f103/template.eww
Labels: +1

#8174 [libc][time]修复MDK编译环境下difftime()函数多重定义的问题
  components/libc/compilers/common/ctime.c
Labels: +1, Status: waiting for test

#8184 [smart] replace varea pgmgr and fixup of dfs mmap
  components/dfs/dfs_v2/src/dfs_file_mmap.c
  components/lwp/lwp.h
  components/lwp/lwp_syscall.c
  components/lwp/lwp_user_mm.c
  components/mm/mm_anon.c
  components/mm/mm_aspace.c
  components/mm/mm_aspace.h
  components/mm/mm_object.c
  components/mm/mm_page.c
  components/mm/mm_page.h
  components/mm/mm_private.h
  examples/utest/testcases/mm/SConscript
  examples/utest/testcases/mm/aspace_map_expand.c
  examples/utest/testcases/mm/aspace_unmap_range_invalid_param.c
  examples/utest/testcases/mm/aspace_unmap_range_shrink.c
  examples/utest/testcases/mm/aspace_unmap_range_split.c
  examples/utest/testcases/mm/common.h
  examples/utest/testcases/mm/lwp_mmap_expand.c
  examples/utest/testcases/mm/lwp_mmap_fd.c
  examples/utest/testcases/mm/lwp_mmap_fd_map_fixed_merge.c
  examples/utest/testcases/mm/lwp_mmap_fd_map_fixed_split.c
  examples/utest/testcases/mm/lwp_mmap_fix_private.c
  examples/utest/testcases/mm/lwp_mmap_map_fixed.c
  examples/utest/testcases/mm/mm_api_tc.c
  examples/utest/testcases/mm/mm_lwp_tc.c
  examples/utest/testcases/mm/rt_ioremap.c
  examples/utest/testcases/mm/test_aspace_api.h
  examples/utest/testcases/mm/test_aspace_api_internal.h
  examples/utest/testcases/mm/test_bst_adpt.h
  libcpu/aarch64/SConscript
Labels: +1, urgent 🏃

#8190 [src] Fix the issue of starting address misalignment
  src/kservice.c
Labels: +1, urgent 🏃

#8079 [serial_v2]串口设备框架serial_v2在utest下的testcases补充
  examples/utest/testcases/drivers/serial_v2/README.md
  examples/utest/testcases/drivers/serial_v2/SConscript
  examples/utest/testcases/drivers/serial_v2/uart_blocking_rx.c
  examples/utest/testcases/drivers/serial_v2/uart_blocking_tx.c
  examples/utest/testcases/drivers/serial_v2/uart_nonblocking_rx.c
  examples/utest/testcases/drivers/serial_v2/uart_nonblocking_tx.c
Labels: +2, v5.1.0

#7977 [msh]Optimize list_thread display
  components/finsh/cmd.c
  components/finsh/msh.c
Labels: +1, v5.1.0

#8193 [bsp] Fixed bug of msp432e401y bsp chip model error after mdk5 open.
  bsp/msp432e401y-LaunchPad/project.uvprojx
  bsp/msp432e401y-LaunchPad/template.uvprojx
Labels: +1

#8192 [bsp] [ESP32_C3/rtconfig.py] 支持 EXEC_PATH 路径展开
  bsp/ESP32_C3/rtconfig.py
Labels: +1

#8178 [bsp][pico]: add pwm driver
  bsp/raspberry-pico/Kconfig
  bsp/raspberry-pico/drivers/SConscript
  bsp/raspberry-pico/drivers/drv_pwm.c
  bsp/raspberry-pico/drivers/drv_pwm.h
Labels: in progress

#8080 MPU抽象层
  bsp/stm32/stm32u575-st-nucleo/.config
  bsp/stm32/stm32u575-st-nucleo/board/board.c
  bsp/stm32/stm32u575-st-nucleo/board/board.h
  bsp/stm32/stm32u575-st-nucleo/rtconfig.h
  components/Kconfig
  components/mprotect/Kconfig
  components/mprotect/README.md
  components/mprotect/SConscript
  components/mprotect/examples/mprotect_example_exception_hook.c
  components/mprotect/examples/mprotect_example_exclusive_region.c
  components/mprotect/examples/mprotect_example_ro_data.c
  components/mprotect/image/stack_guard.png
  components/mprotect/mprotect.c
  components/mprotect/mprotect.h
  include/rtdef.h
  include/rthw.h
  libcpu/arm/cortex-m33/SConscript
  libcpu/arm/cortex-m33/context_gcc.S
  libcpu/arm/cortex-m33/cpuport.c
  libcpu/arm/cortex-m33/mpu.c
  libcpu/arm/cortex-m33/mpu.h
  libcpu/arm/cortex-m33/mputype.h
  libcpu/arm/cortex-m7/SConscript
  libcpu/arm/cortex-m7/context_gcc.S
  libcpu/arm/cortex-m7/cpuport.c
  libcpu/arm/cortex-m7/mpu.c
  libcpu/arm/cortex-m7/mpu.h
  libcpu/arm/cortex-m7/mputype.h
  src/idle.c
  src/scheduler_mp.c
  src/scheduler_up.c
  src/thread.c
Labels: +1, v5.1.0, 🎯 Focus
