Repository RT-Thread/rt-thread, pull requests merged in 2023-03, with the labels that each got.

#6836 fix stm32 drv_lcd some problem
  bsp/stm32/libraries/HAL_Drivers/drv_lcd.c
Labels: +1

#6999 [STM32]Add STM32F723E-DISCO bsp support
  .github/workflows/action.yml
  bsp/stm32/stm32f723-st-disco/.config
  bsp/stm32/stm32f723-st-disco/.gitignore
  bsp/stm32/stm32f723-st-disco/EventRecorderStub.scvd
  bsp/stm32/stm32f723-st-disco/Kconfig
  bsp/stm32/stm32f723-st-disco/README.md
  bsp/stm32/stm32f723-st-disco/SConscript
  bsp/stm32/stm32f723-st-disco/SConstruct
  bsp/stm32/stm32f723-st-disco/applications/SConscript
  bsp/stm32/stm32f723-st-disco/applications/main.c
  bsp/stm32/stm32f723-st-disco/board/.ignore_format.yml
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/Inc/stm32f7xx_hal_conf.h
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/Inc/stm32f7xx_it.h
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/Src/stm32f7xx_hal_msp.c
  bsp/stm32/stm32f723-st-disco/board/CubeMX_Config/Src/stm32f7xx_it.c
  bsp/stm32/stm32f723-st-disco/board/Kconfig
  bsp/stm32/stm32f723-st-disco/board/SConscript
  bsp/stm32/stm32f723-st-disco/board/board.c
  bsp/stm32/stm32f723-st-disco/board/board.h
  bsp/stm32/stm32f723-st-disco/board/linker_scripts/link.icf
  bsp/stm32/stm32f723-st-disco/board/linker_scripts/link.lds
  bsp/stm32/stm32f723-st-disco/board/linker_scripts/link.sct
  bsp/stm32/stm32f723-st-disco/figures/board.png
  bsp/stm32/stm32f723-st-disco/project.ewd
  bsp/stm32/stm32f723-st-disco/project.ewp
  bsp/stm32/stm32f723-st-disco/project.eww
  bsp/stm32/stm32f723-st-disco/project.uvoptx
  bsp/stm32/stm32f723-st-disco/project.uvprojx
  bsp/stm32/stm32f723-st-disco/rtconfig.h
  bsp/stm32/stm32f723-st-disco/rtconfig.py
  bsp/stm32/stm32f723-st-disco/template.ewd
  bsp/stm32/stm32f723-st-disco/template.ewp
  bsp/stm32/stm32f723-st-disco/template.eww
  bsp/stm32/stm32f723-st-disco/template.uvoptx
  bsp/stm32/stm32f723-st-disco/template.uvprojx
Labels: +1, +2

#7002 [libcpu/risc-v]将cv32e40p文件夹中文件移至BSP
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/SConscript
  bsp/core-v-mcu/Libraries/core_v_hal_libraries/bmsis/core-v-mcu/source/trap_gcc.S
  libcpu/risc-v/cv32e40p/SConscript
Labels: +1, +2

#6962 [rt-smart] fix `timer_create` bug
  components/lwp/lwp_syscall.c
Labels: +1

#7009 [libcpu/risc-v]迁移bumblebee文件夹与nuclei文件夹中的内容至bsp
  bsp/gd32/risc-v/gd32vf103r-start/board/SConscript
  bsp/gd32/risc-v/gd32vf103r-start/board/trap_gcc.S
  bsp/gd32/risc-v/gd32vf103v-eval/board/SConscript
  bsp/gd32/risc-v/gd32vf103v-eval/board/trap_gcc.S
  bsp/gd32vf103v-eval/board/SConscript
  bsp/gd32vf103v-eval/board/trap_gcc.S
  bsp/nuclei/gd32vf103_rvstar/board/SConscript
  bsp/nuclei/gd32vf103_rvstar/board/trap_gcc.S
  bsp/nuclei/nuclei_fpga_eval/board/SConscript
  bsp/nuclei/nuclei_fpga_eval/board/trap_gcc.S
  libcpu/risc-v/bumblebee/SConscript
  libcpu/risc-v/nuclei/SConscript
Labels: +1, +2

#7004 [libcpu/riscv]迁移libcpu/riscv/ch32中文件至bsp
  bsp/wch/risc-v/ch32v103r-evt/board/SConscript
  bsp/wch/risc-v/ch32v103r-evt/board/software_irq.c
  bsp/wch/risc-v/ch32v208w-r0/board/SConscript
  bsp/wch/risc-v/ch32v208w-r0/board/software_irq.c
  bsp/wch/risc-v/ch32v307v-r1/board/SConscript
  bsp/wch/risc-v/ch32v307v-r1/board/software_irq.c
  libcpu/risc-v/ch32/SConscript
Labels: +1

#7011 [bsp][lpc55sxx]添加了scons --dist复制不全的解决方案
  bsp/lpc55sxx/tools/sdk_dist.py
Labels: +1

#7014 [Renesas]Add tft-lcd pin connection description
  bsp/renesas/README.md
  bsp/renesas/ra6m3-ek/docs/lvgl使用文档.md
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/tft-pin.png
Labels: +1

#6973 新增stm32f401-weact-blackpill BSP（STM32F401CCU6最小系统板）
  .github/workflows/action.yml
  bsp/stm32/stm32f401-weact-blackpill/.config
  bsp/stm32/stm32f401-weact-blackpill/.gitignore
  bsp/stm32/stm32f401-weact-blackpill/EventRecorderStub.scvd
  bsp/stm32/stm32f401-weact-blackpill/Kconfig
  bsp/stm32/stm32f401-weact-blackpill/README.md
  bsp/stm32/stm32f401-weact-blackpill/SConscript
  bsp/stm32/stm32f401-weact-blackpill/SConstruct
  bsp/stm32/stm32f401-weact-blackpill/applications/SConscript
  bsp/stm32/stm32f401-weact-blackpill/applications/main.c
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f401-weact-blackpill/board/CubeMX_Config/Src/system_stm32f4xx.c
  bsp/stm32/stm32f401-weact-blackpill/board/Kconfig
  bsp/stm32/stm32f401-weact-blackpill/board/SConscript
  bsp/stm32/stm32f401-weact-blackpill/board/board.c
  bsp/stm32/stm32f401-weact-blackpill/board/board.h
  bsp/stm32/stm32f401-weact-blackpill/board/linker_scripts/link.icf
  bsp/stm32/stm32f401-weact-blackpill/board/linker_scripts/link.lds
  bsp/stm32/stm32f401-weact-blackpill/board/linker_scripts/link.sct
  bsp/stm32/stm32f401-weact-blackpill/figures/board.png
  bsp/stm32/stm32f401-weact-blackpill/project.ewd
  bsp/stm32/stm32f401-weact-blackpill/project.ewp
  bsp/stm32/stm32f401-weact-blackpill/project.eww
  bsp/stm32/stm32f401-weact-blackpill/project.uvopt
  bsp/stm32/stm32f401-weact-blackpill/project.uvoptx
  bsp/stm32/stm32f401-weact-blackpill/project.uvproj
  bsp/stm32/stm32f401-weact-blackpill/project.uvprojx
  bsp/stm32/stm32f401-weact-blackpill/rtconfig.h
  bsp/stm32/stm32f401-weact-blackpill/rtconfig.py
  bsp/stm32/stm32f401-weact-blackpill/template.ewp
  bsp/stm32/stm32f401-weact-blackpill/template.eww
  bsp/stm32/stm32f401-weact-blackpill/template.uvopt
  bsp/stm32/stm32f401-weact-blackpill/template.uvoptx
  bsp/stm32/stm32f401-weact-blackpill/template.uvproj
  bsp/stm32/stm32f401-weact-blackpill/template.uvprojx
  bsp/stm32/stm32f411-weact-blackpill/EventRecorderStub.scvd
Labels: +1, +2

#7024 [bsp] Remove redundant 'extern' in function declaration
  bsp/nuvoton/libraries/m480/StdDriver/inc/nu_fmc.h
Labels: BSP: Nuvoton

#7027 [libcpu/risc-v]更新移植readme
  libcpu/risc-v/readme.md
Labels: +1

#7025 修正接口数据类型
  bsp/wch/arm/Libraries/ch32_drivers/drv_gpio_ch32f10x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_gpio_ch32f20x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_rtc_ch32f10x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_rtc_ch32f20x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_spi_ch32f10x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_spi_ch32f20x.c
  bsp/wch/arm/ch32f103c8-core/project.uvprojx
  bsp/wch/arm/ch32f203r-evt/project.uvprojx
Labels: +1

#7031 [libcpu/riscv/c906] fix "next_asid" type error
  libcpu/risc-v/t-head/c906/mmu.c
Labels: +1

#7029 [device]修改i2c读写函数返回类型为rt_ssize_t
  bsp/lpc54114-lite/drivers/drv_i2c.c
  components/drivers/i2c/i2c_core.c
  components/drivers/include/drivers/i2c.h
Labels: in progress

#7034 Fix net
  components/net/lwip/port/lwipopts.h
  components/net/netdev/src/netdev.c
Labels: +1, +2

#7037 [net] fix LWIP_HOOK_IP4_ROUTE_SRC define
  components/net/lwip/port/lwipopts.h
Labels: +1, +2

#7057 [error code][-RT_EIO] fix that use RT_EIO without -
  bsp/Infineon/libraries/HAL_Drivers/drv_spi.c
  bsp/Vango/v85xx/drivers/drv_spi.c
  bsp/airm2m/air32f103/libraries/rt_drivers/drv_spi.c
  bsp/allwinner/libraries/drivers/drv_wdt.c
  bsp/allwinner_tina/drivers/spi/drv_spi.c
  bsp/apm32/libraries/Drivers/drv_spi.c
  bsp/at32/libraries/rt_drivers/drv_spi.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi.c
  bsp/gd32/risc-v/libraries/gd32_drivers/drv_spi.c
  bsp/gd32105c-eval/drivers/drv_spi.c
  bsp/gd32107c-eval/drivers/drv_spi.c
  bsp/gd32303e-eval/drivers/drv_spi.c
  bsp/gd32450z-eval/drivers/drv_spi.c
  bsp/gd32e230k-start/drivers/drv_spi.c
  bsp/hc32/libraries/hc32_drivers/drv_spi.c
  bsp/hk32/libraries/rt_drivers/drv_spi.c
  bsp/n32/libraries/n32_drivers/drv_spi.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_spi.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_uspi.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_uspi.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_uspi.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_uspi.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/nu_packages/SPINAND/spinand.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_usbhost.c
  bsp/raspberry-pi/raspi3-32/driver/drv_wdt.c
  bsp/raspberry-pi/raspi3-64/driver/drv_wdt.c
  bsp/raspberry-pi/raspi4-32/driver/drv_wdt.c
  bsp/raspberry-pi/raspi4-64/driver/drv_wdt.c
  bsp/rv32m1_vega/ri5cy/driver/drv_gpio.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  bsp/stm32/stm32mp157a-st-ev1/board/ports/drv_nand.c
  bsp/synwit/swm320/drivers/drv_spi.c
  bsp/synwit/swm341/drivers/drv_spi.c
  bsp/w60x/drivers/drv_wdt.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_spi_ch32f10x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_spi_ch32f20x.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_spi.c
  components/drivers/spi/enc28j60.c
  components/drivers/spi/spi_msd.c
Labels: +1

#7058 [RT_ALIGN_SIZE] set RT_ALIGN_SIZE as 8 by default
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/.config
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/rtconfig.h
  bsp/ft2004/.config
  bsp/ft2004/rtconfig.h
  bsp/nuvoton/numaker-hmi-ma35d1/.config
  bsp/nuvoton/numaker-iot-ma35d1/.config
  bsp/stm32/stm32f401-weact-blackpill/.config
  bsp/stm32/stm32f401-weact-blackpill/rtconfig.h
Labels: +1

#7068 format sconscript Kconfig files
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/board/SConscript
  bsp/apm32/apm32f030r8-miniboard/board/Kconfig
  bsp/at32/at32f403a-start/board/Kconfig
  bsp/at32/at32f413-start/board/Kconfig
  bsp/at32/at32f415-start/board/Kconfig
  bsp/at32/at32f425-start/board/Kconfig
  bsp/at32/at32f435-start/board/Kconfig
  bsp/at32/libraries/usbd_library/SConscript
  bsp/at32/libraries/usbfs_library/SConscript
  bsp/imxrt/imxrt1060-nxp-evk/board/Kconfig
  bsp/imxrt/imxrt1060-nxp-evk/board/SConscript
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
  bsp/nuvoton/libraries/ma35/libcpu/arm/cortex-m4/SConscript
  bsp/nuvoton/numaker-hmi-ma35d1/preload/SConscript
  bsp/nuvoton/numaker-iot-m467/board/SConscript
  bsp/nuvoton/numaker-iot-ma35d1/preload/SConscript
  bsp/renesas/ra6m3-ek/board/Kconfig
  bsp/renesas/ra6m4-cpk/board/Kconfig
  bsp/stm32/stm32f401-weact-blackpill/Kconfig
  bsp/stm32/stm32f401-weact-blackpill/board/Kconfig
  bsp/wch/risc-v/ch32v208w-r0/SConstruct
Labels: +1

#7061 add drv_adc to mm32f327x
  bsp/mm32f327x/drivers/Kconfig
  bsp/mm32f327x/drivers/SConscript
  bsp/mm32f327x/drivers/drv_adc.c
  bsp/mm32f327x/drivers/drv_adc.h
Labels: +1

#7069 [bsp] add bl808 lp core
  bsp/README.md
  bsp/bouffalo_lab/README.md
  bsp/bouffalo_lab/bl808/flash_prog_cfg.ini
  bsp/bouffalo_lab/bl808/lp/.config
  bsp/bouffalo_lab/bl808/lp/Kconfig
  bsp/bouffalo_lab/bl808/lp/SConscript
  bsp/bouffalo_lab/bl808/lp/SConstruct
  bsp/bouffalo_lab/bl808/lp/applications/SConscript
  bsp/bouffalo_lab/bl808/lp/applications/main.c
  bsp/bouffalo_lab/bl808/lp/board/Kconfig
  bsp/bouffalo_lab/bl808/lp/board/SConscript
  bsp/bouffalo_lab/bl808/lp/board/board.c
  bsp/bouffalo_lab/bl808/lp/board/board.h
  bsp/bouffalo_lab/bl808/lp/board/fw_header.c
  bsp/bouffalo_lab/bl808/lp/board/fw_header.h
  bsp/bouffalo_lab/bl808/lp/board/linker_scripts/bl808_flash_lp.ld
  bsp/bouffalo_lab/bl808/lp/board/trap_gcc.S
  bsp/bouffalo_lab/bl808/lp/combine.sh
  bsp/bouffalo_lab/bl808/lp/rtconfig.h
  bsp/bouffalo_lab/bl808/lp/rtconfig.py
  libcpu/risc-v/common/context_gcc.S
  libcpu/risc-v/common/interrupt_gcc.S
  libcpu/risc-v/common/rt_hw_stack_frame.h
  libcpu/risc-v/common/trap_common.c
Labels: BSP

#7072 [stm32][pin] 修复GPIO驱动警告
  bsp/stm32/libraries/HAL_Drivers/drv_gpio.c
Labels: +1

#7071 [stm32][adc] add error code return
  bsp/stm32/libraries/HAL_Drivers/drv_adc.c
Labels: +1

#7067 format .icf, .lds, .sct
  bsp/Infineon/psoc6-cy8ckit-062-BLE/board/linker_scripts/link.icf
  bsp/Infineon/psoc6-cy8ckit-062-BLE/board/linker_scripts/link.sct
  bsp/Infineon/psoc6-cy8ckit-062-BLE/libs/TARGET_CY8CKIT-062-BLE/COMPONENT_CM0P/TOOLCHAIN_ARM/cy8c6xx7_cm0plus.sct
  bsp/Infineon/psoc6-cy8ckit-062-BLE/libs/TARGET_CY8CKIT-062-BLE/COMPONENT_CM0P/TOOLCHAIN_IAR/cy8c6xx7_cm0plus.icf
  bsp/Infineon/psoc6-cy8ckit-062-BLE/libs/TARGET_CY8CKIT-062-BLE/COMPONENT_CM4/TOOLCHAIN_ARM/cy8c6xx7_cm4_dual.sct
  bsp/Infineon/psoc6-cy8ckit-062-BLE/libs/TARGET_CY8CKIT-062-BLE/COMPONENT_CM4/TOOLCHAIN_IAR/cy8c6xx7_cm4_dual.icf
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/board/linker_scripts/link.icf
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/board/linker_scripts/link.sct
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/libs/TARGET_CY8CKIT-062-WIFI-BT/COMPONENT_CM0P/TOOLCHAIN_ARM/cy8c6xx7_cm0plus.sct
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/libs/TARGET_CY8CKIT-062-WIFI-BT/COMPONENT_CM0P/TOOLCHAIN_IAR/cy8c6xx7_cm0plus.icf
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/libs/TARGET_CY8CKIT-062-WIFI-BT/COMPONENT_CM4/TOOLCHAIN_ARM/cy8c6xx7_cm4_dual.sct
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/libs/TARGET_CY8CKIT-062-WIFI-BT/COMPONENT_CM4/TOOLCHAIN_IAR/cy8c6xx7_cm4_dual.icf
  bsp/Infineon/psoc6-cy8ckit-062s4/board/linker_scripts/link.icf
  bsp/Infineon/psoc6-cy8ckit-062s4/board/linker_scripts/link.sct
  bsp/Infineon/psoc6-cy8ckit-062s4/libs/TARGET_CY8CKIT-062S4/COMPONENT_CM0P/TOOLCHAIN_ARM/cy8c6xx4_cm0plus.sct
  bsp/Infineon/psoc6-cy8ckit-062s4/libs/TARGET_CY8CKIT-062S4/COMPONENT_CM0P/TOOLCHAIN_IAR/cy8c6xx4_cm0plus.icf
  bsp/Infineon/psoc6-cy8ckit-062s4/libs/TARGET_CY8CKIT-062S4/COMPONENT_CM4/TOOLCHAIN_ARM/cy8c6xx4_cm4_dual.sct
  bsp/Infineon/psoc6-cy8ckit-062s4/libs/TARGET_CY8CKIT-062S4/COMPONENT_CM4/TOOLCHAIN_IAR/cy8c6xx4_cm4_dual.icf
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/board/linker_scripts/link.icf
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/board/linker_scripts/link.sct
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/libs/TARGET_CY8CPROTO-062S3-4343W/COMPONENT_CM0P/TOOLCHAIN_ARM/cy8c6xx5_cm0plus.sct
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/libs/TARGET_CY8CPROTO-062S3-4343W/COMPONENT_CM0P/TOOLCHAIN_IAR/cy8c6xx5_cm0plus.icf
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/libs/TARGET_CY8CPROTO-062S3-4343W/COMPONENT_CM4/TOOLCHAIN_ARM/cy8c6xx5_cm4_dual.sct
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/libs/TARGET_CY8CPROTO-062S3-4343W/COMPONENT_CM4/TOOLCHAIN_IAR/cy8c6xx5_cm4_dual.icf
  bsp/apm32/apm32f103xe-minibroard/board/linker_scripts/link.lds
  bsp/at32/libraries/AT32F421_Firmware_Library/cmsis/cm4/device_support/startup/iar/linker/AT32F421x4.icf
  bsp/at32/libraries/AT32F421_Firmware_Library/cmsis/cm4/device_support/startup/iar/linker/AT32F421x6.icf
  bsp/at32/libraries/AT32F421_Firmware_Library/cmsis/cm4/device_support/startup/iar/linker/AT32F421x8.icf
  bsp/at32/libraries/AT32F425_Firmware_Library/cmsis/cm4/device_support/startup/iar/linker/AT32F425x4.icf
  bsp/at32/libraries/AT32F425_Firmware_Library/cmsis/cm4/device_support/startup/iar/linker/AT32F425x6.icf
  bsp/at32/libraries/AT32F425_Firmware_Library/cmsis/cm4/device_support/startup/iar/linker/AT32F425x8.icf
  bsp/imxrt/imxrt1060-nxp-evk/board/linker_scripts/link.icf
  bsp/stm32/stm32f401-weact-blackpill/board/linker_scripts/link.lds
Labels: +1

#7053 [atomic]添加arm与risc-v下的常用原子操作函数
  .github/workflows/action_utest.yml
  bsp/gd32/risc-v/libraries/Kconfig
  bsp/gd32vf103v-eval/board/Kconfig
  bsp/hifive1/Kconfig
  bsp/hpmicro/hpm6750evk/board/Kconfig
  bsp/hpmicro/hpm6750evkmini/.config
  bsp/hpmicro/hpm6750evkmini/applications/main.c
  bsp/hpmicro/hpm6750evkmini/board/Kconfig
  bsp/hpmicro/hpm6750evkmini/rtconfig.h
  bsp/k210/drivers/Kconfig
  bsp/nuclei/gd32vf103_rvstar/board/Kconfig
  bsp/nuclei/nuclei_fpga_eval/board/Kconfig
  bsp/qemu-virt64-riscv/Kconfig
  bsp/sparkfun-redv/Kconfig
  bsp/wch/risc-v/Libraries/Kconfig
  examples/utest/configs/kernel/atomic.conf
  examples/utest/configs/kernel/atomic_c11.conf
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/atomic_tc.c
  include/rtatomic.h
  include/rtdef.h
  libcpu/Kconfig
  libcpu/arm/common/SConscript
  libcpu/arm/common/atomic_arm.c
  libcpu/arm/common/showmem.c
  libcpu/risc-v/common/SConscript
  libcpu/risc-v/common/atomic_riscv.c
  libcpu/risc-v/virt64/SConscript
  src/Kconfig
Labels: +1, +2, important, v5.0.0

#7092 [Renesas]Remove lcd_ili9341 and update spi driver
  bsp/renesas/libraries/HAL_Drivers/SConscript
  bsp/renesas/libraries/HAL_Drivers/drv_sci_spi.c
  bsp/renesas/libraries/HAL_Drivers/drv_sci_spi.h
  bsp/renesas/libraries/HAL_Drivers/drv_spi.c
  bsp/renesas/libraries/HAL_Drivers/drv_spi.h
  bsp/renesas/ra6m3-ek/board/Kconfig
  bsp/renesas/ra6m3-ek/board/lvgl/lv_port_disp.c
  bsp/renesas/ra6m3-ek/board/ports/ili9341/SConscript
  bsp/renesas/ra6m3-ek/board/ports/ili9341/lcd_ili9341.c
  bsp/renesas/ra6m3-ek/board/ports/ili9341/lcd_ili9341.h
  bsp/renesas/ra6m4-cpk/board/Kconfig
  bsp/renesas/ra6m4-cpk/board/lvgl/lv_port_disp.c
  bsp/renesas/ra6m4-cpk/board/ports/ili9341/SConscript
  bsp/renesas/ra6m4-cpk/board/ports/ili9341/lcd_ili9341.c
  bsp/renesas/ra6m4-cpk/board/ports/ili9341/lcd_ili9341.h
Labels: +1

#7089 [stm32][l476-nucleo] support RTduino
  bsp/stm32/stm32l476-st-nucleo/applications/SConscript
  bsp/stm32/stm32l476-st-nucleo/applications/arduino_main.cpp
  bsp/stm32/stm32l476-st-nucleo/applications/arduino_pinout/README.md
  bsp/stm32/stm32l476-st-nucleo/applications/arduino_pinout/SConscript
  bsp/stm32/stm32l476-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32l476-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32l476-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l476-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l476-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32l476-st-nucleo/board/CubeMX_Config/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l476-st-nucleo/board/CubeMX_Config/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l476-st-nucleo/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l476-st-nucleo/board/CubeMX_Config/Src/stm32l4xx_it.c
  bsp/stm32/stm32l476-st-nucleo/board/Kconfig
Labels: +1

#7107 [bsp]fix esp32_c3 compile error
  bsp/ESP32_C3/rtt.patch
  libcpu/risc-v/common/trap_common.c
Labels: BSP:ESP32

#7103 [src][scheduler] Split scheduler.c into scheduler upc and scheduler_mp.c
  src/SConscript
  src/scheduler_mp.c
  src/scheduler_up.c
Labels: Kernel

#7123 [Infineon]Fix spi cs problem
  bsp/Infineon/libraries/HAL_Drivers/drv_spi.c
  bsp/Infineon/psoc6-evaluationkit-062S2/board/Kconfig
Labels: +1

#7124 [utest][atomic]添加返回值测试
  examples/utest/testcases/kernel/atomic_tc.c
  libcpu/arm/common/atomic_arm.c
  libcpu/risc-v/common/atomic_riscv.c
Labels: +1

#7128 [libc]优化usleep函数
  components/libc/posix/delay/delay.c
Labels: +1

#7130 [Infineon]Add slider driver demo
  bsp/Infineon/libraries/HAL_Drivers/drv_gpio.c
  bsp/Infineon/libraries/HAL_Drivers/drv_pwm.c
  bsp/Infineon/libraries/HAL_Drivers/drv_pwm.h
  bsp/Infineon/psoc6-evaluationkit-062S2/applications/main.c
  bsp/Infineon/psoc6-evaluationkit-062S2/board/Kconfig
  bsp/Infineon/psoc6-evaluationkit-062S2/board/ports/slider_sample.c
Labels: +1

#7122 [bsp][bouffalo] add pwm & rtc & wdt devices
  bsp/bouffalo_lab/bl808/m0/.config
  bsp/bouffalo_lab/bl808/m0/applications/pwm_led_sample.c
  bsp/bouffalo_lab/bl808/m0/applications/wdt_sample.c
  bsp/bouffalo_lab/bl808/m0/rtconfig.h
  bsp/bouffalo_lab/libraries/rt_drivers/Kconfig
  bsp/bouffalo_lab/libraries/rt_drivers/SConscript
  bsp/bouffalo_lab/libraries/rt_drivers/drv_pwm.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_pwm.h
  bsp/bouffalo_lab/libraries/rt_drivers/drv_rtc.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_rtc.h
  bsp/bouffalo_lab/libraries/rt_drivers/drv_wdt.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_wdt.h
Labels: BSP

#6796 [libcpu/arm/cortex-a] Revert safety MMU initialization.
  libcpu/arm/cortex-a/start_gcc.S
Labels: +1, +2, important, v5.0-Beta

#7142 [at91sam9260] modify link_scripts to fix #6594
  bsp/at91/at91sam9260/link_scripts/at91sam9260_ram.ld
Labels: +1

#7137 [Renesas]Update RA6M3/4 mdk proj
  bsp/renesas/ra6m3-ek/board/lvgl/lv_port_disp.c
  bsp/renesas/ra6m3-ek/buildinfo.gpdsc
  bsp/renesas/ra6m4-cpk/board/lvgl/lv_port_disp.c
  bsp/renesas/ra6m4-cpk/buildinfo.gpdsc
  bsp/renesas/ra6m4-cpk/configuration.xml
  bsp/renesas/ra6m4-cpk/ra_cfg/fsp_cfg/bsp/board_cfg.h
  bsp/renesas/ra6m4-cpk/ra_cfg/fsp_cfg/bsp/bsp_cfg.h
  bsp/renesas/ra6m4-cpk/ra_gen/pin_data.c
  bsp/renesas/ra6m4-cpk/template.uvoptx
  bsp/renesas/ra6m4-cpk/template.uvprojx
Labels: +1

#7141 [nuvoton] Update fix warnings and builds.
  bsp/nuvoton/libraries/m031/rtt_port/drv_gpio.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_usbd.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_gpio.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_usbd.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_gpio.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_usbd.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_gpio.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_usbd.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_common_aarch32.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_gpio.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/ma35/rtt_port/gmac/drv_gmac.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_gpio.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_usbd.c
  bsp/nuvoton/libraries/nu_packages/ADC_TOUCH/adc_touch.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_gpio.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_qspi.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_spi.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_usbd.c
Labels: +1
