Repository RT-Thread/rt-thread, pull requests merged in 2023-05, with the labels that each got.

#7429 [HUST CSE] Adjust the null pointer check and access orderPointer error
  examples/utest/testcases/posix/unistd_h/functions/chdir_tc.c
Labels: +1, University: HUST IoTS&P Lab

#7431 [HUST CSE] Adjust the null pointer check and access orderPointer error
  components/vbus/vbus_chnx.c
Labels: +1, University: HUST IoTS&P Lab

#7424 [HUST CSE] 变量 tick 没有初始化
  bsp/acm32/acm32f0x0-nucleo/drivers/drv_pm.c
Labels: in progress, University: HUST IoTS&P Lab

#7409 [HUST CSE][bsp][fix] Fix potential buffer overflow vulnerability
  bsp/simulator/pcap/pcap_netif.c
Labels: +1, University: HUST IoTS&P Lab

#7444 [tty] change driver of tty to device and code cleanup.
  components/drivers/tty/console.c
  components/drivers/tty/include/tty.h
  components/drivers/tty/n_tty.c
  components/drivers/tty/pty.c
  components/drivers/tty/tty.c
  components/drivers/tty/tty_ldisc.c
  src/kservice.c
Labels: component

#7395 [components][posix] 完善 posix 接口消息队列
  components/libc/posix/ipc/mqueue.c
  components/libc/posix/ipc/mqueue.h
  components/lwp/lwp_syscall.c
Labels: +1, component

#7449 fix document error
  bsp/gd32/arm/docs/GD32_ARM系列BSP外设驱动使用教程.md
Labels: +1

#7447 [libc] redirecting header sys/ioctl to bits/ioctl
  components/libc/compilers/common/include/sys/ioctl.h
  components/net/lwip/lwip-1.4.1/src/include/lwip/sockets.h
  components/net/lwip/lwip-2.0.3/src/include/lwip/sockets.h
  components/net/lwip/lwip-2.1.2/src/include/lwip/sockets.h
Labels: component

#7448 [bsp][at32]disable spi to change transfer size
  bsp/at32/libraries/rt_drivers/drv_spi.c
Labels: BSP

#7442 [component][drivers][cputime]Fix timer dev
  components/drivers/cputime/cputimer.c
Labels: component

#7459 [doc]env.md: Update URL to download env tool
  documentation/env/env.md
Labels: +1, Doc

#7450 [bsp][lpc55sxx]add: rw007_lpc55sxx_port.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/SConscript
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/ports/rw007_port.c
Labels: BSP: NXP

#7460 [components][rndis.c] add a checkout procedure after malloc to make sure allocating successfully
  components/drivers/usb/usbdevice/class/rndis.c
Labels: +1, +2, University: HUST IoTS&P Lab

#7457 [bsp] fix mismatched function types in rt_pin_ops for all drv_gpio.c
  bsp/allwinner/libraries/drivers/drv_pin.c
  bsp/apollo2/board/gpio.c
  bsp/beaglebone/drivers/gpio.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_gpio.c
  bsp/essemi/es32f0654/drivers/drv_gpio.c
  bsp/essemi/es32f369x/drivers/drv_gpio.c
  bsp/fm33lc026/libraries/HAL_Drivers/drv_gpio.c
  bsp/ft32/libraries/Drivers/drv_gpio.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_gpio.c
  bsp/gd32/risc-v/libraries/gd32_drivers/drv_gpio.c
  bsp/gd32105c-eval/drivers/drv_gpio.c
  bsp/gd32107c-eval/drivers/drv_gpio.c
  bsp/gd32303e-eval/drivers/drv_gpio.c
  bsp/gd32350r-eval/drivers/drv_gpio.c
  bsp/gd32e230k-start/drivers/drv_gpio.c
  bsp/gd32vf103v-eval/drivers/drv_gpio.c
  bsp/hc32/libraries/hc32_drivers/drv_gpio.c
  bsp/hc32l136/drivers/drv_gpio.c
  bsp/hc32l196/drivers/drv_gpio.c
  bsp/hk32/libraries/rt_drivers/drv_gpio.c
  bsp/hpmicro/libraries/drivers/drv_gpio.c
  bsp/k210/drivers/drv_gpio.c
  bsp/loongson/ls1cdev/drivers/drv_gpio.c
  bsp/loongson/ls2kdev/drivers/drv_gpio.c
  bsp/lpc54114-lite/drivers/drv_gpio.c
  bsp/maxim/libraries/HAL_Drivers/drv_gpio.c
  bsp/mm32/libraries/HAL_Drivers/drv_gpio.c
  bsp/mm32f103x/drivers/drv_gpio.c
  bsp/mm32f327x/drivers/drv_gpio.c
  bsp/mm32l3xx/drivers/drv_gpio.c
  bsp/n32/libraries/n32_drivers/drv_gpio.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_gpio.c
  bsp/nrf5x/libraries/drivers/drv_gpio.c
  bsp/nuclei/libraries/gd32vf103/HAL_Drivers/drv_gpio.c
  bsp/raspberry-pi/raspi3-32/driver/drv_gpio.c
  bsp/raspberry-pi/raspi3-64/driver/drv_gpio.c
  bsp/raspberry-pi/raspi4-32/driver/drv_gpio.c
  bsp/raspberry-pico/drivers/drv_gpio.c
  bsp/rockchip/common/drivers/drv_gpio.c
  bsp/rv32m1_vega/ri5cy/driver/drv_gpio.c
  bsp/smartfusion2/drivers/drv_gpio.c
  bsp/synwit/swm320/drivers/drv_gpio.c
  bsp/synwit/swm341/drivers/drv_gpio.c
  bsp/tae32f5300/drivers/drv_gpio.c
  bsp/ti/c28x/libraries/HAL_Drivers/drv_gpio.c
  bsp/tkm32F499/drivers/drv_gpio.c
  bsp/w60x/drivers/drv_pin.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_gpio.c
  bsp/wch/risc-v/Libraries/ch56x_drivers/ch56x_gpio.c
  bsp/yichip/yc3121-pos/drivers/drv_gpio.c
  bsp/zynqmp-r5-axu4ev/drivers/drv_gpio.c
Labels: +1, +2, BSP

#7467 [doxygen][libc] Add some comments for posix pthread functions
  components/libc/posix/pthreads/pthread_attr.c
Labels: +1, Doc

#7472 [bsp/airm2m] update:update AIR32F10xLib
  bsp/airm2m/air32f103/.config
  bsp/airm2m/air32f103/README.md
  bsp/airm2m/air32f103/board/board.h
  bsp/airm2m/air32f103/libraries/AIR32F10xLib/src/air32f10x_flash.c
  bsp/airm2m/air32f103/libraries/AIR32F10xLib/src/air32f10x_rcc_ex.c
  bsp/airm2m/air32f103/libraries/Startup/arm/startup_air32f10x.s
  bsp/airm2m/air32f103/libraries/Startup/gcc/linker/AIR32F103XB_FLASH.ld
  bsp/airm2m/air32f103/libraries/Startup/gcc/startup_air32f10x.s
  bsp/airm2m/air32f103/project.uvoptx
  bsp/airm2m/air32f103/project.uvprojx
  bsp/airm2m/air32f103/rtconfig.h
  bsp/airm2m/air32f103/template.uvprojx
Labels: BSP

#7483 [testcase][thread_tc]修复高优化等级时thread测试用例死循环的问题
  examples/utest/testcases/kernel/thread_tc.c
Labels: +1, +2

#7480 [CI][action] optimize the action view
  .github/workflows/action.yml
  bsp/raspberry-pi/raspi3-64/driver/Kconfig
  bsp/raspberry-pi/raspi4-32/driver/Kconfig
  bsp/raspberry-pi/raspi4-64/drivers/Kconfig
Labels: +1

#7474 [components/drivers] add result check for configure in `rt_spi_configure`
  components/drivers/spi/spi_core.c
Labels: +1

#7278 [bsp][bl][tools] add dist function
  bsp/bouffalo_lab/bl808/m0/rtconfig.py
  bsp/bouffalo_lab/bl808/tools/sdk_dist.py
Labels: in progress, discussion, BSP, tools

#7446 [Renesas]Modify player output buffer to dynamic malloc
  bsp/renesas/ra6m3-hmi-board/board/lvgl/demo/lv_demo_video.c
  bsp/renesas/ra6m3-hmi-board/board/ports/avi/player/player.c
  bsp/renesas/ra6m3-hmi-board/board/ports/drv_jpeg.c
  bsp/renesas/ra6m3-hmi-board/board/ports/drv_jpeg.h
Labels: BSP

#7470 [components][rndis.c] add a checkout procedure after creating variable intf_comm and intf_data to make sure them usable
  components/drivers/usb/usbdevice/class/rndis.c
Labels: component

#7482 [bsp/allwinner]update allwinnter libraries object file path
  bsp/allwinner/d1/SConstruct
  bsp/allwinner/d1s/SConstruct
  bsp/allwinner/libraries/sunxi-hal/hal/SConscript
Labels: +1

#7445 [Renesas]Modifying some script files
  bsp/renesas/ra6m3-hmi-board/board/Kconfig
  bsp/renesas/ra6m3-hmi-board/board/lvgl/demo/img/SConscript
  bsp/renesas/ra6m3-hmi-board/board/lvgl/demo/lv_demo.c
  bsp/renesas/ra6m3-hmi-board/board/ports/audio/SConscript
  bsp/renesas/ra6m3-hmi-board/board/ports/audio/pwm_audio.c
  bsp/renesas/ra6m3-hmi-board/board/ports/avi/SConscript
  bsp/renesas/ra6m3-hmi-board/board/ports/avi/player/SConscript
  bsp/renesas/ra6m3-hmi-board/board/ports/gpio_cfg.h
Labels: BSP

#7489 [components][libc][posix] fix RT_NAME_MAX misspelled as NAME_MAX
  components/libc/posix/ipc/mqueue.c
Labels: component

#7493 [HUST CSE]Update atoi_tc.c
  examples/utest/testcases/posix/stdlib_h/functions/atoi_tc.c
  examples/utest/testcases/posix/stdlib_h/functions/atol_tc.c
Labels: +1, +2, University: HUST IoTS&P Lab

#7370 [component][at] fix(misc): fix null char input issue(#7005) in components/net/at/src/…
  components/net/at/src/at_server.c
Labels: +1, +2, component

#7033 [libcpu][component][debug] add debug info for gdb
  components/lwp/arch/aarch64/cortex-a/lwp_gcc.S
  components/lwp/arch/arm/cortex-a/lwp_gcc.S
  components/lwp/arch/risc-v/rv64/lwp_gcc.S
  libcpu/aarch64/common/asm-generic.h
  libcpu/aarch64/common/asm_fpu.h
  libcpu/aarch64/common/context_gcc.S
  libcpu/aarch64/common/cpuport.h
  libcpu/aarch64/common/stack.c
  libcpu/arm/cortex-a/asm-generic.h
  libcpu/arm/cortex-a/cpuport.h
  libcpu/arm/cortex-a/stack.c
  libcpu/arm/cortex-a/start_gcc.S
  libcpu/risc-v/t-head/c906/asm-generic.h
  libcpu/risc-v/virt64/asm-generic.h
  libcpu/risc-v/virt64/cpuport_gcc.S
Labels: component, v5.0.1

#7503 [HUST CSE]fix fgets_tc.c
  examples/utest/testcases/posix/stdio_h/functions/fgets_tc.c
Labels: University: HUST IoTS&P Lab

#7475 [HUST CSE][components][udisk.c] add two checkout procedures after malloc to make sure allocating successfully
  components/drivers/usb/usbhost/class/udisk.c
Labels: +1, University: HUST IoTS&P Lab

#7394 [components][drivers][HUST CSE]修复serial_v2.c中可能产生的死循环
  components/drivers/serial/serial_v2.c
Labels: +1, University: HUST IoTS&P Lab, component

#7476 [device] Avoid repeated calls device_open interface.
  src/device.c
Labels: Kernel

#7488 [component] add openat syscall.
  components/dfs/dfs_v1/src/dfs_posix.c
  components/dfs/dfs_v2/src/dfs_posix.c
  components/lwp/lwp_syscall.c
Labels: component

#7506 [bsp][lpc55sxx]update: drv_soft_i2c
  bsp/lpc55sxx/Libraries/drivers/drv_i2c.c
  bsp/lpc55sxx/Libraries/drivers/drv_soft_i2c.c
  bsp/lpc55sxx/Libraries/drivers/drv_soft_i2c.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
Labels: BSP: NXP

#7508 [action] add ra6m3-hmi-board (#11)
  .github/workflows/action.yml
Labels: +1

#7499 [CI] Added feature to filter out files to file_check.py that do not require cppcheck
  .github/workflows/static_code_analysis.yml
  tools/ci/cpp_check.py
  tools/ci/format_ignore.py
Labels: action

#7511 [Add] v5.0.0 ChangeLog.md
  ChangeLog.md
Labels: v5.0.0, Doc

#7514 [bsp][lpc55sxx]update: drv_spi use rt_spi_bus_attach_device_cspin
  bsp/lpc55sxx/Libraries/drivers/drv_spi.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
  bsp/stm32/libraries/HAL_Drivers/drv_qspi.c
Labels: +1, +2

#7367 [kernel][src] possible issues
  src/thread.c
Labels: +1, +2, Kernel

#7486 [bsp/raspberry-pico] fix sys_tick setting wrong clock source
  bsp/raspberry-pico/board/board.c
Labels: +1, BSP: Raspberry-Pi

#7518 [bsp][nxp][imxrt1020] update to support Keil AC6
  bsp/imxrt/imxrt1021-nxp-evk/.config
  bsp/imxrt/imxrt1021-nxp-evk/board/MCUX_Config/dcd.c
  bsp/imxrt/imxrt1021-nxp-evk/board/MCUX_Config/dcd.h
  bsp/imxrt/imxrt1021-nxp-evk/board/SConscript
  bsp/imxrt/imxrt1021-nxp-evk/board/board.c
  bsp/imxrt/imxrt1021-nxp-evk/board/linker_scripts/link.sct
  bsp/imxrt/imxrt1021-nxp-evk/project.uvoptx
  bsp/imxrt/imxrt1021-nxp-evk/project.uvprojx
  bsp/imxrt/imxrt1021-nxp-evk/rtconfig.h
  bsp/imxrt/imxrt1021-nxp-evk/template.uvoptx
  bsp/imxrt/imxrt1021-nxp-evk/template.uvprojx
Labels: +1

#7504 [components][net][lwip][port] Fix next-hop finding in lwip_ip4_route_src.
  components/net/lwip/port/sys_arch.c
Labels: +1, +2

#6960 [bsp][gd32][spi] add spi3\spi4 support and rt_hw_spi_device_attach
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi.h
Labels: +1, BSP

#7516 [component] add sys_mount and umount2
  components/lwp/lwp_syscall.c
Labels: +1

#7507 [include][src] Add API to get object name and thread name
  include/rtthread.h
  src/object.c
  src/thread.c
Labels: +1, Kernel

#7528 [HUST CSE][example] fix some typo bugs about 'sucess' and others.
  bsp/microchip/common/applications/lwip_demo.c
  components/net/lwip/lwip-1.4.1/src/core/tcp_in.c
  components/net/lwip/lwip-1.4.1/src/include/lwip/tcp_impl.h
  components/net/lwip/lwip-2.0.3/doc/mqtt_client.txt
  components/net/lwip/lwip-2.1.2/doc/mqtt_client.txt
  documentation/network/network.md
  examples/network/tcpclient.c
  examples/network/tcpsendpacket.c
  examples/network/tcpserver.c
  examples/network/udpclient.c
  examples/network/udpserver.c
  examples/utest/README.md
  examples/utest/testcases/posix/pthread_h/functions/testfrmw/threads_scenarii.c
  examples/utest/testcases/posix/stdio_h/functions/fclose_tc.c
  tools/sconsui.py
Labels: +1, University: HUST IoTS&P Lab

#7515 [libcpu] fix arm/cortex-a/start_gcc.S
  libcpu/arm/cortex-a/start_gcc.S
Labels: +1

#7522 [bsp/Infineon]psoc6 add drv sdcard
  bsp/Infineon/libraries/HAL_Drivers/SConscript
  bsp/Infineon/libraries/HAL_Drivers/drv_sdcard.c
  bsp/Infineon/psoc6-evaluationkit-062S2/board/Kconfig
Labels: +1

#7544 [bsp][stm32][stm32l496-st-discovery] add stm32l496G DISCO bsp
  .github/workflows/action.yml
  bsp/stm32/README.md
  bsp/stm32/stm32l496-st-discovery/.config
  bsp/stm32/stm32l496-st-discovery/.gitignore
  bsp/stm32/stm32l496-st-discovery/Kconfig
  bsp/stm32/stm32l496-st-discovery/README.md
  bsp/stm32/stm32l496-st-discovery/SConscript
  bsp/stm32/stm32l496-st-discovery/SConstruct
  bsp/stm32/stm32l496-st-discovery/applications/SConscript
  bsp/stm32/stm32l496-st-discovery/applications/main.c
  bsp/stm32/stm32l496-st-discovery/board/.ignore_format.yml
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/Src/stm32l4xx_it.c
  bsp/stm32/stm32l496-st-discovery/board/CubeMX_Config/Src/system_stm32l4xx.c
  bsp/stm32/stm32l496-st-discovery/board/Kconfig
  bsp/stm32/stm32l496-st-discovery/board/SConscript
  bsp/stm32/stm32l496-st-discovery/board/board.c
  bsp/stm32/stm32l496-st-discovery/board/board.h
  bsp/stm32/stm32l496-st-discovery/board/linker_scripts/link.icf
  bsp/stm32/stm32l496-st-discovery/board/linker_scripts/link.lds
  bsp/stm32/stm32l496-st-discovery/board/linker_scripts/link.sct
  bsp/stm32/stm32l496-st-discovery/figures/board.png
  bsp/stm32/stm32l496-st-discovery/project.ewd
  bsp/stm32/stm32l496-st-discovery/project.ewp
  bsp/stm32/stm32l496-st-discovery/project.eww
  bsp/stm32/stm32l496-st-discovery/project.uvoptx
  bsp/stm32/stm32l496-st-discovery/project.uvprojx
  bsp/stm32/stm32l496-st-discovery/rtconfig.h
  bsp/stm32/stm32l496-st-discovery/rtconfig.py
  bsp/stm32/stm32l496-st-discovery/template.ewp
  bsp/stm32/stm32l496-st-discovery/template.eww
  bsp/stm32/stm32l496-st-discovery/template.uvoptx
  bsp/stm32/stm32l496-st-discovery/template.uvprojx
Labels: +1, +2

#7550 [libc error] 编译错误PATH_MAX 未定义，移除 mq 中的 PATH_MAX 判断
  components/libc/posix/ipc/mqueue.c
Labels: +1

#7553 [bsp][ra6m3-hmi-board] support gcc and llvm-arm toolchain.
  .github/workflows/action.yml
  bsp/renesas/ra6m3-hmi-board/SConscript
  bsp/renesas/ra6m3-hmi-board/board/ports/audio/SConscript
  bsp/renesas/ra6m3-hmi-board/board/ports/avi/SConscript
  bsp/renesas/ra6m3-hmi-board/board/ports/wifi/SConscript
  bsp/renesas/ra6m3-hmi-board/ra/SConscript
  bsp/renesas/ra6m3-hmi-board/ra/fsp/src/bsp/cmsis/Device/RENESAS/Source/startup.c
  bsp/renesas/ra6m3-hmi-board/ra_cfg/SConscript
  bsp/renesas/ra6m3-hmi-board/ra_gen/SConscript
  bsp/renesas/ra6m3-hmi-board/rtconfig.py
  bsp/renesas/ra6m3-hmi-board/script/fsp.ld
Labels: +1

#7563 [bsp][imxrt]dos to unix in linux
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_dac12.h
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_lpadc.h
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_semc.h
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/utilities/debug_console/fsl_debug_console_conf.h
Labels: +1

#7552 [bsp] Add .config Kconfig file to some old bsp
  bsp/lpc176x/.config
  bsp/lpc176x/Kconfig
  bsp/lpc176x/rtconfig.h
  bsp/lpc178x/.config
  bsp/lpc178x/Kconfig
  bsp/lpc178x/drivers/uart.c
  bsp/lpc178x/rtconfig.h
  bsp/lpc2148/.config
  bsp/lpc2148/Kconfig
  bsp/lpc2148/rtconfig.h
  bsp/lpc2478/.config
  bsp/lpc2478/Kconfig
  bsp/lpc2478/rtconfig.h
  bsp/lpc5410x/.config
  bsp/lpc5410x/Kconfig
  bsp/lpc5410x/rtconfig.h
  bsp/xplorer4330/M4/.config
  bsp/xplorer4330/M4/Kconfig
  bsp/xplorer4330/M4/rtconfig.h
Labels: +1, BSP: NXP, BSP, wait_+2

#7567 [bsp][Infineon]Fix drv_gpio and spi problem
  bsp/Infineon/libraries/HAL_Drivers/drv_gpio.c
  bsp/Infineon/libraries/HAL_Drivers/drv_spi.c
  bsp/Infineon/psoc6-evaluationkit-062S2/board/Kconfig
Labels: +1, +2

#7577 [bsp/bouffalo_lab]add sdcard driver
  bsp/bouffalo_lab/README.md
  bsp/bouffalo_lab/bl61x/board/Kconfig
  bsp/bouffalo_lab/bl61x/board/board.c
  bsp/bouffalo_lab/bl61x/board/fw_header.c
  bsp/bouffalo_lab/bl61x/flash_prog_cfg.ini
  bsp/bouffalo_lab/bouffalo_flash_cube.sh
  bsp/bouffalo_lab/libraries/rt_drivers/Kconfig
  bsp/bouffalo_lab/libraries/rt_drivers/SConscript
  bsp/bouffalo_lab/libraries/rt_drivers/drv_sdh.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_sdh.h
Labels: +1, +2

#7579 [RTduino][stm32][pandora] support Arduino libraries demos
  bsp/stm32/stm32l475-atk-pandora/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/ST7789_demo.cpp
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/SConscript
Labels: +1

#7569 [bsp][lpc55sxx]add: drv_lcd and drv_touch
  bsp/lpc55sxx/Libraries/drivers/SConscript
  bsp/lpc55sxx/Libraries/drivers/drv_gt911.c
  bsp/lpc55sxx/Libraries/drivers/drv_gt911.h
  bsp/lpc55sxx/Libraries/drivers/drv_i2c.c
  bsp/lpc55sxx/Libraries/drivers/drv_spi.h
  bsp/lpc55sxx/Libraries/drivers/drv_st7796.c
  bsp/lpc55sxx/Libraries/drivers/drv_st7796.h
  bsp/lpc55sxx/Libraries/drivers/sample/lcd_sample.c
  bsp/lpc55sxx/Libraries/drivers/sample/lcd_touch_sample.c
  bsp/lpc55sxx/Libraries/drivers/sample/touch_sample.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
Labels: +1, +2, BSP: NXP
