Repository RT-Thread/rt-thread, pull requests merged in 2023-12, with the labels that each got.

#8068 release mutex when thread delete
  src/thread.c
Labels: change req

#8343 [tools] format the options
  tools/building.py
  tools/options.py
Labels: +1

#8382 ✨ feat(rtdef.h): add rt_always_inline
  include/rtdef.h
Labels: +1

#8361 ✨ feat(idle): add _hook_spinlock, rm _idle_inited
  src/idle.c
Labels: +1

#8364 🐞 fix(mempool): fix assert
  src/mempool.c
Labels: +1

#8365 🐞 fix(thread): fix thread_exit/detach/delete
  src/thread.c
Labels: +1

#8410 [ci][attachconfig] del debug time
  tools/ci/bsp_buildings.py
Labels: +1

#8398 [pwm] Add second-level command completion
  components/drivers/misc/rt_drv_pwm.c
Labels: +1

#8366 🐞 fix: fix rt_thread_delay, assert, deadlock
  src/ipc.c
  src/scheduler_mp.c
  src/thread.c
Labels: +1

#8023 Add zynq7000 bsp
  bsp/zynq/zynq7000/.config
  bsp/zynq/zynq7000/Kconfig
  bsp/zynq/zynq7000/README.md
  bsp/zynq/zynq7000/SConscript
  bsp/zynq/zynq7000/SConstruct
  bsp/zynq/zynq7000/Xilinx.spec
  bsp/zynq/zynq7000/applications/SConscript
  bsp/zynq/zynq7000/applications/app.c
  bsp/zynq/zynq7000/bootgen/.gitignore
  bsp/zynq/zynq7000/bootgen/build.bat
  bsp/zynq/zynq7000/bootgen/output.bif
  bsp/zynq/zynq7000/bsp/.gitignore
  bsp/zynq/zynq7000/bsp/SConscript
  bsp/zynq/zynq7000/drivers/Kconfig
  bsp/zynq/zynq7000/drivers/SConscript
  bsp/zynq/zynq7000/drivers/board.c
  bsp/zynq/zynq7000/drivers/board.h
  bsp/zynq/zynq7000/drivers/drv_emmc.c
  bsp/zynq/zynq7000/drivers/drv_gpio.c
  bsp/zynq/zynq7000/drivers/drv_gpio.h
  bsp/zynq/zynq7000/drivers/drv_spiflash.c
  bsp/zynq/zynq7000/drivers/drv_timer.c
  bsp/zynq/zynq7000/drivers/drv_uart.c
  bsp/zynq/zynq7000/drivers/fal_cfg.h
  bsp/zynq/zynq7000/figures/board.jpg
  bsp/zynq/zynq7000/figures/step_2.png
  bsp/zynq/zynq7000/figures/step_3.png
  bsp/zynq/zynq7000/figures/step_4.png
  bsp/zynq/zynq7000/figures/step_5.png
  bsp/zynq/zynq7000/figures/step_6.png
  bsp/zynq/zynq7000/figures/step_7.png
  bsp/zynq/zynq7000/figures/step_8.png
  bsp/zynq/zynq7000/figures/step_9.png
  bsp/zynq/zynq7000/figures/step_9_1.png
  bsp/zynq/zynq7000/lscript.ld
  bsp/zynq/zynq7000/rtconfig.h
  bsp/zynq/zynq7000/rtconfig.py
Labels: BSP: new bsp board

#8362 🎈 perf(kservice): perf rt_hw_interrupt_disable/enable，fix memheap lock
  src/kservice.c
Labels: +1

#8368 🐞 fix(cpu): cpus_lock should lock scheduler
  src/cpu.c
Labels: +1
