Repository RT-Thread/rt-thread, pull requests merged in 2023-11, with the labels that each got.

#8206 [smart] fixup of lwp recycling and mm varea
  components/dfs/dfs_v2/src/dfs.c
  components/lwp/libc_musl.h
  components/lwp/lwp.c
  components/lwp/lwp.h
  components/lwp/lwp_pid.c
  components/lwp/lwp_pid.h
  components/lwp/lwp_pmutex.c
  components/lwp/lwp_signal.c
  components/lwp/lwp_syscall.c
  components/lwp/lwp_syscall.h
  components/mm/mm_anon.c
  components/mm/mm_object.c
  components/mm/mm_page.c
  components/mm/mm_private.h
  examples/utest/testcases/mm/mm_lwp_tc.c
  libcpu/aarch64/SConscript
  libcpu/aarch64/common/trap.c
Labels: +1, wait_+2

#8237 ESP32C3 add program ways in Linux
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/README_ZH.md
Labels: +2

#8251 FINSH: 优化MSH宏定义
  components/finsh/finsh.h
Labels: +1

#8269 [components] remove vmm
  bsp/beaglebone/applications/board.c
  components/vmm/SConscript
  components/vmm/linux_patch-v3.8/0001-RTT-VMM-implement-dual-system-running-on-realview-pb.patch
  components/vmm/linux_patch-v3.8/0002-arm-gic-correct-the-cpu-map-on-gic_raise_softirq-for.patch
  components/vmm/vmm.c
  components/vmm/vmm.h
  components/vmm/vmm_context.c
  components/vmm/vmm_context.h
  components/vmm/vmm_iomap.c
  components/vmm/vmm_vector.c
  libcpu/arm/realview-a8-vmm/context_gcc.S
  libcpu/arm/realview-a8-vmm/gic.c
  libcpu/arm/realview-a8-vmm/interrupt.c
  libcpu/arm/realview-a8-vmm/start_gcc.S
  libcpu/arm/realview-a8-vmm/trap.c
Labels: +1

#7690 enable art-pi spi flash use elmfatfs
  bsp/stm32/stm32h750-artpi/board/port/filesystem.c
Labels: +2

#8278 fix dfsv2 romfs dfs_romfs_getdents buffer overflow.
  components/dfs/dfs_v2/filesystems/romfs/dfs_romfs.c
Labels: +1

#8307 修复 #8293 问题
  components/lwp/lwp_syscall.c
  components/net/sal/include/sal_socket.h
  components/net/sal/src/sal_socket.c
Labels: +1, +2

#8312 [bsp][c3]: Add macro control to sconscript
  bsp/ESP32_C3/drivers/Kconfig
  bsp/ESP32_C3/drivers/SConscript
Labels: +1, +2
