Repository RT-Thread/rt-thread, pull requests merged in 2023-09, with the labels that each got.

#7999 [rtdef] rename RT_CTASSERT to RT_STATIC_ASSERT
  components/lwp/lwp_signal.c
  components/lwp/lwp_syscall.c
  components/mm/mm_page.c
  include/rtdef.h
Labels: +1

#8010 [ci] use env install script
  .github/workflows/action.yml
Labels: +1, action

#8015 fix(air links): 对应厂家手册将RAM容量改为96kb
  bsp/airm2m/air32f103/board/linker_scripts/link.icf
  bsp/airm2m/air32f103/board/linker_scripts/link.lds
  bsp/airm2m/air32f103/board/linker_scripts/link.sct
Labels: +1

#8012 [fix] copyfile dest file empty first
  components/dfs/dfs_v1/src/dfs_file.c
  components/dfs/dfs_v2/src/dfs_file.c
Labels: +1

#8019 修复单次触发alarm，重复使用不启动定时器的bug
  components/drivers/rtc/alarm.c
Labels: +1

#8024 [修改]：alarm 将年月日也传给驱动层
  components/drivers/include/drivers/rtc.h
  components/drivers/rtc/alarm.c
Labels: +2

#8038 [BSP/rockchip/rk3568] fixup heapmem init flow
  bsp/rockchip/rk3568/driver/board.c
Labels: +1, v5.0.2, BSP:Rockchip

#8049 [kernel] fix interruptible typo
  components/net/lwip/port/sys_arch.c
  include/rtthread.h
  src/ipc.c
Labels: v5.0.2

#8047 Adapt rt_channel, increase the generality of some rt_channel functionality on dfs v2, and standardize signalfd
  components/libc/compilers/common/include/dirent.h
  components/libc/posix/Kconfig
  components/libc/posix/io/epoll/epoll.c
  components/libc/posix/io/eventfd/eventfd.c
  components/libc/posix/io/signalfd/signalfd.c
  components/lwp/lwp_ipc.c
Labels: v5.0.2

#8061 [kservice]Improve rt_strerror function compatibility
  src/kservice.c
Labels: +1

#8057 [utest] 更改 thread_tc 线程栈的大小，避免 64 位机器导致的栈异常
  examples/utest/testcases/kernel/thread_tc.c
Labels: +1, v5.0.2

#8058 [smart] Updated the API for kernel access to user address issues and for calculating string length
  components/lwp/lwp.h
  components/lwp/lwp_syscall.c
  components/lwp/lwp_user_mm.c
  components/lwp/lwp_user_mm.h
Labels: v5.0.2

#8011 🐞 fix(soft_rtc): fix unsupported TIMEVAL and GET_TIMERES
  components/drivers/rtc/soft_rtc.c
Labels: +1, v5.0.2

#8048 feat: support sdl2
  bsp/allwinner/libraries/drivers/drv_lcd.c
  bsp/allwinner/libraries/drivers/drv_lcd.h
  components/drivers/include/drivers/lcd.h
Labels: v5.0.2

#8082 [utest] 添加 signal 依赖项
  examples/utest/testcases/kernel/Kconfig
Labels: +1, +2, v5.0.2

#8085 [tools] Correct prompt message
  tools/kconfig-frontends/frontends/mconf/mconf.c
Labels: +1

#8087 [bsp][pico] Optimize Kconfig configuration
  bsp/raspberry-pico/libraries/Kconfig
Labels: +1

#8069 [tools]fix scons --dist , menuconfig will error
  .github/workflows/action_tools.yml
  libcpu/Kconfig
  libcpu/aarch64/Kconfig
Labels: v5.0.2

#8081 [bsp][nuclei] fix "usb_conf.h not found"
  bsp/nuclei/gd32vf103_rvstar/applications/usb_conf.h
  bsp/nuclei/gd32vf103_rvstar/applications/usbd_conf.h
  bsp/nuclei/gd32vf103_rvstar/applications/usbh_conf.h
Labels: +1

#8088 修复 qemu 挂载 elm 文件系统失败
  bsp/qemu-virt64-aarch64/qemu-debug.sh
  bsp/qemu-virt64-aarch64/qemu-graphic.sh
  bsp/qemu-virt64-aarch64/qemu.sh
  bsp/qemu-virt64-riscv/qemu-nographic.sh
  bsp/qemu-virt64-riscv/qemu-v-nographic.sh
Labels: v5.0.2

#8093 [utest] 更改线程栈的大小，避免栈异常
  examples/utest/testcases/kernel/atomic_tc.c
  examples/utest/testcases/kernel/event_tc.c
  examples/utest/testcases/kernel/mailbox_tc.c
  examples/utest/testcases/kernel/messagequeue_tc.c
  examples/utest/testcases/kernel/mutex_tc.c
  examples/utest/testcases/kernel/thread_tc.c
Labels: +1

#7997 [serial_v2] 修复阻塞模式下中断发送的逻辑顺序问题与多线程下的竞态条件
  components/drivers/serial/serial_v2.c
Labels: v5.0.2
