Repository RT-Thread/rt-thread, pull requests merged in 2023-01, with the labels that each got.

#6758 [stm32][adc]更改配置通道与校准函数顺序
  bsp/stm32/libraries/HAL_Drivers/drv_adc.c
Labels: +1, BSP: STM32

#6778 [libc][unistd.h] define F_OK
  components/libc/compilers/common/include/sys/unistd.h
  components/utilities/ulog/backend/file_be.c
Labels: +1

#6803 [libcpu][riscv]移除cv32e40p中部分文件，使用common中的文件
  bsp/core-v-mcu/core-v-cv32e40p/rtconfig.py
  libcpu/risc-v/SConscript
  libcpu/risc-v/common/SConscript
  libcpu/risc-v/cv32e40p/context_gcc.S
  libcpu/risc-v/cv32e40p/cpuport.c
  libcpu/risc-v/cv32e40p/cpuport.h
Labels: +1

#6783 USB CDC驱动在win11下无法识别，看了微软的描述修改子类后正常
  components/drivers/usb/usbdevice/class/cdc_vcom.c
Labels: +1

#6812 [libc] redirecting header sys/signal to signal
  components/libc/compilers/common/include/sys/signal.h
Labels: +1, +2

#6781 [drivers][serial_v2]修复DMA+TX阻塞模式异常
  components/drivers/serial/serial_v2.c
Labels: +1, BSP: STM32

#6822 [bsp][lpc55sxx] i2c driver fix&repair
  bsp/lpc55sxx/Libraries/drivers/drv_adc.c
  bsp/lpc55sxx/Libraries/drivers/drv_adc.h
  bsp/lpc55sxx/Libraries/drivers/drv_hwtimer.c
  bsp/lpc55sxx/Libraries/drivers/drv_hwtimer.h
  bsp/lpc55sxx/Libraries/drivers/drv_i2c.c
  bsp/lpc55sxx/Libraries/drivers/drv_i2c.h
  bsp/lpc55sxx/Libraries/drivers/drv_key.c
  bsp/lpc55sxx/Libraries/drivers/drv_key.h
  bsp/lpc55sxx/Libraries/drivers/drv_led.c
  bsp/lpc55sxx/Libraries/drivers/drv_led.h
  bsp/lpc55sxx/Libraries/drivers/drv_log.h
  bsp/lpc55sxx/Libraries/drivers/drv_mma8562.c
  bsp/lpc55sxx/Libraries/drivers/drv_pin.c
  bsp/lpc55sxx/Libraries/drivers/drv_pin.h
  bsp/lpc55sxx/Libraries/drivers/drv_pwm.c
  bsp/lpc55sxx/Libraries/drivers/drv_pwm.h
  bsp/lpc55sxx/Libraries/drivers/drv_rtc.c
  bsp/lpc55sxx/Libraries/drivers/drv_rtc.h
  bsp/lpc55sxx/Libraries/drivers/drv_sd.c
  bsp/lpc55sxx/Libraries/drivers/drv_sd.h
  bsp/lpc55sxx/Libraries/drivers/drv_spi.c
  bsp/lpc55sxx/Libraries/drivers/drv_spi.h
  bsp/lpc55sxx/Libraries/drivers/drv_uart.c
  bsp/lpc55sxx/Libraries/drivers/drv_uart.h
  bsp/lpc55sxx/Libraries/drivers/drv_wdt.c
  bsp/lpc55sxx/Libraries/drivers/drv_wdt.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/.config
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/MCUX_Config/board/pin_mux.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.ewp
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.uvoptx
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.uvprojx
  bsp/lpc55sxx/lpc55s69_nxp_evk/rtconfig.h
Labels: +1

#6823 Add ra6m3 readme
  bsp/renesas/ra6m3-ek/README.md
  bsp/renesas/ra6m3-ek/docs/picture/ek-ra6m3g.png
Labels: +1

#6825 [smart] 简单适配用户态 mq
  components/libc/posix/ipc/mqueue.c
  components/lwp/lwp_syscall.c
Labels: +2

#6831 Update Infineon documents
  README.md
  README_de.md
  README_es.md
  README_zh.md
  bsp/Infineon/docs/PSOC6系列BSP制作教程.md
  bsp/Infineon/docs/figures/hal_config1.png
  bsp/Infineon/docs/figures/hal_config2.png
  bsp/Infineon/docs/figures/hal_config3.png
  bsp/Infineon/docs/figures/hal_config4.png
  bsp/Infineon/docs/figures/hal_config5.png
  bsp/Infineon/docs/figures/hal_config6.png
  bsp/Infineon/docs/figures/hal_config7.png
  bsp/Infineon/docs/figures/linker_scripts1.png
  bsp/Infineon/docs/figures/linker_scripts2.png
Labels: +1, +2

#6829 [rt-smart] fix compiler warning messages
  components/lwp/lwp_syscall.c
Labels: +1, +2

#6830 fix cputime and ctime.
  components/drivers/Kconfig
  components/drivers/cputime/cputime.c
  components/drivers/cputime/cputime_cortexm.c
  components/drivers/cputime/cputime_riscv.c
  components/drivers/include/drivers/cputime.h
  components/libc/compilers/common/ctime.c
Labels: +1, +2

#6827 更新ch32v307的RTduino的readme文件
  bsp/wch/risc-v/ch32v307v-r1/applications/arduino_pinout/README.md
Labels: in progress

#6835 Add RA6M3 Studio Support
  bsp/renesas/ra6m3-ek/.config
  bsp/renesas/ra6m3-ek/.cproject
  bsp/renesas/ra6m3-ek/.project
  bsp/renesas/ra6m3-ek/.settings/language.settings.xml
  bsp/renesas/ra6m3-ek/.settings/projcfg.ini
  bsp/renesas/ra6m3-ek/.settings/ra6m3-temp.JLink.Debug.rttlaunch
  bsp/renesas/ra6m3-ek/README.md
  bsp/renesas/ra6m3-ek/board/Kconfig
  bsp/renesas/ra6m3-ek/buildinfo.gpdsc
  bsp/renesas/ra6m3-ek/project.uvoptx
  bsp/renesas/ra6m3-ek/project.uvprojx
  bsp/renesas/ra6m3-ek/rtconfig.h
  bsp/renesas/ra6m3-ek/rtconfig.py
  bsp/renesas/ra6m3-ek/script/fsp.ld
  bsp/renesas/ra6m3-ek/script/memory_regions.ld
  bsp/renesas/ra6m3-ek/template.uvoptx
  bsp/renesas/ra6m3-ek/template.uvprojx
Labels: +1, +2

#6834 [rt-smart/mm] enable mm on armv7, armv8, rv64 only
  components/mm/SConscript
Labels: +1, +2

#6833 Fix building issue of Nuvoton porting.
  bsp/nuvoton/libraries/m031/rtt_port/SConscript
  bsp/nuvoton/libraries/m2354/rtt_port/SConscript
  bsp/nuvoton/libraries/m460/rtt_port/SConscript
  bsp/nuvoton/libraries/m480/rtt_port/SConscript
  bsp/nuvoton/libraries/ma35/libcpu/arm/cortex-m4/SConscript
  bsp/nuvoton/libraries/ma35/rtt_port/SConscript
  bsp/nuvoton/libraries/n9h30/rtt_port/SConscript
  bsp/nuvoton/libraries/nuc980/rtt_port/SConscript
  bsp/nuvoton/ma35-rtp/board/SConscript
  bsp/nuvoton/nk-980iot/.config
  bsp/nuvoton/nk-980iot/board/SConscript
  bsp/nuvoton/nk-980iot/config_lvgl
  bsp/nuvoton/nk-980iot/rtconfig.py
  bsp/nuvoton/nk-980iot/spinor.config
  bsp/nuvoton/nk-n9h30/board/SConscript
  bsp/nuvoton/nk-rtu980/.config
  bsp/nuvoton/nk-rtu980/board/SConscript
  bsp/nuvoton/nk-rtu980/rtconfig.py
  bsp/nuvoton/numaker-hmi-ma35d1/board/SConscript
  bsp/nuvoton/numaker-hmi-ma35d1/preload/SConscript
  bsp/nuvoton/numaker-iot-m467/board/SConscript
  bsp/nuvoton/numaker-iot-m487/board/SConscript
  bsp/nuvoton/numaker-iot-ma35d1/board/SConscript
  bsp/nuvoton/numaker-iot-ma35d1/preload/SConscript
  bsp/nuvoton/numaker-m032ki/board/SConscript
  bsp/nuvoton/numaker-m2354/board/SConscript
  bsp/nuvoton/numaker-m467hj/board/SConscript
  bsp/nuvoton/numaker-pfm-m487/board/SConscript
Labels: +1, +2

#6841 fix the syntax error of drv_spi.c in lpc55sxx.
  bsp/lpc55sxx/Libraries/drivers/drv_spi.c
Labels: +1

#6550 [env] add scons --strict
  bsp/stm32/stm32f411-st-nucleo/rtconfig.py
  tools/building.py
  tools/options.py
Labels: +1

#6847 [rt-smart][fix/lwp] don't restore terminal for background lwp
  components/drivers/include/drivers/serial.h
  components/drivers/include/drivers/serial_v2.h
  components/drivers/serial/serial.c
  components/drivers/serial/serial_v2.c
  components/lwp/lwp.c
  components/lwp/lwp.h
  components/lwp/lwp_pid.c
Labels: +1, +2

#6849 [bsp] wch ch32v307v-r1动态初始化堆内存
  bsp/wch/risc-v/ch32v307v-r1/README.md
  bsp/wch/risc-v/ch32v307v-r1/README_zh.md
  bsp/wch/risc-v/ch32v307v-r1/board/board.c
  bsp/wch/risc-v/ch32v307v-r1/board/board.h
Labels: +1

#6853 [IFX]Remove HAL_Drivers/config folder
  bsp/Infineon/libraries/HAL_Drivers/config/Pre_Include_Global.h
  bsp/Infineon/libraries/HAL_Drivers/config/RTE_Components.h
  bsp/Infineon/libraries/templates/PSOC62/project.uvoptx
  bsp/Infineon/libraries/templates/PSOC62/project.uvprojx
Labels: +1

#6860 [bsp/bl808] update: READme
  bsp/bl808/README.md
Labels: +1

#6864 [stm32][spi] spi attach函数问题解决方案
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.h
  bsp/stm32/stm32f103-100ask-pro/board/ports/spi_flash_init.c
  bsp/stm32/stm32f103-atk-nano/board/ports/spi_flash_init.c
  bsp/stm32/stm32f103-dofly-M3S/applications/nrf24l01_init.c
  bsp/stm32/stm32f103-dofly-M3S/board/ports/drv_sdcard.c
  bsp/stm32/stm32f103-dofly-M3S/board/ports/spi_flash_init.c
  bsp/stm32/stm32f103-fire-arbitrary/board/ports/spi_flash_init.c
  bsp/stm32/stm32f103-fire-arbitrary/board/ports/w5500_device.c
  bsp/stm32/stm32f103-hw100k-ibox/board/ports/w5500_device.c
  bsp/stm32/stm32f407-armfly-v5/board/ports/spi_flash_init.c
  bsp/stm32/stm32f407-atk-explorer/board/ports/spi_flash_init.c
  bsp/stm32/stm32f411-atk-nano/board/ports/spi_flash_init.c
  bsp/stm32/stm32f429-armfly-v6/board/ports/spi_flash_init.c
  bsp/stm32/stm32f429-atk-apollo/board/ports/spi_flash_init.c
  bsp/stm32/stm32f429-fire-challenger/board/ports/spi_flash_init.c
  bsp/stm32/stm32h750-artpi/board/port/drv_spi_ili9488.c
  bsp/stm32/stm32h750-artpi/board/port/spi_flash_init.c
  bsp/stm32/stm32h750-weact-ministm32h7xx/board/port/drv_spi_flash.c
  bsp/stm32/stm32l431-BearPi/board/ports/lcd/drv_lcd.c
  bsp/stm32/stm32l475-atk-pandora/applications/nrf24l01_init.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/drv_filesystem.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/lcd/drv_lcd.c
  bsp/stm32/stm32l496-ali-developer/board/ports/drv_spi_lcd.c
  bsp/stm32/stm32mp157a-st-discovery/board/ports/spi_sample.c
  bsp/stm32/stm32mp157a-st-ev1/board/ports/spi_sample.c
  components/drivers/include/drivers/pin.h
  components/drivers/include/drivers/spi.h
  components/drivers/spi/spi_core.c
Labels: +1

#6862 [D1s]Add mksdcard.sh
  bsp/allwinner/d1s/mksdcard.sh
Labels: +1

#6837 [Ymodem]sy命令支持绝对路径传输
  components/utilities/ymodem/ry_sy.c
  components/utilities/ymodem/ymodem.c
Labels: +1

#6870 为c906添加asid支持
  components/mm/mm_aspace.h
  libcpu/risc-v/t-head/c906/mmu.c
  libcpu/risc-v/t-head/c906/riscv_mmu.h
Labels: +1

#6875 [tools][keil] 生成工程时选定C99和GNU扩展方法
  tools/keil.py
Labels: +1, +2
