Repository RT-Thread/rt-thread, pull requests merged in 2023-06, with the labels that each got.

#7588 [ctime]解决clock_gettime计算出来的nsec超过1sec的问题
  components/libc/compilers/common/ctime.c
Labels: +1

#7591 [bsp][pico]add: drv_soft_i2c
  bsp/raspberry-pico/drivers/drv_soft_i2c.c
  bsp/raspberry-pico/drivers/drv_soft_i2c.h
  bsp/raspberry-pico/libraries/Kconfig
Labels: +1

#7593 [stm32][spi-dma] 只有传输数据超过一定长度才会使用DMA方式
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1

#7596 [bsp][lpc55sxx]update: drv_soft_i2c drv_soft_spi
  bsp/lpc55sxx/Libraries/drivers/drv_soft_i2c.c
  bsp/lpc55sxx/Libraries/drivers/drv_soft_i2c.h
  bsp/lpc55sxx/Libraries/drivers/drv_soft_spi.c
  bsp/lpc55sxx/Libraries/drivers/drv_soft_spi.h
  bsp/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
Labels: +1

#7598 [bsp][pico]update: add drv_soft_spi
  bsp/raspberry-pico/drivers/SConscript
  bsp/raspberry-pico/drivers/drv_soft_spi.c
  bsp/raspberry-pico/drivers/drv_soft_spi.h
  bsp/raspberry-pico/libraries/Kconfig
Labels: +1

#7599 [bsp][gd32]fixed sf probe error
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi_flash.c
Labels: +1

#7603 [bsp][pico]update: add drv_adc
  bsp/raspberry-pico/.config
  bsp/raspberry-pico/drivers/SConscript
  bsp/raspberry-pico/drivers/drv_adc.c
  bsp/raspberry-pico/drivers/drv_adc.h
  bsp/raspberry-pico/libraries/Kconfig
  bsp/raspberry-pico/libraries/SConscript
  bsp/raspberry-pico/rtconfig.h
Labels: +1, BSP

#7600 [bsp][stm32] add STM32F334 NUCLEO BSP
  .github/workflows/action.yml
  bsp/stm32/README.md
  bsp/stm32/stm32f334-st-nucleo/.config
  bsp/stm32/stm32f334-st-nucleo/.gitignore
  bsp/stm32/stm32f334-st-nucleo/Kconfig
  bsp/stm32/stm32f334-st-nucleo/README.md
  bsp/stm32/stm32f334-st-nucleo/SConscript
  bsp/stm32/stm32f334-st-nucleo/SConstruct
  bsp/stm32/stm32f334-st-nucleo/applications/SConscript
  bsp/stm32/stm32f334-st-nucleo/applications/main.c
  bsp/stm32/stm32f334-st-nucleo/board/.ignore_format.yml
  bsp/stm32/stm32f334-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f334-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f334-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f334-st-nucleo/board/CubeMX_Config/Inc/stm32f3xx_hal_conf.h
  bsp/stm32/stm32f334-st-nucleo/board/CubeMX_Config/Inc/stm32f3xx_it.h
  bsp/stm32/stm32f334-st-nucleo/board/CubeMX_Config/Src/stm32f3xx_hal_msp.c
  bsp/stm32/stm32f334-st-nucleo/board/Kconfig
  bsp/stm32/stm32f334-st-nucleo/board/SConscript
  bsp/stm32/stm32f334-st-nucleo/board/board.c
  bsp/stm32/stm32f334-st-nucleo/board/board.h
  bsp/stm32/stm32f334-st-nucleo/board/linker_scripts/link.icf
  bsp/stm32/stm32f334-st-nucleo/board/linker_scripts/link.lds
  bsp/stm32/stm32f334-st-nucleo/board/linker_scripts/link.sct
  bsp/stm32/stm32f334-st-nucleo/figures/board.png
  bsp/stm32/stm32f334-st-nucleo/project.ewd
  bsp/stm32/stm32f334-st-nucleo/project.ewp
  bsp/stm32/stm32f334-st-nucleo/project.eww
  bsp/stm32/stm32f334-st-nucleo/project.uvoptx
  bsp/stm32/stm32f334-st-nucleo/project.uvprojx
  bsp/stm32/stm32f334-st-nucleo/rtconfig.h
  bsp/stm32/stm32f334-st-nucleo/rtconfig.py
  bsp/stm32/stm32f334-st-nucleo/template.ewp
  bsp/stm32/stm32f334-st-nucleo/template.eww
  bsp/stm32/stm32f334-st-nucleo/template.uvoptx
  bsp/stm32/stm32f334-st-nucleo/template.uvprojx
Labels: +1, +2

#7611 [bsp][LPC4088] 增加IAR环境的支持
  bsp/lpc408x/.config
  bsp/lpc408x/Libraries/Device/NXP/LPC407x_8x_177x_8x/Source/Templates/IAR/startup_LPC407x_8x_177x_8x.s
  bsp/lpc408x/drivers/linker_scripts/link.icf
  bsp/lpc408x/rtconfig.h
  bsp/lpc408x/rtconfig.py
  bsp/lpc408x/template.ewp
  bsp/lpc408x/template.eww
Labels: +1, +2

#7597 [serial_v1] 增加变量 DR_mask 成员变量提高效率
  bsp/stm32/libraries/HAL_Drivers/drv_usart.c
  bsp/stm32/libraries/HAL_Drivers/drv_usart.h
Labels: +1, +2

#7615 [bsp][gd32]添加 GD32F303 的 pwm 驱动
  bsp/gd32/arm/libraries/gd32_drivers/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_pwm.c
Labels: +1

#7624 [bsp/ra6m3-hmi-board]add english README.md
  bsp/renesas/ra6m3-hmi-board/README.md
  bsp/renesas/ra6m3-hmi-board/README_ZH.md
Labels: +1

#7609 [simulator] 修复 linux simulator 编译运行失败
  bsp/simulator/.config
  bsp/simulator/SConscript
  bsp/simulator/SConstruct
  bsp/simulator/drivers/drv_rtc.c
  bsp/simulator/gcc_elf64.ld
  bsp/simulator/rtconfig.h
  bsp/simulator/rtconfig.py
  components/libc/compilers/common/SConscript
  components/libc/compilers/common/ctime.c
  components/libc/compilers/common/include/sys/time.h
  libcpu/sim/posix/cpu_port.c
  libcpu/sim/posix/startup.c
Labels: +1, +2, BSP

#7634 [risc-v][libcpu] 删去无用局部变量
  libcpu/risc-v/common/trap_common.c
Labels: +1

#7619 [bsp][essemi]es32vf2264更新部分库函数和驱动，添加RTduino支持
  bsp/essemi/es32f0654/Kconfig
  bsp/essemi/es32f365x/Kconfig
  bsp/essemi/es32f369x/Kconfig
  bsp/essemi/es32vf2264/Kconfig
  bsp/essemi/es32vf2264/applications/SConscript
  bsp/essemi/es32vf2264/applications/arduino_main.cpp
  bsp/essemi/es32vf2264/applications/arduino_pinout/README.md
  bsp/essemi/es32vf2264/applications/arduino_pinout/SConscript
  bsp/essemi/es32vf2264/applications/arduino_pinout/arduino_pins.xlsx
  bsp/essemi/es32vf2264/applications/arduino_pinout/examples/arduino_examples.cpp
  bsp/essemi/es32vf2264/applications/arduino_pinout/picture/image-20230602165933931.png
  bsp/essemi/es32vf2264/applications/arduino_pinout/pins_arduino.c
  bsp/essemi/es32vf2264/applications/arduino_pinout/pins_arduino.h
  bsp/essemi/es32vf2264/drivers/ES/es_conf_info_map.h
  bsp/essemi/es32vf2264/drivers/ES/es_conf_info_pwm.h
  bsp/essemi/es32vf2264/drivers/Kconfig
  bsp/essemi/es32vf2264/drivers/SConscript
  bsp/essemi/es32vf2264/drivers/drv_pwm.c
  bsp/essemi/es32vf2264/drivers/drv_spi.c
  bsp/essemi/es32vf2264/drivers/es32vf2264.ld
  bsp/essemi/es32vf2264/libraries/ALD/ES32VF2264/Include/ald_adc.h
  bsp/essemi/es32vf2264/libraries/RV_CORE/Device/EastSoft/ES32VF2264/Include/es32vf2264.h
  bsp/essemi/es32vf2264/template.cdkproj
Labels: +1

#7639 [atomic] 头文件循环引用导致 rt_hw_interrupt_enable 未定义
  include/rthw.h
Labels: +1, +2, v5.0.1

#7646 [at] optimize at_vprintfln
  components/net/at/src/at_utils.c
Labels: +1, +2

#7644 [simulator] 模拟器可以使用 utest 测试框架
  bsp/simulator/.config
  bsp/simulator/gcc_elf64.ld
  bsp/simulator/rtconfig.h
  components/utilities/utest/utest.c
  src/kservice.c
Labels: +1, +2

#7647 [comment][libc] add some comments for functions in posix_signal
  components/libc/posix/signal/posix_signal.c
Labels: +1

#7648 [feature][action] Add the manual trigger for scons dist
  .github/workflows/manual_dist.yml
Labels: +1

#7650 [spi] optimize the spi transfer speed.
  components/drivers/spi/spi_core.c
Labels: +1

#7652 [stm32][drv_spi] revert typo
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
Labels: +1

#7626 AMP-step1: 内核Kconfig增加AMP选项, api:rt_hw_cpu_id和 RT_USING_SMP宏解耦，增加rt_hw_ipi_send对…
  include/rthw.h
  src/Kconfig
Labels: +1

#7666 [adc] remove dead code
  components/drivers/misc/adc.c
Labels: +1

#7667 [msh] fix offset used before range check
  components/finsh/msh.c
Labels: +1

#7668 [libc][ctime] move null pointer check before dereference
  components/libc/compilers/common/ctime.c
Labels: +1

#7670 [components][time.h]Fixed undefined macro TIMER_ABSTIME
  components/libc/compilers/common/include/sys/time.h
Labels: in progress

#7673 [bsp] BSP support menuconfig for lm3s9b9x
  bsp/lm3s9b9x/.config
  bsp/lm3s9b9x/Kconfig
  bsp/lm3s9b9x/drivers/luminaryif.c
  bsp/lm3s9b9x/rtconfig.h
Labels: +1

#7680 [bsp][stm32u575] add ADC support
  bsp/stm32/libraries/HAL_Drivers/drv_adc.c
Labels: +1

#7686 [menuconfig] 修复 menuconfig 相关问题
  .github/workflows/action.yml
  bsp/hk32/hk32f030c8-mini/.config
  bsp/hk32/hk32f030c8-mini/Kconfig
  bsp/hk32/hk32f030c8-mini/rtconfig.h
  bsp/loongson/ls1cdev/.config
  bsp/loongson/ls1cdev/Kconfig
  bsp/loongson/ls1cdev/rtconfig.h
Labels: +1, +2

#7687 [finsh] 添加 RT_Device_Class_Bus 对应的描述字符串
  components/finsh/cmd.c
Labels: +1

#7698 [sensor-v2]将当前sensor框架revert回v1版本并独立为v2
  bsp/nuvoton/libraries/nu_packages/Kconfig
  components/drivers/Kconfig
  components/drivers/include/drivers/sensor.h
  components/drivers/include/drivers/sensor_v2.h
  components/drivers/include/rtdevice.h
  components/drivers/sensor/SConscript
  components/drivers/sensor/v1/SConscript
  components/drivers/sensor/v1/sensor.c
  components/drivers/sensor/v1/sensor_cmd.c
  components/drivers/sensor/v2/SConscript
  components/drivers/sensor/v2/sensor_cmd.c
  components/drivers/sensor/v2/sensor_v2.c
Labels: +1

#7691 [pty]修正pty引起waitqueue崩溃的问题
  components/drivers/tty/pty.c
Labels: +1

#7700 [libc/termios]修改oflags定义与musl一致
  components/libc/posix/io/termios/termios.h
Labels: +1, +2

#7699 [testcase] correct the file names in sconscirpt
  examples/utest/testcases/posix/stdio_h/SConscript
Labels: +1

#7709 [Kernel] message 可以返回消息的实际大小
  bsp/allwinner/libraries/sunxi-hal/hal/source/sdmmc/osal/os/RT-Thread/os_queue.c
  bsp/allwinner/libraries/sunxi-hal/osal/src/hal_queue.c
  bsp/fujitsu/mb9x/mb9bf500r/application.c
  bsp/imxrt/libraries/MIMXRT1050/MIMXRT1052/drivers/fsl_os_abstraction_rtthread.c
  bsp/imxrt/libraries/MIMXRT1060/MIMXRT1060/drivers/fsl_os_abstraction_rtthread.c
  bsp/imxrt/libraries/MIMXRT1061/MIMXRT1061/drivers/fsl_os_abstraction_rtthread.c
  bsp/imxrt/libraries/MIMXRT1170/MIMXRT1176/drivers/fsl_os_abstraction_rtthread.c
  bsp/stm32/stm32mp157a-st-ev1/board/ports/dma_sample.c
  components/drivers/usb/usbdevice/class/hid.c
  components/drivers/usb/usbdevice/core/usbdevice_core.c
  components/drivers/usb/usbhost/core/hub.c
  components/libc/cplusplus/os/cxx_queue.h
  components/libc/posix/ipc/mqueue.c
  documentation/device/uart/uart.md
  documentation/thread-comm/thread-comm.md
  examples/utest/testcases/kernel/messagequeue_tc.c
  include/rtthread.h
  src/ipc.c
Labels: +1

#7713 [bsp][imxrt1176]消除冗余定义；修复书写错误
  bsp/imxrt/imxrt1170-nxp-evk/m7/board/Kconfig
  bsp/imxrt/imxrt1170-nxp-evk/m7/board/SConscript
Labels: +1

#7715 [kernel][Kconfig] 调整Kconfig缩进
  src/Kconfig
Labels: Kernel

#7720 [bsp][stm32]fix stm32u5 gpio interrupt error
  bsp/stm32/libraries/HAL_Drivers/drv_gpio.c
  bsp/stm32/stm32u575-st-nucleo/README_zh.md
  bsp/stm32/stm32u575-st-nucleo/applications/main.c
  bsp/stm32/stm32u575-st-nucleo/board/Kconfig
  bsp/stm32/stm32u575-st-nucleo/figures/menuconfig6.png
  bsp/stm32/stm32u575-st-nucleo/figures/result1.png
  bsp/stm32/stm32u575-st-nucleo/figures/result2.png
Labels: +1

#7717 [testcases]增加volatile解决优化等级高的情况下,测试不通过的问题
  examples/utest/testcases/kernel/irq_tc.c
  examples/utest/testcases/kernel/thread_tc.c
Labels: +1

#7382 [src][components][include]消息队列支持优先级
  components/libc/posix/ipc/Kconfig
  components/libc/posix/ipc/mqueue.c
  examples/utest/testcases/kernel/messagequeue_tc.c
  include/rtthread.h
  src/Kconfig
  src/ipc.c
Labels: +1, +2, Kernel

#7718 add:同步lib修改,包括sram加锁、修复获取rtc频率错误等
  bsp/airm2m/air32f103/README.md
  bsp/airm2m/air32f103/libraries/AIR32F10xLib/src/air32f10x_flash.c
  bsp/airm2m/air32f103/libraries/AIR32F10xLib/src/air32f10x_rcc.c
  bsp/airm2m/air32f103/libraries/AIR32F10xLib/src/system_air32f10x.c
  bsp/airm2m/air32f103/libraries/Startup/arm/startup_air32f10x.s
  bsp/airm2m/air32f103/libraries/Startup/gcc/startup_air32f10x.s
Labels: +1

#7377 [component][fdt]添加设备树子节点寻找宏
  components/drivers/fdt/inc/dtb_node.h
  components/drivers/fdt/src/dtb_get.c
Labels: +1, component

#7733 [atomic][IAR]修复IAR编译报警 函数“__LDREX”隐式声明
  libcpu/arm/common/atomic_arm.c
Labels: +1

#7738 [CI][bsp] Added CI to compile more drivers for the changed BSP
  .github/workflows/compile_bsp_with_drivers.yml
  tools/ci/compile_bsp_with_drivers.py
Labels: action

#7750 [include][dbg]update: no longer use RT_DEBUG_LOG in rtdebug.h
  components/drivers/core/device.c
  components/drivers/usb/usbdevice/class/cdc_vcom.c
  components/drivers/usb/usbdevice/class/hid.c
  components/drivers/usb/usbdevice/class/mstorage.c
  components/drivers/usb/usbdevice/core/usbdevice_core.c
  components/drivers/usb/usbhost/class/adk.c
  components/drivers/usb/usbhost/class/hid.c
  components/drivers/usb/usbhost/class/mass.c
  components/drivers/usb/usbhost/class/udisk.c
  components/drivers/usb/usbhost/class/ukbd.c
  components/drivers/usb/usbhost/class/umouse.c
  components/drivers/usb/usbhost/core/hub.c
  components/drivers/usb/usbhost/core/usbhost_core.c
  components/libc/posix/libdl/arch/arm.c
  components/libc/posix/libdl/arch/riscv.c
  components/libc/posix/libdl/arch/x86.c
  documentation/basic/basic.md
  include/rtdebug.h
  include/rtdef.h
  libcpu/sim/win32/startup.c
  libcpu/ti-dsp/c28x/cpuport.c
  src/Kconfig
  src/components.c
  src/ipc.c
  src/irq.c
  src/kservice.c
  src/mem.c
  src/memheap.c
  src/scheduler_mp.c
  src/scheduler_up.c
  src/slab.c
  src/thread.c
  src/timer.c
Labels: in progress, +1

#7736 [atomic]修复bsp/simulator vs2019编译下 atomic 两个volatile的问题
  include/rtdef.h
Labels: +1, +2

#7756 [bsp]add bl808-d0 spi && i2c
  bsp/bouffalo_lab/README.md
  bsp/bouffalo_lab/README_en.md
  bsp/bouffalo_lab/bl808/README.md
  bsp/bouffalo_lab/bl808/README_en.md
  bsp/bouffalo_lab/bl808/d0/.config
  bsp/bouffalo_lab/bl808/d0/board/Kconfig
  bsp/bouffalo_lab/bl808/d0/rtconfig.h
  bsp/bouffalo_lab/figures/bouffalo_flash_cube.jpg
  bsp/bouffalo_lab/figures/bouffalo_flash_cube.png
  bsp/bouffalo_lab/figures/rt-thread.jpg
  bsp/bouffalo_lab/figures/rt-thread.png
  bsp/bouffalo_lab/libraries/bl_mcu_sdk/drivers/lhal/SConscript
  bsp/bouffalo_lab/libraries/bl_mcu_sdk/drivers/lhal/config/bl808/device_table.c
  bsp/bouffalo_lab/libraries/bl_mcu_sdk/drivers/lhal/src/bflb_i2c.c
  bsp/bouffalo_lab/libraries/rt_drivers/Kconfig
  bsp/bouffalo_lab/libraries/rt_drivers/SConscript
  bsp/bouffalo_lab/libraries/rt_drivers/drv_i2c.h
  bsp/bouffalo_lab/libraries/rt_drivers/drv_spi.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_spi.h
Labels: +1
