Repository RT-Thread/rt-thread, pull requests merged in 2023-02, with the labels that each got.

#6889 [Renesas]Fix ra6m3 build error
  .github/workflows/action.yml
  bsp/renesas/ra6m3-ek/.settings/standalone.prefs
  bsp/renesas/ra6m3-ek/README.md
  bsp/renesas/ra6m3-ek/buildinfo.gpdsc
  bsp/renesas/ra6m3-ek/configuration.xml
  bsp/renesas/ra6m3-ek/ra_gen/hal_data.c
  bsp/renesas/ra6m3-ek/ra_gen/hal_data.h
Labels: +1

#6887 [IFX]Add capsense support
  bsp/Infineon/psoc6-cy8ckit-062S2-43012/board/ports/slider_sample.c
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/board/ports/slider_sample.c
  bsp/Infineon/psoc6-evaluationkit-062S2/.config
  bsp/Infineon/psoc6-evaluationkit-062S2/.cproject
  bsp/Infineon/psoc6-evaluationkit-062S2/.settings/language.settings.xml
  bsp/Infineon/psoc6-evaluationkit-062S2/.settings/projcfg.ini
  bsp/Infineon/psoc6-evaluationkit-062S2/.settings/project.OpenOCD.Debug.rttlaunch
  bsp/Infineon/psoc6-evaluationkit-062S2/board/Kconfig
  bsp/Infineon/psoc6-evaluationkit-062S2/board/ports/slider_sample.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg.timestamp
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_capsense.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_capsense.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_capsense_defines.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_capsense_tuner_regmap.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_clocks.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_clocks.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_connectivity_bt.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_connectivity_bt.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_notices.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_peripherals.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_peripherals.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_pins.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_pins.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_routing.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_routing.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_system.c
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/GeneratedSource/cycfg_system.h
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/design.cycapsense
  bsp/Infineon/psoc6-evaluationkit-062S2/libs/TARGET_RTT-062S2/COMPONENT_BSP_DESIGN_MODUS/design.modus
  bsp/Infineon/psoc6-evaluationkit-062S2/project.uvoptx
  bsp/Infineon/psoc6-evaluationkit-062S2/project.uvprojx
  bsp/Infineon/psoc6-evaluationkit-062S2/rtconfig.h
Labels: +1, +2

#6893 [IFX]Add two board README.md
  bsp/Infineon/README.md
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/README.md
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/figures/studio2.png
  bsp/Infineon/psoc6-evaluationkit-062S2/README.md
  bsp/Infineon/psoc6-evaluationkit-062S2/figures/studio2.png
Labels: +1

#6888 [bsp/raspberry-pico] add: SMP
  bsp/raspberry-pico/board/board.c
  bsp/raspberry-pico/board/board.h
  bsp/raspberry-pico/libcpu/SConscript
  bsp/raspberry-pico/libcpu/context_gcc.S
  bsp/raspberry-pico/libcpu/cpuport.c
  bsp/raspberry-pico/libcpu/cpuport.h
  bsp/raspberry-pico/libraries/SConscript
  bsp/raspberry-pico/rtconfig.py
Labels: +1

#6898 [Kernel] Add Smart ID in logo show
  src/kservice.c
Labels: +1

#6897 Bsp lpc55sxx
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/common/fsl_sdmmc_common.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/common/fsl_sdmmc_common.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/common/fsl_sdmmc_spec.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/host/sdif/ChangeLogKSDK.txt
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/host/sdif/blocking/fsl_sdmmc_host.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/host/sdif/fsl_sdmmc_host.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/host/sdif/non_blocking/fsl_sdmmc_host.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/mmc/ChangeLogKSDK.txt
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/mmc/fsl_mmc.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/mmc/fsl_mmc.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/osa/fsl_sdmmc_osa.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/osa/fsl_sdmmc_osa.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/sd/ChangeLogKSDK.txt
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/sd/fsl_sd.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/sd/fsl_sd.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/sdio/ChangeLogKSDK.txt
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/sdio/fsl_sdio.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/sdio/fsl_sdio.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/template/sdhc/sdmmc_config.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/template/sdhc/sdmmc_config.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/template/sdif/sdmmc_config.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/template/sdif/sdmmc_config.h
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/template/usdhc/sdmmc_config.c
  bsp/lpc55sxx/Libraries/LPC55S6X/middleware/sdmmc/template/usdhc/sdmmc_config.h
  bsp/lpc55sxx/Libraries/drivers/SConscript
  bsp/lpc55sxx/Libraries/drivers/drv_sd.c
  bsp/lpc55sxx/Libraries/drivers/drv_sd.h
  bsp/lpc55sxx/Libraries/drivers/drv_sdif.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/.config
  bsp/lpc55sxx/lpc55s69_nxp_evk/applications/SConscript
  bsp/lpc55sxx/lpc55s69_nxp_evk/applications/main.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/applications/mnt.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/applications/tfm_ps.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.ewd
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.ewp
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.uvoptx
  bsp/lpc55sxx/lpc55s69_nxp_evk/project.uvprojx
  bsp/lpc55sxx/lpc55s69_nxp_evk/rtconfig.h
Labels: +1, BSP: NXP

#6895 [sensor] 修复命令交互使用日志输出API的问题
  components/drivers/sensor/sensor_cmd.c
Labels: +1

#6899 [doxygen] Fix some warnings in doxygen
  documentation/doxygen/.gitignore
  documentation/doxygen/filesystem.h
  documentation/doxygen/images/.gitkeep
  include/rtdef.h
  include/rtthread.h
  src/ipc.c
  src/kservice.c
  src/mem.c
  src/thread.c
Labels: +1

#6906 [bsp][lpc55sxx] add: README_en
  bsp/lpc55sxx/lpc55s69_nxp_evk/README.md
  bsp/lpc55sxx/lpc55s69_nxp_evk/README_zh.md
Labels: +1

#6908 [Renesas]Fix ra6m3 build error
  bsp/renesas/ra6m3-ek/.config
  bsp/renesas/ra6m3-ek/.settings/standalone.prefs
  bsp/renesas/ra6m3-ek/buildinfo.gpdsc
  bsp/renesas/ra6m3-ek/configuration.xml
  bsp/renesas/ra6m3-ek/project.uvoptx
  bsp/renesas/ra6m3-ek/project.uvprojx
  bsp/renesas/ra6m3-ek/ra_gen/pin_data.c
  bsp/renesas/ra6m3-ek/template.uvoptx
  bsp/renesas/ra6m3-ek/template.uvprojx
Labels: +1, +2

#6891 🐞 fix(components/dfs/filesystems/tmpfs/dfs_tmpfs.c): fix cannot open the same file repeatedly in 'w' mode
  components/dfs/filesystems/tmpfs/dfs_tmpfs.c
Labels: +1, +2

#6896 [rt-smart] 修复 aarch64 timer 地址转换问题
  components/libc/compilers/common/ctime.c
Labels: +1, +2

#6912 [time] 修复纳秒微妙混用转换错误
  components/libc/compilers/common/ctime.c
Labels: +1

#6907 [cputime] add clock_cpu_settimeout function
  components/drivers/cputime/cputime.c
  components/drivers/include/drivers/cputime.h
Labels: +1

#6914 [cortex-m7]rt_hw_cpu_dcache_ops函数uint32_t替换为rt_uint32_t
  libcpu/arm/cortex-m7/cpu_cache.c
Labels: +1

#6913 fixed syscall errno return.
  components/lwp/lwp_syscall.c
Labels: +1

#6915 [ringbuffer] ringbuffer size boost to 32bit
  components/drivers/include/ipc/ringbuffer.h
  components/drivers/ipc/ringbuffer.c
  examples/test/ringbuffer_test.c
Labels: +1, +2, v5.0.0

#6919 修复编译警告
  components/drivers/cputime/cputime.c
  components/drivers/include/drivers/cputime.h
  components/libc/compilers/common/ctime.c
  components/lwp/lwp_syscall.c
Labels: +1

#6924 [BSP] Add color build for qemu gcc config.
  bsp/qemu-vexpress-a9/rtconfig.py
  bsp/qemu-virt64-aarch64/rtconfig.py
  bsp/qemu-virt64-riscv/rtconfig.py
Labels: +1

#6916 [spi]添加rt_spi_bus_attach_device_cspin 函数
  bsp/stm32/libraries/HAL_Drivers/drv_qspi.c
  bsp/stm32/libraries/HAL_Drivers/drv_soft_spi.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  components/drivers/include/drivers/spi.h
  components/drivers/spi/spi_core.c
Labels: +1

#6923 [FDT] Fix POSIX compatibility for string.h
  components/drivers/fdt/inc/dtb_node.h
  components/drivers/fdt/libfdt/libfdt.h
  components/drivers/fdt/src/dtb_access.c
  components/drivers/fdt/src/dtb_addr.c
  components/drivers/fdt/src/dtb_base.c
  components/drivers/fdt/src/dtb_load.c
Labels: +1

#6926 Improve timer accuracy and realize
  components/drivers/cputime/SConscript
  components/drivers/cputime/cputime.c
  components/drivers/cputime/cputimer.c
  components/drivers/include/drivers/cputime.h
  components/drivers/include/drivers/cputimer.h
  components/libc/compilers/common/ctime.c
Labels: +1, +2

#6930 [Renesas]Add use lvgl document
  bsp/renesas/ra6m3-ek/README.md
  bsp/renesas/ra6m3-ek/board/Kconfig
  bsp/renesas/ra6m3-ek/board/lvgl/lv_port_disp.c
  bsp/renesas/ra6m3-ek/docs/lvgl使用文档.md
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/00.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/01.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/02.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/03.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/04.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/05.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/06.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/07.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/08.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/09.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/10.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/11.png
Labels: +1, +2

#6932 [workqueue] Reduce critical section, improve performance
  components/drivers/ipc/workqueue.c
Labels: +1, +2

#6935 add status to lpc_i2c_bus in drv_i2c for lpc55sxx.
  bsp/lpc55sxx/Libraries/drivers/drv_i2c.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/.gitignore
Labels: +1, +2

#5798 [drv]a new serial driver - serialX
  bsp/stm32/libraries/HAL_Drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drv_usartX.c
  bsp/stm32/libraries/HAL_Drivers/drv_usartX.h
  bsp/stm32/stm32f429-armfly-v6/board/Kconfig
  bsp/stm32/stm32f429-atk-apollo/board/Kconfig
  bsp/stm32/stm32f429-fire-challenger/board/Kconfig
  bsp/stm32/stm32f429-st-disco/board/Kconfig
  components/drivers/Kconfig
  components/drivers/include/drivers/serialX.h
  components/drivers/include/rtdevice.h
  components/drivers/serial/SConscript
  components/drivers/serial/serialX.c
  include/rtdef.h
  src/device.c
Labels: discussion, v5.0.0

#6945 fix rt_kprint 64bit error
  src/kservice.c
Labels: +1, +2

#6947 update rtdevice.h add lcd
  components/drivers/include/rtdevice.h
Labels: +1

#6949 [fix]避免字符设备特殊控制指令和通用控制指令冲突
  include/rtdef.h
Labels: +1, +2

#6961 [spi] rt_spi_configure 增加对cs_pin处理
  components/drivers/spi/spi_core.c
Labels: +1

#6956 [Renesas]Add tft-lcd lvgl support
  bsp/renesas/libraries/HAL_Drivers/SConscript
  bsp/renesas/ra6m3-ek/board/Kconfig
  bsp/renesas/ra6m3-ek/board/board.h
  bsp/renesas/ra6m3-ek/board/lvgl/demo/lv_demo.c
  bsp/renesas/ra6m3-ek/board/lvgl/lv_conf.h
  bsp/renesas/ra6m3-ek/board/lvgl/lv_port_disp.c
  bsp/renesas/ra6m3-ek/board/lvgl/lv_port_indev.c
  bsp/renesas/ra6m3-ek/board/ports/SConscript
  bsp/renesas/ra6m3-ek/board/ports/gpio_cfg.h
  bsp/renesas/ra6m3-ek/board/ports/ili9341/SConscript
  bsp/renesas/ra6m3-ek/board/ports/ili9341/lcd_ili9341.c
  bsp/renesas/ra6m3-ek/board/ports/ili9341/lcd_ili9341.h
  bsp/renesas/ra6m3-ek/docs/lvgl使用文档.md
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/01.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/12.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/13.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/14.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/15.png
  bsp/renesas/ra6m3-ek/docs/picture/lvgl/16.png
Labels: +1

#6957 [rt-smart] handling kernel from accessing unmapped user stack
  components/lwp/arch/risc-v/rv64/lwp_gcc.S
  components/lwp/lwp_user_mm.c
  libcpu/risc-v/t-head/c906/stackframe.h
  libcpu/risc-v/t-head/c906/trap.c
  libcpu/risc-v/virt64/stackframe.h
  libcpu/risc-v/virt64/trap.c
Labels: +1, +2

#6966 [serial]增加at32的serial_v2驱动
  bsp/at32/libraries/rt_drivers/SConscript
  bsp/at32/libraries/rt_drivers/drv_usart_v2.c
  bsp/at32/libraries/rt_drivers/drv_usart_v2.h
Labels: +1, +2

#6969 [cputimer] 解决关中断时进行了调度的误操作
  components/drivers/cputime/cputimer.c
Labels: +1

#6977 fixed ctime timer_delete timerid parameter check.
  components/libc/compilers/common/ctime.c
Labels: +1, +2

#6982 [libcpu.aarch64] add rt_backtrace function.
  libcpu/aarch64/common/backtrace.c
  libcpu/aarch64/common/backtrace.h
Labels: +1

#6937 [spi] 优化SPI设备框架中，对函数返回值类型使用不恰当的情况
  bsp/stm32/libraries/HAL_Drivers/drv_qspi.c
  bsp/stm32/libraries/HAL_Drivers/drv_spi.c
  components/drivers/include/drivers/spi.h
  components/drivers/spi/spi-bit-ops.c
  components/drivers/spi/spi_core.c
Labels: +1, +2

#6934 [pin][5.0.0] 修正pin框架数据类型使用不当
  bsp/qemu-virt64-aarch64/drivers/drv_gpio.c
  bsp/stm32/libraries/HAL_Drivers/drv_gpio.c
  components/drivers/include/drivers/pin.h
  components/drivers/misc/pin.c
Labels: +1, +2

#6987 [lpc55s69] : fix the pwm driver with the wrong device name
  bsp/lpc55sxx/Libraries/drivers/drv_hwtimer.c
  bsp/lpc55sxx/Libraries/drivers/drv_pwm.c
  bsp/lpc55sxx/lpc55s69_nxp_evk/applications/arduino_pinout/pins_arduino.c
Labels: +1, +2

#6988 [smart] smart select POSIX timer clock
  components/lwp/lwp_syscall.c
  src/Kconfig
Labels: +1, +2

#6996 [Kernel] Fix the alignment issue for memheap.
  src/memheap.c
Labels: +1, +2
