Repository RT-Thread/rt-thread, pull requests merged in 2023-08, with the labels that each got.

#7903 [bsp][renesas]update ra6m3&4 readme
  bsp/renesas/ra6m3-ek/README.md
  bsp/renesas/ra6m3-ek/docs/picture/download.png
  bsp/renesas/ra6m3-ek/project.uvoptx
  bsp/renesas/ra6m3-ek/project.uvprojx
  bsp/renesas/ra6m3-ek/template.uvoptx
  bsp/renesas/ra6m3-ek/template.uvprojx
  bsp/renesas/ra6m4-cpk/README.md
  bsp/renesas/ra6m4-cpk/docs/picture/download.png
  bsp/renesas/ra6m4-cpk/project.uvoptx
  bsp/renesas/ra6m4-cpk/project.uvprojx
  bsp/renesas/ra6m4-cpk/template.uvoptx
  bsp/renesas/ra6m4-cpk/template.uvprojx
Labels: +1

#7906 [lwp] 修复错误码误用
  components/lwp/lwp_pmutex.c
Labels: +1

#7907 [DFS_V1] 修复close失败后不释放fd导致内存被永久占用且无法释放
  components/dfs/dfs_v1/filesystems/elmfat/dfs_elm.c
  components/dfs/dfs_v1/src/dfs_file.c
  components/dfs/dfs_v1/src/dfs_posix.c
Labels: +1

#7892 [smart] Fix bugs on lwp kill
  components/lwp/arch/aarch64/cortex-a/lwp_arch.c
  components/lwp/arch/aarch64/cortex-a/lwp_arch.h
  components/lwp/arch/aarch64/cortex-a/lwp_gcc.S
  components/lwp/lwp_pid.c
  components/lwp/lwp_signal.c
  components/lwp/lwp_syscall.c
Labels: +1, +2

#7856 [kernel][mutex] 去除mutex中的递归
  src/ipc.c
Labels: +1, +2, crucial, Kernel

#7914 [bsp][Phytium] qspi debug
  bsp/phytium/aarch32/.config
  bsp/phytium/aarch32/rtconfig.h
  bsp/phytium/libraries/drivers/Kconfig
  bsp/phytium/libraries/drivers/drv_qspi.c
Labels: +1

#7925 fix some variables not used warnings when build.
  components/drivers/wlan/wlan_dev.c
  components/drivers/wlan/wlan_mgnt.c
Labels: in progress

#7888 update components & lwp.
  components/drivers/sdio/block_dev.c
  components/finsh/cmd.c
  components/finsh/msh_file.c
  components/libc/posix/io/stdio/libc.c
  components/lwp/lwp.c
  components/lwp/lwp.h
  components/lwp/lwp_ipc.c
  components/lwp/lwp_pid.c
  components/lwp/lwp_sys_socket.h
  components/lwp/lwp_syscall.c
  components/net/lwip/lwip-2.1.2/src/core/netif.c
  components/net/sal/socket/net_sockets.c
  components/net/sal/src/sal_socket.c
  include/rtdef.h
  libcpu/aarch64/common/backtrace.c
  libcpu/aarch64/common/backtrace.h
  libcpu/aarch64/common/context_gcc.S
  libcpu/aarch64/common/trap.c
  src/kservice.c
Labels: +1, +2

#7929 [libc][time] silence the incorrect type warning
  components/libc/compilers/common/ctime.c
Labels: +1

#7934 [libcpu][risc-v][common] Avoid using t0 before being saved
  libcpu/risc-v/common/interrupt_gcc.S
Labels: +1

#7938 [SAL] fix the IPv4&v6 compiling issue.
  components/net/sal/src/sal_socket.c
Labels: +1

#7636 [components][drivers][can]Init can tx completion flag before tx
  components/drivers/can/can.c
Labels: +1

#7940 [DFS_V1]修复 dfs_file_stat 一个 FATFS 根目录会失败的问题
  components/dfs/dfs_v1/filesystems/elmfat/ff.c
Labels: v5.0.2

#7965 [bsp][gd32]添加 立创开发板 GD32F470 的 SDRAM驱动，从STM32的drv_sdram.c修改而来
  bsp/gd32/arm/gd32470z-lckfb/board/Kconfig
  bsp/gd32/arm/gd32470z-lckfb/board/board.c
  bsp/gd32/arm/libraries/GD32F4xx_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_sdram.c
  bsp/gd32/arm/libraries/gd32_drivers/sdram_port.h
Labels: +1

#7966 [tools][gcc] remove legacy functions
  tools/building.py
  tools/gcc.py
Labels: +1

#7967 [tools] add GetGCCLikePLATFORM
  bsp/renesas/ra6m3-hmi-board/SConscript
  bsp/renesas/ra6m3-hmi-board/ra/SConscript
  bsp/renesas/ra6m3-hmi-board/ra_cfg/SConscript
  bsp/renesas/ra6m3-hmi-board/ra_gen/SConscript
  components/drivers/spi/SConscript
  components/libc/cplusplus/SConscript
  tools/gcc.py
Labels: +1

#7969 fix lwip
  components/net/lwip/port/sys_arch.c
Labels: +1

#7989 [ctime] 避免时区为负数时引入的隐式转换问题
  components/libc/compilers/common/ctime.c
Labels: +1
