Repository RT-Thread/rt-thread, pull requests merged in 2024-01, with the labels that each got.

#8455 fix some -Wmissing-prototypes warnings
  components/drivers/include/ipc/pipe.h
  components/finsh/cmd.c
  components/finsh/msh.c
  components/finsh/shell.c
  components/libc/compilers/armlibc/syscalls.c
  components/libc/compilers/common/cstdlib.c
  components/libc/compilers/common/include/posix/stdlib.h
  components/libc/compilers/dlib/syscalls.c
  components/libc/compilers/newlib/syscalls.c
  components/libc/compilers/picolibc/exit.c
Labels: v5.1.0

#8461 [action] Fix manual trigger for others
  .github/workflows/manual_dist.yml
Labels: +1

#8473 [BSP] Support YD-CH32V307VCT6
  bsp/wch/risc-v/yd-ch32v307vct6/.config
  bsp/wch/risc-v/yd-ch32v307vct6/Kconfig
  bsp/wch/risc-v/yd-ch32v307vct6/README.md
  bsp/wch/risc-v/yd-ch32v307vct6/SConscript
  bsp/wch/risc-v/yd-ch32v307vct6/SConstruct
  bsp/wch/risc-v/yd-ch32v307vct6/applications/SConscript
  bsp/wch/risc-v/yd-ch32v307vct6/applications/main.c
  bsp/wch/risc-v/yd-ch32v307vct6/board/Kconfig
  bsp/wch/risc-v/yd-ch32v307vct6/board/SConscript
  bsp/wch/risc-v/yd-ch32v307vct6/board/board.c
  bsp/wch/risc-v/yd-ch32v307vct6/board/board.h
  bsp/wch/risc-v/yd-ch32v307vct6/board/linker_scripts/link.lds
  bsp/wch/risc-v/yd-ch32v307vct6/board/software_irq.c
  bsp/wch/risc-v/yd-ch32v307vct6/figures/VCC-GND-Studio-CH32V307-RISC-V-Ethernet-board.jpg
  bsp/wch/risc-v/yd-ch32v307vct6/figures/YD-CH32V307VCT6-board.jpg
  bsp/wch/risc-v/yd-ch32v307vct6/rtconfig.h
  bsp/wch/risc-v/yd-ch32v307vct6/rtconfig.py
Labels: +1

#8453 [finsh] support to check static thread size
  components/finsh/SConscript
Labels: v5.1.0

#8464 [ci][bsp_build]attachconfig add scons args parsing
  tools/ci/bsp_buildings.py
Labels: v5.1.1

#8503 [tools]修复rt-studio导入bsp工程缺失{cross_toolchain_flags}字段问题
  tools/rt_studio.py
Labels: +1

#8509 [bsp][stm32]完善stm32g0系列部分外设中断处理
  bsp/stm32/libraries/HAL_Drivers/drivers/config/g0/dma_config.h
  bsp/stm32/libraries/HAL_Drivers/drivers/config/g0/spi_config.h
  bsp/stm32/libraries/HAL_Drivers/drivers/config/g0/tim_config.h
  bsp/stm32/libraries/HAL_Drivers/drivers/config/g0/uart_config.h
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_rtc.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_spi.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_tim.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_usart.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_usart_v2.c
  bsp/stm32/stm32g071-st-nucleo/board/Kconfig
Labels: +1

#8512 [bsp][pico]: support pwm adc iic for pico rtduino
  bsp/raspberry-pico/Kconfig
  bsp/raspberry-pico/applications/arduino_main.cpp
  bsp/raspberry-pico/applications/arduino_pinout/README.md
  bsp/raspberry-pico/applications/arduino_pinout/pins_arduino.c
  bsp/raspberry-pico/applications/arduino_pinout/pins_arduino.h
  bsp/raspberry-pico/drivers/drv_adc.h
  bsp/raspberry-pico/drivers/drv_pwm.c
Labels: in progress
