Repository RT-Thread/rt-thread, pull requests merged in 2024-12, with the labels that each got.

#9730 [documentation][dfs]add some comments to dfs posix APIs for supplement.
  components/dfs/dfs_v1/src/dfs_posix.c
  components/dfs/dfs_v2/src/dfs_posix.c
Labels: Component

#9720 [bsp][renesas] 瑞萨PWM框架 GPT时钟支持RZ系列
  bsp/renesas/libraries/HAL_Drivers/drv_pwm.c
Labels: BSP, BSP: Renesas

#9734 [klibc] format Kconfig
  src/klibc/Kconfig
Labels: Kernel

#9739 [components][dfs]add some comments and fix some former comments error for dfs v1.
  components/dfs/dfs_v1/src/dfs.c
  components/dfs/dfs_v1/src/dfs_file.c
  components/dfs/dfs_v1/src/dfs_fs.c
Labels: Component

#9738 [bsp][stm32] add a new bsp for stm32h723-st-nucleo board
  .github/workflows/bsp_buildings.yml
  bsp/stm32/stm32h723-st-nucleo/.config
  bsp/stm32/stm32h723-st-nucleo/.gitignore
  bsp/stm32/stm32h723-st-nucleo/Kconfig
  bsp/stm32/stm32h723-st-nucleo/README.md
  bsp/stm32/stm32h723-st-nucleo/README_zh.md
  bsp/stm32/stm32h723-st-nucleo/SConscript
  bsp/stm32/stm32h723-st-nucleo/SConstruct
  bsp/stm32/stm32h723-st-nucleo/applications/SConscript
  bsp/stm32/stm32h723-st-nucleo/applications/main.c
  bsp/stm32/stm32h723-st-nucleo/board/.ignore_format.yml
  bsp/stm32/stm32h723-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32h723-st-nucleo/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32h723-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32h723-st-nucleo/board/CubeMX_Config/Inc/stm32h7xx_hal_conf.h
  bsp/stm32/stm32h723-st-nucleo/board/CubeMX_Config/Inc/stm32h7xx_it.h
  bsp/stm32/stm32h723-st-nucleo/board/CubeMX_Config/Src/stm32h7xx_hal_msp.c
  bsp/stm32/stm32h723-st-nucleo/board/CubeMX_Config/Src/stm32h7xx_it.c
  bsp/stm32/stm32h723-st-nucleo/board/Kconfig
  bsp/stm32/stm32h723-st-nucleo/board/SConscript
  bsp/stm32/stm32h723-st-nucleo/board/board.c
  bsp/stm32/stm32h723-st-nucleo/board/board.h
  bsp/stm32/stm32h723-st-nucleo/board/linker_scripts/link.icf
  bsp/stm32/stm32h723-st-nucleo/board/linker_scripts/link.lds
  bsp/stm32/stm32h723-st-nucleo/board/linker_scripts/link.sct
  bsp/stm32/stm32h723-st-nucleo/figures/board.png
  bsp/stm32/stm32h723-st-nucleo/project.uvoptx
  bsp/stm32/stm32h723-st-nucleo/project.uvprojx
  bsp/stm32/stm32h723-st-nucleo/rtconfig.h
  bsp/stm32/stm32h723-st-nucleo/rtconfig.py
  bsp/stm32/stm32h723-st-nucleo/template.uvoptx
  bsp/stm32/stm32h723-st-nucleo/template.uvprojx
Labels: BSP: STM32, BSP, action, BSP: new bsp board

#9728 update cvitek/README.md
  bsp/cvitek/README.md
Labels: BSP, BSP: Cvitek

#9744 [bsp][hc32][spi]update rt_hw_spi_device_attach
  bsp/hc32/ev_hc32f448_lqfp80/board/ports/drv_spi_flash.c
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/ports/drv_spi_flash.c
  bsp/hc32/ev_hc32f4a0_lqfp176/board/ports/drv_spi_flash.c
  bsp/hc32/lckfb-hc32f4a0-lqfp100/board/ports/drv_spi_flash.c
  bsp/hc32/libraries/hc32_drivers/drv_spi.c
  bsp/hc32/libraries/hc32_drivers/drv_spi.h
  bsp/hc32/platform/sfud/drv_spi_flash.c
Labels: BSP

#9747 [components] When rtc is not enabled, use other clock sources instead
  components/libc/compilers/common/ctime.c
Labels: Component

#9750 fix:[klib]Kconfig显示文案错误
  src/klibc/Kconfig
Labels: Kernel

#9759 [bsp][wch/risc-v][ch32] 1.fixed iwdt driver is not reload counter to …
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_iwdt.c
Labels: BSP, BSP: WCH

#9764 doc(doxyge):fix doxygen path
  .github/workflows/doxygen.yml
  components/dfs/dfs_v2/src/dfs_posix.c
  components/drivers/include/drivers/dev_spi.h
Labels: +1, action, Component, component: drivers

#9751 [bsp][ESP32C3] support soft i2c and rt_hw_us_delay
  bsp/ESP32_C3/.ci/attachconfig/ci.attachconfig.yml
  bsp/ESP32_C3/drivers/Kconfig
  bsp/ESP32_C3/drivers/SConscript
  bsp/ESP32_C3/drivers/board.c
  bsp/ESP32_C3/drivers/board.h
  bsp/ESP32_C3/drivers/drv_gpio.c
  bsp/ESP32_C3/drivers/drv_gpio.h
  bsp/ESP32_C3/drivers/drv_hw_i2c.c
  bsp/ESP32_C3/drivers/drv_sw_i2c.c
  bsp/ESP32_C3/drivers/drv_sw_i2c.h
Labels: BSP

#9741 [componets] fix when printf 0 addr by %p will return nil
  components/drivers/ofw/fdt.c
  components/mm/mm_memblock.c
Labels: component: drivers/ofw, Component, component: drivers

#9766 [bsp][wch/arm][ch32] 1.fix iwdt driver is not reload counter to regis…
  bsp/wch/arm/Libraries/ch32_drivers/drv_iwdt_ch32f10x.c
  bsp/wch/arm/Libraries/ch32_drivers/drv_iwdt_ch32f20x.c
Labels: BSP, BSP: WCH

#9772 tools: add clangd support
  .devcontainer/Dockerfile
  tools/vsc.py
Labels: tools

#9776 增加c++文件扩展 .cc
  tools/eclipse.py
  tools/mkdist.py
  tools/utils.py
  tools/wizard.py
Labels: tools

#9777 [bsp][ch32] fix menuconfig error for risc-v
  bsp/wch/risc-v/ch32v103r-evt/Kconfig
  bsp/wch/risc-v/ch32v208w-r0/Kconfig
  bsp/wch/risc-v/ch32v307v-r1/Kconfig
  bsp/wch/risc-v/ch569w-evt/Kconfig
  bsp/wch/risc-v/yd-ch32v307vct6/Kconfig
Labels: +1, BSP, BSP: WCH

#9773 [lwp] fix TTYSUP_CFLAG did not include CBAUD flag
  components/lwp/terminal/freebsd/tty.c
Labels: +1, RT-Smart, component: lwp, Component

#9778 [drivers][rtc] Fixed software and hardware rtc device naming as rtc
  components/drivers/rtc/dev_alarm.c
  components/drivers/rtc/dev_soft_rtc.c
Labels: Component, component: drivers/rtc, component: drivers

#9781 [tools] generate workspace by compile_commands.json
  tools/vsc.py
Labels: tools

#9768 [bsp][stm32] hardware i2c driver add support for STM32F1 series
  bsp/stm32/libraries/HAL_Drivers/drivers/config/f1/dma_config.h
  bsp/stm32/libraries/HAL_Drivers/drivers/config/f1/i2c_hard_config.h
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_config.h
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_hard_i2c.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_hard_i2c.h
Labels: BSP: STM32, BSP

#9733 feat: arm64: mmu: auto-sensing of best paging stride
  libcpu/aarch64/common/mmu.c
Labels: +1, Arch: ARM/AArch64, libcpu

#9779 [OFW] Delete redundant strcasecmp function
  components/drivers/ofw/base.c
Labels: component: drivers/ofw, Component, component: drivers

#9785 bsp: cvitek: update README for ext4 rootfs
  bsp/cvitek/README.md
Labels: BSP, BSP: Cvitek, Arch: RISC-V, RT-Smart

#9790 [DFS/FIXUP] Fixup ISO9660 build
  components/dfs/dfs_v1/filesystems/iso9660/dfs_iso9660.c
Labels: Component

#9794 [components][libc/io]add comments for timer fd APIs.
  components/libc/posix/io/timerfd/timerfd.c
Labels: Component

#9803 bsp: cvitek: remove GPL license declaration
  bsp/cvitek/drivers/libraries/types.h
Labels: BSP, BSP: Cvitek, Arch: RISC-V

#9807 kernel: cleanup debug APIs
  bsp/nxp/imx/imxrt/libraries/drivers/drv_eth.c
  components/lwp/arch/x86/i386/lwp_arch.c
  components/lwp/lwp.c
  components/lwp/lwp_syscall.c
  components/utilities/ulog/ulog_def.h
  include/rtdbg.h
Labels: BSP: NXP, BSP, RT-Smart, component: lwp, Component

#9789 [opt][SDIO_MAX_FREQ redundant define del]
  bsp/apm32/libraries/Drivers/drv_sdio.h
  bsp/at32/libraries/rt_drivers/drv_sdio.h
  bsp/bluetrum/libraries/hal_drivers/drv_sdio.h
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_sdio.h
Labels: BSP: STM32, BSP, BSP: AT32

#9649 [dm2.0] add general sdhci driver it support pio&&sdma
  components/drivers/sdio/Kconfig
  components/drivers/sdio/SConscript
  components/drivers/sdio/sdhci/fit-mmc.c
  components/drivers/sdio/sdhci/include/sdhci-platform.h
  components/drivers/sdio/sdhci/include/sdhci.h
  components/drivers/sdio/sdhci/include/sdhci_host.h
  components/drivers/sdio/sdhci/include/sdhci_misc.h
  components/drivers/sdio/sdhci/sdhci-platform.c
  components/drivers/sdio/sdhci/sdhci.c
Labels: component: drivers/sdio, Component, component: drivers

#9821 doc: introduce how to build & run doxygen on ubuntu
  documentation/doxygen/readme.md
Labels: Doc

#9820 [utest][klibc] add rt_sprintf family functions test cases
  bsp/stm32/stm32l475-atk-pandora/board/linker_scripts/link.lds
  src/klibc/Kconfig
  src/klibc/rt_vsnprintf_tiny.c
  src/klibc/utest/SConscript
  src/klibc/utest/TC_kstdlib.c
  src/klibc/utest/TC_rt_sprintf.c
Labels: BSP: STM32, BSP, Kernel

#9804 [drivers][rtc] fix rtc assert
  components/drivers/rtc/dev_soft_rtc.c
Labels: Component, component: drivers/rtc, component: drivers

#9832 bsp: qemu-virt64-riscv: Kconfig: remove duplicated RT_USING_VIRTIO
  bsp/qemu-virt64-riscv/.config
  bsp/qemu-virt64-riscv/driver/Kconfig
  bsp/qemu-virt64-riscv/driver/drv_virtio.c
  bsp/qemu-virt64-riscv/rtconfig.h
Labels: BSP, Arch: RISC-V

#9433 [components][lwip] add support for independent dns services for multiple network devices
  components/net/lwip/lwip-2.1.2/src/core/dns.c
  components/net/lwip/lwip-2.1.2/src/core/ipv4/dhcp.c
  components/net/lwip/lwip-2.1.2/src/core/ipv6/dhcp6.c
  components/net/lwip/lwip-2.1.2/src/core/ipv6/nd6.c
  components/net/lwip/lwip-2.1.2/src/netif/ppp/ppp.c
  components/net/lwip/port/ethernetif.c
Labels: component: net, Component, component: net/lwip

#9837 [wlan] add get_info api for more new sta information
  components/drivers/wlan/dev_wlan.c
  components/drivers/wlan/dev_wlan.h
  components/drivers/wlan/dev_wlan_mgnt.c
Labels: Component, component: drivers/wlan, component: drivers

#9836 bsp: cvitek: doc update
  bsp/cvitek/README.md
Labels: Doc, BSP: Cvitek, Arch: RISC-V

#9841 [DM/BLOCK] Fixup DFS partition memory leak
  components/drivers/block/partitions/dfs.c
Labels: Component, component: drivers

#9834 解决了components\libc\compilers\common\include\dirent.h libc_dirent结构体报错的bug
  components/libc/compilers/common/include/dirent.h
Labels: urgent 🏃, Component
