Repository RT-Thread/rt-thread, pull requests merged in 2024-10, with the labels that each got.

#9498 [components][ulog] ULOG_OUTPUT_LEVEL未定义时,level_output_info产生警告
  components/utilities/ulog/ulog.c
Labels: Component

#9500 [components][i2c] 修改为debug等级打印
  components/drivers/i2c/dev_i2c_core.c
Labels: component: drivers/i2c, Component, component: drivers

#9502 [lvgl][ci] add lvgl 8.3-latest check
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl-latest.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-latest.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-v8.3-latest.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-v8.3.11.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-v8.4-latest.attach
  bsp/stm32/stm32f407-rt-spark/board/ports/lvgl/lv_port_disp.c
Labels: BSP: STM32, BSP

#9443 [feat]add pci api
  components/drivers/include/drivers/pci.h
  components/drivers/pci/pci.c
Labels: Component, component: drivers/pci, component: drivers

#9505 [stm32l475][RTduino] modify macros and files name
  bsp/stm32/stm32l475-atk-pandora/.ci/attachconfig/rtduino/adafruit-aht10.attach
  bsp/stm32/stm32l475-atk-pandora/.ci/attachconfig/rtduino/adafruit-gfx.attach
  bsp/stm32/stm32l475-atk-pandora/.ci/attachconfig/rtduino/tft-espi.attach
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/ST7789_adafruit_gfx_demo.cpp
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/ST7789_tft_espi_demo.cpp
Labels: BSP: STM32, BSP

#9504 [doxygen][rsoc]add pin driver example for doxygen
  components/drivers/include/drivers/dev_pin.h
Labels: Component, component: drivers

#9507 [RTduino] support TFT_eSPI demo
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/SConscript
  bsp/stm32/stm32l475-atk-pandora/board/ports/arduino/ST7789_tft_espi_demo.cpp
Labels: BSP: STM32, BSP

#9508 [stm32-l475][ci] add lvgl 8.3 and 8.4 version checking
  bsp/stm32/stm32l475-atk-pandora/.ci/attachconfig/lvgl/lvgl-v8.3-latest.attach
  bsp/stm32/stm32l475-atk-pandora/.ci/attachconfig/lvgl/lvgl-v8.3.11.attach
  bsp/stm32/stm32l475-atk-pandora/.ci/attachconfig/lvgl/lvgl-v8.4-latest.attach
Labels: BSP: STM32, BSP

#9510 [components][ymodem] last frame's data_sz issue, fixed.
  components/utilities/ymodem/ymodem.c
Labels: +1, Component

#9509 [stm32-f469][ci] add lvgl 8.3 and 8.4 version checking
  bsp/stm32/stm32f469-st-disco/.ci/attachconfig/lvgl/lvgl-v8.3-latest.attach
  bsp/stm32/stm32f469-st-disco/.ci/attachconfig/lvgl/lvgl-v8.3.11.attach
  bsp/stm32/stm32f469-st-disco/.ci/attachconfig/lvgl/lvgl-v8.4-latest.attach
Labels: +1, BSP: STM32, BSP

#9514 [action] remove debug option
  .github/workflows/manual_dist.yml
Labels: action

#9515 [action] open action_tools.yml
  .github/workflows/action_tools.yml
Labels: action

#9512 [libcpu][risc-v]add README for RV64
  libcpu/risc-v/common/readme.md
  libcpu/risc-v/common64/README.md
Labels: Arch: RISC-V, libcpu

#9506 [doxygen][rsoc]add pwm touch can i2c spi driver example for doxygen
  components/drivers/include/drivers/dev_can.h
  components/drivers/include/drivers/dev_i2c.h
  components/drivers/include/drivers/dev_pin.h
  components/drivers/include/drivers/dev_pwm.h
  components/drivers/include/drivers/dev_spi.h
  components/drivers/include/drivers/dev_touch.h
Labels: Component, component: drivers

#9513 [bsp][ESP32][esp32c3] add spi driver
  bsp/ESP32_C3/drivers/Kconfig
  bsp/ESP32_C3/drivers/SConscript
  bsp/ESP32_C3/drivers/drv_spi.c
  bsp/ESP32_C3/drivers/drv_spi.h
Labels: BSP, BSP: ESP32

#9516 [libcpu][risc-v]remove the redundant "0x" from the printed information when cpu is in exception
  libcpu/risc-v/common64/trap.c
Labels: Arch: RISC-V, libcpu

#9517 [drivers][spi] Fixed an issue that caused spi bus deadlock in the spi configuration
  components/drivers/spi/dev_spi_core.c
Labels: component: drivers/spi, Component, component: drivers

#9520 [components][dfs][dfs_v1]cat输出实际读取的长度
  components/dfs/dfs_v1/src/dfs_file.c
Labels: Component

#9442 [component][sal]add netgetdev api
  components/net/netdev/include/netdev.h
  components/net/netdev/src/netdev.c
Labels: +1, component: net, Component, component: net/netdev

#9466 feat: arm64: update thread self on sp-switch
  libcpu/aarch64/common/include/armv8.h
  libcpu/aarch64/common/include/cpuport.h
  libcpu/aarch64/common/mp/context_gcc.S
  src/scheduler_mp.c
Labels: +1, Kernel, Arch: ARM/AArch64, libcpu

#9477 [components][smp]remove redundant memset & unlock in smp
  components/drivers/smp/smp.c
Labels: +1, Component, component: drivers

#9418 [components][sal]add netdev ifindex feature
  components/net/netdev/include/netdev.h
  components/net/netdev/src/netdev.c
  components/net/sal/src/sal_socket.c
Labels: +1, Component, component: net/netdev, component: net/sal

#9511 [libcpu][risc-v] fix the bug when using ASID in the RV64 MMU.
  libcpu/risc-v/common64/asid.c
Labels: +1, +2, Arch: RISC-V, libcpu

#9525 move `GPIO_InitStruct` variable inside to `PIN_IRQ_ENABLE`
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_gpio.c
Labels: BSP: STM32, BSP

#9527 [bsp][Infineon]add drv_eth
  bsp/Infineon/libraries/HAL_Drivers/SConscript
  bsp/Infineon/libraries/HAL_Drivers/drv_adc.c
  bsp/Infineon/libraries/HAL_Drivers/drv_adc.h
  bsp/Infineon/libraries/HAL_Drivers/drv_common.c
  bsp/Infineon/libraries/HAL_Drivers/drv_common.h
  bsp/Infineon/libraries/HAL_Drivers/drv_dac.c
  bsp/Infineon/libraries/HAL_Drivers/drv_dac.h
  bsp/Infineon/libraries/HAL_Drivers/drv_eth.c
  bsp/Infineon/libraries/HAL_Drivers/drv_eth.h
  bsp/Infineon/libraries/HAL_Drivers/drv_flash.c
  bsp/Infineon/libraries/HAL_Drivers/drv_flash.h
  bsp/Infineon/libraries/HAL_Drivers/drv_gpio.c
  bsp/Infineon/libraries/HAL_Drivers/drv_gpio.h
  bsp/Infineon/libraries/HAL_Drivers/drv_hwtimer.c
  bsp/Infineon/libraries/HAL_Drivers/drv_hwtimer.h
  bsp/Infineon/libraries/HAL_Drivers/drv_i2c.c
  bsp/Infineon/libraries/HAL_Drivers/drv_log.h
  bsp/Infineon/libraries/HAL_Drivers/drv_pwm.c
  bsp/Infineon/libraries/HAL_Drivers/drv_pwm.h
  bsp/Infineon/libraries/HAL_Drivers/drv_rtc.c
  bsp/Infineon/libraries/HAL_Drivers/drv_sdcard.c
  bsp/Infineon/libraries/HAL_Drivers/drv_soft_i2c.c
  bsp/Infineon/libraries/HAL_Drivers/drv_soft_i2c.h
  bsp/Infineon/libraries/HAL_Drivers/drv_spi.c
  bsp/Infineon/libraries/HAL_Drivers/drv_spi.h
  bsp/Infineon/libraries/HAL_Drivers/drv_uart.c
  bsp/Infineon/libraries/HAL_Drivers/drv_uart.h
  bsp/Infineon/libraries/HAL_Drivers/drv_wdt.c
  bsp/Infineon/libraries/HAL_Drivers/eth_config.h
  bsp/Infineon/libraries/HAL_Drivers/uart_config.h
  bsp/Infineon/xmc7200-kit_xmc7200_evk/board/Kconfig
Labels: BSP, BSP: Infineon

#9532 [bsp][stm32] fix variable init
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_gpio.c
Labels: BSP: STM32, BSP

#9545 [action] fix the fail action
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-latest.attach
Labels: BSP: STM32, BSP

#9542 [bsp][rsoc]Fix compilation issues with bsp of hc32l136
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/hc32l136/Libraries/CMSIS/Device/HDSC/HC32L136/Include/base_types.h
  bsp/hc32l136/Libraries/CMSIS/Device/HDSC/HC32L136/Source/GCC/startup_hc32l136.s
  bsp/hc32l136/Libraries/CMSIS/Include/core_cm0plus.h
  bsp/hc32l136/Libraries/HC32L136_StdPeriph_Driver/src/ddl.c
  bsp/hc32l136/Libraries/HC32L136_StdPeriph_Driver/src/rtc.c
  bsp/hc32l136/Libraries/SConscript
  bsp/hc32l136/SConstruct
  bsp/hc32l136/applications/main.c
  bsp/hc32l136/board/linker_scripts/link.lds
  bsp/hc32l136/project.uvguix.CYFSybW
  bsp/hc32l136/project.uvoptx
  bsp/hc32l136/project.uvprojx
  bsp/hc32l136/rtconfig.py
Labels: +1, BSP, action

#9543 [bsp][stm32][rsoc]串口超时判断逻辑有问题
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_usart.c
Labels: BSP: STM32, BSP

#9523 fixup: smart: sys_mount: UAF vulnerability
  components/lwp/lwp_syscall.c
Labels: RT-Smart, component: lwp, Component

#9569 [src][signal]:fix the issue of inconsistent results between sigaddset and sig_mask when using musl-libc
  src/signal.c
Labels: Kernel, testcase, Component

#9570 [action] add nrf5340 ci config
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/adc.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/chip_flash.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/i2c.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/ipc.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/pwm.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/qspi_flash.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/rtc.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/spi.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/tim.attach
  bsp/nrf5x/nrf5340/.ci/attachconfig/devices/wdt.attach
  bsp/nrf5x/nrf5340/board/Kconfig
Labels: BSP, action

#9568 [kernel] Specification interrupt nested level variable declaration type
  bsp/allwinner_tina/libcpu/interrupt.c
  bsp/asm9260t/platform/interrupt.c
  bsp/at91/at91sam9260/platform/interrupt.c
  bsp/at91/at91sam9g45/platform/interrupt.c
  bsp/bluetrum/ab32vg1-ab-prougen/board/board.c
  bsp/cvitek/c906_little/board/interrupt.c
  bsp/dm365/platform/interrupt.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_sys.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_sys.c
  bsp/nxp/imx/imx6sx/cortex-a9/cpu/interrupt.c
  bsp/raspberry-pi/raspi2/cpu/interrupt.c
  bsp/raspberry-pi/raspi3-32/cpu/interrupt.c
  bsp/ti/c28x/tms320f28379d/board/board.c
  libcpu/arm/AT91SAM7S/interrupt.c
  libcpu/arm/AT91SAM7X/interrupt.c
  libcpu/arm/am335x/interrupt.c
  libcpu/arm/cortex-r4/interrupt.c
  libcpu/arm/lpc214x/cpuport.c
  libcpu/arm/lpc24xx/interrupt.c
  libcpu/arm/realview-a8-vmm/interrupt.c
  libcpu/arm/s3c24x0/interrupt.c
  libcpu/arm/s3c44b0/interrupt.c
  libcpu/arm/sep4020/interrupt.c
  libcpu/arm/zynqmp-r5/interrupt.c
  libcpu/m16c/m16c62p/cpuport.c
  libcpu/ppc/ppc405/interrupt.c
  libcpu/risc-v/t-head/c906/interrupt.c
  libcpu/risc-v/t-head/c908/interrupt.c
  libcpu/rx/cpuport.c
  libcpu/sparc-v8/bm3803/interrupt.c
  libcpu/ti-dsp/c28x/cpuport.c
  libcpu/ti-dsp/c6x/interrupt.c
  libcpu/unicore32/sep6200/interrupt.c
  libcpu/v850/70f34/cpuport.c
  libcpu/xilinx/microblaze/trap.c
  src/scheduler_up.c
Labels: BSP: NXP, BSP: STM32, BSP, Kernel, action, BSP: Cvitek, Arch: RISC-V, libcpu

#9575 add missing extern "C" in header to support cpp
  components/drivers/include/ipc/completion.h
  components/drivers/spi/dev_spi_flash_sfud.h
Labels: component: drivers/spi, Component, component: drivers

#9578 [doc] Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: action

#9583 [BSP]添加nrf52840的.ci文件，修复因rt_hw_pin_init引起的finsh警告，修复rtc编译报错
  bsp/nrf5x/libraries/drivers/drv_gpio.c
  bsp/nrf5x/libraries/drivers/drv_gpio.h
  bsp/nrf5x/libraries/drivers/drv_rtc.c
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/adc.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/flash.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/gpio.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/hwtimer.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/i2c.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/pwm.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/qspi_flash.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/rtc.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/spi.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/uart.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/wdt.attach
Labels: BSP

#9584 [bsp][raspberry-pico] 修复rtconfig.h SPI1部分引脚错误问题
  bsp/raspberry-pico/board/Kconfig
Labels: BSP

#9585 [bsp][hc32] 修复SPI驱动的片选脚获取方式
  bsp/hc32/libraries/hc32_drivers/drv_spi.c
Labels: BSP

#9589 [src][clock] RT_TICK_PER_SECOND为1000时tick不用进行转换
  src/clock.c
Labels: Kernel

#9601 [BSP][FRDM-MCX-C444] Adapter IAR 9.60 project.
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/board.h
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/linker_scripts/MCXC444_flash.icf
  bsp/nxp/mcx/mcxc/frdm-mcxc444/project.ewd
  bsp/nxp/mcx/mcxc/frdm-mcxc444/project.ewp
  bsp/nxp/mcx/mcxc/frdm-mcxc444/project.eww
  bsp/nxp/mcx/mcxc/frdm-mcxc444/template.ewp
Labels: BSP: NXP, BSP
