Repository RT-Thread/rt-thread, pull requests merged in 2024-07, with the labels that each got.

#9131 [bsp/cvitek]解决eth编译报错
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.h
Labels: BSP:cvitek

#9133 [bsp][stm32]Increase the serial_v1 tx timeout.
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_usart.c
Labels: BSP: STM32

#9140 fix an issue where repeated remove of card resulted in assertions
  components/drivers/sdio/sdio.c
Labels: component

#9139 [tool][cmake] Let cmake generator get more param from `rtconfig.py`
  tools/building.py
  tools/cmake.py
Labels: tools

#9144 [bsp][qemu]修复qemu-a9使能lcd缺失依赖问题.
  bsp/qemu-vexpress-a9/drivers/Kconfig
  bsp/qemu-vexpress-a9/drivers/drv_clcd.h
Labels: BSP

#9148 [bsp/cvitek] document: add ref to gpio pinout
  bsp/cvitek/cv18xx_risc-v/README.md
  bsp/cvitek/cv18xx_risc-v/README_en.md
Labels: BSP:cvitek

#9142 [bsp/allwinner] feat: porting to RT_USING_DEVICE_OPS
  bsp/allwinner/d1s/.config
  bsp/allwinner/d1s/applications/mnt.c
  bsp/allwinner/d1s/ports/partition/partition.c
  bsp/allwinner/d1s/rtconfig.h
  bsp/allwinner/libraries/drivers/sdmmc/drv_sdmmc.c
  bsp/allwinner/libraries/drivers/sdmmc/drv_sdmmc.h
  bsp/allwinner/libraries/libos/src/os.c
  bsp/allwinner/libraries/sunxi-hal/hal/source/sdmmc/blkpart.c
Labels: BSP

#9160 [fixed][kconfiglib]test kconfiglib is installed and info how to install
  tools/menukconfig.py
Labels: in progress

#9137 [bsp/cvitek]将eth驱动中地址类型改为指针以适应ioremap
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.c
Labels: BSP:cvitek

#9123 feat: support ARCH_REMAP_KERNEL on libcpu/c906
  components/mm/mm_aspace.h
  libcpu/Kconfig
  libcpu/risc-v/t-head/c906/mmu.c
  libcpu/risc-v/t-head/c906/startup_gcc.S
Labels: 🎯 Focus, BSP:cvitek

#9170 [driver][virtio]fix virtio net rx error
  components/drivers/virtio/virtio_net.c
Labels: driver/virtio

#9183 [components][fal]Log warning for block partition exceeding flash length
  components/fal/src/fal_flash.c
Labels: component: fal

#9176 [lwp][vdso] Add VDSO functionality under the aarch64 architecture
  .gitignore
  components/lwp/Kconfig
  components/lwp/SConscript
  components/lwp/arch/aarch64/common/vdso.c
  components/lwp/arch/aarch64/common/vdso_data.c
  components/lwp/lwp.h
  components/lwp/lwp_elf.c
  components/lwp/vdso/Kconfig
  components/lwp/vdso/SConscript
  components/lwp/vdso/kernel/vdso.h
  components/lwp/vdso/kernel/vdso_data.h
  components/lwp/vdso/kernel/vdso_text.S
  components/lwp/vdso/user/SConstruct
  components/lwp/vdso/user/vdso.lds.S
  components/lwp/vdso/user/vdso_sys.c
  components/lwp/vdso/user/vdso_sys.h
  components/lwp/vdso/user/xmake.lua
  components/lwp/vdso/vdso_config.h
  components/lwp/vdso/vdso_datapage.h
  components/lwp/vdso/vdso_weak.c
  libcpu/aarch64/cortex-a/entry_point.S
  src/clock.c
Labels: Arch: ARM/AArch64, RT-Smart

#9191 [bsp/cvitek]: add calibration for adc
  bsp/cvitek/drivers/drv_adc.c
  bsp/cvitek/drivers/drv_adc.h
Labels: BSP: Cvitek, Arch: RISC-V

#9195 [dfs] Mark dirty on unmap on shared mapping only
  components/dfs/dfs_v2/src/dfs_pcache.c
Labels: RT-Smart

#9138 [libcpu][setup]fix fdt_ptr error
  libcpu/aarch64/common/setup.c
Labels: libcpu

#9186 [smart] feat: add unmap for null mapper
  components/lwp/lwp_user_mm.c
Labels: +1, RT-Smart

#9164 [libcpu/rv64] feat: unify tick.c
  bsp/allwinner/d1s/.config
  bsp/allwinner/d1s/Kconfig
  bsp/allwinner/d1s/rtconfig.h
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  bsp/qemu-virt64-riscv/.config
  bsp/qemu-virt64-riscv/Kconfig
  bsp/qemu-virt64-riscv/rtconfig.h
  components/drivers/include/drivers/cputime.h
  libcpu/Kconfig
  libcpu/risc-v/t-head/c906/tick.c
  libcpu/risc-v/t-head/c906/tick.h
  libcpu/risc-v/virt64/tick.c
  libcpu/risc-v/virt64/tick.h
Labels: Arch: RISC-V

#9199 bsp: cvitek: re-wrote i2c driver
  bsp/cvitek/drivers/drv_hw_i2c.c
  bsp/cvitek/drivers/drv_hw_i2c.h
Labels: +1, +2, BSP: Cvitek, Arch: RISC-V

#9201 bsp: cvitek: accuulated bugfixes for wdt driver
  bsp/cvitek/drivers/drv_wdt.c
Labels: +1, +2, BSP: Cvitek, Arch: RISC-V

#9190 [driver][random]fix potential return value discrepancy when writing to urandom
  components/drivers/misc/rt_random.c
Labels: +1, component: driver

#9194 adapt to rv64ilp32 toolchain
  bsp/qemu-virt64-riscv/Kconfig
  bsp/qemu-virt64-riscv/README_ZH.md
  bsp/qemu-virt64-riscv/qemu-rv64ilp32-nographic.sh
  libcpu/risc-v/virt64/context_gcc.S
  libcpu/risc-v/virt64/cpuport.c
  libcpu/risc-v/virt64/cpuport.h
  libcpu/risc-v/virt64/cpuport_gcc.S
  libcpu/risc-v/virt64/ext_context.h
  libcpu/risc-v/virt64/interrupt.h
  libcpu/risc-v/virt64/regtypes.h
  libcpu/risc-v/virt64/riscv.h
  libcpu/risc-v/virt64/stackframe.h
  libcpu/risc-v/virt64/trap.c
Labels: change req, Arch: RISC-V

#9208 [components][lwp]fix exec and mount error code
  components/dfs/dfs_v2/src/dfs_fs.c
  components/lwp/lwp_syscall.c
Labels: +1, RT-Smart, component: dfsv2

#9207 bsp: cvitek: switch to device init function for some drivers
  bsp/cvitek/drivers/drv_adc.c
  bsp/cvitek/drivers/drv_hw_i2c.c
  bsp/cvitek/drivers/drv_pwm.c
  bsp/cvitek/drivers/drv_spi.c
  bsp/cvitek/drivers/drv_wdt.c
Labels: BSP: Cvitek, Arch: RISC-V

#9218 [action][runner] add the keil ci check for runner
  .github/workflows/action_runner.yml
Labels: action

#9216 [bsp][cvitek]: 将adc wdt驱动的局部函数移至源文件
  bsp/cvitek/drivers/drv_adc.c
  bsp/cvitek/drivers/drv_adc.h
  bsp/cvitek/drivers/drv_wdt.c
  bsp/cvitek/drivers/drv_wdt.h
Labels: Arch: RISC-V

#9213 [utest] feat: print progress on testing timer
  examples/utest/testcases/kernel/sched_timed_mtx_tc.c
  examples/utest/testcases/kernel/timer_tc.c
Labels: testcase

#9233 bsp: cvitek: improve documentation
  bsp/cvitek/README.md
  bsp/cvitek/c906_little/README.md
  bsp/cvitek/c906_little/README_en.md
  bsp/cvitek/cv18xx_risc-v/README.md
  bsp/cvitek/cv18xx_risc-v/README_en.md
Labels: BSP: Cvitek, Arch: RISC-V, Arch: ARM/AArch64

#9225 components: net: lwip: port: add netdev callback on link status chang…
  components/net/lwip/port/ethernetif.c
  components/net/netdev/Kconfig
Labels: component: net

#9212 [libcpu] trimming ARM64 general context
  components/lwp/arch/aarch64/cortex-a/lwp_arch.c
  components/lwp/arch/aarch64/cortex-a/lwp_gcc.S
  libcpu/aarch64/common/backtrace.c
  libcpu/aarch64/common/include/asm-generic.h
  libcpu/aarch64/common/include/context_gcc.h
  libcpu/aarch64/common/mp/context_gcc.S
  libcpu/aarch64/common/mp/context_gcc.h
  libcpu/aarch64/common/mp/vector_gcc.S
  libcpu/aarch64/common/stack.c
  libcpu/aarch64/common/stack_gcc.S
  libcpu/aarch64/common/up/context_gcc.S
  libcpu/aarch64/common/up/context_gcc.h
  libcpu/aarch64/common/up/vector_gcc.S
Labels: Arch: ARM/AArch64, RT-Smart

#9238 bsp: cvitek: fixed stacksize issue
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/SConstruct
  bsp/cvitek/cv18xx_risc-v/link_stacksize.lds
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
Labels: +1, BSP: Cvitek, Arch: RISC-V

#9247 bsp: cviteK: update board init for aarch64
  bsp/cvitek/cv18xx_aarch64/board/board.c
Labels: BSP: Cvitek, Arch: ARM/AArch64

#9236 quality: include the essential only to avoid recursion
  libcpu/aarch64/common/include/armv8.h
  libcpu/aarch64/common/include/cpuport.h
Labels: Arch: ARM/AArch64

#9221 bsp: cvitek: add missing soc type for aarch64
  bsp/cvitek/cv18xx_aarch64/.config
  bsp/cvitek/cv18xx_aarch64/Kconfig
  bsp/cvitek/cv18xx_aarch64/board/Kconfig
  bsp/cvitek/cv18xx_aarch64/rtconfig.h
Labels: BSP: Cvitek, Arch: ARM/AArch64

#9228 [BSP/Phytium]适配最新驱动
  bsp/phytium/aarch32/.config
  bsp/phytium/aarch32/Kconfig
  bsp/phytium/aarch32/applications/main.c
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch32/configs/phytium_pi_rtthread
  bsp/phytium/aarch32/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch32/makefile
  bsp/phytium/aarch32/rtconfig.h
  bsp/phytium/aarch64/.config
  bsp/phytium/aarch64/Kconfig
  bsp/phytium/aarch64/applications/main.c
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch64/configs/phytium_pi_rtthread
  bsp/phytium/aarch64/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch64/makefile
  bsp/phytium/aarch64/rtconfig.h
  bsp/phytium/board/board.c
  bsp/phytium/board/phytium_cpu.c
  bsp/phytium/board/phytium_cpu.h
  bsp/phytium/board/phytium_cpu_id.S
  bsp/phytium/board/secondary_cpu.c
  bsp/phytium/board/smp_sgi_test.c
  bsp/phytium/libraries/common/phytium_interrupt.c
  bsp/phytium/libraries/drivers/drv_can.c
  bsp/phytium/libraries/drivers/drv_dc.c
  bsp/phytium/libraries/drivers/drv_gpio.c
  bsp/phytium/libraries/drivers/drv_i2c.c
  bsp/phytium/libraries/drivers/drv_pwm.c
  bsp/phytium/libraries/drivers/drv_qspi.c
  bsp/phytium/libraries/drivers/drv_sdif.c
  bsp/phytium/libraries/phytium_standalone_sdk_install.py
  components/utilities/ymodem/ry_sy.c
  libcpu/aarch64/common/cpuport.c
  libcpu/aarch64/common/include/cpuport.h
Labels: BSP: Phytium

#9249 bsp: cvitek: fix cv18xx_aarch64 mnt init blocking
  bsp/cvitek/cv18xx_aarch64/board/board.c
Labels: BSP: Cvitek, Arch: ARM/AArch64

#9252 bsp: feat: add config of bootfs
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/drivers/SConscript
  bsp/cvitek/drivers/port/mnt_cromfs.c
  bsp/cvitek/drivers/port/mnt_romfs.c
  components/dfs/dfs_v2/filesystems/cromfs/dfs_cromfs.h
Labels: +1, wait_+2, BSP: Cvitek, Arch: RISC-V

#9260 [dhcp]fix typo in dhcp server
  components/net/lwip-dhcpd/dhcp_server_raw.c
Labels: component: net

#9265 [armlibc] 修复AC6更新至6.19后_sys_tmpnam()函数编译报错， 直接从主分支的 commit #cef57d0 rebase过来。
  components/libc/compilers/armlibc/syscalls.c
Labels: lts-v4.1.x

#9185 [tools/env]统一tools中env相关的接口，优化env部分路径拼接
  .github/workflows/bsp_buildings.yml
  .github/workflows/compile_bsp_with_drivers.yml
  .github/workflows/manual_dist.yml
  .github/workflows/manual_trigger_scons_STM32_all.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  .github/workflows/manual_trigger_scons_fail_bsp_all.yml
  tools/building.py
  tools/env.py
  tools/env_utility.py
  tools/install_env.py
  tools/menukconfig.py
  tools/options.py
Labels: env
