Repository RT-Thread/rt-thread, pull requests merged in 2024-09, with the labels that each got.

#9374 update(cherryusb): add config for mcxn947 usbdev and usbhost
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/Kconfig
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/SConscript
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/cherryusb_port.c
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/linker_scripts/MCXN947_cm33_core0_flash.ld
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb.h
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb_config.h
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb_phy.c
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/usb_phy.h
Labels: BSP: NXP, BSP

#9371 update(cherryusb): fix dfs mem leak, add check for lwip stack size
  components/drivers/usb/cherryusb/Kconfig
  components/drivers/usb/cherryusb/Kconfig.cherryusb
  components/drivers/usb/cherryusb/osal/usb_osal_rtthread.c
  components/drivers/usb/cherryusb/platform/rtthread/usb_check.c
  components/drivers/usb/cherryusb/platform/rtthread/usbh_dfs.c
  components/drivers/usb/cherryusb/platform/rtthread/usbh_lwip.c
Labels: Component

#9373 update(cherryusb): add config for hpm6750 usbdev and usbhost
  bsp/hpmicro/hpm6750evk2/.config
  bsp/hpmicro/hpm6750evk2/board/Kconfig
  bsp/hpmicro/hpm6750evk2/board/SConscript
  bsp/hpmicro/hpm6750evk2/board/cherryusb_port.c
  bsp/hpmicro/hpm6750evk2/board/rtt_board.c
  bsp/hpmicro/hpm6750evk2/board/usb_config.h
  bsp/hpmicro/hpm6750evk2/rtconfig.h
  bsp/hpmicro/hpm6750evkmini/board/rtt_board.c
Labels: BSP

#9377 fix(cherryusb): fix build error
  components/drivers/usb/cherryusb/SConscript
  components/drivers/usb/cherryusb/class/msc/usbd_msc.c
  components/drivers/usb/cherryusb/port/ehci/usb_glue_ma35d0.c
Labels: Component

#9376 [bsp/at32] ethernet support phy lan8720 and yt8512
  bsp/at32/at32f407-start/board/Kconfig
  bsp/at32/at32f437-start/board/Kconfig
  bsp/at32/libraries/rt_drivers/drv_emac.c
  bsp/at32/libraries/rt_drivers/drv_emac.h
Labels: BSP, BSP: AT32

#9372 update(cherryusb): add config for bl616 usbdev and usbhost
  bsp/bouffalo_lab/bl61x/.config
  bsp/bouffalo_lab/bl61x/applications/main.c
  bsp/bouffalo_lab/bl61x/board/Kconfig
  bsp/bouffalo_lab/bl61x/board/cherryusb_port.c
  bsp/bouffalo_lab/bl61x/board/usb_config.h
  bsp/bouffalo_lab/bl61x/rtconfig.h
Labels: BSP

#9381 bsp: nxp/mcx/mcxc: FRDM-MCXC444: Fix GCC build suport.
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/linker_scripts/MCXC444_flash.ld
  bsp/nxp/mcx/mcxc/frdm-mcxc444/rtconfig.py
Labels: BSP: NXP, BSP

#9384 [libc] 修复 ctime()死机问题
  components/libc/compilers/common/ctime.c
Labels: bug, Component

#9364 [libcpu/aarch64]atomic实现修改
  libcpu/aarch64/common/atomic_aarch64.c
Labels: +1, BSP, Arch: ARM/AArch64, libcpu, BSP: Phytium

#9387 [bsp][mcxc] add rtc/wdog/uart driver
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_rtc.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_rtc.h
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_uart.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_wdt.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_wdt.h
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/Kconfig
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/MCUX_Config/board/pin_mux.c
Labels: BSP: NXP, BSP

#9317 [bsp/cvitek] eth driver support phy link detect
  bsp/cvitek/drivers/drv_eth.c
  bsp/cvitek/drivers/libraries/eth/cvi_eth_phy.c
  bsp/cvitek/drivers/libraries/eth/cvi_eth_phy.h
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.c
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.h
  bsp/cvitek/drivers/libraries/eth/eth_phy_cvitek.c
Labels: BSP, BSP: Cvitek

#9379 [fix][device] 修正使用rt_device_create创建设备，使用rt_device_destroy删除失败的问题
  components/drivers/core/device.c
  src/object.c
Labels: bug, Kernel, Component

#9388 [action] update cppcheck version
  .github/workflows/static_code_analysis.yml
Labels: action

#9257 bsp: cvitek: fix cvitek uart driver can not repeat configure
  bsp/cvitek/drivers/drv_uart.c
Labels: +1, BSP: Cvitek

#9368 fixup: ipc: protect taken_list on shared lock
  src/ipc.c
Labels: Kernel

#9391 [action][cppcheck] fix the cfg path
  .github/workflows/static_code_analysis.yml
Labels: action

#9393 [components][at_socket] 添加errno设置
  components/net/at/at_socket/at_socket.c
Labels: +1, Component

#9396 [bsp/phytium]默认配置修改
  bsp/phytium/aarch32/.config
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch32/rtconfig.h
  bsp/phytium/aarch64/.config
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch64/configs/phytium_pi_rtthread
  bsp/phytium/aarch64/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch64/rtconfig.h
Labels: BSP, BSP: Phytium

#9402 bsp: cvitek: clean up useless variable assignments in SConstruct
  bsp/cvitek/cv18xx_risc-v/SConstruct
Labels: BSP, BSP: Cvitek

#9401 [action] add cppcheck project and action debug
  .github/workflows/manual_dist.yml
Labels: action

#9353 [utest]add mutex_pi_tc
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/mutex_pi_tc.c
  src/ipc.c
Labels: Kernel, testcase

#9404 【修复】audio_pipe中函数在开启POSIX IPC时与 POSIX PIPE冲突问题
  components/drivers/audio/dev_audio_pipe.c
Labels: Component

#9406 [action] fix cppcheck build dir
  .github/workflows/static_code_analysis.yml
Labels: action

#9415 [bsp/n32] 修复每次上电都初始化RTC导致上电时间被重置的问题
  bsp/n32/libraries/n32_drivers/drv_rtc.c
Labels: BSP

#9410 [components][sensor]增加电源检测类型
  components/drivers/include/drivers/sensor.h
  components/drivers/sensor/v1/sensor.c
  components/drivers/sensor/v1/sensor_cmd.c
Labels: Component

#9422 [bsp][hpmicro]添加utest相关段信息，修复scons编译问题
  bsp/hpmicro/hpm5300evk/SConstruct
  bsp/hpmicro/hpm5300evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm5301evklite/SConstruct
  bsp/hpmicro/hpm5301evklite/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6200evk/SConstruct
  bsp/hpmicro/hpm6200evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6300evk/SConstruct
  bsp/hpmicro/hpm6300evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6750evk/SConstruct
  bsp/hpmicro/hpm6750evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6750evk2/SConstruct
  bsp/hpmicro/hpm6750evk2/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6750evkmini/SConstruct
  bsp/hpmicro/hpm6750evkmini/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6800evk/SConstruct
  bsp/hpmicro/hpm6800evk/board/linker_scripts/flash_rtt.ld
  bsp/hpmicro/hpm6e00evk/SConstruct
  bsp/hpmicro/hpm6e00evk/board/linker_scripts/flash_rtt.ld
Labels: BSP, BSP: HPMicro

#9041 [DM/MISC] Add error No for ptr
  components/drivers/include/drivers/misc.h
Labels: +1, component: driver, Component

#9337 [kernel][mutex] fix bug of thread exit without releasing mutex & add error check log
  bsp/apm32/apm32f030r8-miniboard/rtconfig.py
  bsp/apm32/apm32f051r8-evalboard/rtconfig.py
  src/ipc.c
  src/thread.c
Labels: BSP, Kernel

#9412 [components][lwp]remove extra check in sys_bind
  components/lwp/lwp_syscall.c
Labels: +1, Component

#9425 [action][ci] add cppcheck new feature
  tools/ci/cpp_check.py
Labels: urgent 🏃, action

#9426 [action][cppcheck] add summary
  .github/workflows/static_code_analysis.yml
  tools/ci/cpp_check.py
Labels: action, tools

#9430 bsp: nxp/mcx/mcxc/mcxc444: Add SPI driver support.
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_spi.c
  bsp/nxp/mcx/mcxc/Libraries/drivers/drv_spi.h
  bsp/nxp/mcx/mcxc/frdm-mcxc444/board/Kconfig
Labels: BSP: NXP, BSP

#9438 [lwp] 取消脚本中限制rv的具体cpu类别
  components/lwp/SConscript
Labels: +1, Component

#9434 [components][lwip]fix lwip poll macro conflict
  components/net/lwip/lwip-2.1.2/src/include/lwip/sockets.h
  components/net/sal/impl/af_inet_lwip.c
Labels: +1, Component

#9437 [bsp][gd32]Fix the problem that uartv2 does not enable dma compilatio…
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart_v2.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart_v2.h
Labels: BSP, BSP: GD32

#9436 [component][net]add more socket flag
  components/lwp/lwp_sys_socket.h
  components/lwp/lwp_syscall.c
Labels: Component

#9423 [components][sal]replace netdev's spin_lock_irqsave to spin_lock
  components/net/netdev/src/netdev.c
Labels: Component

#9441 [ci]完善组件中的ci-labels
  .github/labeler.yml
Labels: action

#9431 [component][sal]delete netdev_lo
  components/net/netdev/include/netdev.h
  components/net/netdev/src/netdev.c
  components/net/sal/src/sal_socket.c
Labels: Component, component: net/netdev, component: net/sal

#9445 [ci]修正#9441-label路径设置错误
  .github/labeler.yml
Labels: action

#9447 fixup: dfsv2: aligned proto of seq_file_lseek to manual
  components/dfs/dfs_v2/include/dfs_seq_file.h
  components/dfs/dfs_v2/src/dfs_seq_file.c
Labels: Component

#9448 fixup: smart: remove unnecessary Kconfig option
  components/lwp/Kconfig
Labels: Component

#9429 [components][sal]delay getting sal_proto_family in sal_ioctlsocket
  components/net/sal/src/sal_socket.c
Labels: Component, component: net/sal

#9446 [doxygen] add driver example for doxygen
  .github/workflows/doxygen.yml
  components/drivers/include/drivers/dev_can.h
  components/drivers/include/drivers/dev_serial.h
  components/drivers/include/drivers/dev_serial_v2.h
  components/finsh/finsh.h
  documentation/doxygen/Doxyfile
Labels: Doc, action, Component

#9449 fixup: dfs_v2: correct device mode permissions in devfs
  components/dfs/dfs_v2/filesystems/devfs/devfs.c
Labels: +1, component: dfsv2, Component

#9453 [action/ci] Add toolchain stup script
  tools/ci/toolchain.sh
Labels: action, tools

#9455 [libcpu]优化rv构建脚本中选择vendor目录的判断条件
  libcpu/risc-v/SConscript
Labels: +1, Arch: RISC-V, libcpu

#9452 [fix]:fix log format and reopen with a different oflag issue
  components/drivers/core/device.c
Labels: Component, component: drivers/core

#9413 [components][sal]修改sal_bind对于协议族的判断
  components/net/sal/src/sal_socket.c
Labels: Component, component: net/sal

#9027 [DM/FDT] Fixup memory address reserved and translate in early
  components/drivers/ofw/fdt.c
Labels: component: drivers/ofw, Component

#9456 fixup: pty: possible memory leaking on close()
  components/lwp/terminal/tty_ptmx.c
Labels: +1, RT-Smart, component: lwp, Component

#9440 feat: smart: user space context optimization
  components/lwp/arch/aarch64/cortex-a/lwp_gcc.S
  libcpu/aarch64/common/include/vector_gcc.h
  libcpu/aarch64/common/up/context_gcc.h
  libcpu/aarch64/common/up/vector_gcc.S
  libcpu/aarch64/common/vector_gcc.S
Labels: +1, Arch: ARM/AArch64, RT-Smart, libcpu, Component

#9459 fix:[kstdio]Disable "-Wimplicit-fallthrough" below GNUC V7
  src/klibc/kstdio.c
Labels: +1, Kernel

#9460 [klibc] format comments after #9459
  src/klibc/kstdio.c
Labels: Kernel

#9464 [components]msh_double_name
  components/finsh/msh.c
Labels: component: finsh, Component

#9465 [doxygen][rsoc] add adc driver example for doxygen
  components/drivers/include/drivers/adc.h
Labels: Component, component: drivers

#9471 [doxygen][rsoc]add dac driver example for doxygen
  components/drivers/include/drivers/dac.h
Labels: Component, component: drivers

#9463 bsp:cvitek:add all function type of pinmux
  bsp/cvitek/drivers/drv_pinmux.h
Labels: BSP, BSP: Cvitek

#9472 [bsp] 添加k230
  bsp/k230/.config
  bsp/k230/.gitignore
  bsp/k230/Kconfig
  bsp/k230/README.md
  bsp/k230/SConscript
  bsp/k230/SConstruct
  bsp/k230/applications/SConscript
  bsp/k230/applications/main.c
  bsp/k230/applications/mnt.c
  bsp/k230/board/Kconfig
  bsp/k230/board/SConscript
  bsp/k230/board/board.c
  bsp/k230/board/board.h
  bsp/k230/drivers/SConscript
  bsp/k230/drivers/interdrv/SConscript
  bsp/k230/drivers/interdrv/sdio/SConscript
  bsp/k230/drivers/interdrv/sdio/drv_sdhci.c
  bsp/k230/drivers/interdrv/sdio/drv_sdhci.h
  bsp/k230/drivers/interdrv/uart/SConscript
  bsp/k230/drivers/interdrv/uart/drv_uart.c
  bsp/k230/drivers/interdrv/uart/drv_uart.h
  bsp/k230/link.lds
  bsp/k230/link_stacksize.lds
  bsp/k230/mkfm.sh
  bsp/k230/rtconfig.h
  bsp/k230/rtconfig.py
Labels: BSP, Arch: RISC-V

#9473 [doxygen][rsoc]add rtc devices example for doxygen
  components/drivers/include/drivers/adc.h
  components/drivers/include/drivers/dac.h
  components/drivers/include/drivers/dev_rtc.h
Labels: Component, component: drivers

#9468 [bsp][rsoc] Fix compilation issues with bsp of apm32 series
  bsp/apm32/apm32f030r8-miniboard/applications/main.c
  bsp/apm32/apm32f051r8-evalboard/applications/main.c
Labels: BSP

#9462 [bsp][stm32]lvgl creates adaptations of buffers in high or low versions
  bsp/stm32/stm32f407-rt-spark/board/ports/lvgl/lv_conf.h
  bsp/stm32/stm32f407-rt-spark/board/ports/lvgl/lv_port_disp.c
Labels: BSP: STM32, BSP

#9483 [doxygen][rsoc]add dac driver example for doxygen
  components/drivers/include/drivers/dac.h
Labels: Component, component: drivers

#9484 [bsp][stm32][dosc][rsoc]更新STM32 BSP 制作教程
  bsp/stm32/docs/How to make a STM32 BSP for RT-Thread.md
  bsp/stm32/docs/STM32系列BSP制作教程.md
  bsp/stm32/docs/figures/CubeMX_1.png
  bsp/stm32/docs/figures/CubeMX_2.png
  bsp/stm32/docs/figures/CubeMX_3.png
  bsp/stm32/docs/figures/CubeMX_4.png
  bsp/stm32/docs/figures/CubeMX_5.png
  bsp/stm32/docs/figures/CubeMX_6.png
  bsp/stm32/docs/figures_en/CubeMX_1.png
  bsp/stm32/docs/figures_en/CubeMX_2.png
  bsp/stm32/docs/figures_en/CubeMX_3.png
  bsp/stm32/docs/figures_en/CubeMX_4.png
  bsp/stm32/docs/figures_en/CubeMX_5.png
  bsp/stm32/docs/figures_en/CubeMX_6.png
Labels: BSP: STM32, BSP

#9478 [bsp/at32] update pwm driver
  bsp/at32/libraries/rt_drivers/drv_pwm.c
Labels: BSP, BSP: AT32

#9488 make rtc alarm internal thread's attributes configurable
  components/drivers/rtc/Kconfig
  components/drivers/rtc/dev_alarm.c
Labels: Component, component: drivers/rtc, component: drivers

#9481 [bsp][nuvoton][rsoc] Fix compilation issues with bsp of nuvoton series
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/nuvoton/libraries/m031/rtt_port/drv_adc.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_common.c
  bsp/nuvoton/libraries/m031/rtt_port/drv_wdt.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/m2354/rtt_port/drv_wdt.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_common.c
  bsp/nuvoton/libraries/m460/rtt_port/drv_log.h
  bsp/nuvoton/libraries/m480/rtt_port/drv_common.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_log.h
  bsp/nuvoton/libraries/m480/rtt_port/drv_spi.h
  bsp/nuvoton/libraries/m480/rtt_port/drv_usbhost.c
  bsp/nuvoton/libraries/m480/rtt_port/drv_wdt.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_adc.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_eadc.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_i2c.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_log.h
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_adc.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_log.h
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_adc.c
  bsp/nuvoton/libraries/nuc980/rtt_port/drv_log.h
  bsp/nuvoton/ma35-rtp/.config
  bsp/nuvoton/ma35-rtp/rtconfig.h
  bsp/nuvoton/nk-980iot/.config
  bsp/nuvoton/nk-980iot/rtconfig.h
  bsp/nuvoton/nk-n9h30/.config
  bsp/nuvoton/nk-n9h30/rtconfig.h
  bsp/nuvoton/nk-rtu980/.config
  bsp/nuvoton/nk-rtu980/applications/mnt.c
  bsp/nuvoton/nk-rtu980/rtconfig.h
  bsp/nuvoton/numaker-hmi-ma35d1/.config
  bsp/nuvoton/numaker-hmi-ma35d1/rtconfig.h
  bsp/nuvoton/numaker-iot-m467/.config
  bsp/nuvoton/numaker-iot-m467/rtconfig.h
  bsp/nuvoton/numaker-iot-m487/.config
  bsp/nuvoton/numaker-iot-m487/rtconfig.h
  bsp/nuvoton/numaker-iot-ma35d1/.config
  bsp/nuvoton/numaker-iot-ma35d1/rtconfig.h
  bsp/nuvoton/numaker-m032ki/.config
  bsp/nuvoton/numaker-m032ki/rtconfig.h
  bsp/nuvoton/numaker-m2354/.config
  bsp/nuvoton/numaker-m2354/rtconfig.h
  bsp/nuvoton/numaker-m467hj/.config
  bsp/nuvoton/numaker-m467hj/rtconfig.h
  bsp/nuvoton/numaker-pfm-m487/.config
  bsp/nuvoton/numaker-pfm-m487/rtconfig.h
Labels: BSP, action, component: net, Component, component: drivers/misc, component: net/at, component: net/sal, component: drivers

#9474 [bsp][nxp][rsoc] Fix compilation issues with bsp of nxp/lxp series
  .github/workflows/bsp_buildings.yml
  bsp/nxp/lpc/lpc5410x/Libraries/Device/startup/gcc_startup_lpc5410x.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/hw_i2cmond.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/hw_uart.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/pll_5410x.c
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/power_lib/keil/lib_power.lib
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/power_lib/lpcxpresso/libpower.a
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_5410x/romapi_5410x.h
  bsp/nxp/lpc/lpc5410x/Libraries/lpc_chip/chip_common/iap.h
  bsp/nxp/lpc/lpc5410x/applications/board.h
  bsp/nxp/lpc/lpc5410x/drivers/drv_uart.c
  bsp/nxp/lpc/lpc54114-lite/Libraries/devices/LPC54114/arm/keil_lib_power.lib
  bsp/nxp/lpc/lpc54114-lite/Libraries/devices/LPC54114/gcc/libpower_cm4_hardabi.a
  bsp/nxp/lpc/lpc54114-lite/Libraries/devices/LPC54114/iar/iar_lib_power.a
  bsp/nxp/lpc/lpc54114-lite/drivers/drv_spi.c
  components/drivers/include/drivers/adc.h
  components/drivers/include/drivers/dac.h
Labels: BSP: NXP, BSP, action, Component, component: drivers

#9492 [fixup] fix rtc alarm thread parameters issue
  components/drivers/rtc/Kconfig
  components/drivers/rtc/dev_alarm.c
Labels: Component, component: drivers/rtc, component: drivers

#9491 [bsp][essemi][rsoc] Fix compilation issues with bsp of essemi series
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/essemi/es32f0654/board/linker_scripts/link.icf
  bsp/essemi/es32f0654/board/linker_scripts/link.lds
  bsp/essemi/es32f0654/board/linker_scripts/link.sct
  bsp/essemi/es32f0654/rtconfig.py
  bsp/essemi/es32f365x/board/linker_scripts/link.icf
  bsp/essemi/es32f365x/board/linker_scripts/link.lds
  bsp/essemi/es32f365x/board/linker_scripts/link.sct
  bsp/essemi/es32f365x/rtconfig.py
Labels: BSP, action

#9487 [bsp][w60x][rsoc] Fix compilation issues with bsp of w60x
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/w60x/.config
  bsp/w60x/drivers/board.c
  bsp/w60x/rtconfig.h
Labels: BSP, action

#9489 [bsp][airm2m/air105][rsoc] Fix compilation issues with bsp of airm2m/air105
  .github/workflows/bsp_buildings.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  bsp/airm2m/air105/board/board.c
  bsp/airm2m/air105/libraries/HAL_Driver/Inc/core_irq.h
  bsp/airm2m/air105/libraries/HAL_Driver/Src/core_dma.c
  bsp/airm2m/air105/libraries/rt_drivers/drv_common.h
  bsp/airm2m/air105/makesoc.py
Labels: BSP, action
