Repository RT-Thread/rt-thread, pull requests merged in 2024-02, with the labels that each got.

#8522 fix MDK AC5 build warnings
  bsp/stm32/stm32l475-atk-pandora/board/ports/wlan/drv_wlan.c
  components/drivers/sdio/gpt.c
  components/drivers/wlan/wlan_mgnt.c
  components/finsh/cmd.c
  components/finsh/msh.c
Labels: +1

#8399 [components][at]update at
  components/net/at/Kconfig
  components/net/at/at_socket/at_socket.c
  components/net/at/include/at.h
  components/net/at/src/at_cli.c
  components/net/at/src/at_client.c
  components/net/at/src/at_server.c
  components/net/sal/impl/af_inet_at.c
Labels: v5.1.0

#8518 [GD32_ARM] Fix bugs in drv_adc when enable multiple channel.
  bsp/gd32/arm/libraries/gd32_drivers/drv_adc.c
Labels: in progress

#8454 [kernel] fix strict compiling warnings
  include/rtdef.h
  include/rtservice.h
  include/rtthread.h
  src/components.c
  src/idle.c
  src/ipc.c
  src/kservice.c
  src/mem.c
  src/memheap.c
  src/thread.c
  src/timer.c
Labels: v5.1.0

#8547 [ci][bsp][nxp] Enable CI build checks on MCXN/MCXA.
  .github/workflows/bsp_buildings.yml
Labels: in progress

#8395 fix(serial_v2): tx_fifo->rb.buffer_ptr not init when RT_DEVICE_FLAG_DMA_TX and RT_SERIAL_TX_BLOCKING
  components/drivers/serial/serial_v2.c
  components/drivers/usb/usbdevice/class/cdc_vcom.c
Labels: v5.1.0
