Repository RT-Thread/rt-thread, pull requests merged in 2024-03, with the labels that each got.

#8569 [bsp][nxp-mcx]修改默认下载器为Dap-Link
  bsp/nxp/mcxn/frdm-mcxn947/.config
  bsp/nxp/mcxn/frdm-mcxn947/project.uvoptx
  bsp/nxp/mcxn/frdm-mcxn947/project.uvprojx
  bsp/nxp/mcxn/frdm-mcxn947/template.uvoptx
  bsp/nxp/mcxn/frdm-mcxn947/template.uvprojx
Labels: BSP: NXP

#8517 🎯 [libcpu/arm/cortex-a]修改arm/cortex-a启动方式，解决cortex-a开启SMP工作异常问题
  bsp/phytium/aarch32/.config
  bsp/phytium/aarch32/applications/main.c
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch32/configs/phytium_pi_rtthread
  bsp/phytium/aarch32/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch32/rtconfig.h
  bsp/phytium/aarch64/.config
  bsp/phytium/aarch64/README.md
  bsp/phytium/aarch64/rtconfig.h
  bsp/phytium/board/board.c
  bsp/phytium/board/phytium_cpu_id.S
  bsp/phytium/board/secondary_cpu.c
  bsp/qemu-vexpress-a9/drivers/automac.h
  bsp/qemu-vexpress-a9/drivers/board.c
  bsp/qemu-vexpress-a9/drivers/secondary_cpu.c
  bsp/raspberry-pi/raspi4-32/.config
  bsp/raspberry-pi/raspi4-32/driver/board.c
  bsp/raspberry-pi/raspi4-32/rtconfig.h
  libcpu/arm/cortex-a/mmu.c
  libcpu/arm/cortex-a/mmu.h
  libcpu/arm/cortex-a/start_gcc.S
Labels: in progress, v5.1.0

#8585 [bsp][nxp]修复FRDM-MCXN947 Keil编译错误
  bsp/nxp/mcxn/frdm-mcxn947/.config
  bsp/nxp/mcxn/frdm-mcxn947/project.uvoptx
  bsp/nxp/mcxn/frdm-mcxn947/project.uvprojx
  bsp/nxp/mcxn/frdm-mcxn947/rtconfig.h
Labels: BSP: NXP

#8586 [bsp][cvitek] add rtc driver
  bsp/cvitek/c906_little/board/Kconfig
  bsp/cvitek/drivers/SConscript
  bsp/cvitek/drivers/drv_rtc.c
Labels: BSP, v5.1.0

#8564 [bsp][stm32] add hardware i2c driver
  bsp/stm32/libraries/HAL_Drivers/drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_hard_i2c.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_hard_i2c.h
  bsp/stm32/libraries/HAL_Drivers/drivers/i2c_hard_config.h
Labels: BSP: STM32, v5.1.0

#8580 [bsp/phytium]Adapter aarch64/aarch32
  bsp/phytium/aarch32/.config
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread
  bsp/phytium/aarch32/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch32/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread
  bsp/phytium/aarch32/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart
  bsp/phytium/aarch32/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch32/configs/phytium_pi_rtthread
  bsp/phytium/aarch32/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch32/rtconfig.h
  bsp/phytium/aarch64/.config
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch64/configs/phytium_pi_rtthread
  bsp/phytium/aarch64/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch64/rtconfig.h
  bsp/phytium/board/phytium_cpu.c
  bsp/phytium/board/phytium_cpu.h
  bsp/phytium/board/phytium_cpu_id.S
  bsp/phytium/board/secondary_cpu.c
  bsp/phytium/libraries/drivers/drv_can.c
  bsp/phytium/libraries/drivers/drv_dc.c
  bsp/phytium/libraries/drivers/drv_dc.h
  bsp/phytium/libraries/port/fdriver_port/fdrivers_port.c
  bsp/phytium/libraries/port/soc_port/e2000/memory_map.c
  bsp/phytium/libraries/port/soc_port/phytiumpi/memory_map.c
  libcpu/arm/cortex-a/start_gcc.S
Labels: v5.1.0

#8615 [bsp][stm32] eth driver support phy YT8512C
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_eth.c
Labels: v5.1.0

#8572 [bsp][bl]update adc driver
  bsp/bouffalo_lab/libraries/rt_drivers/Kconfig
  bsp/bouffalo_lab/libraries/rt_drivers/drv_adc.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_adc.h
Labels: v5.1.0

#8620 [stm32][stm32f103-100ask-pro] fix missing drv_gpio.h in spi_flash_init.c
  bsp/stm32/stm32f103-100ask-pro/board/ports/spi_flash_init.c
Labels: v5.1.0

#8621 [bsp][RTduino] format Kconfig
  bsp/essemi/es32f369x/drivers/Kconfig
  bsp/essemi/es32vf2264/drivers/Kconfig
  bsp/nxp/lpc/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
  bsp/renesas/ra6m3-hmi-board/board/Kconfig
  bsp/stm32/stm32f103-blue-pill/board/Kconfig
  bsp/stm32/stm32f401-weact-blackpill/board/Kconfig
  bsp/stm32/stm32f407-robomaster-c/board/Kconfig
  bsp/stm32/stm32f410-st-nucleo/board/Kconfig
  bsp/stm32/stm32f411-weact-blackpill/board/Kconfig
  bsp/stm32/stm32f412-st-nucleo/board/Kconfig
  bsp/stm32/stm32f427-robomaster-a/board/Kconfig
  bsp/stm32/stm32h503-st-nucleo/board/Kconfig
  bsp/stm32/stm32h563-st-nucleo/board/Kconfig
  bsp/stm32/stm32l431-BearPi/board/Kconfig
  bsp/stm32/stm32l475-atk-pandora/board/Kconfig
  bsp/stm32/stm32u575-st-nucleo/board/Kconfig
  bsp/wch/risc-v/ch32v208w-r0/board/Kconfig
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: v5.1.0

#8598 [bsp][stm32] G474 Nucleo support RTduino SPI
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32g474-st-nucleo/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32g474-st-nucleo/board/CubeMX_Config/Inc/stm32g4xx_hal_conf.h
  bsp/stm32/stm32g474-st-nucleo/board/Kconfig
Labels: v5.1.0

#8623 [bsp][renesas]Update mdk project
  bsp/renesas/ra2l1-cpk/.config
  bsp/renesas/ra2l1-cpk/project.uvoptx
  bsp/renesas/ra2l1-cpk/project.uvprojx
  bsp/renesas/ra2l1-cpk/rtconfig.h
  bsp/renesas/ra6m3-ek/.config
  bsp/renesas/ra6m3-ek/project.uvoptx
  bsp/renesas/ra6m3-ek/project.uvprojx
  bsp/renesas/ra6m3-ek/rtconfig.h
  bsp/renesas/ra6m4-cpk/.config
  bsp/renesas/ra6m4-cpk/project.uvoptx
  bsp/renesas/ra6m4-cpk/project.uvprojx
  bsp/renesas/ra6m4-cpk/rtconfig.h
  bsp/renesas/ra8d1-vision-board/project.uvprojx
  bsp/renesas/ra8m1-ek/.config
  bsp/renesas/ra8m1-ek/project.uvoptx
  bsp/renesas/ra8m1-ek/project.uvprojx
  bsp/renesas/ra8m1-ek/rasc_version.txt
  bsp/renesas/ra8m1-ek/rtconfig.h
Labels: BSP:Renesas

#8614 netdev_unreg: modyify netdev remove logical when mutil-netdev exist
  components/net/netdev/src/netdev.c
Labels: bug, v5.1.0

#8624 [stm32][pwm] fix warning in Keil5
  components/drivers/misc/rt_drv_pwm.c
Labels: v5.1.0

#8626 [kernel][timer] remove unused _soft_timer_status
  src/timer.c
Labels: v5.1.0

#8625 [kernel] fix marcos warning in Keil5
  src/kservice.c
Labels: v5.1.0

#8627 [bsp][stm32]Add stm32l431-tencentos-tiny-EVB_MX+ remaining drivers
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/.config
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/README.md
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/applications/main.c
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/CubeMX_Config/Core/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/CubeMX_Config/Core/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/CubeMX_Config/Core/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/CubeMX_Config/Core/Src/stm32l4xx_it.c
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/Kconfig
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/board.c
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/board.h
Labels: BSP: STM32

#8639 [components/dirver]Fix issue of not releasing sem resource when workqueue thread creatio…
  components/drivers/ipc/workqueue.c
Labels: component

#8641 [bsp][Infineon]Update Infineon mdk project.
  bsp/Infineon/psoc6-cy8ckit-062-BLE/.config
  bsp/Infineon/psoc6-cy8ckit-062-BLE/project.uvoptx
  bsp/Infineon/psoc6-cy8ckit-062-BLE/project.uvprojx
  bsp/Infineon/psoc6-cy8ckit-062-BLE/rtconfig.h
  bsp/Infineon/psoc6-cy8ckit-062-BLE/template.uvprojx
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/.config
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/project.uvoptx
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/project.uvprojx
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/rtconfig.h
  bsp/Infineon/psoc6-cy8ckit-062-WIFI-BT/template.uvprojx
  bsp/Infineon/psoc6-cy8ckit-062S2-43012/.config
  bsp/Infineon/psoc6-cy8ckit-062S2-43012/project.uvoptx
  bsp/Infineon/psoc6-cy8ckit-062S2-43012/project.uvprojx
  bsp/Infineon/psoc6-cy8ckit-062S2-43012/rtconfig.h
  bsp/Infineon/psoc6-cy8ckit-062S2-43012/template.uvprojx
  bsp/Infineon/psoc6-cy8ckit-062s4/.config
  bsp/Infineon/psoc6-cy8ckit-062s4/project.uvoptx
  bsp/Infineon/psoc6-cy8ckit-062s4/project.uvprojx
  bsp/Infineon/psoc6-cy8ckit-062s4/rtconfig.h
  bsp/Infineon/psoc6-cy8ckit-062s4/template.uvprojx
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/.config
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/project.uvoptx
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/project.uvprojx
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/rtconfig.h
  bsp/Infineon/psoc6-cy8cproto-062S3-4343W/template.uvprojx
  bsp/Infineon/psoc6-evaluationkit-062S2/.config
  bsp/Infineon/psoc6-evaluationkit-062S2/project.uvoptx
  bsp/Infineon/psoc6-evaluationkit-062S2/project.uvprojx
  bsp/Infineon/psoc6-evaluationkit-062S2/rtconfig.h
  bsp/Infineon/psoc6-evaluationkit-062S2/template.uvprojx
Labels: BSP:Infineon

#8633 [bsp][gd32][drivers] add serial v2 and dma driver supports
  bsp/gd32/arm/gd32103c-eval/board/board.c
  bsp/gd32/arm/gd32103c-eval/board/board.h
  bsp/gd32/arm/gd32105c-eval/board/board.c
  bsp/gd32/arm/gd32105c-eval/board/board.h
  bsp/gd32/arm/gd32105r-start/board/board.c
  bsp/gd32/arm/gd32105r-start/board/board.h
  bsp/gd32/arm/gd32107c-eval/board/board.c
  bsp/gd32/arm/gd32107c-eval/board/board.h
  bsp/gd32/arm/gd32205r-start/board/board.c
  bsp/gd32/arm/gd32205r-start/board/board.h
  bsp/gd32/arm/gd32207i-eval/board/board.c
  bsp/gd32/arm/gd32207i-eval/board/board.h
  bsp/gd32/arm/gd32303c-start/board/board.c
  bsp/gd32/arm/gd32303c-start/board/board.h
  bsp/gd32/arm/gd32303e-eval/board/board.c
  bsp/gd32/arm/gd32303e-eval/board/board.h
  bsp/gd32/arm/gd32305r-start/board/board.c
  bsp/gd32/arm/gd32305r-start/board/board.h
  bsp/gd32/arm/gd32307e-start/board/board.c
  bsp/gd32/arm/gd32307e-start/board/board.h
  bsp/gd32/arm/gd32407v-lckfb/board/Kconfig
  bsp/gd32/arm/gd32407v-lckfb/board/board.c
  bsp/gd32/arm/gd32407v-lckfb/board/board.h
  bsp/gd32/arm/gd32407v-start/board/Kconfig
  bsp/gd32/arm/gd32407v-start/board/board.c
  bsp/gd32/arm/gd32407v-start/board/board.h
  bsp/gd32/arm/gd32450z-eval/board/Kconfig
  bsp/gd32/arm/gd32450z-eval/board/board.c
  bsp/gd32/arm/gd32450z-eval/board/board.h
  bsp/gd32/arm/gd32470z-lckfb/board/Kconfig
  bsp/gd32/arm/gd32470z-lckfb/board/board.c
  bsp/gd32/arm/gd32470z-lckfb/board/board.h
  bsp/gd32/arm/libraries/GD32F4xx_Firmware_Library/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_dma.h
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart.h
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart_v2.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart_v2.h
Labels: v5.1.0, BSP:GD32

#8594 [kernel] move std libc related to rtklibc.h
  include/rtklibc.h
  include/rtsched.h
  include/rtthread.h
  include/rttypes.h
  src/SConscript
  src/klibc/kstdio.c
  src/klibc/kstring.c
  src/kservice.c
Labels: discussion, v5.1.0

#8650 [bsp][driver][Infineon]Fix timer interrupt callback conflict
  bsp/Infineon/libraries/HAL_Drivers/drv_hwtimer.c
  bsp/Infineon/libraries/IFX_PSOC6_HAL/SConscript
Labels: v5.1.0, BSP:Infineon

#8663 [wlan] add the wlan join scan function
  components/drivers/Kconfig
  components/drivers/wlan/wlan_mgnt.c
Labels: +1

#8666 [wlan][cmd] fixed a duplicate issue with the wifi scan command
  components/drivers/wlan/wlan_cmd.c
Labels: +1

#8671 fixup d1s
  components/dfs/dfs_v1/include/dfs_file.h
  components/dfs/dfs_v2/filesystems/devfs/devfs.c
  components/dfs/dfs_v2/include/dfs_file.h
  components/drivers/core/device.c
  components/fal/src/fal_rtt.c
Labels: v5.1.0

#8701 [bsp][rtduino] pico rtduino support spi
  bsp/raspberry-pico/.ci/attachconfig/rtduino.attach
  bsp/raspberry-pico/applications/arduino_pinout/pins_arduino.c
  bsp/raspberry-pico/applications/arduino_pinout/pins_arduino.h
  bsp/raspberry-pico/board/Kconfig
  bsp/raspberry-pico/drivers/drv_spi.c
Labels: in progress
