Repository RT-Thread/rt-thread, pull requests merged in 2024-06, with the labels that each got.

#9070 [ht32][drv]新增adc、wdt、soft_i2c驱动
  bsp/ht32/ht32f12366/.config
  bsp/ht32/ht32f12366/applications/SConscript
  bsp/ht32/ht32f12366/applications/test.c
  bsp/ht32/ht32f12366/board/Kconfig
  bsp/ht32/ht32f12366/board/inc/board.h
  bsp/ht32/ht32f12366/board/inc/ht32_msp.h
  bsp/ht32/ht32f12366/board/src/ht32_msp.c
  bsp/ht32/ht32f12366/project.uvoptx
  bsp/ht32/ht32f12366/project.uvprojx
  bsp/ht32/ht32f12366/rtconfig.h
  bsp/ht32/ht32f52352/.config
  bsp/ht32/ht32f52352/applications/SConscript
  bsp/ht32/ht32f52352/applications/test.c
  bsp/ht32/ht32f52352/board/Kconfig
  bsp/ht32/ht32f52352/board/inc/board.h
  bsp/ht32/ht32f52352/board/inc/ht32_msp.h
  bsp/ht32/ht32f52352/board/src/ht32_msp.c
  bsp/ht32/ht32f52352/project.uvoptx
  bsp/ht32/ht32f52352/project.uvprojx
  bsp/ht32/ht32f52352/rtconfig.h
  bsp/ht32/libraries/ht32_drivers/SConscript
  bsp/ht32/libraries/ht32_drivers/drv_adc.c
  bsp/ht32/libraries/ht32_drivers/drv_adc.h
  bsp/ht32/libraries/ht32_drivers/drv_i2c.c
  bsp/ht32/libraries/ht32_drivers/drv_soft_i2c.c
  bsp/ht32/libraries/ht32_drivers/drv_soft_i2c.h
  bsp/ht32/libraries/ht32_drivers/drv_spi.c
  bsp/ht32/libraries/ht32_drivers/drv_usart.c
  bsp/ht32/libraries/ht32_drivers/drv_wdt.c
  bsp/ht32/libraries/ht32_drivers/drv_wdt.h
Labels: BSP

#9074 野火启明6m5驱动完善
  bsp/renesas/ebf_qi_min_6m5/README.md
  bsp/renesas/ebf_qi_min_6m5/board/Kconfig
  bsp/renesas/ebf_qi_min_6m5/template.uvprojx
  bsp/renesas/libraries/HAL_Drivers/drv_i2c.c
Labels: BSP:Renesas

#9090 [bsp]Fix the problem of stm32l431 build ci failure
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/.config
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/SConstruct
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/board/Kconfig
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/rtconfig.h
  bsp/stm32/stm32l431-tencentos-tiny-EVB_MX+/rtconfig.py
Labels: +1, +2

#9077 [chip flash] add drv_flash_l1.c for stm32l1xxx
  bsp/stm32/libraries/HAL_Drivers/drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_flash/drv_flash_l1.c
Labels: BSP: STM32

#9095 [libcpu/c906]与virt同步
  libcpu/risc-v/t-head/c906/riscv_mmu.h
Labels: +1

#9102 [ci][nxp]add nxp frdm-mcxn236 bsp to bsp_buildings.yml
  .github/workflows/bsp_buildings.yml
Labels: BSP: NXP

#9092 [libcpu][aarch64]memory setup using memblock
  bsp/qemu-virt64-aarch64/drivers/board.c
  components/drivers/core/mnt.c
  components/drivers/ofw/Kconfig
  components/drivers/ofw/fdt.c
  components/mm/mm_memblock.c
  components/mm/mm_memblock.h
  libcpu/Kconfig
  libcpu/aarch64/common/mmu.c
  libcpu/aarch64/common/setup.c
Labels: +1

#9078 [libcpu][aarch64]mmu log fixup
  libcpu/aarch64/common/mmu.c
Labels: +1

#9084 [bsp][stm32]Optimize ADCs and fix some bugs
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_adc.c
  components/drivers/misc/adc.c
Labels: BSP: STM32

#9114 [src][thread]fix rt_thread_resume return value error
  src/thread.c
Labels: +1, Kernel
