Repository RT-Thread/rt-thread, pull requests merged in 2024-11, with the labels that each got.

#9605 [Toolchain] Some modifications made by the toolchain update
  components/libc/compilers/common/ctime.c
  components/libc/compilers/musl/fcntl.h
  components/lwp/lwp_syscall.h
Labels: RT-Smart, component: lwp, Component

#9602 [libcpu][m7]use hw atomic
  libcpu/Kconfig
Labels: libcpu

#9614 [GD32]更新GD32E503V文档
  bsp/gd32/README.md
  bsp/gd32/arm/gd32e503v-eval/README.md
Labels: BSP, BSP: GD32

#9615 [components/net/at]修复at socket信号量释放异常
  components/net/at/at_socket/at_socket.c
Labels: component: net, Component, component: net/at

#9610 [action] add the yml file support
  .github/workflows/bsp_buildings.yml
  bsp/nrf5x/nrf52840/.ci/attachconfig/ci.attachconfig.yml
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/adc.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/flash.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/gpio.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/hwtimer.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/i2c.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/pwm.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/qspi_flash.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/rtc.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/spi.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/uart.attach
  bsp/nrf5x/nrf52840/.ci/attachconfig/devices/wdt.attach
  tools/ci/bsp_buildings.py
  tools/ci/requirements.txt
Labels: BSP, action, tools

#9581 [components][finsh]在RT_USING_POSIX_STDIO时，使用get_console获取当前console描述符
  components/finsh/shell.c
Labels: component: finsh, Component

#9619 [action] Recursive folder lookup attachconfig.yml
  tools/ci/bsp_buildings.py
Labels: action, tools

#9616 [rockchip] [dm2.0] add new platform for rk35xx
  bsp/rockchip/rk3500/.config
  bsp/rockchip/rk3500/Kconfig
  bsp/rockchip/rk3500/README.md
  bsp/rockchip/rk3500/SConscript
  bsp/rockchip/rk3500/SConstruct
  bsp/rockchip/rk3500/applications/SConscript
  bsp/rockchip/rk3500/applications/main.c
  bsp/rockchip/rk3500/driver/Kconfig
  bsp/rockchip/rk3500/driver/SConscript
  bsp/rockchip/rk3500/driver/board.c
  bsp/rockchip/rk3500/driver/board.h
  bsp/rockchip/rk3500/driver/clk/Kconfig
  bsp/rockchip/rk3500/driver/clk/SConscript
  bsp/rockchip/rk3500/driver/clk/clk-mmc-phase.c
  bsp/rockchip/rk3500/driver/clk/clk-pll-rk3568.c
  bsp/rockchip/rk3500/driver/clk/clk-pll-rk3588.c
  bsp/rockchip/rk3500/driver/clk/clk-rk3568.c
  bsp/rockchip/rk3500/driver/clk/clk-rk3568.h
  bsp/rockchip/rk3500/driver/clk/clk-rk3588.c
  bsp/rockchip/rk3500/driver/clk/clk-rk3588.h
  bsp/rockchip/rk3500/driver/clk/rk3568-cru.h
  bsp/rockchip/rk3500/driver/clk/rk3588-cru.h
  bsp/rockchip/rk3500/driver/clk/softrst.c
  bsp/rockchip/rk3500/driver/hwtimer/Kconfig
  bsp/rockchip/rk3500/driver/hwtimer/SConscript
  bsp/rockchip/rk3500/driver/hwtimer/hwtimer-rockchip_timer.c
  bsp/rockchip/rk3500/driver/reset/Kconfig
  bsp/rockchip/rk3500/driver/reset/SConscript
  bsp/rockchip/rk3500/driver/reset/reset.c
  bsp/rockchip/rk3500/driver/reset/reset.h
  bsp/rockchip/rk3500/driver/rockchip.h
  bsp/rockchip/rk3500/driver/uart8250/8250-dw.c
  bsp/rockchip/rk3500/driver/uart8250/8250.h
  bsp/rockchip/rk3500/driver/uart8250/Kconfig
  bsp/rockchip/rk3500/driver/uart8250/SConscript
  bsp/rockchip/rk3500/driver/uart8250/core.c
  bsp/rockchip/rk3500/driver/uart8250/early.c
  bsp/rockchip/rk3500/driver/uart8250/fiq-debugger.c
  bsp/rockchip/rk3500/driver/uart8250/regs.h
  bsp/rockchip/rk3500/driver/uart8250/serial_dm.h
  bsp/rockchip/rk3500/rtconfig.h
  bsp/rockchip/rk3500/rtconfig.py
Labels: +1, +2, BSP, BSP: new bsp board

#9625 [tools] use project's dir basename as default project name
  .github/workflows/action_tools.yml
  tools/options.py
Labels: action, tools

#9627 [action] yml file adds the depends parameter
  bsp/nrf5x/nrf52840/.ci/attachconfig/ci.attachconfig.yml
  tools/ci/bsp_buildings.py
Labels: BSP, action, tools

#9626 [BSP][FRDM-MCXN947]Add IAR9.60 project template.
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/board.h
  bsp/nxp/mcx/mcxn/frdm-mcxn947/project.ewd
  bsp/nxp/mcx/mcxn/frdm-mcxn947/project.ewp
  bsp/nxp/mcx/mcxn/frdm-mcxn947/project.eww
  bsp/nxp/mcx/mcxn/frdm-mcxn947/template.ewp
Labels: BSP: NXP, BSP

#9629 [action] attachconfig adapts yml syntax features
  .github/workflows/bsp_buildings.yml
  bsp/nrf5x/nrf52832/.ci/attachconfig/ci.attachconfig.yml
  tools/ci/bsp_buildings.py
Labels: BSP, action, tools

#9593 [bsp][cvitek] fix pinmux array order error
  bsp/cvitek/drivers/drv_pinmux.c
Labels: BSP, BSP: Cvitek

#9631 [bsp/hc32] fix uart dma if gcc optimization level is not none
  bsp/hc32/libraries/hc32_drivers/drv_usart.c
  bsp/hc32/libraries/hc32_drivers/drv_usart_v2.c
Labels: BSP

#9632 [tools] add project.json generation in vsc.py.
  tools/vsc.py
Labels: tools

#9634 [action] remove rockchip/rk3568 because of the complie time
  .github/workflows/bsp_buildings.yml
Labels: action

#9640 [libc] add comments for libdl APIs.
  components/libc/posix/libdl/arch/arm.c
  components/libc/posix/libdl/arch/riscv.c
  components/libc/posix/libdl/arch/x86.c
  components/libc/posix/libdl/dlclose.c
  components/libc/posix/libdl/dlelf.c
  components/libc/posix/libdl/dlelf.h
  components/libc/posix/libdl/dlerror.c
  components/libc/posix/libdl/dlfcn.h
  components/libc/posix/libdl/dlmodule.c
  components/libc/posix/libdl/dlmodule.h
  components/libc/posix/libdl/dlopen.c
  components/libc/posix/libdl/dlsym.c
  components/libc/posix/libdl/dlsyms.c
Labels: +1, Component

#9635 [bsp][nxp][mcxa153] add more UART channels
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_uart.c
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/Kconfig
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/MCUX_Config/board/pin_mux.c
Labels: BSP: NXP, BSP

#9647 feat: devfs: handling unit size in POSIX RW request
  components/dfs/dfs_v2/filesystems/devfs/devfs.c
Labels: +1, Component

#9642 fix:[CAN][STM32]open时立刻启动can_start,还未完成其他配置,可能导致异常
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_can.c
  components/drivers/can/dev_can.c
  components/drivers/include/drivers/dev_can.h
Labels: +1, BSP: STM32, BSP, Component, component: drivers/can, component: drivers

#9648 [bsp][gd32][fix rtc clock selection]
  bsp/gd32/arm/libraries/gd32_drivers/drv_rtc.c
Labels: BSP, BSP: GD32

#9643 [bsp][ESP32] add spi custom configuration function and enhance muti object initliz…
  bsp/ESP32_C3/.ci/attachconfig/ci.attachconfig.yml
  bsp/ESP32_C3/drivers/drv_spi.c
  bsp/ESP32_C3/main/main.c
Labels: BSP

#9633 [bsp][cvitek]fix milkv-duos-sd cann't startup big-core kernel
  bsp/cvitek/.gitignore
  bsp/cvitek/c906_little/SConstruct
  bsp/cvitek/c906_little/board/script/cv1813h/cv1813h_lscript.ld
  bsp/cvitek/c906_little/board/script/cv1813h/cvi_board_memmap.ld
  bsp/cvitek/combine-fip.sh
Labels: BSP, BSP: Cvitek

#9652 [libcpu]riscv使用call指令解决长跳转问题
  libcpu/risc-v/common64/context_gcc.S
  libcpu/risc-v/common64/interrupt_gcc.S
Labels: Arch: RISC-V, libcpu

#9586 [bsp][rpi4b] add new bsp for qemu-rpi4b
  bsp/raspberry-pi/raspi-dm2.0/.config
  bsp/raspberry-pi/raspi-dm2.0/Kconfig
  bsp/raspberry-pi/raspi-dm2.0/README.md
  bsp/raspberry-pi/raspi-dm2.0/SConscript
  bsp/raspberry-pi/raspi-dm2.0/SConstruct
  bsp/raspberry-pi/raspi-dm2.0/applications/SConscript
  bsp/raspberry-pi/raspi-dm2.0/applications/main.c
  bsp/raspberry-pi/raspi-dm2.0/bcm2711-rpi-4-b.dtb
  bsp/raspberry-pi/raspi-dm2.0/drivers/Kconfig
  bsp/raspberry-pi/raspi-dm2.0/drivers/SConscript
  bsp/raspberry-pi/raspi-dm2.0/drivers/board.c
  bsp/raspberry-pi/raspi-dm2.0/drivers/board.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/drv_sd.c
  bsp/raspberry-pi/raspi-dm2.0/drivers/drv_sd.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/drv_uart.c
  bsp/raspberry-pi/raspi-dm2.0/drivers/drv_uart.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/Kconfig
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/SConscript
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/include/sdhci-platform.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/include/sdhci.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/include/sdhci_dma.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/include/sdhci_host.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/include/sdhci_misc.h
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/sdhci-platform/sdhci-platform.c
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/sdhci.c
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/src/fit-mmc.c
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/src/sdhci_dma.c
  bsp/raspberry-pi/raspi-dm2.0/drivers/sdhci/src/sdhci_voltage.c
  bsp/raspberry-pi/raspi-dm2.0/qemu.sh
  bsp/raspberry-pi/raspi-dm2.0/rtconfig.h
  bsp/raspberry-pi/raspi-dm2.0/rtconfig.py
Labels: +1, BSP, BSP: new bsp board, Component, component: drivers

#9650 [net][sal]add comments for BSD socket APIs.
  components/net/sal/socket/net_sockets.c
Labels: component: net, Component, component: net/sal

#9655 [components/libc/posix][pthreads]add comments for thread APIs of pthread.
  components/libc/posix/pthreads/pthread.c
Labels: Component

#9606 [filesystem]Modify the position of libc_rent definition
  components/libc/compilers/common/include/dirent.h
  components/lwp/lwp_syscall.c
Labels: RT-Smart, component: lwp, Component

#9661 [utest][stm32f412][gcc] add __rt_utest_tc_tab_start to support utest
  bsp/stm32/stm32f412-st-nucleo/board/linker_scripts/link.lds
Labels: BSP: STM32, BSP

#9656 Revert "[tools] use project's dir basename as default project name"
  .github/workflows/action_tools.yml
  tools/options.py
Labels: +1, action, tools

#9573 [DM/FEATURE] DM Device IDA management
  components/drivers/core/dm.c
  components/drivers/include/drivers/core/dm.h
  components/drivers/include/drivers/core/master_id.h
  include/rtdef.h
Labels: Component, component: drivers/core, component: drivers

#9665 [components/libc/posix]add comments for mutex APIs.
  components/libc/posix/pthreads/pthread_mutex.c
Labels: Component

#9663 [ci] add RT_USING_CI_ACTION
  src/Kconfig
Labels: Kernel

#9524 [components][driver]add phy and mdio bus
  components/drivers/include/drivers/phy.h
  components/drivers/include/drivers/phy_mdio.h
  components/drivers/include/rtdevice.h
  components/drivers/phy/Kconfig
  components/drivers/phy/SConscript
  components/drivers/phy/general.c
  components/drivers/phy/general_phy.h
  components/drivers/phy/mdio.c
  components/drivers/phy/mdio.h
  components/drivers/phy/ofw.c
  components/drivers/phy/ofw.h
  components/drivers/phy/phy.c
Labels: Component, component: drivers/phy, component: drivers

#9600 [DM/FEATURE] Support MFD syscon
  components/drivers/Kconfig
  components/drivers/include/drivers/syscon.h
  components/drivers/include/rtdevice.h
  components/drivers/mfd/Kconfig
  components/drivers/mfd/SConscript
  components/drivers/mfd/mfd-syscon.c
Labels: Component, component: drivers

#9672 [DM/FIXUP] Fixup MSI setup
  components/drivers/pci/msi/irq.c
Labels: Component, component: drivers/pci, component: drivers

#9684 [DM/FEATURE] make SoC Kconfig import easy
  components/drivers/Kconfig.dm
  components/drivers/clk/Kconfig
Labels: Component, component: drivers/clk, component: drivers

#9680 [bsp][qemu-virt64-riscv]:remove the redundant UART1 configuration
  bsp/qemu-virt64-riscv/driver/Kconfig
Labels: BSP

#9598 [DM/FEATURE] Support IIO (Industrial I/O)
  components/drivers/iio/SConscript
  components/drivers/iio/iio.c
  components/drivers/include/drivers/iio.h
  components/drivers/include/rtdevice.h
Labels: Component, component: drivers

#9685 add comments for pthread barrier APIs and fix some errors.
  components/libc/posix/pthreads/pthread_barrier.c
Labels: Component

#9679 [libcpu][riscv]纠正pv_offset的对齐检查
  libcpu/risc-v/common64/mmu.c
Labels: Arch: RISC-V, libcpu

#9687 [components/libc/posix]add comments for thread local storage APIs.
  components/libc/posix/pthreads/pthread_tls.c
Labels: Component

#9682 [DM/FEATURE] Support DMA management
  components/drivers/Kconfig
  components/drivers/dma/Kconfig
  components/drivers/dma/SConscript
  components/drivers/dma/dma.c
  components/drivers/dma/dma_pool.c
  components/drivers/include/drivers/dma.h
  components/drivers/include/rtdevice.h
Labels: Component, component: drivers

#9592 [DM/FEATURE] Support SCSI bus
  components/dfs/Kconfig
  components/dfs/dfs_v1/filesystems/iso9660/SConscript
  components/dfs/dfs_v1/filesystems/iso9660/dfs_iso9660.c
  components/dfs/dfs_v1/filesystems/iso9660/dfs_iso9660.h
  components/dfs/dfs_v1/src/dfs_fs.c
  components/drivers/Kconfig
  components/drivers/include/drivers/scsi.h
  components/drivers/include/rtdevice.h
  components/drivers/scsi/Kconfig
  components/drivers/scsi/SConscript
  components/drivers/scsi/scsi.c
  components/drivers/scsi/scsi_cdrom.c
  components/drivers/scsi/scsi_sd.c
Labels: Component, component: drivers/core, component: drivers

#9667 [tools][cmake] fix processing groups with similar name
  tools/cmake.py
Labels: tools

#9676 [klibc] add rt_vsnprintf_std.c
  bsp/allwinner/d1/rtconfig.h
  bsp/allwinner/d1s/rtconfig.h
  bsp/bouffalo_lab/bl808/d0/rtconfig.h
  bsp/cvitek/c906_little/rtconfig.h
  bsp/cvitek/cv18xx_aarch64/rtconfig.h
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  bsp/k230/rtconfig.h
  bsp/nuvoton/numaker-iot-m467/.config
  bsp/nuvoton/numaker-iot-m487/.config
  bsp/nuvoton/numaker-m2354/.config
  bsp/nuvoton/numaker-m467hj/.config
  bsp/nxp/mcx/mcxa/frdm-mcxa153/.config
  bsp/nxp/mcx/mcxn/frdm-mcxn236/.config
  bsp/nxp/mcx/mcxn/frdm-mcxn947/.config
  bsp/phytium/aarch64/configs/e2000d_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread.h
  bsp/phytium/aarch64/configs/e2000d_demo_rtthread_pusb2_dc.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtsmart.h
  bsp/phytium/aarch64/configs/e2000q_demo_rtthread.h
  bsp/phytium/aarch64/configs/phytium_pi_rtsmart.h
  bsp/phytium/aarch64/configs/phytium_pi_rtthread.h
  bsp/phytium/aarch64/configs/phytium_pi_rtthread_pusb2_hc.h
  bsp/phytium/aarch64/configs/phytium_pi_rtthread_xhci.h
  bsp/phytium/aarch64/rtconfig.h
  bsp/qemu-virt64-riscv/rtconfig.h
  bsp/raspberry-pi/raspi-dm2.0/rtconfig.h
  bsp/rockchip/rk3500/rtconfig.h
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/kernel/klibc-printf.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/kernel/klibc-vsnprintf-std.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/system/enhanced-kservice.attach
  components/drivers/sensor/Kconfig
  components/utilities/Kconfig
  src/Kconfig
  src/klibc/kerrno.c
  src/klibc/kstdio.c
  src/klibc/kstring.c
  src/klibc/rt_vsnprintf_std.c
  src/klibc/rt_vsnprintf_tiny.c
Labels: BSP: NXP, BSP: STM32, BSP, Kernel, BSP: Cvitek, BSP: Phytium, BSP: WCH, Component, component: drivers

#9691 [kernel] format Kconfig
  src/Kconfig
Labels: Kernel

#9690 [fal] using rt-thread raw API instead of std API
  bsp/allwinner/d1s/ports/fal/fal_norflash_sfud_port.c
  bsp/allwinner/d1s/ports/fal/fal_sd_sfud_port.c
  bsp/hc32/ev_hc32f448_lqfp80/board/ports/fal/fal_flash_sfud_port.c
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/ports/fal/fal_flash_sfud_port.c
  bsp/hc32/ev_hc32f4a0_lqfp176/board/ports/fal/fal_flash_sfud_port.c
  bsp/hc32/lckfb-hc32f4a0-lqfp100/board/ports/fal/fal_flash_sfud_port.c
  bsp/hc32/platform/fal/fal_flash_sfud_nor.c
  bsp/hpmicro/hpm5300evk/board/fal_flash_port.c
  bsp/hpmicro/hpm5301evklite/board/fal_flash_port.c
  bsp/hpmicro/hpm6200evk/board/fal_flash_port.c
  bsp/hpmicro/hpm6300evk/board/fal_flash_port.c
  bsp/hpmicro/hpm6750evk/board/fal_flash_port.c
  bsp/hpmicro/hpm6750evk2/board/fal_flash_port.c
  bsp/hpmicro/hpm6750evkmini/board/fal_flash_port.c
  bsp/hpmicro/hpm6800evk/board/fal_flash_port.c
  bsp/hpmicro/hpm6e00evk/board/fal_flash_port.c
  bsp/nrf5x/libraries/drivers/drv_qspi_flash.c
  bsp/nxp/lpc/lpc55sxx/lpc55s69_nxp_evk/board/ports/easyflash/ef_fal_port.c
  bsp/nxp/lpc/lpc55sxx/lpc55s69_nxp_evk/board/ports/fal/fal_sample.c
  bsp/stm32/stm32f407-atk-explorer/board/ports/fal/fal_spi_flash_sfud_port.c
  bsp/stm32/stm32f407-lckfb-skystar/board/ports/ef_fal_port.c
  bsp/stm32/stm32f407-lckfb-skystar/board/ports/fal/fal_spi_flash_sfud_port.c
  bsp/stm32/stm32f407-rt-spark/board/ports/ef_fal_port.c
  bsp/stm32/stm32f407-rt-spark/board/ports/fal/fal_spi_flash_sfud_port.c
  bsp/stm32/stm32h750-artpi/board/port/ef_fal_port.c
  bsp/stm32/stm32h750-weact-ministm32h7xx/board/port/drv_qspi_flash.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/easyflash/ef_fal_port.c
  bsp/stm32/stm32l475-atk-pandora/board/ports/fal/fal_flash_sfud_port.c
  bsp/yichip/yc3122-pos/drivers/ports/fal_flash_yc3122_port.c
  components/fal/Kconfig
  components/fal/docs/fal_api.md
  components/fal/docs/fal_api_en.md
  components/fal/inc/fal.h
  components/fal/inc/fal_def.h
  components/fal/samples/porting/README.md
  components/fal/samples/porting/fal_flash_sfud_port.c
  components/fal/samples/porting/fal_flash_stm32f2_port.c
  components/fal/src/fal.c
  components/fal/src/fal_flash.c
  components/fal/src/fal_partition.c
  components/fal/src/fal_rtt.c
Labels: BSP: NXP, BSP: STM32, BSP, Component

#9591 [DM/FEATURE] Support NVME
  components/drivers/Kconfig
  components/drivers/include/drivers/nvme.h
  components/drivers/include/rtdevice.h
  components/drivers/nvme/Kconfig
  components/drivers/nvme/SConscript
  components/drivers/nvme/nvme-pci.c
  components/drivers/nvme/nvme.c
  include/rtdef.h
Labels: Component, component: drivers

#9693 [drivers] fixed a minor typo in the comments of dev_serial_v2.c
  components/drivers/serial/dev_serial_v2.c
Labels: Component, component: drivers/serial, component: drivers

#9692 [klibc] add rt_sscanf
  include/klibc/kerrno.h
  include/klibc/kstdio.h
  include/klibc/kstring.h
  src/SConscript
  src/klibc/SConscript
  src/klibc/kstdio.c
  src/klibc/rt_vsnprintf_std.c
  src/klibc/rt_vsscanf.c
Labels: Kernel

#9597 [DM/FEATURE] Support PHY (external)
  components/drivers/Kconfig
  components/drivers/include/drivers/phye.h
  components/drivers/include/dt-bindings/phye/phye.h
  components/drivers/include/rtdevice.h
  components/drivers/phye/Kconfig
  components/drivers/phye/SConscript
  components/drivers/phye/phye.c
Labels: Component, component: drivers

#9657 [bsp][cvitek]support milkv-duo rt-smart
  bsp/cvitek/README.md
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/board/board.c
  bsp/cvitek/cv18xx_risc-v/board/board.h
  bsp/cvitek/cv18xx_risc-v/link.lds
  bsp/cvitek/cv18xx_risc-v/link_smart.lds
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  bsp/cvitek/cv18xx_risc-v/rtconfig.py
  bsp/cvitek/drivers/drv_adc.c
  bsp/cvitek/drivers/drv_eth.c
  bsp/cvitek/drivers/drv_eth.h
  bsp/cvitek/drivers/drv_gpio.c
  bsp/cvitek/drivers/drv_hw_i2c.c
  bsp/cvitek/drivers/drv_por.c
  bsp/cvitek/drivers/drv_pwm.c
  bsp/cvitek/drivers/drv_rtc.c
  bsp/cvitek/drivers/drv_sdhci.c
  bsp/cvitek/drivers/drv_sdhci.h
  bsp/cvitek/drivers/drv_spi.c
  bsp/cvitek/drivers/drv_timer.c
  bsp/cvitek/drivers/drv_uart.c
  bsp/cvitek/drivers/drv_wdt.c
  bsp/cvitek/drivers/libraries/cv180x/pinctrl.h
  bsp/cvitek/drivers/libraries/cv181x/pinctrl.h
  bsp/cvitek/drivers/libraries/eth/cvi_eth_phy.h
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.c
  bsp/cvitek/drivers/libraries/eth/dw_eth_mac.h
  bsp/cvitek/drivers/libraries/eth/eth_phy_cvitek.c
  bsp/cvitek/drivers/libraries/sdif/dw_sdmmc.h
Labels: +1, BSP, wait_+2, BSP: Cvitek, Arch: RISC-V

#9599 [DM/FEATURE] Support hardware mailbox
  components/drivers/Kconfig
  components/drivers/include/drivers/mailbox.h
  components/drivers/include/rtdevice.h
  components/drivers/mailbox/Kconfig
  components/drivers/mailbox/SConscript
  components/drivers/mailbox/mailbox-pic.c
  components/drivers/mailbox/mailbox.c
Labels: Component, component: drivers

#9695 [klibc] separate klibc Kconfig
  src/Kconfig
  src/klibc/Kconfig
  src/klibc/SConscript
  src/klibc/kstdio.c
  src/klibc/kstring.c
  src/klibc/rt_vsnprintf_std.c
  src/klibc/rt_vsnprintf_tiny.c
Labels: Kernel

#9630 [DM/FEATURE] Support reset controller
  components/drivers/Kconfig
  components/drivers/include/drivers/reset.h
  components/drivers/include/rtdevice.h
  components/drivers/ofw/ofw.c
  components/drivers/reset/Kconfig
  components/drivers/reset/SConscript
  components/drivers/reset/reset-simple.c
  components/drivers/reset/reset-simple.h
  components/drivers/reset/reset.c
Labels: component: drivers/ofw, Component, component: drivers

#9699 [bsp][nxp][mcxa153] add watch dog driver
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_wdt.c
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_wdt.h
Labels: BSP: NXP, BSP

#9683 [DM/FEATURE] Support ATA AHCI
  components/drivers/Kconfig
  components/drivers/ata/Kconfig
  components/drivers/ata/SConscript
  components/drivers/ata/ahci-pci.c
  components/drivers/ata/ahci.c
  components/drivers/include/drivers/ahci.h
  components/drivers/include/rtdevice.h
Labels: Component, component: drivers

#9706 [components][ulog]add some comments to ulog for supplement.
  components/utilities/ulog/ulog.c
Labels: Component

#9705 kernel: Optimize display format for auto init when debugging
  src/components.c
Labels: Kernel

#9700 [sscanf] use rt_sscanf to replace sscanf
  bsp/nuvoton/libraries/m460/rtt_port/drv_common.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_disp.c
  bsp/nuvoton/libraries/ma35/rtt_port/drv_sys.c
  bsp/nuvoton/libraries/n9h30/rtt_port/drv_common.c
  bsp/nuvoton/libraries/nu_packages/Demo/wormhole_demo.c
  components/drivers/phy/ofw.c
  components/net/at/at_socket/at_socket.c
  examples/test/avl.c
Labels: BSP, Doc, component: net, testcase, Component, component: drivers/phy, component: net/at, component: drivers

#9708 [documentation][Finsh]fix the wrong comments for FINSH_USING_SYMTAB macro in markdown files.
  documentation/basic/basic.md
  documentation/finsh/finsh.md
Labels: Doc

#9709 [DM/SPI] Support DM mode in SPI
  components/drivers/include/drivers/dev_spi.h
  components/drivers/spi/SConscript
  components/drivers/spi/dev_spi.c
  components/drivers/spi/dev_spi_bus.c
  components/drivers/spi/dev_spi_core.c
  components/drivers/spi/dev_spi_dm.c
  components/drivers/spi/dev_spi_dm.h
Labels: component: drivers/spi, Component, component: drivers

#9719 [BSP/phytium/aarch64] Fixup CI build error
  bsp/phytium/aarch64/.config
  bsp/phytium/aarch64/Kconfig
  bsp/phytium/aarch64/rtconfig.h
Labels: BSP, BSP: Phytium

#9714 [libcpu/riscv]解决smp下cpuport.h中的编译问题
  libcpu/risc-v/common64/cpuport.h
Labels: Arch: RISC-V, libcpu
