Repository RT-Thread/rt-thread, pull requests merged in 2024-08, with the labels that each got.

#9256 [NXP]MCXA153添加MTD驱动
  bsp/nxp/mcx/mcxa/Libraries/drivers/SConscript
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_chipflash.c
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_chipflash.h
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_log.h
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_uart.c
  bsp/nxp/mcx/mcxa/frdm-mcxa153/applications/main.c
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/Kconfig
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/SConscript
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/drv_filesystem.c
  bsp/nxp/mcx/mcxa/frdm-mcxa153/template.uvoptx
  bsp/nxp/mcx/mcxa/frdm-mcxa153/template.uvprojx
Labels: BSP: NXP

#9271 [net][sal]修复开启SAL_TLS编译报错
  components/net/sal/src/sal_socket.c
Labels: component: net

#9268 [bsp][nxp/mcxa153]优化mxca153 adc驱动，支持电压读取
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_adc.c
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/Kconfig
Labels: BSP: NXP

#9258 bsp: cvitek: add support for RTCSYS_SARADC
  bsp/cvitek/drivers/drv_adc.c
  bsp/cvitek/drivers/drv_adc.h
Labels: BSP: Cvitek

#9282 [ci][bsp]fix same54&same70&ls1cdev build errors.
  bsp/at91/at91sam9g45/.config
  bsp/at91/at91sam9g45/rtconfig.h
  bsp/loongson/ls1cdev/.config
  bsp/loongson/ls1cdev/rtconfig.h
  bsp/loongson/ls1cdev/rtconfig.py
  bsp/microchip/same54/.config
  bsp/microchip/same54/rtconfig.h
  bsp/microchip/same70/.config
  bsp/microchip/same70/rtconfig.h
  components/dfs/dfs_v1/SConscript
Labels: BSP

#9293 [action] add robot comment when action is fail
  .github/workflows/bsp_buildings.yml
Labels: action

#9295 [components][drivers][sdio][sd] Fix wrong max data rate calculation l…
  components/drivers/sdio/sd.c
Labels: component: sdio

#9280 bsp: cvitek: SConstruct: optimize drivers_path_prefix
  bsp/cvitek/c906_little/SConstruct
  bsp/cvitek/cv18xx_aarch64/SConstruct
  bsp/cvitek/cv18xx_risc-v/SConstruct
Labels: +1, BSP: Cvitek

#9275 [BSP][airm2m/air32f103] fix build errors when using arm gnu toolchain
  bsp/airm2m/air32f103/libraries/AIR32F10xLib/src/air32f10x_flash.c
Labels: BSP

#9283 tools: CMake: Generator re-write and bug fixes.
  tools/cmake.py
Labels: tools

#9285 [BSP][stm32]add BSP for FK407M2-ZGT6
  .github/workflows/bsp_buildings.yml
  bsp/stm32/README.md
  bsp/stm32/stm32f407-fk407m2-zgt6/.config
  bsp/stm32/stm32f407-fk407m2-zgt6/.cproject
  bsp/stm32/stm32f407-fk407m2-zgt6/.gitignore
  bsp/stm32/stm32f407-fk407m2-zgt6/.project
  bsp/stm32/stm32f407-fk407m2-zgt6/Kconfig
  bsp/stm32/stm32f407-fk407m2-zgt6/README.md
  bsp/stm32/stm32f407-fk407m2-zgt6/SConscript
  bsp/stm32/stm32f407-fk407m2-zgt6/SConstruct
  bsp/stm32/stm32f407-fk407m2-zgt6/applications/SConscript
  bsp/stm32/stm32f407-fk407m2-zgt6/applications/main.c
  bsp/stm32/stm32f407-fk407m2-zgt6/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f407-fk407m2-zgt6/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f407-fk407m2-zgt6/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32f407-fk407m2-zgt6/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f407-fk407m2-zgt6/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f407-fk407m2-zgt6/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f407-fk407m2-zgt6/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f407-fk407m2-zgt6/board/Kconfig
  bsp/stm32/stm32f407-fk407m2-zgt6/board/SConscript
  bsp/stm32/stm32f407-fk407m2-zgt6/board/board.c
  bsp/stm32/stm32f407-fk407m2-zgt6/board/board.h
  bsp/stm32/stm32f407-fk407m2-zgt6/board/linker_scripts/link.icf
  bsp/stm32/stm32f407-fk407m2-zgt6/board/linker_scripts/link.lds
  bsp/stm32/stm32f407-fk407m2-zgt6/board/linker_scripts/link.sct
  bsp/stm32/stm32f407-fk407m2-zgt6/figures/board.png
  bsp/stm32/stm32f407-fk407m2-zgt6/makefile.targets
  bsp/stm32/stm32f407-fk407m2-zgt6/project.ewd
  bsp/stm32/stm32f407-fk407m2-zgt6/project.ewp
  bsp/stm32/stm32f407-fk407m2-zgt6/project.eww
  bsp/stm32/stm32f407-fk407m2-zgt6/project.uvopt
  bsp/stm32/stm32f407-fk407m2-zgt6/project.uvoptx
  bsp/stm32/stm32f407-fk407m2-zgt6/project.uvproj
  bsp/stm32/stm32f407-fk407m2-zgt6/project.uvprojx
  bsp/stm32/stm32f407-fk407m2-zgt6/rtconfig.h
  bsp/stm32/stm32f407-fk407m2-zgt6/rtconfig.py
  bsp/stm32/stm32f407-fk407m2-zgt6/template.ewp
  bsp/stm32/stm32f407-fk407m2-zgt6/template.eww
  bsp/stm32/stm32f407-fk407m2-zgt6/template.uvopt
  bsp/stm32/stm32f407-fk407m2-zgt6/template.uvoptx
  bsp/stm32/stm32f407-fk407m2-zgt6/template.uvproj
  bsp/stm32/stm32f407-fk407m2-zgt6/template.uvprojx
Labels: BSP: STM32

#9312 bsp: nxp/mcx: Use standard SPI CS pin.
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_spi.c
  bsp/nxp/mcx/mcxn/Libraries/drivers/drv_spi.c
Labels: BSP: NXP

#9310 feat: add ISR safe completion API
  components/drivers/include/ipc/completion.h
  components/drivers/ipc/completion_comm.c
  components/drivers/ipc/completion_mp.c
  components/drivers/ipc/completion_up.c
Labels: component: ipc

#9298 bsp: cvitek: Canonically rename some macro definitions
  bsp/cvitek/c906_little/.config
  bsp/cvitek/c906_little/Kconfig
  bsp/cvitek/c906_little/board/Kconfig
  bsp/cvitek/c906_little/board/interrupt.h
  bsp/cvitek/c906_little/board/tick.c
  bsp/cvitek/c906_little/rtconfig.h
  bsp/cvitek/cv18xx_aarch64/.config
  bsp/cvitek/cv18xx_aarch64/Kconfig
  bsp/cvitek/cv18xx_aarch64/board/Kconfig
  bsp/cvitek/cv18xx_aarch64/rtconfig.h
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/cv18xx_risc-v/board/Kconfig
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  bsp/cvitek/drivers/drv_gpio.c
  bsp/cvitek/drivers/drv_hw_i2c.h
  bsp/cvitek/drivers/drv_uart.h
Labels: +1, BSP: Cvitek

#9327 [lwp][tid]add error log when tid depleted, and return correct errno when clone failed
  components/lwp/lwp_syscall.c
  components/lwp/lwp_tid.c
Labels: +1, RT-Smart

#9308 [lwp] Implementation of setpgrp and fix mmap2 problems
  components/lwp/lwp_pgrp.c
  components/lwp/lwp_syscall.c
Labels: +1, RT-Smart, component: lwp

#9335 [bsp/at32] remove duplicate dma_isr() in hwi2c
  bsp/at32/libraries/rt_drivers/drv_hard_i2c.c
  bsp/at32/libraries/rt_drivers/drv_spi.c
Labels: BSP: AT32

#9330 fixup: uninitialized argument vector element
  components/lwp/lwp_args.c
Labels: RT-Smart

#9343 [bsp/nxp] Add fixed lds
  bsp/nxp/imx/imxrt/imxrt1170-nxp-evk/m7/.config
  bsp/nxp/imx/imxrt/imxrt1170-nxp-evk/m7/board/linker_scripts/link.lds
  bsp/nxp/imx/imxrt/imxrt1170-nxp-evk/m7/rtconfig.h
Labels: BSP: NXP

#9350 [action]Supplementary part bsp, Component's label.
  .github/labeler.yml
Labels: action

#9336 feat: arm64: generic implementation of vector irq
  libcpu/aarch64/common/include/asm-generic.h
  libcpu/aarch64/common/include/vector_gcc.h
  libcpu/aarch64/common/mp/context_gcc.S
  libcpu/aarch64/common/mp/vector_gcc.S
  libcpu/aarch64/common/up/context_gcc.S
  libcpu/aarch64/common/up/vector_gcc.S
  libcpu/aarch64/common/vector_gcc.S
Labels: +1, Arch: ARM/AArch64

#9290 rename c906 FPU macro
  bsp/allwinner/d1/.config
  bsp/allwinner/d1/Kconfig
  bsp/allwinner/d1/rtconfig.h
  bsp/allwinner/d1s/.config
  bsp/allwinner/d1s/Kconfig
  bsp/allwinner/d1s/rtconfig.h
  bsp/bouffalo_lab/bl808/d0/.config
  bsp/bouffalo_lab/bl808/d0/board/Kconfig
  bsp/bouffalo_lab/bl808/d0/rtconfig.h
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  libcpu/risc-v/t-head/c906/cpuport.c
  libcpu/risc-v/t-head/c906/cpuport.h
  libcpu/risc-v/t-head/c906/stack.h
  libcpu/risc-v/t-head/c906/stackframe.h
Labels: +1, BSP: Cvitek, Arch: RISC-V

#9352 feat: add memset zero for rt_thread_init
  src/thread.c
Labels: Kernel

#9339 bsp: cvitek: Add support for duos_sd
  bsp/cvitek/README.md
  bsp/cvitek/board_env.sh
  bsp/cvitek/c906_little/Kconfig
  bsp/cvitek/c906_little/SConstruct
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/cv18xx_risc-v/applications/main.c
  bsp/cvitek/cv18xx_risc-v/dtb/milkv-duos-sd/cv1813h_milkv_duos_sd.dtb
  bsp/cvitek/cv18xx_risc-v/dtb/milkv-duos-sd/multi.its
  bsp/cvitek/drivers/SConscript
  bsp/cvitek/drivers/drv_pinmux.c
  bsp/cvitek/drivers/drv_uart.c
Labels: BSP, BSP: Cvitek, Arch: RISC-V

#9362 [tools] fix the SDK path issue in env script.
  tools/env_utility.py
Labels: tools

#9360 [bsp][ht32] 修复编译问题
  .github/workflows/bsp_buildings.yml
  bsp/ht32/ht32f12366/rtconfig.py
  bsp/ht32/ht32f52352/rtconfig.py
  bsp/ht32/libraries/HT32_STD_1xxxx_FWLib/SConscript
  bsp/ht32/libraries/HT32_STD_5xxxx_FWLib/SConscript
  bsp/ht32/tools/sdk_dist.py
Labels: BSP, action

#9304 [bsp/cvitek]修正sdhci发送命令超时后触发两次信号量的问题
  bsp/cvitek/drivers/drv_sdhci.c
Labels: BSP: Cvitek

#9355 [script] add install.sh for rt-thread
  tools/ci/install.sh
Labels: action, tools

#9363 [bsp][nxp][mcxa153] add spi1 driver entry
  bsp/nxp/mcx/mcxa/Libraries/drivers/drv_spi.c
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/Kconfig
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/MCUX_Config/board/pin_mux.c
Labels: BSP: NXP, BSP
