Repository RT-Thread/rt-thread, pull requests merged in 2024-04, with the labels that each got.

#8724 support cv181x-riscv for RT-SMART
  bsp/cvitek/c906_little/.config
  bsp/cvitek/c906_little/README.md
  bsp/cvitek/c906_little/README_en.md
  bsp/cvitek/c906_little/rtconfig.h
  bsp/cvitek/cv180x/.gitignore
  bsp/cvitek/cv180x/cv1800b_milkv_duo_sd.dtb
  bsp/cvitek/cv180x/multi.its
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/.gitignore
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/cv18xx_risc-v/README.md
  bsp/cvitek/cv18xx_risc-v/README_en.md
  bsp/cvitek/cv18xx_risc-v/SConscript
  bsp/cvitek/cv18xx_risc-v/SConstruct
  bsp/cvitek/cv18xx_risc-v/applications/SConscript
  bsp/cvitek/cv18xx_risc-v/applications/main.c
  bsp/cvitek/cv18xx_risc-v/board/Kconfig
  bsp/cvitek/cv18xx_risc-v/board/SConscript
  bsp/cvitek/cv18xx_risc-v/board/board.c
  bsp/cvitek/cv18xx_risc-v/board/board.h
  bsp/cvitek/cv18xx_risc-v/link.lds
  bsp/cvitek/cv18xx_risc-v/link_stacksize.lds
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  bsp/cvitek/cv18xx_risc-v/rtconfig.py
  bsp/cvitek/mksdimg.sh
Labels: +1

#8720 [kernel]SIGNAL节点分配失败应该返回错误
  src/signal.c
Labels: +1

#8727 [bsp][nxp] mcxn947基础上去除多余修改：
  bsp/nxp/mcx/mcxn/Libraries/drivers/drv_spi.c
  bsp/nxp/mcx/mcxn/frdm-mcxn947/.config
  bsp/nxp/mcx/mcxn/frdm-mcxn947/board/MCUX_Config/board/pin_mux.c
  bsp/nxp/mcx/mcxn/frdm-mcxn947/project.uvoptx
  bsp/nxp/mcx/mcxn/frdm-mcxn947/project.uvprojx
  bsp/nxp/mcx/mcxn/frdm-mcxn947/rtconfig.h
Labels: BSP: NXP

#8765 Stm32F407-rt-spark adapts to RTduino
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_soft_i2c.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_soft_i2c.h
  bsp/stm32/stm32f407-rt-spark/applications/SConscript
  bsp/stm32/stm32f407-rt-spark/applications/arduino_main.cpp
  bsp/stm32/stm32f407-rt-spark/applications/arduino_pinout/README.md
  bsp/stm32/stm32f407-rt-spark/applications/arduino_pinout/Rt-spark_Rtduino_Pin_Map.drawio.png
  bsp/stm32/stm32f407-rt-spark/applications/arduino_pinout/SConscript
  bsp/stm32/stm32f407-rt-spark/applications/arduino_pinout/pins_arduino.c
  bsp/stm32/stm32f407-rt-spark/applications/arduino_pinout/pins_arduino.h
  bsp/stm32/stm32f407-rt-spark/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f407-rt-spark/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f407-rt-spark/board/CubeMX_Config/Inc/stm32f4xx_hal_conf.h
  bsp/stm32/stm32f407-rt-spark/board/CubeMX_Config/Inc/stm32f4xx_it.h
  bsp/stm32/stm32f407-rt-spark/board/CubeMX_Config/Src/main.c
  bsp/stm32/stm32f407-rt-spark/board/CubeMX_Config/Src/stm32f4xx_hal_msp.c
  bsp/stm32/stm32f407-rt-spark/board/CubeMX_Config/Src/stm32f4xx_it.c
  bsp/stm32/stm32f407-rt-spark/board/Kconfig
Labels: BSP: STM32

#8699 upgrade RT-Thread version to v5.2.0
  include/rtdef.h
  src/Kconfig
Labels: discussion

#8819 [bsp][renesas]fix ra6m3 can't use lcd problem.
  bsp/renesas/libraries/HAL_Drivers/config/ra6m3/lcd_config.h
  bsp/renesas/libraries/HAL_Drivers/drv_lcd.c
  bsp/renesas/ra6m3-hmi-board/board/ports/lcd_port.h
  bsp/renesas/ra6m3-hmi-board/configuration.xml
Labels: v5.1.0

#8840 Adjust the timing for I2C initialization.
  bsp/Infineon/libraries/HAL_Drivers/drv_soft_i2c.c
  bsp/acm32/acm32f0x0-nucleo/drivers/Kconfig
  bsp/acm32/acm32f0x0-nucleo/drivers/drv_soft_i2c.c
  bsp/acm32/acm32f0x0-nucleo/drivers/drv_soft_i2c.h
  bsp/airm2m/air32f103/libraries/rt_drivers/drv_soft_i2c.c
  bsp/apm32/libraries/Drivers/drv_soft_i2c.c
  bsp/at32/libraries/rt_drivers/drv_soft_i2c.c
  bsp/at91/at91sam9260/drivers/at91_i2c_gpio.c
  bsp/at91/at91sam9g45/drivers/at91_i2c_gpio.c
  bsp/avr32/drivers/drv_soft_i2c.c
  bsp/bluetrum/libraries/hal_drivers/drv_soft_i2c.c
  bsp/bouffalo_lab/libraries/rt_drivers/drv_soft_i2c.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_soft_i2c.c
  bsp/gd32/risc-v/libraries/gd32_drivers/drv_soft_i2c.c
  bsp/hc32/libraries/hc32_drivers/drv_soft_i2c.c
  bsp/hk32/libraries/rt_drivers/drv_soft_i2c.c
  bsp/loongson/ls1cdev/drivers/drv_i2c.c
  bsp/n32/libraries/n32_drivers/drv_i2c.c
  bsp/n32g452xx/Libraries/rt_drivers/drv_soft_i2c.c
  bsp/raspberry-pico/drivers/drv_soft_i2c.c
  bsp/renesas/libraries/HAL_Drivers/drv_soft_i2c.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_soft_i2c.c
  bsp/synwit/libraries/SWM320_drivers/drv_soft_i2c.c
  bsp/w60x/drivers/drv_soft_i2c.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_soft_i2c.c
  components/drivers/i2c/i2c-bit-ops.c
  components/drivers/include/drivers/i2c-bit-ops.h
Labels: in progress
