Repository RT-Thread/rt-thread, pull requests merged in 2025-07, with the labels that each got.

#10453 bsp/renesas: fix the problem of abnormal timer count
  bsp/renesas/libraries/HAL_Drivers/drv_hwtimer.c
Labels: BSP, BSP: Renesas

#10458 Fixup the boot EL check
  libcpu/aarch64/cortex-a/entry_point.S
Labels: Arch: ARM/AArch64, libcpu

#10459 [bsp]stm32f429-armfly-v6 添加yml配置
  bsp/stm32/stm32f429-armfly-v6/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32f429-armfly-v6/applications/main.c
Labels: BSP: STM32, BSP

#10454 [bsp][gd32] 添加GD32F527I BSP
  .github/ALL_BSP_COMPILE.json
  bsp/gd32/arm/gd32527I-eval/.config
  bsp/gd32/arm/gd32527I-eval/Kconfig
  bsp/gd32/arm/gd32527I-eval/README.md
  bsp/gd32/arm/gd32527I-eval/SConscript
  bsp/gd32/arm/gd32527I-eval/SConstruct
  bsp/gd32/arm/gd32527I-eval/applications/SConscript
  bsp/gd32/arm/gd32527I-eval/applications/main.c
  bsp/gd32/arm/gd32527I-eval/board/Kconfig
  bsp/gd32/arm/gd32527I-eval/board/SConscript
  bsp/gd32/arm/gd32527I-eval/board/board.c
  bsp/gd32/arm/gd32527I-eval/board/board.h
  bsp/gd32/arm/gd32527I-eval/board/gd32f5xx_libopt.h
  bsp/gd32/arm/gd32527I-eval/board/linker_scripts/link.icf
  bsp/gd32/arm/gd32527I-eval/board/linker_scripts/link.ld
  bsp/gd32/arm/gd32527I-eval/board/linker_scripts/link.sct
  bsp/gd32/arm/gd32527I-eval/figures/gd32f527i_eval.png
  bsp/gd32/arm/gd32527I-eval/project.ewd
  bsp/gd32/arm/gd32527I-eval/project.ewp
  bsp/gd32/arm/gd32527I-eval/project.eww
  bsp/gd32/arm/gd32527I-eval/project.uvoptx
  bsp/gd32/arm/gd32527I-eval/project.uvproj
  bsp/gd32/arm/gd32527I-eval/project.uvprojx
  bsp/gd32/arm/gd32527I-eval/rtconfig.h
  bsp/gd32/arm/gd32527I-eval/rtconfig.py
  bsp/gd32/arm/gd32527I-eval/template.ewp
  bsp/gd32/arm/gd32527I-eval/template.uvoptx
  bsp/gd32/arm/gd32527I-eval/template.uvproj
  bsp/gd32/arm/gd32527I-eval/template.uvprojx
  bsp/gd32/arm/libraries/Kconfig
  bsp/gd32/arm/libraries/gd32_drivers/drv_gpio.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_gpio.h
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart.h
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart_v2.c
Labels: BSP, action, BSP: GD32

#10445 update(cherryusb): update framework and bugfix
  components/drivers/usb/cherryusb/Kconfig
  components/drivers/usb/cherryusb/Kconfig.rtt
  components/drivers/usb/cherryusb/Kconfig.rttpkg
  components/drivers/usb/cherryusb/SConscript
  components/drivers/usb/cherryusb/class/vendor/serial/usbh_ftdi.c
  components/drivers/usb/cherryusb/demo/adb/cherryadb.png
  components/drivers/usb/cherryusb/demo/adb/usbd_adb_template.c
  components/drivers/usb/cherryusb/demo/cdc_acm_mavlink_template.c
  components/drivers/usb/cherryusb/demo/cdc_acm_rttchardev_template.c
  components/drivers/usb/cherryusb/demo/webusb_hid_template.c
  components/drivers/usb/cherryusb/platform/README.md
  components/drivers/usb/cherryusb/platform/rtthread/usb_check.c
  components/drivers/usb/cherryusb/platform/rtthread/usbd_adb_shell.c
  components/drivers/usb/cherryusb/platform/rtthread/usbd_serial.c
  components/drivers/usb/cherryusb/platform/rtthread/usbh_dfs.c
  components/drivers/usb/cherryusb/platform/rtthread/usbh_serial.c
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_st.c
  components/drivers/usb/cherryusb/port/dwc2/usb_hc_dwc2.c
Labels: Component, component: drivers/usb, component: drivers

#10466 Fixup linker warning
  libcpu/aarch64/link.lds.S
Labels: Arch: ARM/AArch64, libcpu

#10128 [refact](netdev): Expose netdev_set_dns and netdev_set_if
  components/net/netdev/include/netdev.h
  components/net/netdev/src/netdev.c
Labels: -1, component: net, Component, component: net/netdev

#10491 [stm32] Modify MIN_PERIOD and MIN_PULSE to Allow PWM Duty Cycle of 0%
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_pwm.c
Labels: BSP: STM32, BSP

#10493 [serial_v2]modify the default configuration of the RT_SERIAL_CONFIG_DEFAULT structure to support parameters in the absence of DMA configuration.
  components/drivers/include/drivers/dev_serial_v2.h
Labels: Component, component: drivers

#10507 [tools]:修复iar添加宏不完全
  tools/building.py
  tools/targets/iar.py
Labels: tools

#10512 update(cherryusb): update to v1.5.1
  components/drivers/usb/cherryusb/Kconfig
  components/drivers/usb/cherryusb/Kconfig.rtt
  components/drivers/usb/cherryusb/Kconfig.rttpkg
  components/drivers/usb/cherryusb/SConscript
  components/drivers/usb/cherryusb/VERSION
  components/drivers/usb/cherryusb/cherryusb.cmake
  components/drivers/usb/cherryusb/cherryusb_config_template.h
  components/drivers/usb/cherryusb/class/hub/usbh_hub.c
  components/drivers/usb/cherryusb/class/mtp/usb_mtp.h
  components/drivers/usb/cherryusb/class/mtp/usbd_mtp.h
  components/drivers/usb/cherryusb/common/usb_version.h
  components/drivers/usb/cherryusb/core/usbd_core.c
  components/drivers/usb/cherryusb/core/usbh_core.h
  components/drivers/usb/cherryusb/demo/cdc_acm_hid_msc_template.c
  components/drivers/usb/cherryusb/demo/cdc_acm_msc_template.c
  components/drivers/usb/cherryusb/demo/cdc_acm_multi_template.c
  components/drivers/usb/cherryusb/demo/usb_host.c
  components/drivers/usb/cherryusb/demo/winusb2.0_cdc_template.c
  components/drivers/usb/cherryusb/demo/winusb2.0_hid_template.c
  components/drivers/usb/cherryusb/idf_component.yml
  components/drivers/usb/cherryusb/port/dwc2/README.md
  components/drivers/usb/cherryusb/port/dwc2/usb_dc_dwc2.c
  components/drivers/usb/cherryusb/port/dwc2/usb_dwc2_param.h
  components/drivers/usb/cherryusb/port/dwc2/usb_dwc2_reg.h
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_at.c
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_esp.c
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_gd.c
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_st.c
  components/drivers/usb/cherryusb/port/dwc2/usb_hc_dwc2.c
  components/drivers/usb/cherryusb/port/ehci/usb_hc_ehci.c
  components/drivers/usb/cherryusb/port/fsdev/usb_dc_fsdev.c
  components/drivers/usb/cherryusb/port/musb/usb_dc_musb.c
  components/drivers/usb/cherryusb/port/musb/usb_glue_sifli.c
  components/drivers/usb/cherryusb/port/musb/usb_hc_musb.c
Labels: Component, component: drivers/usb, component: drivers

#10510 ci/maintainer: merge same tag with different paths, remove Path display from CI comment
  .github/workflows/auto-assign-reviewers.yml
  .github/workflows/bsp_buildings.yml
Labels: action

#10452 testcase: add system performance testcase
  examples/utest/testcases/Kconfig
  examples/utest/testcases/perf/Kconfig
  examples/utest/testcases/perf/README.md
  examples/utest/testcases/perf/SConscript
  examples/utest/testcases/perf/context_switch_tc.c
  examples/utest/testcases/perf/irq_latency_tc.c
  examples/utest/testcases/perf/perf_tc.c
  examples/utest/testcases/perf/perf_tc.h
  examples/utest/testcases/perf/thread_event_tc.c
  examples/utest/testcases/perf/thread_mbox_tc.c
  examples/utest/testcases/perf/thread_mq_tc.c
  examples/utest/testcases/perf/thread_sem_tc.c
Labels: testcase

#10506 fix #4286,fifx memory leak when sal_socket failed
  components/net/sal/socket/net_sockets.c
Labels: component: net, Component, component: net/sal

#10523 kernel/testcase: fixed buffer overflow vulnerability in object
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/object_tc.c
  src/object.c
Labels: Kernel, testcase

#10345 [Fix] <components>:finsh/shell.c F: char rt_hw_console_getchar(void)
  components/finsh/shell.c
Labels: component: finsh, Component

#10496 [bsp][stm32][usart_v2] 优化usart_2驱动兼容性
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_usart_v2.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_usart_v2.h
Labels: BSP: STM32, BSP

#10525 Improvements to rt-spark serial_v2 support
  bsp/stm32/stm32f407-rt-spark/board/Kconfig
Labels: BSP: STM32, BSP, Component, component: drivers/serial, component: drivers

#10514 [bsp][wch]:适配WCH RISC-V系列uart_v2驱动
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_usart_v2.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_usart_v2.h
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
Labels: BSP, BSP: WCH

#10532 doxygen: promote object management to a separate page
  documentation/0.doxygen/1.core.h
  documentation/3.kernel/INDEX.md
  documentation/3.kernel/basic/basic.md
  documentation/3.kernel/object/figures/03kernel_object.png
  documentation/3.kernel/object/figures/03kernel_object2.png
  documentation/3.kernel/object/object.md
  include/rtdef.h
  include/rtthread.h
  src/object.c
Labels: Doc, Kernel

#10423 [components/libc] add comments for some pthread functions.
  components/libc/posix/pthreads/pthread.c
Labels: Component

#10529 [drivers][serial_v2] 修复dma下rx_flush的bug
  components/drivers/serial/dev_serial_v2.c
Labels: Component, component: drivers/serial, component: drivers

#10451 [pthreads] Fix pthread_cond_timedwait lacks timeout wakeup
  components/libc/posix/pthreads/pthread_cond.c
Labels: Component

#10552 fix gd32 dist bug
  bsp/gd32/arm/gd32527I-eval/board/Kconfig
Labels: BSP, BSP: GD32

#10548 [components/dfs]add doxygen comments for dfs_mnt.c in dfs_v2.
  components/dfs/dfs_v2/src/dfs_mnt.c
Labels: Component

#10537 fix(kernel)/improve(utest):fix the legacy issue related to the length of the object name version
  .github/utest/kernel/object.cfg
  .github/workflows/utest_auto_run.yml
  bsp/qemu-vexpress-a9/.config
  bsp/qemu-vexpress-a9/rtconfig.h
  examples/utest/testcases/kernel/Kconfig
  examples/utest/testcases/kernel/object_tc.c
  src/klibc/utest/TC_rt_memcmp.c
  src/object.c
Labels: BSP, Doc, Kernel, action, RT-Smart, component: lwp, testcase, Component, component: drivers/core, component: drivers/ipc, component: drivers

#10563 [components/dfs]add doxygen comments for dfs_vnode.c in dfs_v2.
  components/dfs/dfs_v2/src/dfs_vnode.c
Labels: Component
