Repository RT-Thread/rt-thread, pull requests merged in 2025-01, with the labels that each got.

#9850 [utest][wq]add workqueue_tc
  examples/utest/configs/kernel/ipc.conf
  examples/utest/testcases/drivers/ipc/Kconfig
  examples/utest/testcases/drivers/ipc/SConscript
  examples/utest/testcases/drivers/ipc/workqueue_tc.c
Labels: testcase

#9847 bsp: cvitek: remove RT_USING_VIRTIO for arm64
  bsp/cvitek/cv18xx_aarch64/.config
  bsp/cvitek/cv18xx_aarch64/rtconfig.h
Labels: +1, BSP, BSP: Cvitek, Arch: ARM/AArch64

#9826 修复编译过程中的 DFS_V2报错、FAL警告
  components/dfs/dfs_v2/src/dfs_pcache.c
  components/drivers/core/device.c
  components/fal/src/fal_rtt.c
Labels: Component, component: drivers/core, component: drivers

#9855 [bsp][stm32l496zg] add onchip config
  bsp/stm32/stm32l496-st-nucleo/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32l496-st-nucleo/.ci/attachconfig/nano.attach
Labels: BSP: STM32, BSP

#9859 [doc] doxygen attach github pages
  .github/workflows/doxygen.yml
Labels: action

#9860 [AT] AT_Device 适配 SERIAL_V2
  components/net/at/include/at.h
  components/net/at/src/at_client.c
  components/net/at/src/at_server.c
Labels: component: net, Component, component: net/at

#9861 [doc]Update doxygen rtthread_logo.png
  documentation/doxygen/images/rtthread_logo.png
Labels: Doc

#9828 dfs_v2 romfs fops ioctl 赋值
  components/dfs/dfs_v2/filesystems/romfs/dfs_romfs.c
Labels: +1, Component

#9831 [utest] add rt_memset test case
  components/utilities/utest/TC_uassert.c
  components/utilities/utest/utest.c
  components/utilities/utest/utest.h
  components/utilities/utest/utest_assert.h
  src/klibc/utest/TC_rt_memcmp.c
  src/klibc/utest/TC_rt_memcpy.c
  src/klibc/utest/TC_rt_memmove.c
  src/klibc/utest/TC_rt_memset.c
  src/klibc/utest/TC_rt_sprintf.c
Labels: Kernel, Component

#9863 [rt_vsscanf] upgrade version and add test case
  src/klibc/rt_vsscanf.c
  src/klibc/utest/TC_rt_sscanf.c
Labels: Kernel

#9830 Fix: [CAN][STM32] GCC compile errors.
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_can.c
Labels: BSP: STM32, BSP

#9767 [kservice] optimize console_device
  src/kservice.c
Labels: Kernel

#9867 [wlan] add ap_get_info api for more ap information
  components/drivers/wlan/dev_wlan.c
  components/drivers/wlan/dev_wlan.h
  components/drivers/wlan/dev_wlan_mgnt.c
Labels: Component, component: drivers/wlan, component: drivers

#9869 [wq][fix]工作队列默认使用C99标准实现遍历
  components/drivers/ipc/workqueue.c
Labels: Component, component: drivers/ipc, component: drivers

#9870 [tools] add logging as Env['log']
  tools/building.py
Labels: tools

#9874 [action] set runner to ubuntu22.04
  .github/workflows/action_tools.yml
  .github/workflows/action_utest.yml
  .github/workflows/auto_labeler.yml
  .github/workflows/bsp_buildings.yml
  .github/workflows/compile_bsp_with_drivers.yml
  .github/workflows/format_check.yml
  .github/workflows/manual_bsp_build.yml
  .github/workflows/manual_dist.yml
  .github/workflows/manual_trigger_scons_STM32_all.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  .github/workflows/manual_trigger_scons_fail_bsp_all.yml
  .github/workflows/manual_trigger_update_all.yml
  .github/workflows/spell_check.yml
  .github/workflows/static_code_analysis.yml
Labels: urgent 🏃, action

#9872 [bsp][hpmicro] fix the alignement check logic and the cache-maintenance logic
  bsp/hpmicro/libraries/drivers/drv_sdio.c
Labels: BSP

#9884 bsp: cvitek: remove support for spinor/spinand
  bsp/cvitek/README.md
  bsp/cvitek/board_env.sh
  bsp/cvitek/c906_little/.config
  bsp/cvitek/c906_little/Kconfig
  bsp/cvitek/c906_little/rtconfig.h
  bsp/cvitek/cv18xx_aarch64/.config
  bsp/cvitek/cv18xx_aarch64/Kconfig
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/Kconfig
  bsp/cvitek/cv18xx_risc-v/applications/main.c
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  bsp/cvitek/drivers/SConscript
  bsp/cvitek/drivers/drv_adc.c
  bsp/cvitek/drivers/drv_hw_i2c.c
  bsp/cvitek/drivers/drv_pwm.c
  bsp/cvitek/drivers/drv_spi.c
  bsp/cvitek/drivers/drv_uart.c
  bsp/cvitek/mksdimg.sh
Labels: BSP, BSP: Cvitek

#9873 [bsp][qemu-virt64-riscv]修正内存大小超限制的问题
  bsp/qemu-virt64-riscv/driver/board.h
Labels: BSP

#9882 fix: add \n for addr2line hint
  components/lwp/lwp.c
  libcpu/arm/cortex-a/backtrace.c
  libcpu/arm/cortex-r52/backtrace.c
  src/kservice.c
Labels: Kernel, RT-Smart, component: lwp, libcpu, Component

#9886 drivers: merge the software i2c driver
  bsp/renesas/libraries/HAL_Drivers/SConscript
  bsp/renesas/libraries/HAL_Drivers/drv_soft_i2c.c
  bsp/renesas/libraries/HAL_Drivers/drv_soft_i2c.h
  bsp/renesas/ra6m3-hmi-board/.ci/attachconfig/attachconfig.yml
  bsp/renesas/ra6m3-hmi-board/.config
  bsp/renesas/ra6m3-hmi-board/board/Kconfig
  bsp/renesas/ra6m3-hmi-board/rtconfig.h
  components/drivers/i2c/Kconfig
  components/drivers/i2c/dev_soft_i2c.c
Labels: BSP, BSP: Renesas, component: drivers/i2c, Component, component: drivers

#9899 [components][dfs_v2]: Fix dfs_devfs_open memory leak
  components/dfs/dfs_v2/filesystems/devfs/devfs.c
Labels: Component

#9889 [utest] make RT_USING_CI_ACTION to be clear
  components/utilities/Kconfig
  components/utilities/utest/utest.c
  src/Kconfig
  src/klibc/utest/SConscript
Labels: Kernel, Component

#9890 [tools] Add sdk_cfg.json setting for env CC detection
  tools/building.py
  tools/env_utility.py
Labels: tools

#9205 [components][dfs]separate dfs fs data structure ops
  components/dfs/dfs_v2/filesystems/devfs/devtmpfs.c
  components/dfs/dfs_v2/filesystems/tmpfs/dfs_tmpfs.c
  components/dfs/dfs_v2/filesystems/tmpfs/dfs_tmpfs.h
  components/dfs/dfs_v2/include/dfs_vfs.h
Labels: RT-Smart, component: dfsv2

#9206 [components][fs]sync procfs
  components/dfs/Kconfig
  components/dfs/dfs_v2/filesystems/procfs/README.md
  components/dfs/dfs_v2/filesystems/procfs/SConscript
  components/dfs/dfs_v2/filesystems/procfs/proc.c
  components/dfs/dfs_v2/filesystems/procfs/proc.h
  components/dfs/dfs_v2/filesystems/procfs/proc_cmdline.c
  components/dfs/dfs_v2/filesystems/procfs/proc_cpuinfo.c
  components/dfs/dfs_v2/filesystems/procfs/proc_devices.c
  components/dfs/dfs_v2/filesystems/procfs/proc_filesystems.c
  components/dfs/dfs_v2/filesystems/procfs/proc_loadavg.c
  components/dfs/dfs_v2/filesystems/procfs/proc_meminfo.c
  components/dfs/dfs_v2/filesystems/procfs/proc_mounts.c
  components/dfs/dfs_v2/filesystems/procfs/proc_net.c
  components/dfs/dfs_v2/filesystems/procfs/proc_partitions.c
  components/dfs/dfs_v2/filesystems/procfs/proc_pid.c
  components/dfs/dfs_v2/filesystems/procfs/proc_self.c
  components/dfs/dfs_v2/filesystems/procfs/proc_stat.c
  components/dfs/dfs_v2/filesystems/procfs/proc_tty.c
  components/dfs/dfs_v2/filesystems/procfs/proc_uptime.c
  components/dfs/dfs_v2/filesystems/procfs/proc_version.c
  components/dfs/dfs_v2/filesystems/procfs/procfs.c
  components/dfs/dfs_v2/filesystems/procfs/procfs.h
Labels: component: dfsv2

#9912 fix cppcheck in lwp.c will fail if no define RT_USING_DFS
  tools/ci/cpp_check.py
Labels: action, tools

#9911 [utest] fix twice operation of uassert
  components/utilities/utest/TC_uassert.c
  components/utilities/utest/utest_assert.h
Labels: Component

#9908 fix GPIO and SCI drivers for RZ series
  bsp/renesas/ebf_qi_min_6m5/.config
  bsp/renesas/libraries/HAL_Drivers/drv_gpio.c
  bsp/renesas/libraries/HAL_Drivers/drv_sci.c
  bsp/renesas/libraries/Kconfig
  bsp/renesas/libraries/bsp-template/.config
  bsp/renesas/ra2l1-cpk/.config
  bsp/renesas/ra4m2-eco/.config
  bsp/renesas/ra6e2-fpb/.config
  bsp/renesas/ra6m3-ek/.config
  bsp/renesas/ra6m3-hmi-board/.config
  bsp/renesas/ra6m4-cpk/.config
  bsp/renesas/ra6m4-iot/.config
  bsp/renesas/ra8d1-ek/.config
  bsp/renesas/ra8d1-vision-board/.config
  bsp/renesas/ra8m1-ek/.config
  bsp/renesas/rzn2l_rsk/.config
  bsp/renesas/rzt2m_rsk/.config
Labels: BSP, action, BSP: Renesas

#9862 fix bug in setting PLIC_PRIORITY[n]
  bsp/cvitek/c906_little/board/interrupt.c
Labels: BSP, BSP: Cvitek, Arch: RISC-V

#9696 [bsp][cvitek] add dcache opration functions for cache coherence
  bsp/cvitek/c906_little/Kconfig
  bsp/cvitek/c906_little/board/cache.c
  bsp/cvitek/c906_little/board/cache.h
  bsp/cvitek/c906_little/rtconfig.h
Labels: BSP, BSP: Cvitek

#9921 lwp: Kconfig: LWP_DEBUG default as n
  components/lwp/Kconfig
Labels: +1, RT-Smart, component: lwp, Component

#9919 bsp/cvitek: print arch info. during boot-up
  bsp/cvitek/README.md
  bsp/cvitek/c906_little/applications/main.c
  bsp/cvitek/cv18xx_aarch64/README.md
  bsp/cvitek/cv18xx_aarch64/applications/main.c
  bsp/cvitek/cv18xx_risc-v/applications/main.c
Labels: +1, BSP, BSP: Cvitek

#9926 [action] change the attach file of stm32f407-rt-spark to yml
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/kernel/klibc-stdlib.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/kernel/klibc-tinysize.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/kernel/klibc-vsnprintf-std.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/nano.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/iot/at_devices.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/misc/misc.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/misc/vi.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-v8.3-latest.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-v8.3.11.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/multimedia/lvgl/lvgl-v8.4-latest.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/system/enhanced-kservice.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/online-packages/system/os-wrappers.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/aht21.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/ap3216c.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/ethernet_28j60.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/fal_easyflash.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/filesystem.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/icm20608.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/lcd_st7787.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/led_matrix.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/rs485.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/rw007.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/spi_flash_w25q64.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/sram.attach
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/peripheral/usb_mouse.attach
Labels: BSP: STM32, BSP

#9927 bsp: cvitek: optimze build operations for aarch64
  bsp/cvitek/cv18xx_aarch64/README.md
  bsp/cvitek/cv18xx_aarch64/rtconfig.py
Labels: BSP, BSP: Cvitek

#9922 [bsp][cvitek] fix c906_little build warning in cache.c
  bsp/cvitek/c906_little/board/cache.c
Labels: BSP, BSP: Cvitek

#9918 [serial] Fix the issue of msh crashing after running the elf file in smart + msh mode.
  components/drivers/serial/serial_tty.c
Labels: Component, component: drivers/serial, component: drivers

#9866 [components][netdev] add statistics and more inupt parameters to ping command
  components/net/netdev/src/netdev.c
Labels: component: net, Component, component: net/netdev

#9935 [lwp]修正无法通过文件名查找pid的问题
  components/lwp/lwp_pid.c
Labels: RT-Smart, component: lwp, Component

#9938 Add pm driver for F472 and add lVD unlock in board_init.
  bsp/hc32/ev_hc32f448_lqfp80/board/board.c
  bsp/hc32/ev_hc32f460_lqfp100_v2/board/board.c
  bsp/hc32/ev_hc32f472_lqfp100/board/board.c
  bsp/hc32/ev_hc32f4a0_lqfp176/board/board.c
  bsp/hc32/lckfb-hc32f4a0-lqfp100/board/board.c
  bsp/hc32/libraries/hc32_drivers/drv_pm.c
  bsp/hc32/libraries/hc32_drivers/drv_pm.h
  bsp/hc32/tests/test_pm.c
Labels: BSP

#9942 [tools] ci.attachconfig.yml is used in combination with scons
  tools/attachconfig.py
  tools/building.py
  tools/options.py
Labels: tools

#9929 [bsp/stm32f407-rt-spark/stm32l496zg-st-nucleo] add cherryusb support
  .gitignore
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32f407-rt-spark/board/ports/cherryusb/SConscript
  bsp/stm32/stm32f407-rt-spark/board/ports/cherryusb/cherryusb.c
  bsp/stm32/stm32f407-rt-spark/board/ports/cherryusb/usb_config.h
  bsp/stm32/stm32f407-rt-spark/rtconfig.py
  bsp/stm32/stm32l496-st-nucleo/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/Inc/stm32l4xx_hal_conf.h
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/Inc/stm32l4xx_it.h
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/STM32L496ZG.ioc
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/Src/stm32l4xx_it.c
  bsp/stm32/stm32l496-st-nucleo/board/SConscript
  bsp/stm32/stm32l496-st-nucleo/board/port/SConscript
  bsp/stm32/stm32l496-st-nucleo/board/port/cherryusb/SConscript
  bsp/stm32/stm32l496-st-nucleo/board/port/cherryusb/cherryusb.c
  bsp/stm32/stm32l496-st-nucleo/board/port/cherryusb/usb_config.h
  bsp/stm32/stm32l496-st-nucleo/rtconfig.py
  bsp/stm32/stm32l496-st-nucleo/template.uvoptx
  bsp/stm32/stm32l496-st-nucleo/template.uvprojx
Labels: +1, BSP: STM32, BSP

#9901 [action] add cvitek/c906_little ci
  .github/workflows/bsp_buildings.yml
  bsp/cvitek/c906_little/rtconfig.py
Labels: +1, BSP, action, BSP: Cvitek

#9945 Revert "[action] add cvitek/c906_little ci"
  .github/workflows/bsp_buildings.yml
  bsp/cvitek/c906_little/rtconfig.py
Labels: BSP, action, BSP: Cvitek

#9947 [doxygen] add doxygen comment for blk.h
  components/drivers/include/drivers/blk.h
Labels: Component, component: drivers

#9939 [bsp][nrf5x]added the cherryusb adapter for nrf52840
  bsp/nrf5x/nrf52840/.ci/attachconfig/ci.attachconfig.yml
  bsp/nrf5x/nrf52840/board/SConscript
  bsp/nrf5x/nrf52840/board/port/SConscript
  bsp/nrf5x/nrf52840/board/port/cherryusb/cherryusb.c
  bsp/nrf5x/nrf52840/board/port/cherryusb/usb_config.h
  bsp/nrf5x/nrf52840/board/sdk_config.h
  components/drivers/usb/cherryusb/Kconfig
  components/drivers/usb/cherryusb/SConscript
  components/drivers/usb/cherryusb/port/nrf5x/README.md
  components/drivers/usb/cherryusb/port/nrf5x/usb_dc_nrf5x.c
Labels: BSP, Component, component: drivers/usb, component: drivers

#9951 [tools/mdk5] 如果本地设置了UV4.exe 命令，则进行MDK编译
  tools/keil.py
Labels: tools

#9944 [components][drivers]:fix spi bug and add software spi
  components/drivers/spi/Kconfig
  components/drivers/spi/SConscript
  components/drivers/spi/dev_soft_spi.c
  components/drivers/spi/dev_spi_bit_ops.c
  components/drivers/spi/dev_spi_core.c
Labels: component: drivers/spi, Component, component: drivers

#9950 [doxygen] add doxygen comment for clk.c and clk.h
  components/drivers/clk/clk.c
  components/drivers/include/drivers/clk.h
  documentation/Doxyfile
Labels: BSP, Doc, Component, component: drivers/clk, component: drivers/usb, component: drivers

#9956 [tools] Add requirements.txt for python packages
  tools/requirements.txt
Labels: tools

#9959 Update README.md
  bsp/cvitek/README.md
Labels: BSP, BSP: Cvitek
