Repository RT-Thread/rt-thread, pull requests merged in 2025-06, with the labels that each got.

#10360 [bsp][imxrt]修复了USB通信概率性挂掉的问题。原因是USB_OSA_ENTER_CRITICAL等宏使用的是禁止调度的函数，无法保护中断与任务的临界资…
  bsp/nxp/imx/imxrt/libraries/drivers/usb/include/usb_device_config.h
Labels: BSP: NXP, BSP

#10369 bsp: k230: support pinctrl driver
  bsp/k230/drivers/interdrv/pinctl/SConscript
  bsp/k230/drivers/interdrv/pinctl/drv_pinctrl.c
  bsp/k230/drivers/interdrv/pinctl/drv_pinctrl.h
Labels: BSP, BSP: K230

#10364 bsp: artpi2: init project.
  .github/ALL_BSP_COMPILE.json
  bsp/stm32/libraries/HAL_Drivers/drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_sdmmc.c
  bsp/stm32/stm32h7r7-artpi2/.config
  bsp/stm32/stm32h7r7-artpi2/.gitignore
  bsp/stm32/stm32h7r7-artpi2/Kconfig
  bsp/stm32/stm32h7r7-artpi2/README.md
  bsp/stm32/stm32h7r7-artpi2/README_en.md
  bsp/stm32/stm32h7r7-artpi2/SConscript
  bsp/stm32/stm32h7r7-artpi2/SConstruct
  bsp/stm32/stm32h7r7-artpi2/applications/SConscript
  bsp/stm32/stm32h7r7-artpi2/applications/main.c
  bsp/stm32/stm32h7r7-artpi2/board/.ignore_format.yml
  bsp/stm32/stm32h7r7-artpi2/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32h7r7-artpi2/board/CubeMX_Config/Appli/Core/Inc/main.h
  bsp/stm32/stm32h7r7-artpi2/board/CubeMX_Config/Appli/Core/Inc/stm32h7rsxx_hal_conf.h
  bsp/stm32/stm32h7r7-artpi2/board/CubeMX_Config/Appli/Core/Src/stm32h7rsxx_hal_msp.c
  bsp/stm32/stm32h7r7-artpi2/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32h7r7-artpi2/board/Kconfig
  bsp/stm32/stm32h7r7-artpi2/board/SConscript
  bsp/stm32/stm32h7r7-artpi2/board/board.c
  bsp/stm32/stm32h7r7-artpi2/board/board.h
  bsp/stm32/stm32h7r7-artpi2/board/linker_scripts/link.icf
  bsp/stm32/stm32h7r7-artpi2/board/linker_scripts/link.lds
  bsp/stm32/stm32h7r7-artpi2/board/linker_scripts/link.sct
  bsp/stm32/stm32h7r7-artpi2/board/port/SConscript
  bsp/stm32/stm32h7r7-artpi2/board/port/fal_cfg.h
  bsp/stm32/stm32h7r7-artpi2/board/port/filesystem.c
  bsp/stm32/stm32h7r7-artpi2/figures/board_large.png
  bsp/stm32/stm32h7r7-artpi2/figures/create_proj.png
  bsp/stm32/stm32h7r7-artpi2/figures/qq_group.png
  bsp/stm32/stm32h7r7-artpi2/figures/sdk_manager.png
  bsp/stm32/stm32h7r7-artpi2/project.uvoptx
  bsp/stm32/stm32h7r7-artpi2/project.uvprojx
  bsp/stm32/stm32h7r7-artpi2/rtconfig.h
  bsp/stm32/stm32h7r7-artpi2/rtconfig.py
  bsp/stm32/stm32h7r7-artpi2/template.uvoptx
  bsp/stm32/stm32h7r7-artpi2/template.uvprojx
Labels: BSP: STM32, BSP, action, BSP: new bsp board

#10366 [kernel]add doxygen comments for scheduler.
  src/scheduler_comm.c
  src/scheduler_mp.c
  src/scheduler_up.c
Labels: Kernel

#10347 bsp: gd32470z-lckfb: 增加 SPI Flash 支持及使用说明
  MAINTAINERS
  bsp/gd32/arm/gd32470z-lckfb/README.md
  bsp/gd32/arm/gd32470z-lckfb/board/Kconfig
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi_flash.c
Labels: BSP, BSP: GD32

#10372 bsp: k230: add gpio driver
  bsp/k230/drivers/interdrv/gpio/SConscript
  bsp/k230/drivers/interdrv/gpio/drv_gpio.c
  bsp/k230/drivers/interdrv/gpio/drv_gpio.h
  bsp/k230/drivers/utest/SConscript
  bsp/k230/drivers/utest/test_gpio.c
  bsp/k230/drivers/utest/test_gpio_irq.c
Labels: BSP, BSP: K230

#10381 componnets: utest: fix case-name matching problem
  components/utilities/utest/utest.c
Labels: Component

#10378 bsp: k230: support adc
  bsp/k230/.config
  bsp/k230/board/Kconfig
  bsp/k230/drivers/interdrv/adc/SConscript
  bsp/k230/drivers/interdrv/adc/drv_adc.c
  bsp/k230/drivers/interdrv/adc/drv_adc.h
  bsp/k230/drivers/utest/SConscript
  bsp/k230/drivers/utest/test_adc.c
Labels: BSP, BSP: K230

#10396 [bsp]bluepill readme补充flash描述，整理attachconfig为yml
  bsp/stm32/stm32f103-blue-pill/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32f103-blue-pill/.ci/attachconfig/nano.attach
  bsp/stm32/stm32f103-blue-pill/.ci/attachconfig/rtduino.attach
  bsp/stm32/stm32f103-blue-pill/README_zh.md
Labels: BSP: STM32, BSP

#10408 doxygen: use layout to control the html display
  documentation/Doxyfile
  documentation/DoxygenLayout.xml
Labels: Doc

#10424 bsp: k230: imprvove README
  bsp/k230/README.md
Labels: BSP, Doc, BSP: K230

#10420 [bsp][stm32] 1.Fixed the problem that the watchdog device was not reg…
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_wdt.c
Labels: BSP: STM32, BSP

#10437 [bsp/xuantie] 修复bsp的dist功能
  bsp/xuantie/smartl/e902/SConscript
  bsp/xuantie/smartl/e902/rtconfig.py
  bsp/xuantie/smartl/e906/SConscript
  bsp/xuantie/smartl/e906/rtconfig.py
  bsp/xuantie/smartl/e907/SConscript
  bsp/xuantie/smartl/e907/rtconfig.py
  bsp/xuantie/tools/sdk_dist.py
  bsp/xuantie/xiaohui/c906/SConscript
  bsp/xuantie/xiaohui/c906/rtconfig.py
  bsp/xuantie/xiaohui/c907/SConscript
  bsp/xuantie/xiaohui/c907/rtconfig.py
  bsp/xuantie/xiaohui/c908/SConscript
  bsp/xuantie/xiaohui/c908/rtconfig.py
  bsp/xuantie/xiaohui/c910/SConscript
  bsp/xuantie/xiaohui/c910/rtconfig.py
  bsp/xuantie/xiaohui/r908/SConscript
  bsp/xuantie/xiaohui/r908/rtconfig.py
  bsp/xuantie/xiaohui/r910/SConscript
  bsp/xuantie/xiaohui/r910/rtconfig.py
  bsp/xuantie/xiaohui/r920/SConscript
  bsp/xuantie/xiaohui/r920/rtconfig.py
Labels: BSP

#10426 bsp:<bsp/gd32/arm/libraries/gd32_drivers/drv_pwm.c>[Support for non-complementary PWM output with advanced timers]
  bsp/gd32/arm/libraries/gd32_drivers/drv_pwm.c
Labels: BSP, BSP: GD32

#10431 [TOOLS] Add DTC (Devicetree Compiler) tools
  .gitignore
  documentation/6.components/device-driver/INDEX.md
  documentation/6.components/device-driver/ofw/dtc.md
  tools/dtc.py
Labels: Doc, tools
