Repository RT-Thread/rt-thread, pull requests merged in 2025-09, with the labels that each got.

#10643 fix: warnings generated by Kconfig.
  components/dfs/Kconfig
  components/drivers/serial/Kconfig
  components/drivers/usb/cherryusb/Kconfig
  components/drivers/virtio/Kconfig
  components/legacy/usb/Kconfig
  components/net/lwip/Kconfig
  components/utilities/Kconfig
  components/utilities/rt-link/Kconfig
  libcpu/Kconfig
  src/Kconfig
Labels: Kernel, component: net, component: drivers/virtio, libcpu, Component, component: drivers/serial, component: drivers/usb, component: net/lwip, component: drivers

#10653 fix(klibc): also check `__clang__` when detecting gcc
  src/klibc/rt_vsnprintf_std.c
Labels: Kernel

#10656 fix(risc-v, mmu): fix type mismatch of return type of `_query`
  libcpu/risc-v/common64/mmu.c
Labels: Arch: RISC-V, libcpu

#10662 doxygen: align code for kenerl object doc
  documentation/3.kernel/object/object.md
Labels: Doc

#10657 [bsp/gd32] 更新GD32 SPI驱动
  bsp/gd32/arm/gd32527I-eval/board/Kconfig
  bsp/gd32/arm/gd32h759i-eval/board/Kconfig
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_spi.h
Labels: BSP, BSP: GD32

#10654 bsp/nxp/mcx/mcxe: Add MCX E247 and FRDM-MCXE247 support.
  .github/ALL_BSP_COMPILE.json
  bsp/nxp/mcx/mcxe/.clang-format
  bsp/nxp/mcx/mcxe/Libraries/Kconfig
  bsp/nxp/mcx/mcxe/Libraries/drivers/SConscript
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_adc.c
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_i2c.c
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_pin.c
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_pin.h
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_rtc.c
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_spi.c
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_spi.h
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_uart.c
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_uart.h
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_wdt.c
  bsp/nxp/mcx/mcxe/Libraries/drivers/drv_wdt.h
  bsp/nxp/mcx/mcxe/frdm-mcxe247/.config
  bsp/nxp/mcx/mcxe/frdm-mcxe247/Kconfig
  bsp/nxp/mcx/mcxe/frdm-mcxe247/SConscript
  bsp/nxp/mcx/mcxe/frdm-mcxe247/SConstruct
  bsp/nxp/mcx/mcxe/frdm-mcxe247/applications/SConscript
  bsp/nxp/mcx/mcxe/frdm-mcxe247/applications/drv_spi_sample_rw007.c
  bsp/nxp/mcx/mcxe/frdm-mcxe247/applications/main.c
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/Kconfig
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/MCUX_Config/board/clock_config.c
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/MCUX_Config/board/clock_config.h
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/MCUX_Config/board/pin_mux.c
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/MCUX_Config/board/pin_mux.h
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/SConscript
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/board.c
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/board.h
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/linker_scripts/MCXE247_flash.ld
  bsp/nxp/mcx/mcxe/frdm-mcxe247/board/linker_scripts/MCXE247_flash.scf
  bsp/nxp/mcx/mcxe/frdm-mcxe247/project.uvoptx
  bsp/nxp/mcx/mcxe/frdm-mcxe247/project.uvprojx
  bsp/nxp/mcx/mcxe/frdm-mcxe247/rtconfig.h
  bsp/nxp/mcx/mcxe/frdm-mcxe247/rtconfig.py
  bsp/nxp/mcx/mcxe/frdm-mcxe247/template.uvoptx
  bsp/nxp/mcx/mcxe/frdm-mcxe247/template.uvprojx
Labels: BSP: NXP, BSP, action

#10665 utest/utest: intergare testcases into utest framework
  Kconfig.utestcases
  components/utilities/utest/SConscript
  components/utilities/utest/utest/Kconfig
  components/utilities/utest/utest/SConscript
  components/utilities/utest/utest/TC_uassert.c
  examples/utest/testcases/utest/Kconfig
  examples/utest/testcases/utest/SConscript
  examples/utest/testcases/utest/pass_tc.c
Labels: testcase, Component

#10667 fix: 在没有定义FINSH_USING_SYMTAB时编译报错以及IPC及finsh启用时自动选择必要的功能
  components/drivers/ipc/Kconfig
  components/finsh/Kconfig
  components/finsh/finsh.h
  components/finsh/msh.c
Labels: component: finsh, Component, component: drivers/ipc, component: drivers

#10672 [DM/NVME] Fixup the QUEUE alloc errorno check
  components/drivers/nvme/nvme.c
Labels: Component, component: drivers

#10660 [thread]Modify `rt_thread_suspend` to support suspending other threads.
  examples/utest/testcases/kernel/SConscript
  examples/utest/testcases/kernel/thread_suspend_tc.c
  src/thread.c
Labels: BSP, Kernel, testcase

#10679 [fix][ci]Fixed CI compilation failure in sal/src/sal_socket.c
  components/net/sal/src/sal_socket.c
Labels: component: net, Component, component: net/sal

#10696 [components/lwp]add doxygen comment for lwp_args.
  components/lwp/lwp_args.c
  components/lwp/lwp_args.h
Labels: RT-Smart, component: lwp, Component

#10691 [net/netdev]Fixed compilation errors when enabling IPv6 and IPv4 dual-stack support.
  components/net/netdev/src/netdev.c
Labels: bug, component: net, Component, component: net/netdev

#10699 [components][finsh] 清理掉无用的拷贝操作
  components/finsh/cmd.c
Labels: component: finsh, Component

#10695 [bsp][renesas] add EK-RA2E2 other device drivers support
  bsp/renesas/libraries/HAL_Drivers/drivers/config/drv_config.h
  bsp/renesas/libraries/HAL_Drivers/drivers/config/ra2e2/adc_config.h
  bsp/renesas/libraries/HAL_Drivers/drivers/config/ra2e2/pwm_config.h
  bsp/renesas/libraries/HAL_Drivers/drivers/drv_flash.c
  bsp/renesas/libraries/HAL_Drivers/drivers/drv_gpio.c
  bsp/renesas/libraries/HAL_Drivers/drivers/drv_i2c.c
  bsp/renesas/ra2e2-ek/.config
  bsp/renesas/ra2e2-ek/README.md
  bsp/renesas/ra2e2-ek/SConstruct
  bsp/renesas/ra2e2-ek/board/Kconfig
  bsp/renesas/ra2e2-ek/board/ports/fal_cfg.h
  bsp/renesas/ra2e2-ek/configuration.xml
  bsp/renesas/ra2e2-ek/ra/fsp/src/bsp/cmsis/Device/RENESAS/Source/startup.c
  bsp/renesas/ra2e2-ek/ra_gen/pin_data.c
  bsp/renesas/ra2e2-ek/rtconfig.h
Labels: BSP, BSP: Renesas

#10715 [kernel]fix scheduling exception caused by interrupt preemption in rt_schedule
  src/scheduler_up.c
Labels: Kernel

#10721 bsp/qemu-virt64-riscv: disable RT_USING_UTEST
  bsp/qemu-virt64-riscv/.config
  bsp/qemu-virt64-riscv/rtconfig.h
Labels: BSP

#10709 bsp: k230: add rtc driver
  bsp/k230/.config
  bsp/k230/board/Kconfig
  bsp/k230/drivers/interdrv/rtc/SConscript
  bsp/k230/drivers/interdrv/rtc/drv_rtc.c
  bsp/k230/drivers/interdrv/rtc/drv_rtc.h
  bsp/k230/drivers/utest/SConscript
  bsp/k230/drivers/utest/test_rtc.c
  bsp/k230/rtconfig.h
Labels: BSP, BSP: K230

#10729 improve[ci]: standardize the naming of CI files related to auto assig…
  .github/workflows/auto_assign_reviewers.yml
  .github/workflows/pr_clang_format.yml
Labels: action

#10740 bsp/cvitek: Increase the value of RT_NAME_MAX
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
Labels: BSP, BSP: Cvitek

#10724 [components/lwp]add doxygen comment for lwp avl implementation.
  components/lwp/lwp_avl.c
  components/lwp/lwp_avl.h
Labels: RT-Smart, component: lwp, Component

#10737 [bsp][gd32]: can add support for GD32F5xx
  bsp/gd32/arm/gd32527I-eval/board/Kconfig
  bsp/gd32/arm/libraries/gd32_drivers/Kconfig
  bsp/gd32/arm/libraries/gd32_drivers/drv_can.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_can.h
Labels: BSP, BSP: GD32

#10746 maintainer: add new code owner for renesas and gd32(arm)
  .github/CODEOWNERS
Labels: action

#10741 utest: remove RT_UTEST_USING_ALL_CASES
  bsp/k230/drivers/utest/SConscript
  components/drivers/audio/utest/SConscript
  components/net/utest/SConscript
  components/utilities/Kconfig
  components/utilities/utest/utest/SConscript
  documentation/6.components/utest/utest.md
  examples/utest/testcases/cpp11/SConscript
  src/Kconfig
  src/klibc/utest/SConscript
Labels: BSP, Doc, Kernel, component: net, testcase, Component, component: drivers/audio, component: drivers

#10726 [components/lwp]add doxygen comment for lwp_dbg.c.
  components/lwp/lwp_dbg.c
Labels: RT-Smart, component: lwp, Component

#10750 utest: move driver related case under to drivers
  Kconfig.utestcases
  components/drivers/core/SConscript
  components/drivers/core/utest/Kconfig
  components/drivers/core/utest/SConscript
  components/drivers/core/utest/device_tc.c
  src/utest/Kconfig
  src/utest/SConscript
Labels: Kernel, Component, component: drivers/core, component: drivers

#10743 [fix] 使能GD32H7 I/D Cache，移除Systick重复配置代码
  bsp/gd32/arm/gd32h759i-eval/board/board.c
  bsp/gd32/arm/gd32h759i-start/board/board.c
Labels: BSP, BSP: GD32

#10744 [gd32][fix] 修正UART驱动管脚配置不正确的问题
  bsp/gd32/arm/libraries/gd32_drivers/drv_usart.c
Labels: BSP, BSP: GD32

#10712 feat(can): 实现非阻塞发送机制并增强CAN驱动功能
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_can.c
  components/drivers/can/Kconfig
  components/drivers/can/dev_can.c
  components/drivers/include/drivers/dev_can.h
Labels: BSP: STM32, BSP, Component, component: drivers/can, component: drivers

#10756 fix:Fixed compilation error for libcpu/cortex-m4.
  libcpu/arm/cortex-m4/context_iar.S
Labels: libcpu

#10748 improve[ci]: integrate utest run ci
  .github/utest/default.cfg
  .github/workflows/action_utest.yml
  .github/workflows/utest_auto_run.yml
  examples/utest/configs/components/dfs.cfg
  examples/utest/configs/components/lwip.cfg
  examples/utest/configs/components/netdev.cfg
  examples/utest/configs/cpp11/cpp11.cfg
  examples/utest/configs/cpp11/cpp11.conf
  examples/utest/configs/default.cfg
  examples/utest/configs/kernel/atomic_c11.cfg
  examples/utest/configs/kernel/atomic_c11.conf
  examples/utest/configs/kernel/device.conf
  examples/utest/configs/kernel/ipc.cfg
  examples/utest/configs/kernel/irq.conf
  examples/utest/configs/kernel/kernel_basic.cfg
  examples/utest/configs/kernel/mem.cfg
  examples/utest/configs/kernel/mem.conf
  examples/utest/configs/kernel/thread.conf
  examples/utest/configs/kernel/timer.conf
  examples/utest/configs/rtsmart/base.conf
  examples/utest/configs/rtsmart/rtsmart.cfg
  examples/utest/configs/smp/smp.cfg
  examples/utest/configs/utest_self/self.conf
  src/utest/Kconfig
Labels: Kernel, action, testcase

#10728 [bsp/xuantie] 添加bsp导入rt-studio相关文件
  bsp/xuantie/smartl/e902/.cproject
  bsp/xuantie/smartl/e902/.project
  bsp/xuantie/smartl/e902/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/smartl/e902/.settings/projcfg.ini
  bsp/xuantie/smartl/e902/Kconfig
  bsp/xuantie/smartl/e902/rtconfig_preinc.h
  bsp/xuantie/smartl/e906/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/smartl/e906/.settings/projcfg.ini
  bsp/xuantie/smartl/e906/Kconfig
  bsp/xuantie/smartl/e906/rtconfig_preinc.h
  bsp/xuantie/smartl/e907/.cproject
  bsp/xuantie/smartl/e907/.project
  bsp/xuantie/smartl/e907/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/smartl/e907/.settings/projcfg.ini
  bsp/xuantie/smartl/e907/Kconfig
  bsp/xuantie/smartl/e907/rtconfig_preinc.h
  bsp/xuantie/xiaohui/c906/.cproject
  bsp/xuantie/xiaohui/c906/.project
  bsp/xuantie/xiaohui/c906/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/xiaohui/c906/.settings/projcfg.ini
  bsp/xuantie/xiaohui/c906/Kconfig
  bsp/xuantie/xiaohui/c906/rtconfig_preinc.h
  bsp/xuantie/xiaohui/c907/.cproject
  bsp/xuantie/xiaohui/c907/.project
  bsp/xuantie/xiaohui/c907/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/xiaohui/c907/.settings/projcfg.ini
  bsp/xuantie/xiaohui/c907/Kconfig
  bsp/xuantie/xiaohui/c907/rtconfig_preinc.h
  bsp/xuantie/xiaohui/c908/.cproject
  bsp/xuantie/xiaohui/c908/.project
  bsp/xuantie/xiaohui/c908/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/xiaohui/c908/.settings/projcfg.ini
  bsp/xuantie/xiaohui/c908/Kconfig
  bsp/xuantie/xiaohui/c908/rtconfig.py
  bsp/xuantie/xiaohui/c908/rtconfig_preinc.h
  bsp/xuantie/xiaohui/c910/.cproject
  bsp/xuantie/xiaohui/c910/.project
  bsp/xuantie/xiaohui/c910/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/xiaohui/c910/.settings/projcfg.ini
  bsp/xuantie/xiaohui/c910/Kconfig
  bsp/xuantie/xiaohui/c910/rtconfig_preinc.h
  bsp/xuantie/xiaohui/r908/.cproject
  bsp/xuantie/xiaohui/r908/.project
  bsp/xuantie/xiaohui/r908/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/xiaohui/r908/.settings/projcfg.ini
  bsp/xuantie/xiaohui/r908/Kconfig
  bsp/xuantie/xiaohui/r908/rtconfig_preinc.h
  bsp/xuantie/xiaohui/r910/.cproject
  bsp/xuantie/xiaohui/r910/.project
  bsp/xuantie/xiaohui/r910/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/xiaohui/r910/.settings/projcfg.ini
  bsp/xuantie/xiaohui/r910/Kconfig
  bsp/xuantie/xiaohui/r910/rtconfig.py
  bsp/xuantie/xiaohui/r910/rtconfig_preinc.h
  bsp/xuantie/xiaohui/r920/.cproject
  bsp/xuantie/xiaohui/r920/.project
  bsp/xuantie/xiaohui/r920/.settings/org.eclipse.core.runtime.prefs
  bsp/xuantie/xiaohui/r920/.settings/projcfg.ini
  bsp/xuantie/xiaohui/r920/Kconfig
  bsp/xuantie/xiaohui/r920/rtconfig_preinc.h
Labels: BSP

#10760 doxygen: cleanup code for group_thread_management
  include/rtdef.h
  include/rtthread.h
  src/idle.c
  src/scheduler_mp.c
  src/scheduler_up.c
  src/signal.c
  src/thread.c
Labels: Kernel
