Repository RT-Thread/rt-thread, pull requests merged in 2025-03, with the labels that each got.

#10059 Fixup device rename by chip_select
  components/drivers/spi/dev_spi.c
Labels: component: drivers/spi, Component, component: drivers

#10060 [components][pwm]:修复pwm msh 命令错误提示
  components/drivers/misc/rt_drv_pwm.c
Labels: Component, component: drivers/misc, component: drivers

#10061 [bsp][nxp][pwm]:fix nxp pwm kconfig
  bsp/nxp/mcx/mcxa/frdm-mcxa153/board/Kconfig
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/Kconfig
Labels: BSP: NXP, BSP

#10058 [RFC][doxygen]Doxygen comment standard processing
  .github/workflows/doxygen.yml
  components/drivers/audio/dev_audio.c
  components/drivers/audio/dev_audio_pipe.c
  components/drivers/audio/dev_audio_pipe.h
  components/drivers/include/drivers/dev_audio.h
  documentation/5.device/INDEX.md
  documentation/Doxyfile
  documentation/device/adudio/audio.md
Labels: Doc, action, Component, component: drivers/audio, component: drivers

#10062 [tools][cmake] get some info from env to save time
  tools/cmake.py
Labels: tools

#10053 [libcpu][risc-v]add comments for rv64 sv39 mmu APIs.
  libcpu/risc-v/common64/mmu.c
Labels: Arch: RISC-V, libcpu

#10054 [components][dfs_v2]: Fix cromfs bug
  components/dfs/dfs_v2/filesystems/cromfs/dfs_cromfs.c
Labels: +1, component: dfsv2, Component

#10066 doxygen: improve doc for kernel basics section
  documentation/3.kernel/basic/basic.md
Labels: Doc

#10069 [bsp][stm32][uartv1]:adjust uart time out
  bsp/stm32/stm32f723-st-disco/board/Kconfig
  bsp/stm32/stm32f746-st-disco/board/Kconfig
  bsp/stm32/stm32f746-st-nucleo/board/Kconfig
  bsp/stm32/stm32f767-atk-apollo/board/Kconfig
  bsp/stm32/stm32f767-fire-challenger-v1/board/Kconfig
  bsp/stm32/stm32f767-st-nucleo/board/Kconfig
  bsp/stm32/stm32f769-st-disco/board/Kconfig
  bsp/stm32/stm32h503-st-nucleo/board/Kconfig
  bsp/stm32/stm32h563-st-nucleo/board/Kconfig
  bsp/stm32/stm32h723-st-nucleo/board/Kconfig
  bsp/stm32/stm32h730-esphosted-evb/board/Kconfig
  bsp/stm32/stm32h743-armfly-v7/board/Kconfig
  bsp/stm32/stm32h743-atk-apollo/board/Kconfig
  bsp/stm32/stm32h743-openmv-h7plus/board/Kconfig
  bsp/stm32/stm32h743-st-nucleo/board/Kconfig
  bsp/stm32/stm32h747-st-discovery/board/Kconfig
  bsp/stm32/stm32h750-armfly-h7-tool/board/Kconfig
  bsp/stm32/stm32h750-artpi/board/Kconfig
  bsp/stm32/stm32h750-fk750m1-vbt6/board/Kconfig
  bsp/stm32/stm32h750-weact-ministm32h7xx/board/Kconfig
  bsp/stm32/stm32h7s7-st-disco/board/Kconfig
Labels: BSP: STM32, BSP

#10063 [libcpu][riscv] add a doc for wch saving the irq stack as stack-512
  libcpu/risc-v/common/context_gcc.S
Labels: Arch: RISC-V, libcpu

#10074 [DM/OFW] check available in stub probe
  components/drivers/ofw/ofw.c
Labels: component: drivers/ofw, Component, component: drivers

#10071 [components][drivers][spi] dev_spi_flash_sfud: fix: set message.paren…
  components/drivers/spi/dev_spi_flash_sfud.c
Labels: component: drivers/spi, Component, component: drivers

#10070 [components][drivers][spi]: fix: set message.parent.next to NULL for …
  components/drivers/spi/dev_qspi_core.c
Labels: component: drivers/spi, Component, component: drivers

#10079 [DM/THERMAL] fixup coefficients's offset lost
  components/drivers/thermal/thermal.c
Labels: Component, component: drivers

#10073 [doxygen][audio] Fix doxygen comments for audio component
  components/drivers/audio/dev_audio.c
  components/drivers/audio/dev_audio_pipe.c
  components/drivers/audio/dev_audio_pipe.h
  components/drivers/include/drivers/dev_audio.h
  documentation/5.device/audio/audio.md
Labels: Doc, Component, component: drivers/audio, component: drivers

#10082 doxygen: group examples in subpages
  documentation/0.doxygen/example/include/enum.h
  documentation/0.doxygen/example/include/groups.h
  documentation/0.doxygen/example/include/macro.h
  documentation/0.doxygen/example/include/struct.h
  documentation/0.doxygen/example/include/typedef.h
  documentation/0.doxygen/example/include/union.h
  documentation/0.doxygen/example/src/function.c
Labels: Doc

#10087 [action/ci] 添加cache机制，整理ci_action的一些流程，暂时去掉drivers.yml
  .github/workflows/bsp_buildings.yml
  .github/workflows/compile_bsp_with_drivers.yml
  .github/workflows/format_check.yml
  .github/workflows/static_code_analysis.yml
Labels: +1, action

#10092 fix: 修复星火一号看门狗驱动使能失败问题
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_wdt.c
Labels: BSP: STM32, BSP

#10084 doxygen: improve howto
  documentation/0.doxygen/example/include/enum.h
  documentation/0.doxygen/example/include/groups.h
  documentation/0.doxygen/example/include/macro.h
  documentation/0.doxygen/example/include/struct.h
  documentation/0.doxygen/example/include/typedef.h
  documentation/0.doxygen/example/include/union.h
  documentation/0.doxygen/example/src/function.c
Labels: Doc

#9933 feat: ci script associated with auto_utest.
  .github/utest/cpp11/cpp11.cfg
  .github/utest/default.cfg
  .github/utest/rtsmart/rtsmart.cfg
  .github/utest/smp/smp.cfg
  .github/workflows/utest_auto_run.yml
  components/utilities/utest/utest.c
  src/klibc/utest/TC_rt_sprintf.c
Labels: Kernel, action, Component

#10099 [bsp/at32] fixed usb type library
  bsp/at32/at32a423-start/SConstruct
  bsp/at32/at32f402-start/SConstruct
  bsp/at32/at32f405-start/SConstruct
  bsp/at32/at32f415-start/SConstruct
Labels: BSP, BSP: AT32

#10064 [fix][feature]Default to the previous fully packaged logic, add a 'di…
  tools/building.py
  tools/compile_commands.py
  tools/mkdist.py
  tools/options.py
Labels: tools

#10100 [mm]修复unmap内存时遗漏刷新地址转换表的问题，避免dcache(PIPT)出错
  components/mm/mm_anon.c
Labels: RT-Smart, Component, 5.2.0

#9976 fix dangling pointer in component pthread and dfs_elm
  components/dfs/dfs_v1/filesystems/elmfat/dfs_elm.c
  components/dfs/dfs_v2/filesystems/elmfat/dfs_elm.c
  components/libc/posix/pthreads/pthread.c
Labels: Component

#10094 [doxygen][audio] Fix group names by adding group_ prefix
  components/drivers/audio/dev_audio.c
  components/drivers/include/drivers/dev_audio.h
Labels: Component, component: drivers/audio, component: drivers

#10101 [doxygen][audio] Naming anonymous enumeration type audio_stream
  components/drivers/include/drivers/dev_audio.h
Labels: Component, component: drivers

#10102 [libcpu][risc-v]add comments for rt_hw_mem_setup_early.
  libcpu/risc-v/common64/mmu.c
Labels: Arch: RISC-V, libcpu

#10104 doxygen: update doc for kenrel object model
  documentation/3.kernel/basic/basic.md
  src/object.c
Labels: Doc, Kernel

#10103 doxygen: fix wrong ref for group examples
  documentation/0.doxygen/example/include/groups.h
Labels: Doc

#10106 [bsp][stm32][stm32f103-atk-warshipv3] update README.md to correct the picture name
  bsp/stm32/stm32f103-atk-warshipv3/README.md
Labels: BSP: STM32, BSP

#10117 [DM/DMA] DMA src and dst is wrong.
  components/drivers/dma/dma.c
Labels: Component, component: drivers, 5.2.0

#10114 [github/action] 添加scons显示编译时间的命令
  bsp/raspberry-pico/.ci/attachconfig/rtduino/dataprocessing.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/dataprocessing.attach
  tools/ci/bsp_buildings.py
Labels: BSP: STM32, BSP, action, tools

#10116 [bsp/readme]Update README.md
  bsp/README.md
Labels: BSP

#10107 [libcpu][risc-v]处理mmu.c中_unmap_area函数的几处潜在风险或问题
  libcpu/risc-v/common64/mmu.c
Labels: Arch: RISC-V, libcpu

#10120 [fix]Fix compilation problem when block is turned on
  libcpu/arm/cortex-m33/cpuport.h
Labels: Kernel, libcpu, Component, component: drivers, 5.2.0

#10122 [bsp][stm32][artpi]:fix artpi nano
  bsp/stm32/stm32h750-artpi/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32h750-artpi/applications/main.c
  libcpu/arm/cortex-m7/cpu_cache.c
Labels: BSP: STM32, BSP, libcpu

#10124 [DM/Platform] Fixup the node will probe more than once
  components/drivers/core/platform_ofw.c
Labels: Component, component: drivers/core, component: drivers, 5.2.0

#10125 [bsp][stm32] add a new bsp for stm32g030-tiny-board
  .github/workflows/bsp_buildings.yml
  bsp/stm32/stm32g030-tiny-board/.config
  bsp/stm32/stm32g030-tiny-board/.gitignore
  bsp/stm32/stm32g030-tiny-board/Kconfig
  bsp/stm32/stm32g030-tiny-board/README.md
  bsp/stm32/stm32g030-tiny-board/README_zh.md
  bsp/stm32/stm32g030-tiny-board/SConscript
  bsp/stm32/stm32g030-tiny-board/SConstruct
  bsp/stm32/stm32g030-tiny-board/applications/SConscript
  bsp/stm32/stm32g030-tiny-board/applications/main.c
  bsp/stm32/stm32g030-tiny-board/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32g030-tiny-board/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32g030-tiny-board/board/CubeMX_Config/Inc/main.h
  bsp/stm32/stm32g030-tiny-board/board/CubeMX_Config/Inc/stm32g0xx_hal_conf.h
  bsp/stm32/stm32g030-tiny-board/board/CubeMX_Config/Src/stm32g0xx_hal_msp.c
  bsp/stm32/stm32g030-tiny-board/board/Kconfig
  bsp/stm32/stm32g030-tiny-board/board/SConscript
  bsp/stm32/stm32g030-tiny-board/board/board.c
  bsp/stm32/stm32g030-tiny-board/board/board.h
  bsp/stm32/stm32g030-tiny-board/board/linker_scripts/link.icf
  bsp/stm32/stm32g030-tiny-board/board/linker_scripts/link.lds
  bsp/stm32/stm32g030-tiny-board/board/linker_scripts/link.sct
  bsp/stm32/stm32g030-tiny-board/figures/board.jpg
  bsp/stm32/stm32g030-tiny-board/project.uvoptx
  bsp/stm32/stm32g030-tiny-board/project.uvprojx
  bsp/stm32/stm32g030-tiny-board/rtconfig.h
  bsp/stm32/stm32g030-tiny-board/rtconfig.py
  bsp/stm32/stm32g030-tiny-board/template.uvoptx
  bsp/stm32/stm32g030-tiny-board/template.uvprojx
Labels: BSP: STM32, BSP, action

#10130 [bsp][at32]Update AT32 sdk_dist.py
  bsp/at32/tools/sdk_dist.py
Labels: BSP, BSP: AT32

#10134 解决 list_mutex 互斥量没有线程持有时打印错误
  components/finsh/cmd.c
Labels: component: finsh, Component

#10135 [action/ci] 把每次编译结果上传到github
  .github/workflows/bsp_buildings.yml
  bsp/nrf5x/nrf52833/rtconfig.py
  bsp/nrf5x/nrf52840/rtconfig.py
  bsp/stm32/stm32f103-blue-pill/rtconfig.py
  bsp/stm32/stm32f407-rt-spark/rtconfig.py
  bsp/stm32/stm32h750-artpi/rtconfig.py
  bsp/stm32/stm32l496-st-nucleo/rtconfig.py
  bsp/stm32/stm32wb55-st-nucleo/rtconfig.py
  bsp/yichip/yc3121-pos/Libraries/core/type.h
  tools/ci/bsp_buildings.py
Labels: BSP: STM32, BSP, action, tools

#10137 [bsp][stm32][stm32h723-st-nucleo] fix bug#9995 : startup file names change to H723
  bsp/stm32/stm32h723-st-nucleo/.config
  bsp/stm32/stm32h723-st-nucleo/board/SConscript
  bsp/stm32/stm32h723-st-nucleo/project.uvoptx
  bsp/stm32/stm32h723-st-nucleo/project.uvprojx
  bsp/stm32/stm32h723-st-nucleo/rtconfig.h
Labels: BSP: STM32, BSP

#10133 [bsp][cvitek] fix spi driver build error
  bsp/cvitek/drivers/drv_spi.c
Labels: BSP, BSP: Cvitek

#10136 [action/cd] 整合所有output到一个包中
  .github/workflows/bsp_buildings.yml
Labels: action

#10142 bsp: cvitek: add howto configure pinmux in README
  bsp/cvitek/README.md
Labels: BSP, BSP: Cvitek

#10140 bsp: cvitek: fix build warnings for spi
  bsp/cvitek/drivers/drv_spi.c
  bsp/cvitek/drivers/libraries/spi/dw_spi.c
Labels: BSP, BSP: Cvitek

#10144 bsp:stm32f4系列 update README.md
  bsp/stm32/stm32f401-st-nucleo/README.md
  bsp/stm32/stm32f401-st-nucleo/README_zh.md
  bsp/stm32/stm32f401-weact-blackpill/README.md
  bsp/stm32/stm32f405-smdz-breadfruit/README.md
  bsp/stm32/stm32f405zg-mini-template/README.md
  bsp/stm32/stm32f407-armfly-v5/README.md
  bsp/stm32/stm32f407-atk-explorer/README.md
  bsp/stm32/stm32f407-fk407m2-zgt6/README.md
  bsp/stm32/stm32f407-lckfb-skystar/README.md
  bsp/stm32/stm32f407-robomaster-c/README.md
  bsp/stm32/stm32f407-rt-spark/README.md
  bsp/stm32/stm32f407-rt-spark/README_EN.md
  bsp/stm32/stm32f407-st-discovery/README.md
  bsp/stm32/stm32f410-st-nucleo/README_zh.md
  bsp/stm32/stm32f411-atk-nano/README.md
  bsp/stm32/stm32f411-st-nucleo/README_zh.md
  bsp/stm32/stm32f411-weact-blackpill/README.md
  bsp/stm32/stm32f412-st-nucleo/README_zh.md
  bsp/stm32/stm32f413-st-nucleo/README_zh.md
  bsp/stm32/stm32f427-robomaster-a/README.md
  bsp/stm32/stm32f429-armfly-v6/README.md
  bsp/stm32/stm32f429-atk-apollo/README.md
  bsp/stm32/stm32f429-fire-challenger/README.md
  bsp/stm32/stm32f429-st-disco/readme.md
  bsp/stm32/stm32f446-st-nucleo/README_zh.md
  bsp/stm32/stm32f469-st-disco/README.md
  bsp/stm32/stm32f469-st-disco/README_zh.md
Labels: BSP: STM32, BSP

#10146 [bsp/stm32-h750-art-pi] 添加zephyr_polling Kconfig
  bsp/stm32/stm32h750-artpi/.ci/attachconfig/ci.attachconfig.yml
Labels: BSP: STM32, BSP

#10148 [bsp][stm32][stm32h743-atk-apollo] Remove redundant I2C2 bus configur…
  bsp/stm32/stm32h743-atk-apollo/board/Kconfig
Labels: BSP: STM32, BSP

#10152 GD32: add CAN driver for GD32F4xx
  bsp/gd32/arm/gd32450z-eval/.ci/attachconfig/ci.attachconfig.yml
  bsp/gd32/arm/gd32450z-eval/board/Kconfig
  bsp/gd32/arm/libraries/gd32_drivers/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_can.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_can.h
Labels: BSP, BSP: GD32

#10068 在components\fal\samples\porting\新增norflash移植示例
  components/fal/samples/porting/fal_norflash_port.c
Labels: Component

#9284 [libcpu][aarch64]fix gicv3 mpidr table
  bsp/phytium/board/board.c
  libcpu/aarch64/common/gicv3.c
Labels: bug, BSP, Arch: ARM/AArch64, libcpu, BSP: Phytium

#10153 [bsp/stm32h750-art-pi] 添加btstack
  bsp/stm32/stm32h750-artpi/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32h750-artpi/template.uvprojx
Labels: BSP: STM32, BSP

#10151 bsp: cvitek: use rttpkgtool for aarch64
  bsp/cvitek/build.sh
  bsp/cvitek/cv18xx_aarch64/README.md
  bsp/cvitek/cv18xx_aarch64/combine.sh
  bsp/cvitek/cv18xx_aarch64/dtb/duo256m/multi.its
  bsp/cvitek/cv18xx_aarch64/dtb/duo256m/sg2002_milkv_duo256m_arm_sd.dtb
  bsp/cvitek/cv18xx_aarch64/mksdimg.sh
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/bl2.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/bl31.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/blmacros.env
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/chip_conf.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/ddr_param.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/empty.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/fip.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/fiptool.py
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/u-boot-raw.bin
  bsp/cvitek/cv18xx_aarch64/rtconfig.py
Labels: BSP, BSP: Cvitek

#10155 Update include/rtdef.h version to 5.2.1
  include/rtdef.h
  src/Kconfig
Labels: Kernel

#10157 [bsp/stm32l496zg] add uart2 and yml
  bsp/stm32/stm32l496-st-nucleo/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/STM32L496ZG.ioc
  bsp/stm32/stm32l496-st-nucleo/board/CubeMX_Config/Src/stm32l4xx_hal_msp.c
Labels: BSP: STM32, BSP

#10159 [action/ci] 将需要编译的bsp分离，同时根据修改的文件编译对应的bsp
  .github/ALL_BSP_COMPILE.json
  .github/workflows/bsp_buildings.yml
Labels: action

#10158 [BSP][raspberry-pi/raspi2]Add cpuport.h
  bsp/raspberry-pi/raspi2/cpu/cpuport.h
Labels: BSP
