Repository RT-Thread/rt-thread, pull requests merged in 2025-04, with the labels that each got.

#10168 [bsp][gd32]修复了GD32目录下BSP使用dist后生成的工程无法使用menuconfig的问题
  bsp/gd32/arm/gd32103c-eval/board/Kconfig
  bsp/gd32/arm/gd32105c-eval/board/Kconfig
  bsp/gd32/arm/gd32105r-start/board/Kconfig
  bsp/gd32/arm/gd32107c-eval/board/Kconfig
  bsp/gd32/arm/gd32205r-start/board/Kconfig
  bsp/gd32/arm/gd32207i-eval/board/Kconfig
  bsp/gd32/arm/gd32303c-start/board/Kconfig
  bsp/gd32/arm/gd32303e-eval/board/Kconfig
  bsp/gd32/arm/gd32305r-start/board/Kconfig
  bsp/gd32/arm/gd32307e-start/board/Kconfig
  bsp/gd32/arm/gd32407v-lckfb/board/Kconfig
  bsp/gd32/arm/gd32407v-start/board/Kconfig
  bsp/gd32/arm/gd32450z-eval/board/Kconfig
  bsp/gd32/arm/gd32470z-lckfb/board/Kconfig
  bsp/gd32/arm/gd32e503v-eval/board/Kconfig
  bsp/gd32/arm/gd32h759i-start/board/Kconfig
  bsp/gd32/risc-v/gd32vf103r-start/board/Kconfig
  bsp/gd32/risc-v/gd32vf103v-eval/board/Kconfig
Labels: BSP, BSP: GD32

#10177 libcpu: cleanup undefined rt_hw_mmu_kernel_map_init
  bsp/allwinner/d1/board/board.c
  libcpu/aarch64/common/include/mmu.h
  libcpu/arm/cortex-a/mmu.h
  libcpu/risc-v/common64/mmu.h
Labels: BSP, Arch: RISC-V, Arch: ARM/AArch64, libcpu

#10181 libcpu: riscv: declare external symbols inside
  libcpu/risc-v/common64/mmu.c
Labels: Arch: RISC-V, libcpu

#10175 [fal/sample] readme 添加
  components/fal/samples/porting/README.md
  components/fal/samples/porting/fal_norflash_port.c
Labels: -1, Component

#10184 [bsp/gd32/arm/libraries] Repair naming
  bsp/gd32/arm/libraries/gd32_drivers/drv_rtc.c
Labels: BSP, BSP: GD32

#10185 [bsp/gd32/libraries] Repair naming
  bsp/gd32/arm/libraries/gd32_drivers/drv_rtc.c
Labels: BSP, BSP: GD32

#10050 [src] fix mutex bug
  components/lwp/lwp_syscall.c
  include/rtdef.h
  include/rtsched.h
  src/scheduler_comm.c
  src/thread.c
Labels: Kernel, RT-Smart, component: lwp, Component

#10183 doxygen: cleanup and re-org files
  documentation/0.doxygen/example/INDEX.md
  documentation/0.doxygen/example/doxygen.h
  documentation/0.doxygen/mainpage.h
Labels: Doc

#10187 [bsp/hpm5300evk]: 修复readme中的描述问题
  bsp/hpmicro/hpm5300evk/README_zh.md
  bsp/hpmicro/hpm5300evk/board/debug_scripts/boards/hpm5300evk.cfg
  bsp/hpmicro/hpm5300evk/board/debug_scripts/probes/cmsis_dap.cfg
  bsp/hpmicro/hpm5300evk/board/debug_scripts/probes/ft2232.cfg
  bsp/hpmicro/hpm5300evk/board/debug_scripts/probes/ft232.cfg
  bsp/hpmicro/hpm5300evk/board/debug_scripts/probes/jlink.cfg
  bsp/hpmicro/hpm5300evk/board/debug_scripts/probes/nds_aice_micro.cfg
  bsp/hpmicro/hpm5300evk/board/debug_scripts/soc/hpm5300.cfg
  bsp/hpmicro/hpm5300evk/download.bat
Labels: BSP

#10180 libcpu: aarch64: Fix NORMAL_NOCACHE_MEM attr
  libcpu/aarch64/common/mmu.c
Labels: Arch: ARM/AArch64, libcpu

#10164 Fixed an error by running scons --tartget=cmake under LINUX, #10113
  tools/cmake.py
Labels: tools

#10166 [DM/FDT] Fix garble when booting
  components/drivers/ofw/fdt.c
Labels: component: drivers/ofw, Component, component: drivers

#10190 [bsp/gd32/arm/drv_adc] incompatible function pointer types initializing.
  bsp/gd32/arm/gd32e503v-eval/.ci/attachconfig/ci.attachconfig.yml
  bsp/gd32/arm/libraries/gd32_drivers/drv_adc.c
Labels: BSP, BSP: GD32

#10191 [bsp] 修复 #10182 GD32生成Cmake工程错误的问题
  bsp/gd32/arm/gd32103c-eval/SConstruct
  bsp/gd32/arm/gd32105c-eval/SConstruct
  bsp/gd32/arm/gd32105r-start/SConstruct
  bsp/gd32/arm/gd32107c-eval/SConstruct
  bsp/gd32/arm/gd32205r-start/SConstruct
  bsp/gd32/arm/gd32207i-eval/SConstruct
  bsp/gd32/arm/gd32303c-start/SConstruct
  bsp/gd32/arm/gd32303e-eval/SConstruct
  bsp/gd32/arm/gd32305r-start/SConstruct
  bsp/gd32/arm/gd32307e-start/SConstruct
  bsp/gd32/arm/gd32407v-lckfb/SConstruct
  bsp/gd32/arm/gd32407v-start/SConstruct
  bsp/gd32/arm/gd32450z-eval/SConstruct
  bsp/gd32/arm/gd32470z-lckfb/SConstruct
  bsp/gd32/arm/gd32e503v-eval/SConstruct
  bsp/gd32/risc-v/gd32vf103r-start/SConstruct
  bsp/gd32/risc-v/gd32vf103v-eval/SConstruct
Labels: BSP, BSP: GD32

#10200 doxygen: fix one typo issue
  documentation/3.kernel/INDEX.md
Labels: Doc

#10201 include ：rtdef.h : [ Refine the annotation of RT_ALIGN and RT_ALIGN_D…
  include/rtdef.h
Labels: Doc

#10202 bsp: cvitek: riscv: use marco for linker script
  bsp/cvitek/README.md
  bsp/cvitek/cv18xx_risc-v/.config
  bsp/cvitek/cv18xx_risc-v/.gitignore
  bsp/cvitek/cv18xx_risc-v/SConstruct
  bsp/cvitek/cv18xx_risc-v/board/board.c
  bsp/cvitek/cv18xx_risc-v/board/board.h
  bsp/cvitek/cv18xx_risc-v/board/mem_layout.h
  bsp/cvitek/cv18xx_risc-v/gen_ld.py
  bsp/cvitek/cv18xx_risc-v/link.lds
  bsp/cvitek/cv18xx_risc-v/link_smart.lds
  bsp/cvitek/cv18xx_risc-v/link_stacksize.lds
  bsp/cvitek/cv18xx_risc-v/rtconfig.h
  bsp/cvitek/cv18xx_risc-v/rtconfig.py
Labels: BSP, BSP: Cvitek, Arch: RISC-V, RT-Smart

#10198 [bsp/qemu-vexpress-a9] Adapter driver for serial port v2 ([#10176](h…
  bsp/qemu-vexpress-a9/.ci/attachconfig/ci.attachconfig.yml
  bsp/qemu-vexpress-a9/drivers/Kconfig
  bsp/qemu-vexpress-a9/drivers/drv_uart_v2.c
Labels: BSP

#10212 [bsp/at32] fixed 'scons --dist' error
  bsp/at32/tools/sdk_dist.py
Labels: BSP, BSP: AT32

#10225 修改ifx_pin_irq_enable函数
  bsp/Infineon/libraries/HAL_Drivers/drv_gpio.c
Labels: BSP, BSP: Infineon

#10222 [BSP][N32G45XVL]适配串口v2驱动
  bsp/n32/libraries/N32G45x_Firmware_Library/SConscript
  bsp/n32/libraries/n32_drivers/drv_usart_v2.c
  bsp/n32/libraries/n32_drivers/drv_usart_v2.h
  bsp/n32/n32g45xvl-stb/.ci/attachconfig/ci.attachconfig.yml
  bsp/n32/n32g45xvl-stb/board/Kconfig
Labels: BSP

#10234 bsp: k210: fix drv_i2c's include file
  bsp/k210/drivers/drv_i2c.c
Labels: BSP

#10235 [bsp][Infineon] Update the peripherals of XMC7100D
  bsp/Infineon/libraries/HAL_Drivers/drv_spi.c
  bsp/Infineon/xmc7100d-f144k4160aa/.ci/attachconfig/ci.attachconfig.yml
  bsp/Infineon/xmc7100d-f144k4160aa/board/Kconfig
  bsp/Infineon/xmc7100d-f144k4160aa/board/SConscript
  bsp/Infineon/xmc7100d-f144k4160aa/board/ports/SConscript
  bsp/Infineon/xmc7100d-f144k4160aa/board/ports/drv_filesystem.c
  bsp/Infineon/xmc7100d-f144k4160aa/board/ports/spi_flash_init.c
Labels: BSP, BSP: Infineon

#10203 [action/ci] add qemu-pre-build-and-post-build for RT_SMART build
  .github/ALL_BSP_COMPILE.json
  .github/workflows/bsp_buildings.yml
  bsp/qemu-vexpress-a9/.ci/attachconfig/ci.attachconfig.yml
  tools/ci/bsp_buildings.py
Labels: BSP, action, tools

#10236 bsp: k230: use rttpkgtool to package kernel
  bsp/k230/.gitignore
  bsp/k230/README.md
  bsp/k230/build.sh
  bsp/k230/mkfm.sh
Labels: BSP, Arch: RISC-V, BSP: K230

#10232 [FIX AARCH64] Fix Aarch64 architecture runtime issues
  libcpu/aarch64/SConscript
Labels: Arch: ARM/AArch64, libcpu

#10237 Fixing comments errors of RT_WLAN_EVT_SCAN_DONE and RT_WLAN_EVT_SCAN_REPORT
  components/drivers/wlan/dev_wlan_mgnt.h
Labels: Component, component: drivers/wlan, component: drivers

#10240 [Docs] Modify invalid links
  bsp/stm32/docs/STM32系列外设驱动添加指南.md
Labels: BSP: STM32, BSP
