Repository RT-Thread/rt-thread, pull requests merged in 2025-05, with the labels that each got.

#10245 bsp: k230: eliminate warnings for kconfig
  bsp/k230/.config
  bsp/k230/Kconfig
  bsp/k230/rtconfig.h
Labels: BSP, BSP: K230

#10230 [component/lwp]add annotation for lwp elf.
  components/lwp/lwp_elf.c
Labels: RT-Smart, component: lwp, Component

#10254 [action/ci] 修复bsp_buildings的传递参数的问题
  .github/workflows/bsp_buildings.yml
Labels: action

#10244 [action/manual_trigger] fix mannual trigger to create dist zip file
  .github/workflows/action_runner.yml
  .github/workflows/action_tools.yml
  .github/workflows/action_utest.yml
  .github/workflows/bsp_buildings.yml
  .github/workflows/compile_bsp_with_drivers.yml
  .github/workflows/manual_bsp_build.yml
  .github/workflows/manual_dist.yml
  .github/workflows/manual_trigger_scons_STM32_all.yml
  .github/workflows/manual_trigger_scons_except_STM32_all.yml
  .github/workflows/manual_trigger_scons_fail_bsp_all.yml
  .github/workflows/manual_trigger_update_all.yml
  .github/workflows/utest_auto_run.yml
Labels: action

#10250 GD32 CAN hdr_bank set in filter initialization
  bsp/gd32/arm/libraries/gd32_drivers/drv_can.c
Labels: BSP, BSP: GD32

#10241 fix: solve the issue of abnormal startup of STM32MP157, and fix arduino ci error.
  .github/ALL_BSP_COMPILE.json
  bsp/raspberry-pico/.ci/attachconfig/c-posix.attach
  bsp/raspberry-pico/.ci/attachconfig/ci.attachconfig.yml
  bsp/raspberry-pico/.ci/attachconfig/lvgl.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/communication.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/devicecontrol.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/display.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/other.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/projects.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/rtduino.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/sensors-adafruit.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/sensors-others.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/sensors-seeed.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/signalio.attach
  bsp/raspberry-pico/.ci/attachconfig/rtduino/timing.attach
  bsp/stm32/libraries/HAL_Drivers/drv_common.c
  bsp/stm32/libraries/HAL_Drivers/nano/drv_console.c
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/communication.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/devicecontrol.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/display.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/other.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/projects.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/rtduino.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/sensors-adafruit.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/sensors-others.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/sensors-seeed.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/signalio.attach
  bsp/stm32/stm32f412-st-nucleo/.ci/attachconfig/rtduino/timing.attach
  bsp/stm32/stm32mp157a-st-discovery/.config
  bsp/stm32/stm32mp157a-st-discovery/applications/main.c
  bsp/stm32/stm32mp157a-st-discovery/board/board.c
  bsp/stm32/stm32mp157a-st-discovery/project.ewd
  bsp/stm32/stm32mp157a-st-discovery/project.ewp
  bsp/stm32/stm32mp157a-st-discovery/project.uvopt
  bsp/stm32/stm32mp157a-st-discovery/project.uvoptx
  bsp/stm32/stm32mp157a-st-discovery/project.uvprojx
  bsp/stm32/stm32mp157a-st-discovery/rtconfig.h
Labels: BSP: STM32, BSP, action

#9913 feat: CI script assigns PR reviews based on the list of maintainers
  .github/workflows/auto-assign-reviewers.yml
  MAINTAINERS
Labels: action, BSP: Renesas

#10251 bsp/simulator: fix issues for Visual Studio project generator
  bsp/simulator/rtconfig.py
Labels: BSP

#10231 fix ifx_pin_irq_enable
  bsp/Infineon/libraries/HAL_Drivers/drv_gpio.c
Labels: BSP, BSP: Infineon

#10259 ci: fixed the abnormal operation of ci files
  .github/workflows/auto-assign-reviewers.yml
  MAINTAINERS
Labels: BSP, action, BSP: Renesas

#10261 ci: fixed missing unique files creation and cache logic
  .github/workflows/auto-assign-reviewers.yml
Labels: action

#10262 ci: optimize the logic for generating comments for the maintainer robot
  .github/workflows/auto-assign-reviewers.yml
Labels: action

#10270 ci: cancel the filtering rules for the MAINTAINER file
  .github/workflows/auto-assign-reviewers.yml
Labels: action

#10271 [action] Remove phytium because of gitee link sdk
  .github/ALL_BSP_COMPILE.json
Labels: action

#10277 bsp: k230: add hardlock driver
  bsp/k230/.config
  bsp/k230/board/Kconfig
  bsp/k230/drivers/interdrv/hardlock/SConscript
  bsp/k230/drivers/interdrv/hardlock/drv_hardlock.c
  bsp/k230/drivers/interdrv/hardlock/drv_hardlock.h
  bsp/k230/rtconfig.h
Labels: BSP, BSP: K230

#10280 bsp: ab32vg1 board support gpio interrupt
  bsp/bluetrum/libraries/hal_drivers/drv_gpio.c
  bsp/bluetrum/libraries/hal_drivers/drv_gpio.h
  bsp/bluetrum/libraries/hal_libraries/bmsis/include/ab32vg1.h
Labels: BSP

#10281 bsp: k230: add sysctl driver
  bsp/k230/drivers/interdrv/sysctl/SConscript
  bsp/k230/drivers/interdrv/sysctl/sysctl_boot/SConscript
  bsp/k230/drivers/interdrv/sysctl/sysctl_boot/sysctl_boot.c
  bsp/k230/drivers/interdrv/sysctl/sysctl_boot/sysctl_boot.h
  bsp/k230/drivers/interdrv/sysctl/sysctl_clock/SConscript
  bsp/k230/drivers/interdrv/sysctl/sysctl_clock/sysctl_clk.c
  bsp/k230/drivers/interdrv/sysctl/sysctl_clock/sysctl_clk.h
  bsp/k230/drivers/interdrv/sysctl/sysctl_power/SConscript
  bsp/k230/drivers/interdrv/sysctl/sysctl_power/sysctl_pwr.c
  bsp/k230/drivers/interdrv/sysctl/sysctl_power/sysctl_pwr.h
  bsp/k230/drivers/interdrv/sysctl/sysctl_reset/SConscript
  bsp/k230/drivers/interdrv/sysctl/sysctl_reset/sysctl_rst.c
  bsp/k230/drivers/interdrv/sysctl/sysctl_reset/sysctl_rst.h
Labels: BSP, BSP: K230

#10267 [building] rename the group name: LIBADT to Utilities.
  components/drivers/smp_call/SConscript
  components/utilities/libadt/avl/SConscript
  components/utilities/libadt/bitmap/SConscript
  components/utilities/libadt/hashmap/SConscript
  components/utilities/libadt/ref/SConscript
  components/utilities/libadt/uthash/SConscript
Labels: Component, component: drivers

#10282 [action/ci] show the PR status for Pull request
  .github/workflows/git_diff_status_show.yml
  tools/ci/git_diff_status_show.py
Labels: action, tools

#10243 [RFC][utest] Add audio driver test framework
  components/drivers/audio/Kconfig
  components/drivers/audio/SConscript
  components/drivers/audio/utest/SConscript
  components/drivers/audio/utest/tc_audio_common.h
  components/drivers/audio/utest/tc_audio_drv_mic.c
  components/drivers/audio/utest/tc_audio_drv_player.c
  components/drivers/audio/utest/tc_audio_main.c
Labels: BSP, BSP: Cvitek, testcase, Component, component: drivers/audio, component: drivers

#10286 stm32f103-keysking学习板BSP移植（first version）
  .github/ALL_BSP_COMPILE.json
  bsp/stm32/stm32f103-keysking-learning/.ci/attachconfig/ci.attachconfig.yml
  bsp/stm32/stm32f103-keysking-learning/.config
  bsp/stm32/stm32f103-keysking-learning/.gitignore
  bsp/stm32/stm32f103-keysking-learning/Kconfig
  bsp/stm32/stm32f103-keysking-learning/README.md
  bsp/stm32/stm32f103-keysking-learning/SConscript
  bsp/stm32/stm32f103-keysking-learning/SConstruct
  bsp/stm32/stm32f103-keysking-learning/applications/SConscript
  bsp/stm32/stm32f103-keysking-learning/applications/main.c
  bsp/stm32/stm32f103-keysking-learning/board/.ignore_format.yml
  bsp/stm32/stm32f103-keysking-learning/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32f103-keysking-learning/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32f103-keysking-learning/board/CubeMX_Config/Inc/stm32f1xx_hal_conf.h
  bsp/stm32/stm32f103-keysking-learning/board/CubeMX_Config/Src/stm32f1xx_hal_msp.c
  bsp/stm32/stm32f103-keysking-learning/board/Kconfig
  bsp/stm32/stm32f103-keysking-learning/board/SConscript
  bsp/stm32/stm32f103-keysking-learning/board/board.c
  bsp/stm32/stm32f103-keysking-learning/board/board.h
  bsp/stm32/stm32f103-keysking-learning/board/linker_scripts/link.icf
  bsp/stm32/stm32f103-keysking-learning/board/linker_scripts/link.lds
  bsp/stm32/stm32f103-keysking-learning/board/linker_scripts/link.sct
  bsp/stm32/stm32f103-keysking-learning/figures/board.png
  bsp/stm32/stm32f103-keysking-learning/project.ewd
  bsp/stm32/stm32f103-keysking-learning/project.ewp
  bsp/stm32/stm32f103-keysking-learning/project.eww
  bsp/stm32/stm32f103-keysking-learning/project.uvopt
  bsp/stm32/stm32f103-keysking-learning/project.uvoptx
  bsp/stm32/stm32f103-keysking-learning/project.uvproj
  bsp/stm32/stm32f103-keysking-learning/project.uvprojx
  bsp/stm32/stm32f103-keysking-learning/rtconfig.h
  bsp/stm32/stm32f103-keysking-learning/rtconfig.py
  bsp/stm32/stm32f103-keysking-learning/template.ewp
  bsp/stm32/stm32f103-keysking-learning/template.eww
  bsp/stm32/stm32f103-keysking-learning/template.uvopt
  bsp/stm32/stm32f103-keysking-learning/template.uvoptx
  bsp/stm32/stm32f103-keysking-learning/template.uvproj
  bsp/stm32/stm32f103-keysking-learning/template.uvprojx
Labels: BSP: STM32, BSP, action

#10288 bsp: k230: use sysctl to reboot the board
  bsp/k230/board/board.c
Labels: BSP, BSP: K230

#10290 [tools] 修复rttstudio无法导入bsp的问题
  tools/building.py
  tools/mkdist.py
Labels: tools

#10291 bsp: k230: improve cleanup
  bsp/k230/SConstruct
Labels: BSP

#10295 bsp: k230: support sdio
  bsp/k230/.config
  bsp/k230/Kconfig
  bsp/k230/applications/mnt.c
  bsp/k230/board/Kconfig
  bsp/k230/drivers/interdrv/sdio/drv_sdhci.c
  bsp/k230/rtconfig.h
Labels: BSP, BSP: K230

#10220 Update shell.c
  components/finsh/shell.c
Labels: component: finsh, Component

#10276 fix scons --target=cmake command failure
  bsp/stm32/stm32h723-st-nucleo/SConscript
  tools/cmake.py
Labels: BSP: STM32, BSP, tools

#10310 [components][serial_v2] 写满丢弃策略对dma_ping_buf的处理有误、细节优化
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_usart_v2.c
  components/drivers/serial/dev_serial_v2.c
Labels: BSP: STM32, BSP, Component, component: drivers/serial, component: drivers

#10313 [bsp] [ESP32C3] Add dockerfile and update README
  bsp/ESP32_C3/README.md
  bsp/ESP32_C3/README_ZH.md
  bsp/ESP32_C3/docker/Dockerfile
Labels: BSP

#10314 ci: Replace the judgment file modification mechanism of bsp_building.…
  .github/workflows/bsp_buildings.yml
  .github/workflows/git_diff_status_show.yml
  tools/ci/git_diff_show.py
  tools/ci/git_diff_status_show.py
Labels: action, tools

#10196 [DM/PCI] Add /proc access in RT-Smart user
  components/drivers/include/drivers/pci.h
  components/drivers/pci/SConscript
  components/drivers/pci/pci.c
  components/drivers/pci/pme.c
  components/drivers/pci/probe.c
  components/drivers/pci/procfs.c
  components/drivers/pci/procfs.h
Labels: Component, component: drivers/pci, component: drivers

#10309 添加 rt_tick_get_delta 函数
  include/rtthread.h
  src/clock.c
Labels: Kernel

#10306 [bsp][wch][risc-v] add drv_flash for ch32v307.
  bsp/wch/risc-v/Libraries/ch32_drivers/SConscript
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_flash.c
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_flash.h
  bsp/wch/risc-v/Libraries/ch32_drivers/drv_spi.c
  bsp/wch/risc-v/ch32v307v-r1/.ci/attachconfig/ci.attachconfig.yml
  bsp/wch/risc-v/ch32v307v-r1/.config
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
  bsp/wch/risc-v/ch32v307v-r1/board/board.h
  bsp/wch/risc-v/ch32v307v-r1/rtconfig.h
  bsp/wch/risc-v/yd-ch32v307vct6/.ci/attachconfig/ci.attachconfig.yml
  bsp/wch/risc-v/yd-ch32v307vct6/.config
  bsp/wch/risc-v/yd-ch32v307vct6/board/Kconfig
  bsp/wch/risc-v/yd-ch32v307vct6/board/board.h
  bsp/wch/risc-v/yd-ch32v307vct6/rtconfig.h
Labels: BSP, BSP: WCH

#10311 新增gd32470z-lckfb配套LCD驱动
  MAINTAINERS
  bsp/gd32/arm/gd32470z-lckfb/README.md
  bsp/gd32/arm/gd32470z-lckfb/SConstruct
  bsp/gd32/arm/gd32470z-lckfb/board/Kconfig
  bsp/gd32/arm/gd32470z-lckfb/board/ports/README.md
  bsp/gd32/arm/gd32470z-lckfb/board/ports/SConscript
  bsp/gd32/arm/gd32470z-lckfb/board/ports/draw_panel.c
  bsp/gd32/arm/gd32470z-lckfb/board/ports/drv_lcd.c
  bsp/gd32/arm/gd32470z-lckfb/board/ports/drv_lcd.h
  bsp/gd32/arm/gd32470z-lckfb/board/ports/drv_touch.c
  bsp/gd32/arm/gd32470z-lckfb/board/ports/drv_touch.h
  bsp/gd32/arm/gd32470z-lckfb/board/ports/font.h
  bsp/gd32/arm/libraries/GD32F4xx_Firmware_Library/SConscript
Labels: BSP, BSP: GD32

#10327 [bsp][stm32] add descriptions of 2 board in README.md doc
  bsp/stm32/README.md
Labels: BSP: STM32, BSP

#10332 [libcpu][risc-v] 减少rv64 smart版本中mmu early map时的地址空间大小以防止cpu猜测执行到不存在的地址空间
  libcpu/risc-v/common64/mmu.c
Labels: Arch: RISC-V, libcpu

#10329 [bsp][Infineon]修复psoc6-evaluationkit-062S2调用rt_adc_disable()时报错的问题
  bsp/Infineon/libraries/HAL_Drivers/config/cy8c62/adc_config.h
  bsp/Infineon/libraries/HAL_Drivers/config/drv_config.h
  bsp/Infineon/libraries/HAL_Drivers/config/xmc7100/adc_config.h
  bsp/Infineon/libraries/HAL_Drivers/config/xmc7200/adc_config.h
  bsp/Infineon/libraries/HAL_Drivers/drv_adc.c
Labels: BSP, BSP: Infineon

#10344 bsp: k230: use utest asset api
  bsp/k230/drivers/utest/test_wdt.c
Labels: BSP

#10338 [bsp]增加超睿DP1000 bsp支持
  .github/ALL_BSP_COMPILE.json
  MAINTAINERS
  bsp/ultrarisc/arch/ur-cp100/SConscript
  bsp/ultrarisc/arch/ur-cp100/cache.c
  bsp/ultrarisc/arch/ur-cp100/cache.h
  bsp/ultrarisc/arch/ur-cp100/interrupt.c
  bsp/ultrarisc/arch/ur-cp100/interrupt.h
  bsp/ultrarisc/arch/ur-cp100/opcode.h
  bsp/ultrarisc/arch/ur-cp100/plic.c
  bsp/ultrarisc/arch/ur-cp100/plic.h
  bsp/ultrarisc/arch/ur-cp100/riscv_mmu.h
  bsp/ultrarisc/drivers/SConscript
  bsp/ultrarisc/drivers/drv_dw_spi.c
  bsp/ultrarisc/drivers/drv_dw_spi.h
  bsp/ultrarisc/drivers/drv_uart.c
  bsp/ultrarisc/drivers/drv_uart.h
  bsp/ultrarisc/ur_dp1000_evb/.ci/attachconfig/ci.attachconfig.yml
  bsp/ultrarisc/ur_dp1000_evb/.config
  bsp/ultrarisc/ur_dp1000_evb/Kconfig
  bsp/ultrarisc/ur_dp1000_evb/README.md
  bsp/ultrarisc/ur_dp1000_evb/SConscript
  bsp/ultrarisc/ur_dp1000_evb/SConstruct
  bsp/ultrarisc/ur_dp1000_evb/applications/SConscript
  bsp/ultrarisc/ur_dp1000_evb/applications/main.c
  bsp/ultrarisc/ur_dp1000_evb/applications/mnt.c
  bsp/ultrarisc/ur_dp1000_evb/board/Kconfig
  bsp/ultrarisc/ur_dp1000_evb/board/SConscript
  bsp/ultrarisc/ur_dp1000_evb/board/board.c
  bsp/ultrarisc/ur_dp1000_evb/board/board.h
  bsp/ultrarisc/ur_dp1000_evb/link.lds
  bsp/ultrarisc/ur_dp1000_evb/link_smart.lds
  bsp/ultrarisc/ur_dp1000_evb/link_stacksize.lds
  bsp/ultrarisc/ur_dp1000_evb/rtconfig.h
  bsp/ultrarisc/ur_dp1000_evb/rtconfig.py
  libcpu/risc-v/SConscript
Labels: BSP, action, BSP: new bsp board, Arch: RISC-V, libcpu
