Repository RT-Thread/rt-thread, pull requests merged in 2025-08, with the labels that each got.

#10575 [components/dfs]add doxygen comments for dfs pcache file in dfs_v2.
  components/dfs/dfs_v2/include/dfs_pcache.h
  components/dfs/dfs_v2/src/dfs_pcache.c
Labels: Component

#10538 [components/dfs]add doxygen comments for dfs_fs.c in dfs_v2.
  components/dfs/dfs_v2/src/dfs_fs.c
Labels: Component

#10567 [components/dfs]add doxygen comments for dfs_file_mmap.c in dfs_v2.
  components/dfs/dfs_v2/src/dfs_file_mmap.c
Labels: Component

#10568 [components/dfs]add doxygen comments for dfs_file.c in dfs_v2.
  components/dfs/dfs_v2/src/dfs_file.c
Labels: Component

#10571 [components/dfs]add doxygen comments for dfs sequence file in dfs_v2.
  components/dfs/dfs_v2/include/dfs_seq_file.h
  components/dfs/dfs_v2/src/dfs_seq_file.c
Labels: Component

#10553 [arm_compiler_v4/v5] define rt_packed as __packed
  components/drivers/block/partitions/efi.h
  components/drivers/include/drivers/nvme.h
  include/rtcompiler.h
Labels: Component, component: drivers

#10586 添加了stm32f103 bluepill最新的说明文档
  bsp/stm32/stm32f103-blue-pill/README.md
  bsp/stm32/stm32f103-blue-pill/README_zh.md
  bsp/stm32/stm32f103-blue-pill/figures/Bluepill_pinout_v2.png
Labels: BSP: STM32, BSP

#10588 update(cherryusb): update to v1.5.2
  components/drivers/usb/cherryusb/Kconfig.rttpkg
  components/drivers/usb/cherryusb/README_zh.md
  components/drivers/usb/cherryusb/SConscript
  components/drivers/usb/cherryusb/VERSION
  components/drivers/usb/cherryusb/cherryusb_config_template.h
  components/drivers/usb/cherryusb/class/cdc/usbh_cdc_ecm.c
  components/drivers/usb/cherryusb/class/cdc/usbh_cdc_ncm.c
  components/drivers/usb/cherryusb/class/hub/usbh_hub.c
  components/drivers/usb/cherryusb/class/msc/usbd_msc.c
  components/drivers/usb/cherryusb/class/msc/usbh_msc.c
  components/drivers/usb/cherryusb/class/mtp/usb_mtp.h
  components/drivers/usb/cherryusb/class/vendor/net/usbh_rtl8152.c
  components/drivers/usb/cherryusb/class/wireless/usbh_rndis.c
  components/drivers/usb/cherryusb/common/usb_errno.h
  components/drivers/usb/cherryusb/common/usb_hc.h
  components/drivers/usb/cherryusb/common/usb_util.h
  components/drivers/usb/cherryusb/common/usb_version.h
  components/drivers/usb/cherryusb/core/usbd_core.c
  components/drivers/usb/cherryusb/core/usbh_core.c
  components/drivers/usb/cherryusb/core/usbh_core.h
  components/drivers/usb/cherryusb/demo/video_audiov1_hid_template.c
  components/drivers/usb/cherryusb/demo/video_static_h264_template.c
  components/drivers/usb/cherryusb/demo/video_static_mjpeg_template.c
  components/drivers/usb/cherryusb/demo/video_static_yuyv_template.c
  components/drivers/usb/cherryusb/idf_component.yml
  components/drivers/usb/cherryusb/platform/rtthread/usb_check.c
  components/drivers/usb/cherryusb/platform/rtthread/usbd_serial.c
  components/drivers/usb/cherryusb/platform/rtthread/usbh_serial.c
  components/drivers/usb/cherryusb/port/chipidea/usb_dc_chipidea.c
  components/drivers/usb/cherryusb/port/dwc2/README.md
  components/drivers/usb/cherryusb/port/dwc2/usb_dc_dwc2.c
  components/drivers/usb/cherryusb/port/dwc2/usb_dwc2_param.h
  components/drivers/usb/cherryusb/port/dwc2/usb_dwc2_reg.h
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_at.c
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_esp.c
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_kendryte.c
  components/drivers/usb/cherryusb/port/dwc2/usb_glue_st.c
  components/drivers/usb/cherryusb/port/dwc2/usb_hc_dwc2.c
  components/drivers/usb/cherryusb/port/ehci/usb_hc_ehci.c
  components/drivers/usb/cherryusb/port/ehci/usb_hc_ehci.h
  components/drivers/usb/cherryusb/port/fsdev/usb_dc_fsdev.c
  components/drivers/usb/cherryusb/port/hpmicro/usb_dc_hpm.c
  components/drivers/usb/cherryusb/port/kinetis/usb_dc_kinetis.c
  components/drivers/usb/cherryusb/port/musb/README.md
  components/drivers/usb/cherryusb/port/musb/usb_dc_musb.c
  components/drivers/usb/cherryusb/port/musb/usb_glue_bk.c
  components/drivers/usb/cherryusb/port/musb/usb_glue_es.c
  components/drivers/usb/cherryusb/port/musb/usb_glue_sunxi.c
  components/drivers/usb/cherryusb/port/musb/usb_hc_musb.c
  components/drivers/usb/cherryusb/port/nxp/README.md
  components/drivers/usb/cherryusb/port/ohci/usb_hc_ohci.h
  components/drivers/usb/cherryusb/port/rp2040/usb_dc_rp2040.c
  components/drivers/usb/cherryusb/port/rp2040/usb_hc_rp2040.c
Labels: Component, component: drivers/usb, component: drivers

#10593 Fix Darwin detection and URL
  tools/ci/install.sh
Labels: action, tools

#10599 doxygen: fix build error
  src/cpu_mp.c
  src/cpu_up.c
Labels: Kernel

#10601 feat(gd32 driver) Add support for hardware i2c with gd32e230
  bsp/gd32/arm/gd32e230-lckfb/.ci/attachconfig/ci.attachconfig.yml
  bsp/gd32/arm/gd32e230-lckfb/.config
  bsp/gd32/arm/gd32e230-lckfb/README.md
  bsp/gd32/arm/gd32e230-lckfb/board/Kconfig
  bsp/gd32/arm/gd32e230-lckfb/board/linker_scripts/link.ld
  bsp/gd32/arm/gd32e230-lckfb/rtconfig.h
  bsp/gd32/arm/gd32e230-lckfb/rtconfig.py
  bsp/gd32/arm/libraries/gd32_drivers/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_hw_i2c.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_hw_i2c.h
Labels: BSP, BSP: GD32

#10576 bsp/nrf5x: nrf52840添加spim驱动
  bsp/nrf5x/libraries/drivers/drv_adc.c
  bsp/nrf5x/libraries/drivers/drv_adc.h
  bsp/nrf5x/libraries/drivers/drv_flash.c
  bsp/nrf5x/libraries/drivers/drv_gpio.c
  bsp/nrf5x/libraries/drivers/drv_gpio.h
  bsp/nrf5x/libraries/drivers/drv_hwtimer.c
  bsp/nrf5x/libraries/drivers/drv_i2c.c
  bsp/nrf5x/libraries/drivers/drv_i2c.h
  bsp/nrf5x/libraries/drivers/drv_pwm.c
  bsp/nrf5x/libraries/drivers/drv_qspi_flash.c
  bsp/nrf5x/libraries/drivers/drv_rtc.c
  bsp/nrf5x/libraries/drivers/drv_spi.c
  bsp/nrf5x/libraries/drivers/drv_spi.h
  bsp/nrf5x/libraries/drivers/drv_spim.c
  bsp/nrf5x/libraries/drivers/drv_spim.h
  bsp/nrf5x/libraries/drivers/drv_uart.c
  bsp/nrf5x/libraries/drivers/drv_uarte.c
  bsp/nrf5x/libraries/drivers/drv_uarte.h
  bsp/nrf5x/libraries/drivers/drv_wdt.c
  bsp/nrf5x/libraries/drivers/nrfx_spim.c
  bsp/nrf5x/libraries/drivers/nrfx_spim.h
  bsp/nrf5x/nrf52840/.ci/attachconfig/ci.attachconfig.yml
  bsp/nrf5x/nrf52840/board/Kconfig
Labels: BSP

#10617 [github] 修改PR提示模板
  .github/PULL_REQUEST_TEMPLATE.md
Labels: action

#10616 [xuantie/bsp] 修正生成玄铁CDK工程脚本并适配E906 BSP
  bsp/xuantie/smartl/e906/board/SConscript
  bsp/xuantie/smartl/e906/template.cdkproj
  bsp/xuantie/smartl/e906/template.cdkws
  bsp/xuantie/smartl/e906/utilities/gdb.init
  tools/targets/cdk.py
Labels: BSP, tools

#10609 bsp:k230:add support for temperature sensor driver
  bsp/k230/.config
  bsp/k230/board/Kconfig
  bsp/k230/drivers/interdrv/ts/SConscript
  bsp/k230/drivers/interdrv/ts/drv_ts.c
  bsp/k230/drivers/interdrv/ts/drv_ts.h
  bsp/k230/drivers/utest/SConscript
  bsp/k230/drivers/utest/test_ts.c
  bsp/k230/rtconfig.h
Labels: BSP

#10598 [component][net][at] at_client增加deInit接口
  components/net/at/include/at.h
  components/net/at/src/at_client.c
Labels: component: net, Component, component: net/at

#10621 [kernel] rt_scheduler_lock_nest使用原子操作
  src/scheduler_up.c
Labels: Kernel

#10641 [bsp/gd32] update gd32 i2c driver
  bsp/gd32/arm/gd32h759i-eval/.config
  bsp/gd32/arm/gd32h759i-eval/board/Kconfig
  bsp/gd32/arm/gd32h759i-eval/project.uvoptx
  bsp/gd32/arm/gd32h759i-eval/project.uvprojx
  bsp/gd32/arm/gd32h759i-eval/rtconfig.h
  bsp/gd32/arm/libraries/gd32_drivers/SConscript
  bsp/gd32/arm/libraries/gd32_drivers/drv_hard_i2c.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_hard_i2c.h
  bsp/gd32/arm/libraries/gd32_drivers/drv_hw_i2c.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_hw_i2c.h
  bsp/gd32/arm/libraries/gd32_drivers/drv_soft_i2c.c
  bsp/gd32/arm/libraries/gd32_drivers/drv_soft_i2c.h
Labels: BSP, BSP: GD32

#10639 bsp:k230:add pdma support for uart driver
  bsp/k230/.config
  bsp/k230/board/Kconfig
  bsp/k230/drivers/interdrv/uart/drv_uart.c
  bsp/k230/drivers/interdrv/uart/drv_uart.h
  bsp/k230/drivers/utest/SConscript
  bsp/k230/drivers/utest/test_uart.c
  bsp/k230/rtconfig.h
Labels: BSP

#10647 [bsp/gd32] remove gd32 bsp soft i2c config
  bsp/gd32/arm/docs/GD32_ARM系列BSP制作教程.md
  bsp/gd32/arm/gd32103c-eval/board/Kconfig
  bsp/gd32/arm/gd32105c-eval/board/Kconfig
  bsp/gd32/arm/gd32105r-start/board/Kconfig
  bsp/gd32/arm/gd32107c-eval/board/Kconfig
  bsp/gd32/arm/gd32205r-start/board/Kconfig
  bsp/gd32/arm/gd32207i-eval/board/Kconfig
  bsp/gd32/arm/gd32303e-eval/board/Kconfig
  bsp/gd32/arm/gd32305r-start/board/Kconfig
  bsp/gd32/arm/gd32307e-start/board/Kconfig
  bsp/gd32/arm/gd32407v-lckfb/board/Kconfig
  bsp/gd32/arm/gd32450z-eval/board/Kconfig
  bsp/gd32/arm/gd32470z-lckfb/board/Kconfig
  bsp/gd32/arm/gd32527I-eval/board/Kconfig
  bsp/gd32/arm/gd32e230-lckfb/board/Kconfig
  bsp/gd32/arm/gd32e503v-eval/board/Kconfig
Labels: BSP, BSP: GD32
