Repository RT-Thread/rt-thread, pull requests merged in 2025-02, with the labels that each got.

#9961 [action] add ci menuconfig check
  .github/workflows/action_tools.yml
  components/drivers/usb/cherryusb/Kconfig
Labels: +1, action, Component, component: drivers/usb, component: drivers

#9965 ci: fix dep miss
  .github/workflows/bsp_buildings.yml
  tools/requirements.txt
Labels: action, tools

#9962 [bsp][stm32]Add an STM32H730 Board
  .github/workflows/bsp_buildings.yml
  bsp/stm32/stm32h730-esphosted-evb/.config
  bsp/stm32/stm32h730-esphosted-evb/.gitignore
  bsp/stm32/stm32h730-esphosted-evb/Kconfig
  bsp/stm32/stm32h730-esphosted-evb/README.md
  bsp/stm32/stm32h730-esphosted-evb/SConscript
  bsp/stm32/stm32h730-esphosted-evb/SConstruct
  bsp/stm32/stm32h730-esphosted-evb/applications/SConscript
  bsp/stm32/stm32h730-esphosted-evb/applications/main.c
  bsp/stm32/stm32h730-esphosted-evb/board/.ignore_format.yml
  bsp/stm32/stm32h730-esphosted-evb/board/CubeMX_Config/.mxproject
  bsp/stm32/stm32h730-esphosted-evb/board/CubeMX_Config/Core/Inc/main.h
  bsp/stm32/stm32h730-esphosted-evb/board/CubeMX_Config/Core/Inc/stm32h7xx_hal_conf.h
  bsp/stm32/stm32h730-esphosted-evb/board/CubeMX_Config/Core/Src/stm32h7xx_hal_msp.c
  bsp/stm32/stm32h730-esphosted-evb/board/CubeMX_Config/CubeMX_Config.ioc
  bsp/stm32/stm32h730-esphosted-evb/board/Kconfig
  bsp/stm32/stm32h730-esphosted-evb/board/SConscript
  bsp/stm32/stm32h730-esphosted-evb/board/board.c
  bsp/stm32/stm32h730-esphosted-evb/board/board.h
  bsp/stm32/stm32h730-esphosted-evb/board/linker_scripts/link.icf
  bsp/stm32/stm32h730-esphosted-evb/board/linker_scripts/link.lds
  bsp/stm32/stm32h730-esphosted-evb/board/linker_scripts/link.sct
  bsp/stm32/stm32h730-esphosted-evb/custom.cmake
  bsp/stm32/stm32h730-esphosted-evb/figures/board.png
  bsp/stm32/stm32h730-esphosted-evb/project.uvoptx
  bsp/stm32/stm32h730-esphosted-evb/project.uvprojx
  bsp/stm32/stm32h730-esphosted-evb/rtconfig.h
  bsp/stm32/stm32h730-esphosted-evb/rtconfig.py
  bsp/stm32/stm32h730-esphosted-evb/stm32h730-ospi1.cfg
  bsp/stm32/stm32h730-esphosted-evb/template.uvoptx
  bsp/stm32/stm32h730-esphosted-evb/template.uvprojx
Labels: BSP: STM32, BSP, action

#9940 [bsp][mm32f526x] 1.add mm32f526x bsp;
  .github/workflows/bsp_buildings.yml
  bsp/mm32f526x/.ci/attachconfig/ci.attachconfig.yml
  bsp/mm32f526x/.config
  bsp/mm32f526x/.ignore_format.yml
  bsp/mm32f526x/Kconfig
  bsp/mm32f526x/Makefile
  bsp/mm32f526x/README.md
  bsp/mm32f526x/SConscript
  bsp/mm32f526x/SConstruct
  bsp/mm32f526x/applications/SConscript
  bsp/mm32f526x/applications/main.c
  bsp/mm32f526x/board/Kconfig
  bsp/mm32f526x/board/SConscript
  bsp/mm32f526x/board/board.c
  bsp/mm32f526x/board/board.h
  bsp/mm32f526x/board/linker_scripts/link.icf
  bsp/mm32f526x/board/linker_scripts/link.lds
  bsp/mm32f526x/board/linker_scripts/link.sct
  bsp/mm32f526x/board/mm32_msp.c
  bsp/mm32f526x/board/mm32_msp.h
  bsp/mm32f526x/drivers/SConscript
  bsp/mm32f526x/drivers/drv_adc.c
  bsp/mm32f526x/drivers/drv_adc.h
  bsp/mm32f526x/drivers/drv_flash.c
  bsp/mm32f526x/drivers/drv_flash.h
  bsp/mm32f526x/drivers/drv_gpio.c
  bsp/mm32f526x/drivers/drv_gpio.h
  bsp/mm32f526x/drivers/drv_uart.c
  bsp/mm32f526x/drivers/drv_uart.h
  bsp/mm32f526x/drivers/fal_cfg.h
  bsp/mm32f526x/drivers/linker_scripts/link.icf
  bsp/mm32f526x/drivers/linker_scripts/link.lds
  bsp/mm32f526x/drivers/linker_scripts/link.sct
  bsp/mm32f526x/figures/Mini-F5265-OB.jpg
  bsp/mm32f526x/project.ewp
  bsp/mm32f526x/project.eww
  bsp/mm32f526x/project.uvoptx
  bsp/mm32f526x/project.uvprojx
  bsp/mm32f526x/rtconfig.h
  bsp/mm32f526x/rtconfig.py
  bsp/mm32f526x/template.ewp
  bsp/mm32f526x/template.eww
  bsp/mm32f526x/template.uvopt
  bsp/mm32f526x/template.uvoptx
  bsp/mm32f526x/template.uvprojx
Labels: BSP, action

#9966 bsp: cvitek: fix build error for aarch64
  bsp/cvitek/README.md
  bsp/cvitek/cv18xx_aarch64/combine.sh
  bsp/cvitek/cv18xx_aarch64/dtb/duo256m/multi.its
  bsp/cvitek/cv18xx_aarch64/dtb/duo256m/sg2002_milkv_duo256m_arm_sd.dtb
  bsp/cvitek/cv18xx_aarch64/mksdimg.sh
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/bl2.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/bl31.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/blmacros.env
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/chip_conf.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/ddr_param.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/empty.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/fip.bin
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/fiptool.py
  bsp/cvitek/cv18xx_aarch64/prebuild/duo256m/u-boot-raw.bin
  bsp/cvitek/cv18xx_aarch64/rtconfig.py
Labels: BSP, BSP: Cvitek

#9969 [action]add online packages checking in rt-spark.
  bsp/stm32/stm32f407-rt-spark/.ci/attachconfig/ci.attachconfig.yml
Labels: BSP: STM32, BSP

#9943 [lwp]修正kill(pid < -1)时的返回值错误
  components/lwp/lwp_syscall.c
Labels: RT-Smart, component: lwp, Component

#9973 [drivers/spi]统一软件SPI配置
  bsp/nxp/lpc/lpc55sxx/lpc55s69_nxp_evk/board/Kconfig
  bsp/raspberry-pico/board/Kconfig
  bsp/renesas/ra6m3-hmi-board/board/Kconfig
  bsp/stm32/libraries/HAL_Drivers/drivers/SConscript
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_soft_spi.c
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_spi.c
  bsp/stm32/stm32f407-atk-explorer/board/Kconfig
  bsp/stm32/stm32f407-fk407m2-zgt6/board/Kconfig
  bsp/stm32/stm32f407-lckfb-skystar/board/Kconfig
  bsp/stm32/stm32f407-rt-spark/board/Kconfig
  bsp/wch/risc-v/ch32v208w-r0/board/Kconfig
  bsp/wch/risc-v/ch32v307v-r1/board/Kconfig
  bsp/wch/risc-v/yd-ch32v307vct6/board/Kconfig
  components/drivers/spi/Kconfig
  components/drivers/spi/SConscript
Labels: BSP: NXP, BSP: STM32, BSP, BSP: Renesas, component: drivers/spi, BSP: WCH, Component, component: drivers

#9917 [dfs]mmap的文件在关闭后释放file指针
  components/dfs/dfs_v2/include/dfs.h
  components/dfs/dfs_v2/src/dfs.c
  components/dfs/dfs_v2/src/dfs_file_mmap.c
Labels: Component

#9930 [DM/FDT] Fixup earlycon loss old messages.
  components/drivers/ofw/fdt.c
Labels: component: drivers/ofw, Component, component: drivers

#9979 ci: remove spell_check
  .github/workflows/spell_check.yml
Labels: action

#9984 [bsp/wch] add f307 ci
  .github/workflows/bsp_buildings.yml
Labels: action

#9972 [drivers/spi]修复spi configure会执行两次的问题
  components/drivers/spi/dev_spi_core.c
Labels: component: drivers/spi, Component, component: drivers

#9977 [DM/SPI] Make CS pin config fixed in system
  components/drivers/include/drivers/dev_spi.h
  components/drivers/spi/dev_qspi_core.c
  components/drivers/spi/dev_spi_bus.c
  components/drivers/spi/dev_spi_core.c
  components/drivers/spi/dev_spi_dm.c
Labels: component: drivers/spi, Component, component: drivers

#9975 doxygen: add documentation for doxygen
  .github/workflows/doxygen.yml
  documentation/0.doxygen/INDEX.md
  documentation/0.doxygen/doxygen.h
  documentation/0.doxygen/example/include/enum.h
  documentation/0.doxygen/example/include/function.h
  documentation/0.doxygen/example/include/groups.h
  documentation/0.doxygen/example/include/macro.h
  documentation/0.doxygen/example/include/struct.h
  documentation/0.doxygen/example/include/typedef.h
  documentation/0.doxygen/example/include/union.h
  documentation/0.doxygen/example/src/function.c
  documentation/7.contribution/INDEX.md
  documentation/Doxyfile
  documentation/README.md
Labels: Doc, action

#9986 ci: add qemua9 yml file
  bsp/qemu-vexpress-a9/.ci/attachconfig/ci.attachconfig.yml
Labels: BSP

#9980 [bsp][stm32f103c8t6 bule pill] fix the problem that is The linked lis…
  bsp/stm32/stm32f103-blue-pill/.config
  bsp/stm32/stm32f103-blue-pill/rtconfig.h
Labels: BSP: STM32, BSP

#9978 [bsp][mm32f526x] 1.fix adc device;
  bsp/mm32f526x/drivers/drv_adc.c
Labels: BSP

#9989 doxygen: add prefix for page name
  documentation/0.doxygen/INDEX.md
  documentation/1.introduction/introduction.md
  documentation/2.quick-start/keil-installation/keil-installation.md
  documentation/2.quick-start/quick-start.md
  documentation/3.kernel/INDEX.md
  documentation/4.tool/INDEX.md
  documentation/5.device/INDEX.md
  documentation/6.components/INDEX.md
  documentation/7.contribution/INDEX.md
  documentation/INDEX.md
  documentation/at/at.md
  documentation/basic/basic.md
  documentation/contribution_guide/coding_style_en.md
  documentation/device/adc/adc.md
  documentation/device/device.md
  documentation/device/hwtimer/hwtimer.md
  documentation/device/i2c/i2c.md
  documentation/device/pin/pin.md
  documentation/device/pwm/pwm.md
  documentation/device/rtc/rtc.md
  documentation/device/sensor/sensor.md
  documentation/device/spi/spi.md
  documentation/device/uart/uart.md
  documentation/device/watchdog/watchdog.md
  documentation/device/wlan/wlan.md
  documentation/dlmodule/README.md
  documentation/env/env.md
  documentation/filesystem/README.md
  documentation/finsh/finsh.md
  documentation/interrupt/interrupt.md
  documentation/kernel-porting/kernel-porting.md
  documentation/memory/memory.md
  documentation/network/network.md
  documentation/pm/pm.md
  documentation/posix/README.md
  documentation/sal/sal.md
  documentation/scons/scons.md
  documentation/thread-comm/thread-comm.md
  documentation/thread-sync/thread-sync.md
  documentation/thread/thread.md
  documentation/timer/timer.md
  documentation/ulog/ulog.md
  documentation/utest/utest.md
Labels: Doc

#9991 doxygen: add prefix for groups
  components/dfs/dfs_v1/src/dfs.c
  components/dfs/dfs_v1/src/dfs_file.c
  components/dfs/dfs_v1/src/dfs_fs.c
  components/dfs/dfs_v1/src/dfs_posix.c
  components/dfs/dfs_v2/src/dfs.c
  components/dfs/dfs_v2/src/dfs_fs.c
  components/dfs/dfs_v2/src/dfs_posix.c
  components/drivers/clk/clk.c
  components/drivers/include/drivers/adc.h
  components/drivers/include/drivers/blk.h
  components/drivers/include/drivers/clk.h
  components/drivers/include/drivers/dac.h
  components/drivers/include/drivers/dev_can.h
  components/drivers/include/drivers/dev_i2c.h
  components/drivers/include/drivers/dev_pin.h
  components/drivers/include/drivers/dev_pwm.h
  components/drivers/include/drivers/dev_rtc.h
  components/drivers/include/drivers/dev_serial.h
  components/drivers/include/drivers/dev_serial_v2.h
  components/drivers/include/drivers/dev_spi.h
  components/drivers/include/drivers/dev_touch.h
  components/finsh/finsh.h
  components/finsh/shell.c
  documentation/0.doxygen/basicdef.h
  documentation/0.doxygen/filesystem.h
  documentation/0.doxygen/finsh.h
  documentation/0.doxygen/hardware.h
  documentation/0.doxygen/kernel.h
  documentation/0.doxygen/mainpage.h
  documentation/0.doxygen/module.h
  documentation/0.doxygen/systeminit.h
  documentation/0.doxygen/thread.h
  include/rtdef.h
  include/rtservice.h
  include/rtthread.h
  src/clock.c
  src/ipc.c
  src/irq.c
  src/kservice.c
  src/mem.c
  src/mempool.c
  src/object.c
  src/scheduler_mp.c
  src/scheduler_up.c
  src/slab.c
  src/thread.c
  src/timer.c
Labels: Doc, Kernel, component: finsh, Component, component: drivers/clk, component: drivers

#9993 [src/ktime] fix the bug when use keil AC6 and open RT_USING_HOOKLIST …
  bsp/stm32/stm32h750-artpi/rtconfig.py
  components/drivers/ktime/SConscript
  src/SConscript
Labels: BSP: STM32, BSP, Kernel, Component, component: drivers/ktime, component: drivers

#9997 Update iar.py
  tools/iar.py
Labels: tools

#9999 [ulog]Fix the problem of file_buf being released incorrectly
  components/utilities/ulog/backend/file_be.c
Labels: Component

#9981 [lwp]检查killpg的signo参数的有效性
  components/lwp/lwp_signal.c
Labels: +1, RT-Smart, component: lwp, Component

#9934 [lwp]add comments for lwp system calls.
  components/lwp/lwp_syscall.c
Labels: +1, RT-Smart, component: lwp, Component

#10001 Add recommanded script and extension for writing doxygen comments on …
  documentation/0.doxygen/INDEX.md
Labels: Doc

#10004 ports: nxp/mcx/mcxa/frdm-mcxa156: Fix GNU toolchain builds.
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/linker_scripts/MCXA156_flash.ld
Labels: BSP: NXP, BSP

#10006 doxygen: finsh: Normalize macro definitions
  components/finsh/finsh.h
Labels: Doc

#10007 doxygen: More strict checks on build results
  documentation/run.sh
Labels: Doc

#10011 components: libc: fix array overflow in rt_object name assignment
  components/libc/posix/libdl/dlmodule.c
Labels: Component

#10013 [bsp][hpmicro] fix 'scons -dist' issue in the hpmicro bsps.
  bsp/hpmicro/hpm5300evk/rtconfig.py
  bsp/hpmicro/hpm5301evklite/rtconfig.py
  bsp/hpmicro/hpm6200evk/rtconfig.py
  bsp/hpmicro/hpm6300evk/rtconfig.py
  bsp/hpmicro/hpm6750evk/rtconfig.py
  bsp/hpmicro/hpm6750evk2/rtconfig.py
  bsp/hpmicro/hpm6750evkmini/rtconfig.py
  bsp/hpmicro/hpm6800evk/rtconfig.py
  bsp/hpmicro/hpm6e00evk/rtconfig.py
  bsp/hpmicro/tools/sdk_dist.py
Labels: BSP

#10017 bsp: nxp/mcx/mcxa/frdm-mcxa156: Enable SPI driver support.
  bsp/nxp/mcx/mcxa/Libraries/MCXA156/SConscript
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/Kconfig
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/MCUX_Config/board/clock_config.c
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/MCUX_Config/board/pin_mux.c
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/SConscript
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/ports/drv_spi_sample_rw007.c
  bsp/nxp/mcx/mcxa/frdm-mcxa156/rtconfig.py
Labels: BSP: NXP, BSP

#10016 doxygen: support running from the root directory
  documentation/run.sh
Labels: Doc

#10015 doxygen: Improve the text description of the introduction section
  documentation/1.introduction/introduction.md
Labels: Doc

#10019 components: libc: fix pointer-to-integer cast warnings and address tr…
  components/libc/posix/libdl/dlelf.c
  components/libc/posix/libdl/dlmodule.c
  components/libc/posix/libdl/dlmodule.h
Labels: +1, Component

#10002 fix: clear the error message from the function declaration of signal in qemu-a9 smp mode
  include/rtthread.h
Labels: +1

#9948 libcpu: riscv: fixed ARCH_RISCV_VECTOR issue
  libcpu/risc-v/common64/cpuport.c
Labels: +1, Arch: RISC-V, libcpu

#10018 [tools][cmake] fix missing some flags added in Sconscript
  tools/cmake.py
Labels: tools

#10024 [bsp][nxp]:fix frdm-mcxa156 scons --dist err
  bsp/nxp/mcx/mcxa/frdm-mcxa156/rtconfig.py
Labels: BSP: NXP, BSP

#10025 mcxa156模板工程从mcxa153更新成mcxa156，且默认调试器改为cmsisdap，因为板载调试器为cmsisdap
  bsp/nxp/mcx/mcxa/frdm-mcxa156/template.uvoptx
Labels: BSP: NXP, BSP

#10014 [lwp/riscv]修正用户态参数空间占用堆地址空间的问题
  components/lwp/arch/risc-v/rv64/lwp_arch.h
Labels: +1, wait_+2, RT-Smart, component: lwp, Component

#10009 fix - 1 优化中断中打印日志问题；2 优化SPI写外部FLASH慢的问题
  bsp/hc32/libraries/hc32_drivers/drv_eth.c
  bsp/hc32/libraries/hc32_drivers/drv_spi.c
Labels: BSP

#10033 [bsp/k230] 修复Kconfig中由RTT_DIR路径错误引起的无法编译问题
  bsp/k230/.config
  bsp/k230/Kconfig
Labels: BSP, action

#10043 [bsp][nxp]:add p3t1754 sensor
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/Kconfig
Labels: BSP: NXP, BSP

#10042 [action/ci] pkgs --update-force instead of pkgs --update
  .github/workflows/bsp_buildings.yml
  tools/ci/bsp_buildings.py
Labels: action, tools

#10041 [bsp][nxp] add cherryusb config for mcxa156
  bsp/nxp/mcx/mcxa/frdm-mcxa156/.ci/attachconfig/ci.attachconfig.yml
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/SConscript
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/ports/SConscript
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/ports/cherryusb/SConscript
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/ports/cherryusb/cherryusb.c
  bsp/nxp/mcx/mcxa/frdm-mcxa156/board/ports/cherryusb/usb_config.h
  components/drivers/usb/cherryusb/port/kinetis/README.md
  components/drivers/usb/cherryusb/port/kinetis/usb_glue_mcx.c
Labels: BSP: NXP, BSP, Component, component: drivers/usb, component: drivers

#10044 [action/tool] 验证l4平台, 修复scons --dist
  .github/workflows/action_tools.yml
Labels: +1, BSP: STM32, urgent 🏃, BSP, action

#10040 fix:[stm32][lcd]Error in control call of lcd test function
  bsp/stm32/libraries/HAL_Drivers/drivers/drv_lcd.c
Labels: BSP: STM32, BSP

#10047 bsp: cvitek: aarch64: add switchto-arm diagram
  bsp/cvitek/cv18xx_aarch64/README.md
  bsp/cvitek/cv18xx_aarch64/switchto-arm.png
Labels: BSP, BSP: Cvitek

#10020 [bugfix][risc-v]fix the PPN length error in GET_PPN(pte).
  libcpu/risc-v/common64/mmu.h
Labels: Arch: RISC-V, libcpu
